.fz12{
    font-size: 12px;
}
.fz13{
    font-size: 13px;
}
.fz14{
    font-size: 14px;
}
.fz15{
    font-size: 15px;
}
.fz16{
    font-size: 16px;
}
.fz17{
    font-size: 17px;
}
.fz18{
    font-size: 18px;
}
.fz19{
    font-size: 19px;
}
.fz20{
    font-size: 20px;
}
.fz21{
    font-size: 21px;
}
.fz22{
    font-size: 22px;
}
.fz23{
    font-size: 23px;
}
.fz24{
    font-size: 24px;
}
.fz25{
    font-size: 25px;
}
.fz26{
    font-size: 26px;
}
.fz27{
    font-size: 27px;
}
.fz28{
    font-size: 28px;
}
.fz29{
    font-size: 29px;
}
.fz30{
    font-size: 30px;
}
.fz31{
    font-size: 31px;
}
.fz32{
    font-size: 32px;
}
.fz33{
    font-size: 33px;
}
.fz34{
    font-size: 34px;
}
.fz35{
    font-size: 35px;
}
.fz36{
    font-size: 36px;
}
.fz37{
    font-size: 37px;
}
.fz38{
    font-size: 38px;
}
.fz39{
    font-size: 39px;
}
.fz40{
    font-size: 40px;
}
