<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="font-size: 25px;font-weight: bold">
        <li class="tab col s4"><a ng-click="getCity()" class="cyan-text"  href="javascript:void(0)">城市</a></li>
        <li class="tab col s4"><a ng-click="getDestination()" class="cyan-text"  href="javascript:void(0)">目的地城市+指令时间</a></li>
        <li class="tab col s4"><a ng-click="getReceive()" class="cyan-text"  href="javascript:void(0)">经销商</a></li>
    </ul>
    <!--城市和目的地城市-->
    <div class="row" ng-repeat="(cityName, dateList) in listInfo" ng-if="flag">
        <nav class="car_nav" ng-if="flag">
            <div class="nav-wrapper" style="line-height: 40px">
                <a href="javascript:void(0)" class="brand-logo" style="font-size: 1.3rem;text-indent: 10px">{{clickStatus === "city" ? "始发站: " + cityName:"指令时间: " + listInfo[cityName][0].group_day}}</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!--<input type="hidden" ng-model="total">-->
                    <li><a href="javascript:void(0)">{{"共 " + listInfo[cityName].total + " 辆"}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="col s6 m4 l3" style="margin-top: 10px" ng-repeat="car in dateList">
            <div class="card cyan_border" style="border-radius: 5px">
                <div class="card-content" >
                    <div class="row" style="margin-bottom: 0">
                        <div class="col s5">
                            <span  style="text-align: right" class="card-title">{{car.route_start}}</span>
                        </div>
                        <div class="col s2">
                            <span style="text-align: center" class="card-title"><img style="width: 23px" src="/assets/images/icon_arrow.png" alt="#"></span>
                        </div>
                        <div class="col s5">
                            <span style="text-align: left" class="card-title">{{car.route_end}}</span>
                        </div>
                    </div>
                    <!--<span style="text-align: center" class="card-title">{{car.route_start}}&nbsp;&nbsp;<span><img style="width: 23px" src="/assets/images/icon_arrow.png" alt="#"></span>&nbsp;&nbsp;{{car.route_end}}</span>-->
                </div>
                <div style="text-align: center" class="card-action">
                    <a style="margin: 0 auto;font-size: 1.4rem;color: #e57474" href="javascript:void(0)">{{car.route_end_count}}<span style="color: #ccc;font-size: 1rem"> 辆</span></a>
                </div>
            </div>
        </div>
    </div>

    <!--经销商-->
    <div class="row" ng-if="otherFlag">
        <div class="col s6 m4 l3" style="margin-top: 10px" ng-repeat="receive in listInfo">
            <div class="card cyan_border" style="border-radius: 5px">
                <div class="card-content" >
                    <div class="row" style="margin-bottom: 0">
                        <div class="col s5">
                            <span  style="text-align: right" class="card-title">{{receive.route_start}}</span>
                        </div>
                        <div class="col s2">
                            <span style="text-align: center" class="card-title"><img style="width: 23px" src="/assets/images/icon_arrow.png" alt="#"></span>
                        </div>
                        <div class="col s5">
                            <span style="text-align: left" class="card-title">{{receive.short_name}}</span>
                        </div>
                    </div>
                    <!--<span style="text-align: center" class="card-title">{{receive.route_start}}&nbsp;&nbsp;<span><img style="width: 23px" src="/assets/images/icon_arrow.png" alt="#"></span>&nbsp;&nbsp;{{receive.short_name}}</span>-->
                </div>
                <div style="text-align: center" class="card-action">
                    <a style="margin: 0 auto;font-size: 1.4rem;color: #e57474" href="javascript:void(0)">{{receive.receive_count}}<span style="color: #ccc;font-size: 1rem"> 辆</span></a>
                </div>
            </div>
        </div >
    </div>

</div>
