<div class="gmWrap">
    <div class="row gm-1">
        <div class="col s9 gm1-left">
            <div class="row gm1-leftBoxWrap">
                <div class="col s4-8 gm-sharedown hoverable  white  gm1-leftBox flow-tex">
                    <div class="category-T row">
                        <div class="col s9 valign-wrapper"><i class="mdi mdi-cisco-webex red-text"></i><span class="category-TMsg"><b class="grey-text">自营车数量</b></span></div><div class="flow-text col s3 category-TNum right right-align">10</div>
                    </div>
                    <div class="category-F row">
                        <div class="col s12 m8 l6 offset-l6">
                            <div class="left center-align" style="width: 48%;"><b>正常:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                            <div class="left">|</div>
                            <div class="right center-align" style="width: 48%;"><b>维修:</b><span class="red-text" style="margin-left: 0.5rem" >85</span></div>
                        </div>
                    </div>
                </div>
                <div class="col s4-8 gm-sharedown hoverable offset-s0-4 white  gm1-leftBox">
                    <div class="category-T row">
                        <div class="col s9 valign-wrapper"><i class="mdi mdi-cisco-webex red-text"></i><span class="category-TMsg"><b class="grey-text">外协车数量</b></span></div><div class="flow-text col s3 category-TNum right right-align">10</div>
                    </div>
                    <div class="category-F row">
                        <div class="col s12 m8 l6 offset-l6">
                            <div class="left center-align" style="width: 48%;"><b>正常:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                            <div class="left">|</div>
                            <div class="right center-align" style="width: 48%;"><b>维修:</b><span class="red-text" style="margin-left: 0.5rem" >85</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gm1-leftBoxWrap">
                <div class="col s4-8 gm-sharedown hoverable white gm1-leftBox">
                    <div class="category-T row">
                        <div class="col s9 valign-wrapper"><i class="mdi mdi-cisco-webex red-text"></i><span class="category-TMsg"><b class="grey-text">供方车数量</b></span></div><div class="flow-text col s3 category-TNum right right-align">10</div>
                    </div>
                    <div class="category-F row">
                        <div class="col s12 m8 l6 offset-l6">
                            <div class="left center-align" style="width: 48%;"><b>正常:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                            <div class="left">|</div>
                            <div class="right center-align" style="width: 48%;"><b>维修:</b><span class="red-text" style="margin-left: 0.5rem" >85</span></div>
                        </div>
                    </div>
                </div>
                <div class="col s4-8 gm-sharedown hoverable offset-s0-4 white gm1-leftBox">
                    <div class="category-T row">
                        <div class="col s9 valign-wrapper"><i class="mdi mdi-cisco-webex red-text"></i><span class="category-TMsg"><b class="grey-text">承包车数量</b></span></div><div class="flow-text col s3 category-TNum right right-align">10</div>
                    </div>
                    <div class="category-F row">
                        <div class="col s12 m8 l6 offset-l6">
                            <div class="left center-align" style="width: 48%;"><b>正常:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                            <div class="left">|</div>
                            <div class="right center-align" style="width: 48%;"><b>维修:</b><span class="red-text" style="margin-left: 0.5rem" >85</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2-1 offset-s0-4 gm-sharedown hoverable white gm1-right row">
            <div class="container">
                <div class="gm1-rightT center-align">
                    <div class=" mdi mdi-blinds grey-text"></div>
                    <div class="gm1-rightTMsg"><b class="grey-text">挂车数量</b></div>
                    <div class="gm1-rightTNum">187</div>
                </div>
                <div class="row">
                    <div class="col s12" style="margin-bottom: 20px">
                        <div class="left center-align" style="width: 48%;"><b>可用:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                        <div class="left">|</div>
                        <div class="right center-align" style="width: 48%;"><b>维修:</b><span class="red-text" style="margin-left: 0.5rem" >85</span></div>
                    </div>
                    <div class="col s12">
                        <div class="left center-align" style="width: 48%;"><b>闲置:</b><span class="red-text" style="margin-left: 0.5rem">85</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gm-2 gm-sharedown hoverable white">
        <div class="col s4  gm-2Box gm-2BoxLine valign-wrapper center-align">
            <div class="gm-2BoxWrap valign-wrapper">
                <i class="red-text mdi mdi-airplane-landing"></i>
                <span class="gm-2BoxTitle">
                待运中的车数量
            </span>
                <span class="gm-2BoxNum">56</span>
            </div>
        </div>
        <div class="col s4  gm-2Box gm-2BoxLine valign-wrapper center-align">
            <div class="gm-2BoxWrap valign-wrapper">
                <i class="red-text mdi mdi-airplane-landing"></i>
                <span class="gm-2BoxTitle">
                运输中的车数量
            </span>
                <span class="gm-2BoxNum">56</span>
            </div>
        </div>
        <div class="col s4  gm-2Box valign-wrapper center-align">
            <div class="gm-2BoxWrap valign-wrapper">
                <i class="red-text mdi mdi-airplane-landing"></i>
                <span class="gm-2BoxTitle">
                维修中的车数量
                </span>
                <span class="gm-2BoxNum">56</span>
            </div>
        </div>
    </div>
    <div class="row gm-3 row">
        <div class="col s4-8 gm-sharedown hoverable gm-3box valign-wrapper">
            <div class="col s3">
                <img class="responsive-img" src="../../assets/images/avatar.jpeg" alt="">
            </div>
            <div class="col s6 right-align">
                <div class="gm-3Title">待检车辆</div>
                <div class="gm-3Msg">临近车检提前一个月提示消息</div>
            </div>
            <div class="col s3 gm-3Num">
                <b>3</b>
            </div>
        </div>
        <div class="col s4-8 gm-sharedown hoverable offset-s0-4 gm-3box valign-wrapper">
            <div class="col s3">
                <img class="responsive-img" src="../../assets/images/avatar.jpeg" alt="">
            </div>
            <div class="col s6 right-align">
                <div class="gm-3Title">临近车险</div>
                <div class="gm-3Msg">临近车检结束前一个月提示消息</div>
            </div>
            <div class="col s3 gm-3Num">
                <b>15</b>
            </div>
        </div>
    </div>
</div>
