
<!-- 主菜单：调度管理 -> 费用申请 画面 -->
<div class="cost_application">


    <!-- 上部分：检索条件输入区域 -->


    <!--渲染条件-->
    <div class="row col s12">

        <div class="col s10">
            <!--调度编号-->
            <div class="col s2 input-field">
                <input  id="dispatchId" name="dispatchId" ng-model="conDispatchId" type="text" >
                <label for="dispatchId">调度编号</label>
            </div>

            <!--司机-->
            <div class="input-field col s2">
                <select material-select watch ng-model="conDrivder" id="driver" style="width: 100%" >
                    <option value="" selected>请选择</option>
                    <option ng-repeat="dr in driveList" ng-value=dr.id>{{dr.drive_name}}</option>
                </select>
            </div>


            <!--货车牌号-->
            <div class="input-field col s2">
                <select  id="truck" ng-model="conTruck" style="width: 100%" >
                    <option value=""></option>
                    <option ng-repeat="tr in truckList" ng-value="tr.id">{{tr.truck_num}}</option>
                </select>
            </div>


            <!--申请状态-->
            <div class="input-field col s2">
                <select id="conStatus" ng-model="conStatus" material-select watch >
                    <option value="">请选择</option>
                    <option ng-repeat="ap in applicationStatusList" ng-value="ap.id">{{ap.status}}</option>
                </select>
                <label for="conStatus">状态</label>
            </div>


            <!--申请时间(始)-->
            <div class="input-field col s2">
                <input type="text" ng-model="conStarTime" id="conStarTime" class="datepicker" autocomplete="off" required date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="conStarTime">申请时间(始)</label>
            </div>


            <!--申请时间(终)-->
            <div class="input-field col s2">
                <input type="text" ng-model="conEndTime" id="conEndTime"  class="datepicker" autocomplete="off" required date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="conEndTime">申请时间(终)</label>
            </div>



        </div>


        <!--按钮区域-->
        <div class="col s2 mp-20">
            <!--查询按钮-->
            <div class="col s4" >
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getCost()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <!--新增按钮-->
            <div class="col s4 right-align">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"  ng-click="openCost()">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
            <!--下载按钮-->
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>

    </div>


    <!-- 下部分：检索结果显示区域 -->
    <div class="row">
        <div class="divider cyan" style="height: 2px;"></div>
        <table class="bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th>调度编号</th>
                <th>司机</th>
                <th>路线</th>
                <th>货车牌号</th>
                <th>商品车加油费</th>
                <th>货车停车费</th>
                <th>商品车停车费</th>
                <th>其它费用</th>
                <th>申请时间</th>
                <th>银行账号</th>
                <th>户名</th>
                <th>开户行</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="costInfo in costList" class="grey-text text-darken-1">
                <td>{{costInfo.dp_route_task_id}}</td>
                <td>{{costInfo.drive_name}}</td>
                <td>{{costInfo.route_start}}--{{costInfo.route_end}}</td>
                <td>{{costInfo.truck_num}}</td>
                <td>{{costInfo.car_oil_fee}}</td>
                <td>{{costInfo.total_price}}</td>
                <td>{{costInfo.car_total_price}}</td>
                <td>{{costInfo.other_fee}}</td>
                <td>{{costInfo.created_on|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{costInfo.bank_number}}</td>
                <td>{{costInfo.bank_name}}</td>
                <td>{{costInfo.bank_user_name}}</td>
                <td>{{applicationStatusList[costInfo.status].status}}</td>
                <td  class="operation">
                    <a ng-click="openEditCost(costInfo.id)" class="cyan-text fz12">
                        <i class="mdi mdi-file-document"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="costList.length==0">
                <td colspan="14">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>



    <!-- 上下页按钮 -->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="preBtn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="nextBtn()">
                    下一页
                </a>
            </div>
        </div>
    </div>



</div>


<!--添加模态框-->
<div id="newCost" class="row modal modal-fixed-footer">

    <!--   Header 题目  新增费用申请-->
    <div class="cyan lighten-1 white-text center-align modal_title" >新增费用申请</div>

    <!--body-->
    <div class="modal-content">


        <!--费用信息-->
        <div class="row col s12 margin">



            <!--调度编号   司机   货车牌号 -->
            <div class="row col s12 padding margin">

                <!--调度编号-->
                <div class="col s4 input-field">
                    <input type="number" id="dpRouteTaskId"  ng-model="newCostApplication.dpRouteTaskId">
                    <label for="dpRouteTaskId">调度编号</label>
                </div>


                <!--司机-->
                <div class="col s4 input-field">
                    <select material-select watch ng-model="newCostApplication.driver" id="newDriver" style="width: 100%" ng-change="changeDriver(newCostApplication.driver.id)">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="dr in driveList" ng-value='dr'>{{dr.drive_name}}</option>
                    </select>
                </div>


                <!--货车牌号-->
                <div class="col s4 input-field">
                    <select  material-select watch ng-model="newCostApplication.truck" id="newTruck"  style="width: 100%">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="tr in truckList" ng-value="tr">{{tr.truck_num}}</option>
                    </select>
                </div>
            </div>


            <!--货车停留天数  单价   停车费 -->
            <div class="col s12 padding margin">

                <!--货车停留天数-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="newCostApplication.dayCount" id="newDate">
                    <label for="newDate">货车停留天数</label>
                </div>

                <!--货车停车单价-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="newCostApplication.singlePrice" id="newSingle">
                    <label for="newSingle">货车停车单价</label>
                </div>


                <!--货车停车费-->
                <div class="col s4 input-field right-align"  style="margin-top: 38px;border-bottom: 1px solid #9e9e9e">
                    <span class="red-text">{{newCostApplication.dayCount*newCostApplication.singlePrice}}</span>
                    <label class="active">货车停车费</label>
                </div>
            </div>


            <!--商品车停留天数    商品车停车单价   商品车停车费-->


                <!--商品车停留天数-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="newCostApplication.carDayCount" id="newCarDayCount">
                    <label for="newCarDayCount" class="active">商品车停留天数</label>
                </div>

                <!--商品车停车单价-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="newCostApplication.carSinglePrice" id="newCarSinglePrice">
                    <label for="newCarSinglePrice">商品车停车单价</label>
                </div>

                <!--商品车停车费-->
                <div class="col s4 input-field right-align"  style="margin-top: 38px;border-bottom: 1px solid #9e9e9e">
                    <span class="red-text">{{newCostApplication.carSinglePrice*newCostApplication.carDayCount}}</span>
                    <label class="active">商品车停车费</label>
                </div>







            <!--商品车加油费  现金ETC  现金维修-->



                <!--商品车加油费-->
                <div class="col s6 input-field">
                    <input type="number" ng-model="newCostApplication.carOilFee" id="newOilFee">
                    <label for="newOilFee">商品车加油费</label>
                </div>

                <!--其它费用-->
                <div class="col s6 input-field">
                    <input type="number" ng-model="newCostApplication.otherFee" id="newOtherFee">
                    <label for="newOtherFee">其它费用</label>
                </div>



            <!--备注-->

                <!--备注-->
                <div class="col s12 input-field">
                    <input type="text" ng-model="newCostApplication.remark" id="newRemark">
                    <label for="newRemark">备注</label>
                </div>


        </div>



    </div>



    <!--按钮-->
    <div class="modal-footer valign-wrapper">
        <div class="col s12">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    取消
                </a>
            </div>
            <div class="col s2">
                <a class="waves-light waves-effect cyan lighten-1 btn"  ng-click="addCostItem()" >
                    确定
                </a>
            </div>
        </div>
    </div>
</div>



<!--修改模态框-->
<div id="editCost" class="row modal modal-fixed-footer">


    <!--   Header 题目  修改费用申请-->
    <div class="cyan lighten-1 white-text center-align modal_title" >修改费用申请</div>



    <!--body-->
    <div class="modal-content">



        <div class="row col s12 margin">

            <!--行1-->
            <div class="row col s12 padding margin" >

                <!--调度编号 不可修改-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="putList.dp_route_task_id" id="putRouteTaskId" disabled>
                    <label for="putRouteTaskId"  class="active">调度编号</label>
                </div>


                <!--司机 不可修改-->
                <div class="col s4 input-field">
                    <input id="putDriverName" type="text" ng-model="putList.drive_name" disabled />
                    <label for="putDriverName">司机</label>
                </div>


                <!--货车牌号 不可修改-->
                <div class="col s4 input-field">
                    <input id="putTruckNum" type="text" ng-model="putList.truck_num" disabled />
                    <label for="putTruckNum">货车牌号</label>
                </div>
            </div>

            <!--行2-->
            <div class="row col s12  padding margin">

                <!--货车停留天数-->
                <div class="col s4 input-field">
                    <input type="number" id="putDate" ng-model="putList.day_count">
                    <label for="putDate">货车停留天数</label>
                </div>

                <!--货车停车单价-->
                <div class="col s4 input-field">
                    <input type="number" id="putSingle" ng-model="putList.single_price">
                    <label for="putSingle">货车停车单价</label>
                </div>

                <!--货车停车费-->
                <div class="col s4 input-field right-align"  style="margin-top: 38px;border-bottom: 1px solid #9e9e9e">
                    <span class="red-text">{{putList.single_price*putList.day_count}}</span>
                    <label class="active">货车停车费</label>
                </div>

            </div>

            <!--行3-->
            <div class="row col s12 padding margin">

                <!--商品车天数-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="putList.car_day_count" id="putCarDayCount">
                    <label for="putCarDayCount"  class="active">商品车天数</label>
                </div>

                <!--商品车停车单价-->
                <div class="col s4 input-field">
                    <input type="number" ng-model="putList.car_single_price" id="putCarSinglePrice">
                    <label for="putCarSinglePrice"  class="active">商品车停车单价</label>
                </div>

                <!--商品车停车费-->
                <div class="col s4 input-field right-align"  style="margin-top: 38px;border-bottom: 1px solid #9e9e9e">
                    <span class="red-text">{{putList.car_day_count*putList.car_single_price}}</span>
                    <label class="active">商品车停车费</label>
                </div>

            </div>


            <!--行4-->
            <div class="row col s12 padding margin">
                <!--商品车加油费-->
                <div class="col s6 input-field">
                    <input type="number" ng-model="putList.car_oil_fee" id="putOilFee">
                    <label for="putOilFee"  class="active">商品车加油费</label>
                </div>

                <!--其它费用-->
                <div class="col s6 input-field">
                    <input type="number" ng-model="putList.other_fee" id="putOtherFee">
                    <label for="putOtherFee"  class="active">其它费用</label>
                </div>
            </div>


            <!--行5-->
            <div class="row col s12 padding margin">
                <!--备注-->
                <div class="col s12 input-field">
                    <input type="text" ng-model="putList.remark" id="putRemark" name="putRemark">
                    <label for="putRemark"  class="active">备注</label>
                </div>
            </div>



        </div>
    </div>


    <!--按钮-->
    <div class="modal-footer valign-wrapper">
        <div class="col s12">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    取消
                </a>
            </div>
            <div class="col s2">
                <a class="waves-light waves-effect cyan lighten-1 btn" ng-click="saveCost()">
                    确定
                </a>
            </div>
        </div>
    </div>
</div>








