<!--查看装车详情模态框-->
<div id="orderTaskModal" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" style="margin-bottom:30px ">装车详情</div>
    <div class="col s12" style="width:90%;margin-left: 5%;">
        <div class="row col s12 fz18 cyan-text">
            <p ng-show="taskDetailModelList.load_task_type==1">
                {{taskDetailModelList.addr_name}}&emsp;<span class="mdi mdi-arrow-right"></span>&emsp;
                <span ng-show="taskDetailModelList.transfer_flag==1">{{taskDetailModelList.transfer_addr_name}} <span  class="red-text">(转)</span></span>
                <span ng-show="taskDetailModelList.transfer_flag!==1">{{taskDetailModelList.short_name}}</span>
            <p ng-show="taskDetailModelList.load_task_type!==1">
                {{taskDetailModelList.addr_name}}<span  class="red-text">(转)</span>&emsp;<span class="mdi mdi-arrow-right"></span>&emsp;
                <span ng-show="taskDetailModelList.transfer_flag==1">{{taskDetailModelList.transfer_addr_name}} <span  class="red-text">(转)</span></span>
                <span ng-show="taskDetailModelList.transfer_flag!==1">{{taskDetailModelList.short_name}}</span>
            </p>
        </div>
    </div>
    <div  class="divider" style="border:1px solid #ccc;margin-bottom:40px;width:92%;margin-left: 4%;"></div>
    <div  class="row col s12 fz16" ng-if="taskDetailList.length!==0" ng-repeat="el in taskDetailList" style="width:90%;margin-left: 5%;border-bottom: 1px dotted #ccc;">
        <div class="col s1">
            <i class="mdi mdi-car fz25"></i>
        </div>
        <div class="col s5">
           {{el.vin}}
        </div>
        <div class="col s3">
            {{el.make_name}}
        </div>
        <div class="col s3">
           委托方： {{el.short_name}}
        </div>

    </div>
    <div  class="row col s12" ng-if="taskDetailList.length==0">
        <div style="height:200px;line-height: 200px;text-align: center">
            <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
            <span class="bold grey-text fz22">暂无数据</span>
        </div>
    </div>
    <div  class="divider" style="border:1px solid #ccc;margin-top:40px;width:92%;margin-left: 4%;"></div>

        <!--确定按钮-->
    <div class="modal-footer right-align col s12" style="margin: 15px auto">
        <button class="btn  btn-large  waves-effect cyan" ng-click="closeOrderTaskModal()" name="action" style="margin-right:40px">
            确定
        </button>
    </div>
</div>
<!-- 主菜单：调度管理 -> 指令管理（调度任务详情） 画面 -->
<div class="dispatch_order_details">


    <!-- 返回前画面 按钮 -->
    <div class="row valign-wrapper">
        <a class="btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
            <i class="mdi mdi-arrow-left-bold"></i>
        </a>
        <h5 class="col s12 cyan-text lighten-1  center-align">调度任务详情</h5>
    </div>
    <!--分割线-->
    <div class="row">
        <div class="divider  cyan lighten-2" style="height:2px"></div>
    </div>


    <!--头部card 画面区域-->
    <div class="card" style="border: 2px solid #ccc;width: 80%; margin:0 10%;margin-bottom: 20px">


        <!--调度编号 接受/未接受-->
        <div class="card-content bold cyan-text grey lighten-3" style="height:65px;">
            <div class="row col s12">
                <div class="col s2 left-align">
                    调度编号:{{dispatchOrderList.id}}
                </div>
                <div class="col s4 left-align">
                    倒板:{{dispatchOrderList.reverse_flag==1?'是':'否'}}
                </div>

                <div class="col s6 right-align red-text" ng-if="dispatchOrderList.task_status==1">{{dispatchOrderList.task_status | instructionsStatus}}</div>
                <div class="col s6 right-align" ng-if="dispatchOrderList.task_status!==1">{{dispatchOrderList.task_status | instructionsStatus}}</div>
            </div>
        </div>


        <!--路线 公里 计划执行时间 司机 货车 计划装车数-->
        <div class="card-content bold  white lighten-3">

            <!--路线 公里 计划执行时间-->
            <div class="row col s12">
                <div class="col s6 left-align">
                    <div class="col s6 fz18">
                        {{dispatchOrderList.city_route_start}}--{{dispatchOrderList.city_route_end}}
                    </div>
                    <div class="col s6 fz16">
                        {{dispatchOrderList.distance}}<span class="grey-text fz14">公里</span>
                    </div>
                </div>
                <div class="col s6 right-align grey-text">
                    计划执行时间:{{dispatchOrderList.task_plan_date |date:'yyyy-MM-dd'}}
                </div>
            </div>

            <!--司机 货车 计划装车数 实际装车数-->
            <div class="row col s12 cyan-text">
                <div class="col s6 left-align">
                    <div class="col s6">
                        司机:{{dispatchOrderList.drive_name}}--{{dispatchOrderList.mobile}}
                    </div>
                    <div class="col s6">
                        货车:{{dispatchOrderList.truck_num}}
                    </div>
                </div>
                <div class="col s6 right-align grey-text">
                    <div class="col s6" ng-if="dispatchOrderList.plan_count==null">计划装车数:0</div>
                    <div class="col s6" ng-if="dispatchOrderList.plan_count!==null">计划装车数:{{dispatchOrderList.plan_count}}</div>
                    <div class="col s6 right-align"  ng-if="dispatchOrderList.real_count==null">实际装车数:0 </div>
                    <div class="col s6 right-align"  ng-if="dispatchOrderList.real_count!==null">实际装车数:{{dispatchOrderList.real_count}} </div>
                </div>
            </div>
        </div>

    </div>


    <!--按键切换以及详情  装车任务   出车款 洗车费-->
    <div class="row no-marBottom" ul-tabs>
        <div class="col s12 p0 card" style="width: 80%; margin:0 10%;border-left: 2px solid #ccc;border-right: 2px solid #ccc;border-bottom: 2px solid #26c6da;" >

            <!--按键切换  装车任务   出车款 洗车费-->
            <ul class="tabWrap grey lighten-3">
                <li class="tab col s4 lookOrderTask  vc-center"  ng-click="lookOrderTask()">装车任务</li>
               <!-- <li class="tab col s4 lookOutFee   vc-center"  ng-click="lookOutFee()">洗车费</li>-->
                <li class="tab col s4 lookWashFee vc-center"  ng-click="lookWashFee()">洗车费</li>
                <li class="tab col s4 lookRecord  vc-center"  ng-click="lookRecord()">执行记录</li>
            </ul>
        </div>

        <!--装车任务-->
        <div id="lookOrderTask" class="col s12 tab_box card" style="width: 80%; margin:0 10% ;padding: 50px 0">
            <div class="row col s12" ng-if="taskList.length!==0" ng-repeat="el in taskList" style="width: 90%; margin-left:5%; margin-top:10px;">
                <div class="card-content bold cyan-text grey lighten-3" style="height:75px;border: 1px solid #ccc;" >
                    <div class="row col s12">
                        <div class="col s4 fz16 cyan-text">
                            <p ng-show="el.load_task_type==1">
                                {{el.addr_name}}&emsp;<span class="mdi mdi-arrow-right"></span>&emsp;
                                <span ng-show="el.transfer_flag==1">{{el.transfer_addr_name}} <span  class="red-text">(转)</span></span>
                                <span ng-show="el.transfer_flag!==1">{{el.short_name}}</span>
                            <p ng-show="el.load_task_type!==1">
                                {{el.addr_name}}<span  class="red-text">(转)</span>&emsp;<span class="mdi mdi-arrow-right"></span>&emsp;
                                <span ng-show="el.transfer_flag==1">{{el.transfer_addr_name}} <span  class="red-text">(转)</span></span>
                                <span ng-show="el.transfer_flag!==1">{{el.short_name}}</span>
                            </p>
                        </div>
                       <!-- <div class="col s4 fz16 cyan-text">
                           {{el.addr_name}}&#45;&#45;{{el.short_name}}
                        </div>-->
                        <div class="col s3"></div>
                        <div class="col s4 right-align">
                            <button ng-click="showOrderTaskModal(el.id)" ng-if="el.load_task_status!==1" style="padding: 0 35px 10px 35px;height: 30px;line-height: 33px;margin-right: 10px" class="btn waves-light waves-effect cyan lighten-1 fz12" type="button">
                                查看装车详情
                            </button>
                        </div>
                        <div class="col s1 right-align grey-text">
                            {{el.load_task_status | missionStatus}}
                        </div>
                    </div>
                </div>

                <!--未装车-->
                <div class="card-content bold  white grey-text lighten-3" ng-if="el.load_task_status ==1" style="border: 1px solid #ccc;height:70px;">

                    <!--计划装车数  计划执行时间 实际装车数 实际执行时间-->
                    <div class="row col s12">
                        <div class="col s2 ">
                            计划装车数:{{el.plan_count}}
                        </div>
                        <div class="col s4">
                            计划:{{el.plan_date |date:'yyyy-MM-dd hh:mm'}}
                        </div>
                        <div class="col s3 center">
                            派发调度:{{el.task_op_name}}
                        </div>
                        <div class="col s3 right-align">
                            需求路线:{{el.demand_route_start}}--{{el.demand_route_end}}
                        </div>

                    </div>
                </div>
                <!--已装车-->
                <div class="card-content bold  white grey-text lighten-3" ng-if="el.load_task_status!==1" style="border: 1px solid #ccc;height:120px;">

                    <!--计划装车数  计划执行时间 实际装车数 实际执行时间-->
                    <div class="row col s12" style="padding-bottom: 15px;border-bottom: 1px dotted #ccc;">
                        <div class="col s3">
                            计划装车数:{{el.plan_count}}
                        </div>
                        <div class="col s3">
                            计划:{{el.plan_date |date:'yyyy-MM-dd hh:mm'}}
                        </div>
                        <div class="col s3 center">
                            派发调度:{{el.task_op_name}}
                        </div>
                        <div class="col s3 right-align">
                            需求路线:{{el.demand_route_start}}--{{el.demand_route_end}}
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s3">
                            实际装车数:{{el.real_count}}
                        </div>
                        <div class="col s3">
                            实际:{{el.load_date |date:'yyyy-MM-dd hh:mm'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col s12" ng-if="taskList.length!==0" style="width: 90%; margin-left:5%; margin-top:10px;">
                <div class="col s10 input-field">
                    <input type="text" ng-model="dispatchOrderList.remark" id="remark">
                    <label for="remark">备注</label>
                </div>
                <div class="col s2 input-field right-align">
                    <button class="btn waves-light waves-effect cyan lighten-2"  ng-click="putDataItem()" name="action" style="margin-left: 10px">确定</button>
                </div>
            </div>

            <div class="row col s12" ng-if="taskList.length==0">
                <div class="card-content">
                    <div style="height:200px;line-height: 200px;text-align: center">
                        <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                        <span class="bold grey-text fz22">暂无装车任务</span>
                    </div>
                </div>
            </div>
        </div>

        <!--出车款-->
       <!-- <div id="lookOutFee" class="row col s12 tab_box card" style="width: 80%; margin:0 10% ;border-bottom: 1px solid #ccc;padding: 0px;">
            <div class="row col s12" ng-if="outFeeInfo!==undefined" style="padding: 0px">
                &lt;!&ndash;出车款编号 报销状态&ndash;&gt;
                <div class="card-content bold white lighten-3" style="height:65px" >
                    <div class="row col s12">
                        <div class="col s6 left-align">出车款编号:{{outFeeInfo.id}}</div>
                        <div class="col s6 right-align cyan-text" ng-show="outFeeInfo.task_loan_status == 1" >已发放</div>
                        <div class="col s6 right-align" ng-show="outFeeInfo.task_loan_status == 2" style="color:orange">已报销</div>
                    </div>
                </div>

                &lt;!&ndash;关联其他调度任务&ndash;&gt;
                <div class="row card-content bold grey lighten-3 " ng-if="relateTaskList.length!==0"  style="width:100%;height: 65px;margin-bottom:10px">
                    <div class="row col s12">
                        <div class="col s6 left-align fz18">关联其他调度任务</div>
                        <div class="col s6 right-align grey-text"></div>
                    </div>
                </div>

                &lt;!&ndash;关联其他调度任务的列表&ndash;&gt;
                <div class="card-content bold white grey-text lighten-3" ng-if="relateTaskList.length!==0"  ng-repeat="el in relateTaskList" style="width: 96%;margin:0 2%;" >
                    <div class="col s12" style="border-bottom: 1px solid #ccc;">
                        <div class="col s6">
                            <div class="col s4 left-align">调度编号:{{el.dp_route_task_id}}</div>
                            <div class="col s5">{{el.city_route_start}}&#45;&#45;{{el.city_route_end}}&nbsp;&nbsp;{{el.distance}}公里</div>
                            <div class="col s3">装车数量:{{el.plan_count}}</div>
                        </div>
                        <div class="col s6">
                            <div class="col s8 right-align">计划执行时间:{{el.task_plan_date |date:'yyyy-MM-dd hh:mm'}}</div>
                            <div class="col s4 right-align">{{el.task_status | missionStatus}}</div>
                        </div>

                    </div>
                </div>

                &lt;!&ndash;出车款发放 发放时间&ndash;&gt;
                <div class="row card-content bold grey lighten-3" style="width:100%;height:65px;margin-top: 25px">
                    <div class="row col s12">
                        <div class="col s6 left-align fz18">出车款发放</div>
                        <div class="col s6 right-align grey-text">发放时间{{outFeeInfo.grant_date |date:"yyyy-MM-dd hh:mm"}}</div>
                    </div>


                </div>

                &lt;!&ndash;各种费用及备注&ndash;&gt;
                &lt;!&ndash;出车款信息&ndash;&gt;
                <div class="col s12 center-align"  ng-if="outFeeInfo.task_loan_status!==1" style="width:96%;margin-left: 2%;font-size: 1.2rem;color: darkgray;font-weight: bold;padding: 0;">
                    <div class="col s4">
                        <p>过路费：<span style="color: #e57373">{{outFeeInfo.refund_passing_cost}}</span> 元</p>
                    </div>
                    <div class="col s4">
                        <p>燃料费：<span style="color: #e57373">{{outFeeInfo.refund_fuel_cost}}</span> 元</p>
                    </div>
                    <div class="col s4">
                        <p>保道费：<span style="color: #e57373">{{outFeeInfo.refund_protect_cost}}</span> 元</p>
                    </div>
                    <div class="col s4">
                        <p>罚款费：<span style="color: #e57373">{{outFeeInfo.refund_penalty_cost}}</span> 元</p>
                    </div>
                    <div class="col s4">
                        <p>停车费：<span style="color: #e57373">{{outFeeInfo.refund_parking_cost}}</span> 元</p>
                    </div>
                    <div class="col s4">
                        <p>打车费：<span style="color: #e57373">{{outFeeInfo.refund_taxi_cost}}</span> 元</p>
                    </div>
                </div>

                &lt;!&ndash;洗车费&ndash;&gt;
                <div class="row col s12"  style="width: 98%;margin-left:1%;">
                    <div class="col s12 valign-wrapper" style="height: 55px;background-color: #dcdfe0;font-weight: bold;font-size: 1.2rem">
                        <div class="col s4  cyan-text left-align"><p>洗车费</p> </div>
                        <div class="col s8  red-text right-align"><p></p></div>
                    </div>
                    <div class="col s12 grey-text" style="border-bottom: 1px dotted #ccc;border-left: 1px dotted #ccc;border-right: 1px dotted #ccc;">
                        <div ng-repeat="response in responseData" class="grey-text text-darken-1 col s12 center-align" style="height:50px;width:100%;">
                            <div class="col s3" style="margin-top: 13px">{{response.short_name}}</div>
                            <div class="col s3" style="margin-top: 13px"><span class="red-text">{{response.single_price}}</span>元/辆</div>
                            <div class="col s2" style="margin-top: 13px">{{response.car_count}}辆</div>
                            <div class="col s2" style="margin-top: 13px">洗车费<span class="red-text">{{response.actual_price}}</span> 元</div>
                            <div class="col s2" style="margin-top: 13px">门卫费<span class="red-text">{{response.actual_guard_fee}}</span>元</div>
                        </div>
                        <div class="grey-text col s12" style="height:50px" ng-if="responseData.length == 0">
                            <div class="center-align" style="margin-top: 15px"><span style="letter-spacing: 2px;">暂无洗车费</span></div>
                        </div>

                    </div>
                </div>

                &lt;!&ndash;备注&ndash;&gt;
                <div class="row col s12  grey-text bold" style="width: 98%;margin-left:1%;">
                    <div  class="col s6 left-align">备注：{{outFeeInfo.grant_explain}}</div>
                    <div class="col s6 right-align">发放人:{{outFeeInfo.grant_user_name}}</div>
                </div>

                &lt;!&ndash;总额计算&ndash;&gt;
                <div class="col s12" style="height:50px;width: 98%;margin-left:1%;margin-bottom:30px;color: darkgray;font-size: 1.1rem;font-weight: bold;margin-top: 20px;">
                    <div  class="col s4 left-align">出车款：<span id="hasMoney" style="color: #e57474">{{outFeeInfo.grant_passing_cost + outFeeInfo.grant_fuel_cost + outFeeInfo.grant_protect_cost + outFeeInfo.grant_penalty_cost + outFeeInfo.grant_parking_cost + outFeeInfo.grant_taxi_cost}}</span> 元</div>
                    <div  class="col s4 center-align">洗车费：<span id="hasWash" style="color: #e57474">{{bigPrice}}</span> 元</div>
                    <div  class="col s4 right-align">总额：<span id="actMoney" style="color: #e57474">{{outFeeInfo.grant_passing_cost + outFeeInfo.grant_fuel_cost + outFeeInfo.grant_protect_cost + outFeeInfo.grant_penalty_cost + outFeeInfo.grant_parking_cost + outFeeInfo.grant_taxi_cost+ bigPrice}}</span> 元</div>
                </div>

                &lt;!&ndash;财务报销详情&ndash;&gt;
                <div class="row col s12" style="margin-top: 12px;" ng-show="outFeeInfo.task_loan_status == 2">
                    <div class="col s12 z-depth-2" style="padding: 0;">
                        <div class="col s12 valign-wrapper" style="height: 60px;background-color: #dcdfe0;color: darkgray;font-size: 1.2rem;font-weight: bold">
                            <div class="col s4 left-align">
                                <p style="margin: 0;" class="cyan-text" >财务报销详情</p>
                            </div>
                            <div class="col s8">
                                <div class="col s12 right-align">
                                    <p style="color: darkgray">已报销</p>
                                </div>
                            </div>
                        </div>
                        <div style="width: 92%;margin: 0 auto">
                            <div class="col s12" style="font-size: 1.2rem;color: darkgray;font-weight: bold;padding: 0;">
                                <div class="col s4">
                                    <p>过路费：<span style="color: #e57373">{{outFeeInfo.refund_passing_cost}}</span> 元</p>
                                </div>
                                <div class="col s4">
                                    <p>燃料费：<span style="color: #e57373">{{outFeeInfo.refund_fuel_cost}}</span> 元</p>
                                </div>
                                <div class="col s4">
                                    <p>保道费：<span style="color: #e57373">{{outFeeInfo.refund_protect_cost}}</span> 元</p>
                                </div>
                                <div class="col s4">
                                    <p>罚款费：<span style="color: #e57373">{{outFeeInfo.refund_penalty_cost}}</span> 元</p>
                                </div>
                                <div class="col s4">
                                    <p>停车费：<span style="color: #e57373">{{outFeeInfo.refund_parking_cost}}</span> 元</p>
                                </div>
                                <div class="col s4">
                                    <p>打车费：<span style="color: #e57373">{{outFeeInfo.refund_taxi_cost}}</span> 元</p>
                                </div>
                            </div>
                            <div class="col s12" style="color: darkgray;font-size: 1.2rem">
                                <p><span style="font-weight: bold">发放备注：</span>{{outFeeInfo.refund_explain}}</p>
                            </div>
                            <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                                <p>实际报销：<span style="color: #e57373">{{outFeeInfo.refund_actual_money}}</span> 元</p>
                            </div>
                            <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                                <p>还款金额：<span style="color: #e57373">{{outFeeInfo.repayment_money}}</span> 元</p>
                            </div>
                            <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                                <p>盈亏：<span style="color: #e57373">{{outFeeInfo.profit}}</span> 元</p>
                            </div>
                            <div class="col s6" style="color: darkgray;font-size: 1.2rem;font-weight: bold;margin-bottom: 30px">
                                财务人员：{{outFeeInfo.refund_user_name}}
                            </div>
                            <div class="col s6 right-align" style="color: darkgray;font-size: 1.2rem;font-weight: bold;margin-bottom: 30px">
                                报销时间：{{outFeeInfo.refund_date | date:'yyyy-MM-dd HH:mm:ss'}}
                            </div>
                        </div>
                    </div>
                </div>

               &lt;!&ndash; &lt;!&ndash;财务发放详情 发放时间&ndash;&gt;
                <div class="card-content bold" style="height: 65px;" ng-if="outFeeInfo.task_loan_status == 2">
                    <div class="row col s12 grey lighten-3" style="margin-bottom: 5px">
                        <div class="col s6 left-align fz18">财务发放详情</div>
                        <div class="col s6 right-align grey-text">申请时间{{outFeeInfo.grant_date |date:'yyyy-MM-dd hh:mm'}}</div>
                    </div>
                </div>


                &lt;!&ndash;各种费用及备注&ndash;&gt;
                <div class="card-content bold white grey-text lighten-3" style="height:150px"  ng-if="outFeeInfo.task_loan_status == 3|| outFeeInfo.task_loan_status == 2">
                    <div class="row col s12">
                        <div class="col s4 left-align">过路费:<span class="red-text fz18">{{outFeeInfo.grant_passing_cost|number:2}}</span>元</div>
                        <div class="col s4">燃料费:<span class="red-text fz18">{{outFeeInfo.grant_fuel_cost|number:2}}</span>元</div>
                        <div class="col s4">保道费:<span class="red-text fz18">{{outFeeInfo.grant_protect_cost|number:2}}</span>元</div>
                        <div class="col s4">罚款费:<span class="red-text fz18">{{outFeeInfo.grant_penalty_cost|number:2}}</span>元</div>
                        <div class="col s4">停车费:<span class="red-text fz18">{{outFeeInfo.grant_parking_cost|number:2}}</span>元</div>
                        <div class="col s4">打车费:<span class="red-text fz18">{{outFeeInfo.grant_taxi_cost|number:2}}</span>元</div>
                        <div class="col s4">发放备注:{{outFeeInfo.grant_explain}}</div>
                        <div class="col s12" style="border-bottom: 1px solid #ccc;margin:6px"></div>
                        <div class="col s6">实际发放总额:<span class="red-text fz18">{{outFeeInfo.grant_actual_money|number:2}}</span>元</div>
                        <div class="col s6 right-align">财务人员:{{outFeeInfo.grant_user_name}}</div>
                    </div>
                </div>


                &lt;!&ndash;财务报销详情 报销时间&ndash;&gt;
                <div class="card-content bold grey lighten-3" style="height: 65px;" ng-if="outFeeInfo.task_loan_status == 3">
                    <div class="row col s12" style="margin-bottom: 5px">
                        <div class="col s6 left-align fz18">财务报销详情</div>
                        <div class="col s6 right-align grey-text">申请时间{{outFeeInfo.refund_date  |date:'yyyy-MM-dd hh:mm'}}</div>
                    </div>
                </div>


                &lt;!&ndash;各种费用及备注&ndash;&gt;
                <div class="card-content bold white grey-text lighten-3" style="height:150px"  ng-if="outFeeInfo.task_loan_status == 3">
                    <div class="row col s12">
                        <div class="col s4 left-align">过路费:<span class="red-text fz18">{{outFeeInfo.refund_passing_cost|number:2}}</span>元</div>
                        <div class="col s4">燃料费:<span class="red-text fz18">{{outFeeInfo.refund_fuel_cost|number:2}}</span>元</div>
                        <div class="col s4">保道费:<span class="red-text fz18">{{outFeeInfo.refund_protect_cost|number:2}}</span>元</div>
                        <div class="col s4">罚款费:<span class="red-text fz18">{{outFeeInfo.refund_penalty_cost|number:2}}</span>元</div>
                        <div class="col s4">停车费:<span class="red-text fz18">{{outFeeInfo.refund_parking_cost|number:2}}</span>元</div>
                        <div class="col s4">打车费:<span class="red-text fz18">{{outFeeInfo.refund_taxi_cost|number:2}}</span>元</div>
                        <div class="col s4">发放备注:{{outFeeInfo.refund_explain}}</div>
                        <div class="col s12" style="border-bottom: 1px solid #ccc;margin:6px"></div>
                        <div class="col s4">实际报销:<span class="red-text fz18">{{outFeeInfo.refund_actual_money|number:2}}</span>元</div>
                        <div class="col s4">还款金额:<span class="red-text fz18">{{outFeeInfo.repayment_money|number:2}}</span>元</div>
                        <div class="col s4">盈亏:<span class="red-text fz18">{{outFeeInfo.profit|number:2}}</span>元</div>
                        <div class="col s12 right-align">财务人员:{{outFeeInfo.refund_user_name}}</div>
                    </div>
                </div>&ndash;&gt;

            </div>
            &lt;!&ndash;暂无数据&ndash;&gt;
            <div class="row col s12" ng-if="outFeeInfo==undefined" style="width: 90%; margin-left:5%; margin-top:10px;">
                <div style="height:200px;line-height: 200px;text-align: center">
                    <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                    <span class="bold grey-text fz22">暂无数据</span>
                </div>
            </div>
        </div>-->

        <!--洗车费-->
        <div id="lookWashFee" class="col s12 tab_box card" style="width: 80%; margin:0 10% ">

            <div class="card-content bold white lighten-3" ng-if="washFeeList.length!==0" style="width: 70%; margin:0 15%">




                <div class="divider cyan" style="height: 2px;"></div>
                <table class="bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">路线</th>
                        <th data-field="">洗车费</th>
                        <th data-field="">拖车费</th>
                        <th data-field="">提车费</th>
                        <th data-field="">地跑费</th>
                        <th data-field="">带路费</th>
                        <th data-field="">领取状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="grey-text text-darken-1" ng-repeat="car in washFeeList">
                        <td>{{car.addr_name}}-{{car.short_name}}</td>
                        <td>{{car.total_price}}</td>
                        <td>{{car.total_trailer_fee}}</td>
                        <td>{{car.car_parking_fee}}</td>
                        <td>{{car.total_run_fee}}</td>
                        <td>{{car.lead_fee}}</td>
                        <td>{{car.status==1?'未领取':'已领取'}}</td>
                    <tr class="grey-text text-darken-1" ng-if="washFeeList.length == 0">
                        <td colspan="7"><span style="letter-spacing: 2px">暂无数据</span></td>
                    </tr>
                    </tbody>
                </table>


              <!--  <div class="row col s12"  ng-repeat="el in washFeeList" style="width: 90%; margin-left:5%; margin-top:10px;">
                    <div class="card-content bold cyan-text grey lighten-3" style="height:75px;border: 1px solid #ccc;" >
                        <div class="row col s12">

                            <div class="col s6 fz16 cyan-text left-align">
                                {{el.addr_name}}&#45;&#45;{{el.short_name}}
                            </div>
                            <div class="col s3"></div>
                            <div class="col s3 right-align red-text" ng-if="el.status==1">未领取</div>
                            <div class="col s3 right-align cyan-text" ng-if="el.status==2">已领取</div>
                        </div>
                    </div>
                    <div class="card-content bold  white grey-text lighten-3" style="border: 1px solid #ccc;height:200px;">

                        <div class="row col s12">
                            <div class="col s4 left-align">
                                小车数:{{el.small_car_count}}
                            </div>
                            <div class="col s4 center">
                                小车洗车单价:<span class="red-text fz18">{{el.small_single_price}}</span>
                            </div>
                            <div class="col s4 right-align">
                                小车洗车费:<span class="red-text fz18">{{el.small_car_count*el.small_single_price}}</span>
                            </div>
                        </div>
                        <div class="row col s12">
                            <div class="col s4 left-align">
                                大车数:{{el.big_car_count}}
                            </div>
                            <div class="col s4 center">
                                大车洗车单价:<span class="red-text fz18">{{el.big_single_price}}</span>
                            </div>
                            <div class="col s4 right-align">
                                大车洗车费:<span class="red-text fz18">{{el.big_car_count*el.big_single_price}}</span>
                            </div>
                        </div>
                        <div class="row col s12">
                            <div class="col s3 left-align">
                                拖车费:<span class="red-text fz18">{{el.total_trailer_fee}}</span>
                            </div>
                            <div class="col s3 center">
                                提车费:<span class="red-text fz18">{{el.car_parking_fee}}</span>
                            </div>
                            <div class="col s3 center">
                                地跑费:<span class="red-text fz18">{{el.total_run_fee}}</span>
                            </div>
                            <div class="col s3 right-align">
                                带路费:<span class="red-text fz18">{{el.lead_fee}}</span>
                            </div>

                        </div>
                        <div class="row col s12">
                            <div class="col s6 left-align">
                                现场调度:{{el.field_op_name}}
                            </div>
                            <div class="col s6 right-align" ng-if="el.status==2">
                                领取时间:{{el.clean_date |date:'yyyy-MM-dd hh:mm'}}
                            </div>
                        </div>
                        </div>
                    </div>-->
                </div>
           <!-- </div>-->
            <div class="card-content bold white lighten-3" style="width: 70%; margin:0 15%" ng-if="washFeeList.length==0">
                <div class="row col s12"  style="width: 90%; margin-left:5%; margin-top:10px;">
                    <div style="height:200px;line-height: 200px;text-align: center">
                        <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                        <span class="bold grey-text fz22">暂无数据</span>
                    </div>
                </div>
            </div>

        </div>
        <!--执行记录-->
        <div id="lookRecord" class="col s12 tab_box card" style="width: 80%; margin:0 10%;padding-bottom: 20px">
            <div class="card-content bold white  grey-text lighten-3" style="width: 80%; margin:0 10%;">
                <div class="row col s12" style="overflow-y: auto">
                    <p ng-repeat="el in recordList" style="line-height: 30px;border-bottom: 1px dotted #ccc;padding: 10px 0;">
                        <span>{{el.timez | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                        <span>{{el.content}}</span>
                        <span>操作人: <span>{{el.name}}</span></span>
                    </p>
                </div>

            </div>
        </div>
    </div>



</div>




