<div class="instruction_car_refuel">
    <div class="row col s12 valign-wrapper">
        <div class="col s10">
            <div class="col s3 input-field">
                <select material-select watch ng-model="driveName" id="driverName" style="width: 100%" >
                    <option value="" selected>司机</option>
                    <option ng-repeat="driver in driveNameList" ng-value=driver.id>{{driver.drive_name}}</option>
                </select>
            </div>
            <div class="input-field col s3">
                <select  id="truckNumber" style="width: 100%" ng-model="truckNum">
                    <option value=""></option>
                    <option ng-repeat="truckNumItem in truckNumListAll" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}</option>
                </select>
            </div>

            <div class="input-field col s3">
                <input type="text" ng-model="refueling_startTime" id="refueling_startTime" name="refueling_startTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="refueling_startTime">加油时间（始）</label>
            </div>
            <div class="input-field col s3">
                <input type="text" ng-model="refueling_endTime" id="refueling_endTime" name="refueling_endTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="refueling_endTime">终止时间</label>
            </div>
        </div>
        <div class="col s2 center">
            <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn  "
               style="margin-right: 10px" ng-click="search_condition()">
                <i class="mdi mdi-magnify"></i>
            </a>
        </div>
    </div>

    <div class="row col s12">
        <div class="col s12" style="margin-top: 15px">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class=" bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">司机</th>
                    <th data-field="">货车牌号</th>
                    <th data-field="">加油量</th>
                    <th data-field="">加尿素量</th>
                    <th data-field="">时间</th>
                    <th data-field="">地点</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in car_refuel" class="grey-text text-darken-1">
                    <td>{{el.drive_name}}</td>
                    <td>{{el.truck_num}}</td>
                    <td>{{el.oil}}</td>
                    <td>{{el.urea}}</td>
                    <td>{{el.oil_date|date:'yyyy-MM-dd'}}</td>
                    <td>{{el.oil_address}}</td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="car_refuel.length == 0">
                    <td colspan="6"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--分页-->
    <div class="row col s12">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" ng-show="pre" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" ng-show="next" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>