<div id="instruction_list" >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <!--<div class="divider" style="background: #00bcd4;height: 2px;"></div>-->
            <div class="row no-marBottom" ul-tabs style="overflow: hidden">
                <div id="header_car" class="row tab_box" >
                    <div class="storage_storeTitle">
                        <div class="row  grey-text text-darken-1">
                            <div class="col s11">
                                <div class="col s12">
                                    <div class="input-field col s4">
                                        <input name="vin" id="vin" type="text" ng-model="vin"   >
                                        <label for="vin">司机</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <input name="dispatch" id="dispatch" type="text" ng-model="dispatch"   >
                                        <label for="dispatch">货车牌号</label>
                                    </div>
                                    <div class=" col s4">
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_startTime" id="instruct_startTime" name="instruct_startTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_startTime">统计时间(始)</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_endTime" id="instruct_endTime" name="instruct_endTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_endTime">统计时间(终)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s1 vc-center" >
                                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="search_all()">
                                    <i class="mdi mdi-magnify"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12" >
                        <table class=" bordered striped">
                            <thead class="blue-grey lighten-5">
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">司机</th>
                                    <th data-field="">执行任务数</th>
                                    <th data-field="">货车牌号</th>
                                    <th  data-field="">总计里程</th>
                                    <th data-field="">重载公里数</th>
                                    <th data-field="">空载公里数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="el in instruction_list" class="grey-text text-darken-1">
                                    <td  ng-bind="el.id">1</td>
                                    <td ng-bind="el.created_on|date:'yyyy-MM-dd hh:mm:ss'">2</td>
                                    <td ng-bind="el.truck_num"></td>
                                    <td ng-bind="el.drive_name"></td>
                                    <td ng-bind="el.city_route_start">无</td>
                                    <td ng-bind="el.city_route_end"></td>
                                    <td class="operation">
                                        <a href="#" ui-sref="look_instruction_list_details({id:el.id,from:'instruction_list'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1" ></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn  " ng-show="head_pre"  id="head_pre"   ng-click="head_pre_btn()">
                                上一页
                            </a>
                            <a class="waves-light waves-effect cyan lighten-1 btn " ng-show="head_next" id="head_next"  ng-click="head_next_btn()">
                                下一页
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>