<div id="instruction_list" >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <!--<div class="divider" style="background: #00bcd4;height: 2px;"></div>-->
            <div class="row no-marBottom" ul-tabs style="overflow: hidden">
                <div id="header_car" class="row tab_box" >
                    <div class="storage_storeTitle">
                        <div class="row  grey-text text-darken-1">
                            <div class="col s10">
                                <div class="col s12">
                                    <div class=" col s3">
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_need_startTime" id="instruct_need_startTime" name="instruct_need_startTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_need_startTime">需求创建时间(始)</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_need_endTime" id="instruct_need_endTime" name="instruct_need_endTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_need_endTime">需求创建时间(终)</label>
                                        </div>
                                    </div>
                                    <div class="input-field col s3">
                                        <input name="instruct_need_man" id="instruct_need_man" type="text" ng-model="instruct_need_man"   >
                                        <label for="instruct_need_man">需求提出人</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <select id="start_city" material-select watch ng-change="getAddres(start_city)"  ng-options="city.id as city.city_name for city in cityList" ng-model="start_city">
                                            <option value="">请选择</option>
                                        </select>
                                        <label for="start_city">起始城市</label>
                                    </div>
                                    <div class=" input-field col s3">
                                        <select id="dispatch_car_position" ng-options="baseAddr.id as baseAddr.addr_name for baseAddr in baseAddrList" material-select watch ng-model="dispatch_car_position">
                                            <option value="">请选择</option>
                                        </select>
                                        <label for="dispatch_car_position">装车地点</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class=" col s3">
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_start_time" id="instruct_start_time" name="instruct_start_time"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_start_time">指令时间(始)</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" ng-model="instruct_endTime" id="instruct_endTime" name="instruct_endTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            <label for="instruct_endTime">指令时间(终)</label>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <div class="input-field col s6" style="padding-left: 0">
                                            <input name="car_num_start" id="car_num_start" type="text" ng-model="car_num_start"   >
                                            <label for="car_num_start">运送车数量(始)</label>
                                        </div>
                                        <div class="input-field col s6" style="padding-right: 0">
                                            <input name="car_num_end" id="car_num_end" type="text" ng-model="car_num_end"   >
                                            <label for="car_num_end">运送车数量(终)</label>
                                        </div>

                                    </div>
                                    <div class="input-field col s3">
                                        <select id="arrive_city" material-select watch ng-change="getRecive(arrive_city)"  ng-model="arrive_city" ng-options="city.id as city.city_name for city in cityList">
                                            <option value="">请选择</option>
                                        </select>
                                        <label for="arrive_city">目的城市</label>
                                    </div>
                                    <div class=" input-field col s3">
                                        <select id="dealer" material-select watch ng-model="dealer" ng-options="receive.id as receive.receive_name for receive in receiveList">
                                            <option value="">请选择</option>
                                        </select>
                                        <label for="dealer">送达地点</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s1 vc-center" style="margin-top: 40px">
                                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="search_all()">
                                    <i class="mdi mdi-magnify"></i>
                                </a>
                            </div>
                            <div class="col s1 flex flex-round" style="margin-top: 40px">
                                <a ng-click="add_need()" class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"
                                   style="margin-right: 10px">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                            </div>
                            <div id="newNeed" class="modal">
                                <form name="add_need_instructForm" ng-submit="add_need_instruct(add_need_instructForm.$valid)" novalidate>
                                    <div class="col s12  cyan white-text" style="height: 50px">
                                        <h5 class="center-align" >增加需求</h5>
                                    </div>
                                    <div class="divider a1_divider" ></div>
                                    <div class="modal-content">
                                        <div class="container">
                                            <div class="row" style="margin-top:80px">
                                                <div class="col s6">
                                                    需求生成时间:<span>{{time}}</span>
                                                </div>
                                                <div class="col s6">
                                                    需求人: <span>{{user}}</span>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_start_city.$invalid&&submitted}">
                                                    <select id="add_start_city" name="add_start_city" material-select watch ng-change="getAddres(add_start_city.id)"  ng-model="add_start_city" ng-options=" add_start_city.city_name for add_start_city in cityList" required>
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <label for="add_start_city">起始城市</label>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_dispatch_car_position.$invalid&&submitted}">
                                                    <select id="add_dispatch_car_position" name="add_dispatch_car_position" material-select watch   ng-model="add_dispatch_car_position" ng-options="baseAddr.id as baseAddr.addr_name for baseAddr in baseAddrList" required>
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <label for="add_dispatch_car_position">装车地点</label>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_end_city.$invalid&&submitted}">
                                                    <select id="add_end_city" name="add_end_city" material-select watch ng-change="getRecive(add_end_city.id)"  ng-model="add_end_city" ng-options="add_end_city.city_name for add_end_city in cityList" required>
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <label for="add_end_city">目的城市</label>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_dealer.$invalid&&submitted}">
                                                    <select id="add_dealer" name="add_dealer" material-select watch  ng-model="add_dealer"  ng-options="receive.id as receive.receive_name for receive in receiveList" required>
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <label for="add_dealer">送达地点</label>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_car_num.$invalid&&submitted}">
                                                    <input name="add_car_num" id="add_car_num" type="text" ng-model="add_car_num"  required >
                                                    <label for="add_car_num">装载车辆:</label>
                                                </div>
                                                <div class="input-field col s6" ng-class="{'has-error':add_need_instructForm.add_instruct_Time.$invalid&&submitted}">
                                                    <input type="text" ng-model="add_instruct_Time" id="add_instruct_Time" name="add_instruct_Time"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                                    <label for="add_instruct_Time">指令时间</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                    <div class="modal-footer right-align">
                                        <a  class=" btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >
                                            <i class="mdi mdi-close"></i>
                                        </a>
                                        <button class="btn btn-floating waves-light waves-effect cyan lighten-1" type="submit" name="action" style="margin-right: 10px" >
                                            <i class="mdi mdi-check"></i>
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12" >
                        <table class=" bordered striped">
                            <thead class="blue-grey lighten-5">
                            <tr class="grey-text text-darken-2">

                                <th data-field="">需求编号</th>
                                <th data-field="">需求提出人</th>
                                <th data-field="">指令时间</th>
                                <th  data-field="">起始地城市</th>
                                <th data-field="">装车地点</th>
                                <th data-field="">目的城市</th>
                                <th data-field="">经销商</th>
                                <th data-field="">派送商品车</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in instruction_neee_list" class="grey-text text-darken-1">
                                <td  ng-bind="el.id">1</td>
                                <td ng-bind="el.real_name">2</td>
                                <td ng-bind="el.date_id"></td>
                                <td ng-bind="el.route_start">无</td>
                                <td ng-bind="el.addr_name">
                                </td>
                                <td ng-bind="el.route_end">无</td>
                                <td ng-bind="el.short_name">/td>
                                <td ng-bind="el.pre_count"></td>
                                <td class="operation">
                                    <a href="#" ui-sref="look_instruction_list_details({id:el.id,from:'instruction_list'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1" ></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn  " ng-show="head_pre"  id="head_pre"   ng-click="head_pre_btn()">
                                上一页
                            </a>
                            <a class="waves-light waves-effect cyan lighten-1 btn " ng-show="head_next" id="head_next"  ng-click="head_next_btn()">
                                下一页
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>