<a style="margin: 90px 0 0 20px" class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
   ui-sref="instruction_car_refuel">
    <i class="mdi mdi-arrow-left-bold"></i>
</a>
<div id="instruction_car_refuel_details">
    <div class="">
        <div class="modal-content grey-text text-darken-2">
            <div class="vc-center">
                <h5 class="center-align cyan-text text-lighten-1">加油申报详情</h5>
            </div>
            <div class="divider" style="background: #00bcd4;height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
            <div class="row no-marBottom left-align fz18" style="width: 60%;margin: 0 auto">
                <div class="row" style="margin-top: 40px">
                    <div class="col s6 ">
                        申报时间: <span>{{driveRefuel_details.created_on|date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    </div>
                    <div class="col s6">
                        加油时间: <span>{{driveRefuel_details.refuel_date|date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    </div>
                </div>
                <div class="row " >
                    <div class="col s6">
                        车牌号: <span>{{driveRefuel_details.truck_num}}</span>
                    </div>
                    <div class="col s6">
                        司机: <span>{{driveRefuel_details.drive_name}}</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s6">
                        加油量: <span>{{driveRefuel_details.refuel_volume}}</span>
                    </div>
                    <div class="col s6">
                        加油金额: <span>{{driveRefuel_details.refuel_money}}元</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s6">
                        关联线路编号: <span>{{driveRefuel_details.dp_demand_id}}</span>
                    </div>
                    <div class="col s6">
                        关联线路: <span>{{driveRefuel_details.route_start}}---{{driveRefuel_details.route_end}}</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s6">
                        加油地: <span>{{driveRefuel_details.refuel_address}}</span>
                    </div>
                </div>
                <div class="row" >
                    <div class="col s12">
                        <div id="refuel_address" class="refuel_address">

                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s6">
                        审核结果:
                        <span ng-if="driveRefuel_details.check_status==1">
                            <a style="margin-left: 10px" class="btn btn-floating" ng-click="resolve(driveRefuel_details.id)" >
                                通过
                            </a>
                            <a style="margin-left: 10px" class="btn btn-floating red lighten-2" ng-click="reject(driveRefuel_details.id)" >
                                拒绝
                            </a>
                        </span>
                        <div id="modal1" class="modal">
                            <div class="col s12 cyan white-text" style="height: 50px">
                                <h5 class="center-align" >拒绝原因</h5>
                            </div>
                            <div class="divider a1_divider" ></div>
                            <div class="modal-content">
                                <div class="container" style="width: 90%">
                                    <div class="row" style="margin-top:80px">
                                        <!--<div class="input-field col s12">-->
                                            <!--<textarea style="padding: 0" id="textarea1" ng-model="reject_reason_msg" class="materialize-textarea"></textarea>-->
                                            <!--<label for="textarea1">拒绝原因</label>-->
                                        <!--</div>-->
                                        <div class="col s12 input-field">
                                            <input id="textarea1" type="text" ng-model="reject_reason_msg">
                                            <label for="textarea1">拒绝原因</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                            <div class="modal-footer right-align">
                                <a class="btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn">
                                    <i class="mdi mdi-close"></i>
                                </a>
                                <a class="btn btn-floating waves-light waves-effect cyan lighten-1"  ng-click="reject_reason()" style="margin-right: 10px">
                                    <i class="mdi mdi-check"></i>
                                </a>
                            </div>
                        </div>
                        <span style="font-weight: bold;color: green" ng-if="driveRefuel_details.check_status==2">通过</span>
                        <span style="font-weight: bold;color: red" ng-if="driveRefuel_details.check_status==3">拒绝</span>
                    </div>
                </div>
                <div class="row"  ng-if="driveRefuel_details.check_status==3">
                    <div class="col s12">
                        拒绝原因: <span>{{driveRefuel_details.check_reason}}</span>
                    </div>
                </div>
                <div class="col s12" ng-if="driveRefuel_details.check_status==2||driveRefuel_details.check_status==3">
                    审批人: <span>{{driveRefuel_details.check_user_name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>