<div class="instruction_car_refuel">
    <div class="row col s12 ">
        <div class="vc-center">
            <div class="row col s10">
                <div>
                    <div class="input-field col s4">
                        <input id="truck" type="text" ng-model="truckNum">
                        <label for="truck">车牌号</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="driver" type="text" ng-model="driveName">
                        <label for="driver">司机</label>
                    </div>
                    <div class="input-field col s4">
                        <select material-select watch id="Refueling_belongs" ng-model="currentStatus">
                            <option value="" selected>请选择</option>
                            <option value="1">内部加油</option>
                            <option value="2">外部加油</option>
                        </select>
                        <label for="Refueling_belongs">加油所属</label>
                    </div>
                </div>

                <div>
                    <div class="input-field col s4">
                        <input type="text" ng-model="refueling_startTime" id="refueling_startTime" name="refueling_startTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="refueling_startTime">加油时间（始）</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" ng-model="refueling_endTime" id="refueling_endTime" name="refueling_endTime"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="refueling_endTime">终止时间</label>
                    </div>
                    <div class="input-field col s4">
                        <select material-select watch id="audit_status" name="audit_status" ng-model="currentStatus">
                            <option value="" selected>请选择</option>
                            <option value="1">待审核</option>
                            <option value="2">已通过</option>
                            <option value="3">已拒绝</option>
                        </select>
                        <label for="audit_status">审核状态</label>
                    </div>
                </div>
            </div>
            <div class="row col s2 vc-center">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn  "
                   style="margin-right: 10px" ng-click="search_condition()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
        </div>
        <div class="col s12" style="margin-top: 15px">
            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
            <table class=" bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th width="280">申报时间</th>
                    <th>车牌号</th>
                    <th>司机</th>
                    <th>加油时间</th>
                    <th>加油所属</th>
                    <th>加油量（升）</th>
                    <th>加油金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="el in car_refuel" class="grey-text text-darken-1">
                        <td>{{el.created_on|date:'yyyy-MM-dd'}}</td>
                        <td>{{el.truck_num}}</td>
                        <td>{{el.drive_name}}</td>
                        <td>{{el.refuel_date|date:'yyyy-MM-dd hh:mm:ss'}}</td>
                        <td ng-if="el.refuel_address_type==1">内部加油</td>
                        <td ng-if="el.refuel_address_type==2">外部加油</td>
                        <td>{{el.refuel_volume}}</td>
                        <td>{{el.refuel_money}}</td>
                        <td class="details">
                            <a class="btn btn-floating" ng-click="resolve(el.id)"  ng-if="el.check_status==1" >
                                通过
                            </a>
                            <a class="btn btn-floating red lighten-2"  ng-click="reject(el.id)"  ng-if="el.check_status==1" >
                                拒绝
                            </a>

                            <!--<span  ng-if="el.check_status==2" >通过</span>-->
                            <!--<span  ng-if="el.check_status==3" >拒绝</span>-->
                            <a ui-sref="instruction_car_refuel_details({id:el.id,from:'instruction_car_refuel'})" class="">
                                <i class="mdi mdi-file-outline  cyan-text lighten-1 fz18"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn  " ng-show="pre"  id="pre"   ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn " ng-show="next" id="next"  ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
        <div id="modal1" class="modal">
                <div class="col s12  cyan white-text" style="height: 50px">
                    <h5 class="center-align" >拒绝原因</h5>
                </div>
                <div class="divider a1_divider" ></div>
                <div class="modal-content">
                    <div class="container" style="width: 90%">
                        <div class="row" style="margin-top:80px">
                            <div class="input-field col s12">
                                <textarea id="textarea1" ng-model="reject_reason_msg" class="materialize-textarea"></textarea>
                                <label for="textarea1">拒绝原因</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                <div class="modal-footer right-align">
                    <a  class=" btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >
                        <i class="mdi mdi-close"></i>
                    </a>
                    <button class="btn btn-floating waves-light waves-effect cyan lighten-1"  ng-click="reject_reason()" style="margin-right: 10px" >
                        <i class="mdi mdi-check"></i>
                    </button>
                </div>
        </div>
    </div>
</div>
