<div  >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <div class="storage_storeTitle vc-center ">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">挂车信息</h4>
            </div>
            <div class="row">
                <div class="row">
                    <ul class="ui-tabs tabs" ul-tabs style="overflow-x: hidden">
                        <li class="tab col s6 test1"><a  href="#test1">基本信息</a></li>
                        <li class="tab col s6 test3 "><a href="#test3">绑定头车</a></li>
                    </ul>
                </div>
                <div id="test1" class="test col s12" style="margin-top: 50px">
                    <form name="add_truck_form"  ng-submit="submit_Form(add_truck_form.$valid)" novalidate>
                        <div class="row fz20">
                            <i class="mdi mdi-car-wash fz40"></i>
                            车辆类型:挂车
                        </div>
                        <div class="row">
                            <div class="input-field col s6 " ng-class="{'has-error':add_truck_form.truck_num.$invalid&&submitted }">
                                <input name="truck_num" id="truck_num" autocomplete="off" type="text" ng-model="truckTrailer.truck_num"  required>
                                <label for="truck_num"><span style="color: red;margin-right: 5px">*</span>车牌牌号</label>
                            </div>
                            <div class="input-field col s6 " >
                                <input name="phone_num" id="phone_num"  autocomplete="off" type="number" ng-model="truckTrailer.number"   >
                                <label for="phone_num">挂车货位</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8">
                                <input name="textarea" id="textarea" type="text" ng-model="truckTrailer.remark" >
                                <label for="textarea">备注:</label>
                            </div>
                            <div class="col s4 input-field" ng-show="truckTrailer.truck_status==1" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <span>车辆状态:</span>
                                <span>在用</span>
                            </div>
                            <div class="col s4 input-field" ng-show="truckTrailer.truck_status==0" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <span>车辆状态:</span>
                                <span>停用</span>
                            </div>
                        </div>

                        <div class="row">
                            <div style="margin:0 0 0 0.5%">
                                <h5 style="margin-top: 30px">任务执行记录</h5>
                                <div class="divider cyan" style="width: 95%;height: 2px;margin-top:15px"></div>
                                <div class="row" style="height: 200px;overflow-y: auto">
                                    <p ng-repeat="el in comment" style="line-height: 30px">
                                        <span>{{el.timez | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                                        &nbsp;<span>{{el.content}}</span>
                                        &nbsp;<span>操作人: <span>{{el.name}}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row vc-center">
                            <button class="btn" type="submit" name="action">确定</button>
                        </div>
                    </form>
                </div>
                <div id="test3" class="test col s12">
                    <form name="Binding_trailer_form"  ng-submit="Binding_head_car_submit()" novalidate>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="Binding_trailer" ng-disabled="show_unbind_head_btn" name="Binding_trailer" ng-keyup="Binding_head_truck_check()" class="Binding_head_truck" ng-model="Binding_head_truck" type="text"  autocomplete="off">
                                <label for="Binding_trailer">关联挂车</label>
                            </div>
                            <div class="col s2 input-field">
                                <a class="btn waves-effect " ng-show="show_unbind_head_btn" ng-click="unbind_head_truck()">解绑</a>
                                <button class="btn waves-effect" ng-hide="show_unbind_head_btn" type="submit" name="action" >绑定头车</button>
                            </div>
                        </div>
                        <div class="row" ng-hide="show_unbind_head_btn">
                            <div ng-repeat="el in head_car_msg track by $index" class="col s4 " style="padding: 10px;height: 40px;margin-top: 20px">
                                <div class="row trailer_panel" style="padding: 7px" ng-class="{'grey lighten-3':el.trail_num}">
                                    <div class="col s6 " ng-if="!el.trail_num" ng-click="check_head_truck(el.id,el.truck_num)">
                                        <input type="radio" name="filled-in" class="filled-in"  id="filled-in-box{{$index}}" />
                                        <label for="filled-in-box{{$index}}" class="black-text" style="font-size: 18px" >{{el.truck_num}}</label>
                                    </div>
                                    <div class="col s6 black-text" ng-if="el.trail_num"  style="font-size: 18px">
                                        {{el.truck_num}}
                                    </div>
                                    <div class=" col s6">
                                        <span ng-hide="el.trail_num" style="margin-left: 10px">未关联挂车</span>
                                        <span ng-show="el.trail_num" style="margin-left: 10px">关联挂车: <span>{{el.trail_num}}</span></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>