<a style="margin: 90px 0 0 20px" class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light"
   ng-click="return()">
    <i class="mdi mdi-arrow-left-bold"></i>
</a>
<div id="look_instruction_list_details">
    <div class="">
        <div class="modal-content grey-text text-darken-2">
            <div class="vc-center">
                <h5 class="center-align cyan-text text-lighten-1">指令详情</h5>
            </div>
            <div class="divider" style="background: #00bcd4;height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
            <div class="row no-marBottom" ul-tabs>
                <div id="look_msg" class="col s12 tab_box bold_txt" style="width: 90%; margin:0 5% ">
                    <div class="row vc-center" style="padding: 20px">
                        <div class="col s4">
                            <p><span style="font-size: 1.8rem">{{this_instruction.city_route_start}}</span> <span class="mdi mdi-arrow-right" style="font-size: 1.8rem"></span> <span style="font-size: 1.8rem">{{this_instruction.city_route_end}}</span></p>
                        </div>
                        <div class="col s8">
                            <div class="col s6">
                                <p><span>调度编号：</span>{{this_instruction.id}}</p>
                            </div>
                            <div class="col s6">
                                <p><span>指令状态：</span><span class="fz20 cyan-text">{{this_instruction.task_status | instructionsStatus}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:0 20px">
                        <div class="col s4">
                            <p><span>调度计划执行时间：</span>{{this_instruction.task_plan_date | date:"yyyy-MM-dd"}}</p>
                        </div>
                        <div class="col s4">
                            <p><span>调度实际执行时间：</span>{{this_instruction.task_start_date | date:"yyyy-MM-dd HH:mm:ss"}}</p>
                        </div>
                        <div class="col s4">
                            <p><span>调度完成时间：</span>{{data_id}}</p>
                        </div>
                    </div>

                    <div class="row grey white-text" style="padding: 20px;margin-bottom:0">
                        <div class="col s12 fz18">
                            <div class="col s2">
                                <p><span>指派货车：</span>{{this_instruction.truck_num}}</p>
                            </div>
                            <div class="col s10">
                                <div class="col s2">
                                    <p><span>车位：</span>{{this_instruction.truck_number}}</p>
                                </div>
                                <div class="col s3">
                                    <p><span>运送车辆：</span>{{this_instruction.car_count}}</p>
                                </div>
                                <div class="col s3">
                                    <p><span>司机：</span>{{this_instruction.drive_name}}</p>
                                </div>
                                <div class="col s4">
                                    <p><span>联系电话：</span>{{this_instruction.mobile}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 p0" ng-repeat="el in this_LoadTask" >
                        <div class="col s12 grey lighten-1 white-text valign-wrapper" style="padding: 10px 50px;margin-top: 2px">
                            <div class="col s3">
                                <span><span>{{el.addr_name}}</span> <span class="mdi mdi-arrow-right"></span> <span>{{el.short_name}}</span></span>
                            </div>
                            <div class="col s9 valign-wrapper">
                                <div class="col s2">
                                    <p><span>运送车辆：{{el.plan_count}}</span></p>
                                </div>
                                <div class="col s3">
                                    <p><span>派发：</span>{{el.task_op_name}}</p>
                                </div>
                                <div class="col s2">
                                    <span>{{el.load_task_status | missionStatus}}</span>
                                </div>
                                <div class="col s3">
                                    <p><span>现场：</span>{{el.field_op_name}}</p>
                                </div>
                                <div class="col s2 right-align" style="cursor: pointer" ng-click="open_LoadTaskList(el.id,$index)">
                                    <span style="font-size: 1.6rem" class="mdi mdi-chevron-double-down"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col s12 grey lighten-2 this_LoadTaskList this_LoadTaskList{{$index}}" flag="false" style="padding: 10px 0;display: none">
                            <div class="col s3" style="padding: 5px 10px" ng-repeat="el in this_LoadTaskList">
                                <div class="col s12 center-align" style="font-size: 0.9rem;padding: 0">
                                    {{el.vin}}（{{el.make_name}}）
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="margin:0 1% 0 5.5%">
                <h5 style="margin-top: 30px">任务执行记录</h5>
                <div class="divider" style="width: 95%;background: #00bcd4;height: 2px;margin-top:15px"></div>
                <div class="row" style="height: 200px;overflow-y: auto">
                    <p ng-repeat="el in recordList" style="line-height: 30px">
                        <span>{{el.timez | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                        <span>{{el.content}}</span>
                        <span>操作人: <span>{{el.name}}</span></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>