<div id="look_instruction_list_details">
    <div class="">
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <div class="storage_storeTitle vc-center ">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">指令详情</h4>
            </div>
            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
            <div class="row no-marBottom" ul-tabs>
                <div id="look_msg" class="col s12 tab_box" style="width: 90%; margin:0 5% ">
                    <div class="row vc-center" style="padding: 20px">
                        <div class="col s4">
                            <h5><span>{{this_instruction.city_route_start}}</span>----<span>{{this_instruction.city_route_end}}</span></h5>
                        </div>
                        <div class="col s8 " >
                            <div class="col s6">
                                任务编号:<span>{{this_instruction.id}}</span>
                            </div>
                            <!--<div class="col s3">-->
                                <!--指令调度时间:<span>513215</span>-->
                            <!--</div>-->
                            <div class="col s6">
                                指令状态:
                                <span ng-if="this_instruction.task_status==1" class="fz20 cyan-text">待接受</span>
                                <span ng-if="this_instruction.task_status==2" class="fz20 cyan-text">接受</span>
                                <span ng-if="this_instruction.task_status==3" class="fz20 cyan-text">执行</span>
                                <span ng-if="this_instruction.task_status==4" class="fz20 cyan-text">在途</span>
                                <span ng-if="this_instruction.task_status==8" class="fz20 cyan-text">取消安排</span>
                                <span ng-if="this_instruction.task_status==9" class="fz20 cyan-text">已完成</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:0 20px">
                        <div class="col s4">
                            调度计划执行时间:<span>{{this_instruction.task_plan_date|date:"yyyy-MM-dd hh:mm:ss"}}</span>
                        </div>
                        <div class="col s4">
                            调度实际执行时间:<span>{{this_instruction.task_start_date|date:"yyyy-MM-dd hh:mm:ss"}}</span>
                        </div>
                        <div class="col s4">
                            调度完成时间:<span>{{this_instruction.task_end_date|date:"yyyy-MM-dd hh:mm:ss"}}</span>
                        </div>
                    </div>

                    <div class="row grey white-text" style="padding: 20px;margin-bottom:0">
                        <div class="col s12 fz18">
                            <div class="col s4">
                                <span>指派货车:<span>{{this_instruction.truck_num}}</span></span>
                            </div>
                            <div class="col s8 " >
                                <div class="col s3">
                                    车位:<span>{{this_instruction.trail_number}}</span>
                                </div>
                                <div class="col s3">
                                    运送车辆:<span>{{this_instruction.car_count}}</span>
                                </div>
                                <div class="col s3">
                                    司机:<span>{{this_instruction.drive_name}}</span>
                                </div>
                                <div class="col s3">
                                    联系电话:<span>{{this_instruction.tel}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 p0" ng-repeat="el in this_LoadTask" >
                        <div class="col s12 grey lighten-1 white-text " style="padding: 10px  50px;margin-top: 2px">
                            <div class="col s4">
                                <span><span>{{el.addr_name}}</span>--------<span>{{el.short_name}}</span></span>
                            </div>
                            <div class="col s8">
                                <div class="col s2">
                                    运送车辆:<span>513215</span>
                                </div>
                                <div class="col s2">
                                    派发调度:<span>513215</span>
                                </div>
                                <div class="col s2">
                                    <span>已装车</span>
                                </div>
                                <div class="col s2">
                                    现场调度:<span>某某欧</span>
                                </div>
                                <div class="col s2">
                                    异常:<span>12</span>
                                </div>
                                <div class="col s2" style="cursor: pointer" ng-click="open_LoadTaskList(el.id,$index)">
                                    商品车详情
                                    <i class="mdi  mdi-menu-down"></i>
                                </div>

                            </div>
                        </div>
                        <div class="col s12 grey lighten-2 this_LoadTaskList this_LoadTaskList{{$index}}" flag="false"    style="padding: 10px  50px;display: none">
                            <div class="col s4" ng-repeat="el in this_LoadTaskList">
                                <div class="col s6">
                                    VIN码: <span>56123</span>
                                </div>
                                <div class="col s6">
                                    制造商: <span>一起大众</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="margin:0 2.5% 0 2.5%">
                <h5 style="margin-top: 30px">任务执行记录</h5>
                <div class="divider" style="width: 95%;background: #00bcd4;height: 2px;margin-top:15px"></div>
                <div class="row">
                    <p class="col s12">
                        <span>2017-08-13 11:30</span>
                        <span>指令生成</span>
                        <span>调度:<span>某某某</span></span>
                        <span>接受司机:<span>张宝全</span></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>