<!--新增保道费(条件中)   模态框-->
<div id="addFeeItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增保道费</div>
    <div class="modal-content">
        <div class="row col s12">
            <div class="col s12">

                <div class="mp-30 valign-wrapper">
                    <div class="col s2 cyan-text text-lighten-1" style="font-size: 20px;min-width: 90px">调度编号:</div>
                    <div class="input-field col s8">
                        <input type="text" id="dpId" name="dpId" ng-model="dpId"  autocomplete="off"  required>
                    </div>
                    <div  class="col s2 vc-center">
                        <button ng-click="getDetail()" class=" btn btn-floating btn-large waves-effect cyan lighten-1" ><i class="mdi white-text mdi-magnify fz35"></i></button>
                    </div>
                </div>

                <div class="row  mp-50" >
                    <div style="width: 90%;margin: 0 auto">
                        <p class="no_car_detail center-align cyan-text text-lighten-1 mp-50">无此调度任务</p>
                        <div class="car_detail col s12 fz14 bold" style="border:1px solid #bdbdbd;">
                            <!-- body -->
                            <div class=" col s12">
                                <div class="col s4 input-field cyan-text left-align">
                                    <span>司机：</span>{{carItem.drive_name}}
                                </div>
                                <div class="col s4 input-field cyan-text center-align">
                                    <span>车牌号：</span>{{carItem.truck_num}}
                                </div>
                                <div class="col s4 input-field cyan-text center-align">
                                    <span>调度编号：</span>{{carItem.dp_route_task_id}}
                                </div>
                            </div>


                            <div class="col s12 valign-wrapper">

                                <div class="col s12 input-field">
                                    <select id="dispatch_num_mod1" ng-model="dispatchNum" material-select watch>
                                        <option value="">请选择</option>
                                        <option ng-repeat="el in addWashFeeBox" ng-value="el">{{el.id+'&emsp;'+el.dp_route_task_id + '&emsp;' + el.route_start+'('+ el.addr_name+')'+  ' - ' + el.route_end +'('+ el.short_name+')'+ '&emsp;' + (el.task_plan_date | date:'yyyy-MM-dd')  +"&emsp;&emsp;&emsp;"+el.car_count}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;" >
                                <div class="col  input-field red-text left-align" style="width: 20%">
                                    <input id="newTrailerFee1" type="number"  ng-model="newTrailerFee">
                                    <label for="newTrailerFee1" class="active">拖车费/每台</label>
                                </div>
                                <div class="col  input-field red-text right-align" style="width: 20%">
                                    <input id="newCarParkingFee1" type="number"  ng-model="newCarParkingFee">
                                    <label for="newCarParkingFee1" class="active">提车费/每台</label>
                                </div>
                                <div class="col  input-field red-text right-align" style="width: 20%">
                                    <input id="newRunFee1" type="number"  ng-model="newRunFee">
                                    <label for="newRunFee1" class="active">地跑费/每台</label>
                                </div>
                                <div class="col  input-field red-text right-align" style="width: 20%">
                                    <input id="newLeadFee1" type="number"  ng-model="newLeadFee">
                                    <label for="newLeadFee1" class="active">带路费/每板</label>
                                </div>
                                <div class="col input-field right-align" style="width: 20%">
                                    合计金额:<span class="red-text">{{dispatchNum.car_count==isNaN?0:((newRunFee*dispatchNum.car_count+newCarParkingFee*dispatchNum.car_count+newTrailerFee*dispatchNum.car_count)+newLeadFee)}}</span>
                                </div>
                            </div>

                            <div class="col s12">
                                <div class="input-field col s12" style="margin-bottom:20px ">
                                    <input name="remarkItem" id="remarkItem" type="text" ng-model="remarkItem" >
                                    <label for="remarkItem">备注:</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer car_detail valign-wrapper">
                    <div class="col s12">
                        <div class="col s2 offset-s4">
                            <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                                取消
                            </a>
                        </div>
                        <div class="col s2">
                            <a ng-click="addFee()" class="waves-light waves-effect cyan lighten-1 btn">
                                确定
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--新增保道费(列表中)   模态框-->
<div id="singleReissue" class="modal">

    <!--题目  新增保道费-->
    <div class="cyan lighten-1 white-text center-align modal_title" >新增保道费</div>


    <div class="modal-content">
        <div class="row col s12">
            <div class="col s12">


               <!--添加-->
                <div class="row">
                    <!-- header -->
                    <div class="col s12 fz18 valign-wrapper cyan-text bold">
                        <div class="row col s12">
                            <div class="col s4 cyan-text left-align">
                                <span>司机：</span>{{singleReissueData.drive_name}}
                            </div>
                            <div class="col s4 grey-text center-align">
                                <span>车牌号：</span>{{singleReissueData.truck_num}}
                            </div>
                            <div class="col s4 grey-text right-align">
                                <span>调度编号：</span>{{singleReissueData.dp_route_task_id}}
                            </div>
                        </div>
                    </div>

                    <!-- body -->
                    <!--添加-->
                    <div class="col s12 valign-wrapper mp-20">
                        <div class="col s12 input-field">
                            <select id="dispatch_num_mod" ng-model="dispatchNum" material-select watch>
                                <option value="">请选择</option>
                                <option ng-repeat="el in carBox" ng-value="el">{{el.id+'&emsp;'+el.dp_route_task_id + '&emsp;' + el.route_start+'('+ el.addr_name+')'+  ' - ' + el.route_end +'('+ el.short_name+')'+ '&emsp;' + (el.task_plan_date | date:'yyyy-MM-dd')  +"&emsp;&emsp;&emsp;"+el.car_count}}</option>
                            </select>
                        </div>
                    </div>
                    <!--任务信息卡片-->
                    <div class="col s12 fz20 valign-wrapper red-text">
                        <div class="col  input-field colWidth">
                            <input id="newTrailerFee" type="number"  ng-model="newTrailerFee">
                            <label for="newTrailerFee">拖车费/每台</label>
                        </div>
                        <div class="col  input-field colWidth">
                            <input id="newCarParkingFee" type="number"  ng-model="newCarParkingFee">
                            <label for="newCarParkingFee">提车费/每台</label>
                        </div>
                        <div class="col  input-field colWidth">
                            <input id="newRunFee" type="number"  ng-model="newRunFee">
                            <label for="newRunFee">地跑费/每台</label>
                        </div>
                        <div class="col  input-field colWidth">
                            <input id="newLeadFee" type="number"  ng-model="newLeadFee">
                            <label for="newLeadFee">带路费/每板</label>
                        </div>
                        <div class="col input-field cyan-text colWidth">
                            合计金额:<span class="red-text">{{dispatchNum.car_count==isNaN?0:((newRunFee*dispatchNum.car_count+newCarParkingFee*dispatchNum.car_count+newTrailerFee*dispatchNum.car_count)+newLeadFee)}}</span>
                        </div>
                    </div>
                </div>


                <!--分割线-->
                <div class="divider"></div>


               <!--按钮-->
                <div class="modal-footer valign-wrapper">
                    <div class="col s12">
                        <div class="col s2 offset-s4">
                            <a  class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                                取消
                            </a>
                        </div>
                        <div class="col s2">
                            <a ng-click="addSingleReissueItem()"  class="waves-light waves-effect cyan lighten-1 btn">
                                确定
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<!-- 主菜单：调度管理 -> 保道费 画面 -->
<div class="reissue_premium">
    <div class="row">

        <!-- 上部分：检索条件输入区域 -->


        <!--渲染条件-->
        <div class="col s10">

           <!--编号-->
            <div class="col s3 input-field">
                <input id="id" type="text" ng-model="conId">
                <label for="id">编号</label>
            </div>

            <!--调度编号-->
            <div class="col s3 input-field">
                <input id="dpRouteTaskId" type="text" ng-model="conRouteTaskId">
                <label for="dpRouteTaskId">调度编号</label>
            </div>

            <!--装车时间(始)-->
            <div class="col s3 input-field">
                <input id="loadTimeStart" type="text" class="datepicker" ng-model="conLoadDateStart" date style="width:100%">
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="loadTimeStart">装车时间(始)</label>
            </div>

            <!--装车时间(终)-->
            <div class="col s3 input-field">
                <input id="loadTimeEnd" type="text" class="datepicker" ng-model="conLoadDateEnd" date style="width:100%">
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="loadTimeEnd">装车时间(终)</label>
            </div>

            <!--司机-->
            <div class="col s3 input-field">
                <select material-select watch ng-model="conDriver" id="driver" style="width: 100%" >
                    <option value=""></option>
                    <option ng-repeat="drive in driveList" ng-value="drive.id">{{drive.drive_name}}</option>
                </select>
            </div>

            <!--货车牌号-->
            <div class="col s3 input-field">
                <select  material-select watch ng-model="conTruckNum"  id="truckNumber" style="width: 100%">
                    <option value=""></option>
                    <option ng-repeat="truck in truckList" ng-value="truck.id">{{truck.truck_num}}</option>
                </select>
            </div>

            <div class="col s3 input-field">

                <!--目的城市-->
                <div class="col s6">
                    <select id="endCity" name="state" style="width:100%" ng-change="getRecive()" ng-model="conRouteEnd">
                        <option value=""></option>
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>

                <!--经销商-->
                <div class="col s6">
                    <select material-select watch ng-model="conReceive" style="width:100%" id="dealer">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="receive in receiveList" ng-value="receive.id">{{receive.short_name}}</option>
                    </select>
                </div>
            </div>

            <!--领取状态-->
            <div class="col s3 input-field">
                <select material-select watch ng-model="conStatus" style="width:100%">
                    <option value="" selected>领取状态</option>
                    <option ng-repeat="receive in receiveStatus" ng-value="receive.id">{{receive.status_name}}</option>
                </select>
            </div>

        </div>


        <!--按钮区域-->
        <div class="col s2 vc-center mp-40">

            <!--查询-->
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn"
                   ng-click="searchInsurancePremium()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>

            <!--添加-->
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn" ng-click="addFeeItem()">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>

            <!--下载-->
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn" style="background-color: #fea353" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>

        </div>

        <!-- 下部分：检索结果显示区域 -->
        <div class="row col s12 mp-30">
            <div class="col s12 cyan white-text vc-center  fz18" style="height: 60px;" ng-if="insurancePremiumArrayList.length!==0">
                <div class="col s3 left-align bold">
                    总拖车金额:{{totalFee.total_trailer_fee}}元
                </div>
                <div class="col s3 center-align bold">
                    总提车金额:{{totalFee.car_parking_fee}}元
                </div>
                <div class="col s3 center-align bold">
                    总地跑金额:{{totalFee.total_run_fee}}元
                </div>
                <div class="col s3 right-align bold">
                    总带路金额:{{totalFee.lead_fee}}元
                </div>
            </div>

            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th>编号</th>
                    <th>调度编号</th>
                    <th>司机</th>
                    <th>电话</th>
                    <th>货车牌号</th>
                    <th>品牌</th>
                    <th>装车数</th>

                    <th>拖车费</th>
                    <th>地跑费</th>
                    <th>带路费</th>

                    <th>应发拖车费</th>
                    <th>应发地跑费</th>
                    <th>应发带路费</th>
                    <th>提车费</th>

                    <th>送达经销商</th>
                    <th>装车日期</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="car in insurancePremiumArrayList">
                    <td>{{car.id}}</td>
                    <td>{{car.dp_route_task_id}}</td>
                    <td>{{car.drive_name}}</td>
                    <td>{{car.mobile}}</td>
                    <td>{{car.truck_num}}</td>
                    <td>{{car.make_name}}</td>
                    <td>{{car.car_count}}</td>


                    <td>{{car.actual_trailer_fee}}</td>
                    <td>{{car.actual_run_fee}}</td>
                    <td>{{car.actual_lead_fee}}</td>

                    <td>{{car.total_trailer_fee}}</td>
                    <td>{{car.total_run_fee}}</td>
                    <td>{{car.lead_fee}}</td>
                    <td>{{car.car_parking_fee}}</td>


                    <td>{{car.short_name}}</td>
                    <td>{{car.load_date | date:'yyyy-MM-dd'}}</td>
                    <td>{{receiveStatus[car.status].status_name}}</td>
                    <td>
                        <a  class="btn-floating btn-small waves-light waves-effect cyan lighten-2  btn vc-center" ng-click="addSingleReissue(car)">
                            <i class="mdi mdi-plus"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="insurancePremiumArrayList.length == 0">
                    <td colspan="18"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- 上下页按钮 -->
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previousPage()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="nextPage()">
                    下一页
                </a>
            </div>
        </div>


    </div>
</div>