<div class="setting_dealer_details">
    <div class="row">
        <div class="row valign-wrapper " style="position: relative">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ui-sref="setting_shipments">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h5 class="col s12 cyan-text lighten-1  center-align">
                发货商信息
            </h5>
            <!--<div class="col s8 right-align">-->
            <!---->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div class="row" style="position: relative">
            <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
            <div class="col s6 dealer_details grey-text">
                <form name="add_setting_dealerFrom" ng-submit="add_setting_dealer(add_setting_dealerFrom.$valid)" novalidate>
                    <div class="row">

                        <div class="col s12 input-field"  ng-class="{'has-error':add_setting_dealerFrom.shipments_name.$invalid&&submitted }">
                            <input type="text" id="shipments_name" name="shipments_name" ng-model="shipments_name" required>
                            <label class="grey-text bold" for="shipments_name">公司全称</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 input-field">
                            <select material-select watch ng-model="setting_city_id">
                                <option value="" >选择城市</option>
                                <option ng-repeat="el in setting_city" ng-show="el.city_status==1" ng-value="el.id" >{{el.city_name}}</option>
                            </select>
                            <label class="grey-text bold">所属城市</label>
                        </div>
                        <div class="col s6 input-field" ng-class="{'has-error':add_setting_dealerFrom.address.$invalid&&submitted }" >
                            <input type="text" id="address" ng-model="input_address" autocomplete="off"  name="address" required>
                            <label class="grey-text bold" for="address">详细地址</label>
                            <i class="address_icon mdi mdi-near-me vc-center white-text" ng-click="search_location(input_address)" style="cursor: pointer"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s1 bold">备注:</div>
                        <div class="col s11">
                        <textarea name="" id="" ng-model="remark" style="height: 150px" >

                        </textarea>
                        </div>
                        <span class="right fz12">最多可以输入240个字符</span>

                    </div>
                    <div class="row">
                        <div class="col s2 offset-s6">
                            <button href="" type="submit" name="action" class="btn btn-floating cyan btn-large">
                                <i class="mdi mdi-check"></i>
                            </button>
                        </div>

                    </div>
                </form>

            </div>
            <div class="col s6 dealer_map" id="dealer_map">

            </div>
        </div>

    </div>
</div>