<div class="setting_dealer">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1  center-align">
                发运地信息
            </h5>
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div >
            <div class="row addShipments" style="width: 80%;margin: 0 auto">
                <div class="input-field col s4">
                    <select id="chooseCity" name="state" style="width:100%" ng-change="get_dealer()" ng-model="city">
                        <option value=""></option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="el in get_city" ng-value="el.id">{{el.city_name}}</option>
                    </select>

                </div>
                <div class="input-field col s4">
                    <select material-select watch id="s_dealer" class="grey-text"   ng-model="s_dealer">
                        <option value=""  selected>请选择</option>
                        <option ng-repeat="el in setting_shipments_city" ng-value="el.id" >{{el.addr_name}}</option>
                    </select>
                    <label for="s_dealer">发运地</label>
                </div>
                <div class="col s4">
                    <a href="" class="right btn-floating btn-large  btn waves-effect cyan lighten-1 waves-light vc-center "
                       ui-sref="add_setting_shipments"><i class="mdi mdi-plus"></i></a>
                    <a href="" ng-click="search_dealer()" style="margin-right: 20px" class="right btn-floating btn-large  btn waves-effect materialize-red lighten-2 waves-light vc-center "
                    ><i class="mdi mdi-magnify"></i></a>
                </div>
            </div>
            <div class="row dealerWrap">
                <div class="col s4" ng-repeat="el in setting_shipments" style="padding:20px 20px" >
                    <div class="card-panel white " style="padding: 0" >
                        <div class="row cyan lighten-2 white-text setting_shipments_title vc-center" style="padding: 10px">
                            <div class="col s1 white-text fz40 " style="margin-right: 10px">
                                <i class="mdi mdi-domain"></i>
                            </div>
                            <div class="col s10">
                                <h6 class="white-text fz18" ng-bind="el.addr_name"></h6>
                            </div>
                            <a  class="right btn-floating  setting_shipments_btn  btn waves-effect materialize-red  lighten-2 waves-light vc-center "
                                ui-sref="setting_shipments_details({shipments_id:el.id})"><i class="mdi mdi-pencil"></i></a>
                        </div>
                        <p class="grey-text row" style="padding:0 10px 0 10px;margin: 0">
                            <span class="col s2" style="min-width: 90px">所属城市:</span>
                            <span class="cyan-text text-lighten-2 col s9">{{el.city_name}}</span>
                        </p>
                        <p class="grey-text  row " style="padding: 10px 10px 20px 10px;margin:0;">
                            <span class="col s2" style="min-width: 90px">详细地址:</span>
                            <span class="col s9 clamp fz12">
                                {{el.address}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>