<div class="CarMsgWrap"  >
    <div class="row searchBoxWrap valign-wrapper">
        <div class="col s2">
            <div class="row valign-wrapper">
                <div class="col s4 center-align">
                    姓名:
                </div>
                <select car-select class="col s8 browser-default "  ng-model="carType" style="margin-bottom: 20px">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
            <div class="row valign-wrapper">
                <div class="col s4 center-align">
                    性别:
                </div>
                <select car-select class="col s8 browser-default " ng-model="beToType">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>

        </div>
        <div class="col s2">
            <div class="row valign-wrapper">
                <div class="col s5 center-align">
                    头车牌号:
                </div>
                <!--<select car-select class="col s8 ">-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">选项 1</option>-->
                <!--<option value="2">选项 2</option>-->
                <!--<option value="3">选项 3</option>-->
                <!--</select>-->
                <div class="input-field col s7">
                    <input placeholder=""  type="text" ng-model="carNum" class="validate">
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s5 center-align">
                    所属类型:
                </div>
                <select car-select class="col s7 browser-default " ng-model="insurance" ng-change="change(x)">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
        </div>
        <div class="col s2">
            <div class="row valign-wrapper ">
                <div class="col s5 center-align">
                    调度状态:
                </div>
                <select car-select class="col s7 browser-default " ng-model="carState" style="margin-bottom: 20px">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
            <div class="row valign-wrapper input-field">
                <div class="col s5 center-align">
                    所属公司:
                </div>
                <select car-select class="col s7 browser-default " ng-model="insurance" ng-change="change(x)">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
        </div>
        <div class="col s2">
            <div class="row valign-wrapper ">
                <div class="col s5 center-align">
                    工作状态:
                </div>
                <select car-select class="col s7 browser-default " ng-model="carState" style="margin-bottom: 20px">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
            <div class="row valign-wrapper input-field">
                <!--<div class="col s5 center-align">-->
                    <!--所属公司:-->
                <!--</div>-->
                <!--<select car-select class="col s7 browser-default " ng-model="insurance" ng-change="change(x)">-->
                    <!--<option value="" disabled selected>请选择</option>-->
                    <!--<option value="1">选项 1</option>-->
                    <!--<option value="2">选项 2</option>-->
                    <!--<option value="3">选项 3</option>-->
                <!--</select>-->
            </div>
        </div>
        <div class="col s1">
            <a style="width: 100%;padding:0  1rem" class="waves-effect waves-light btn-large" ng-click="search()">搜索</a>
        </div>
        <div class="col s3">
            <a style="width: 100%" ng-click="add_driver()" class="waves-effect waves-light materialize-red lighten-1 btn-large">增加司机</a>
            <div id="add_driver" class="modal">
                <form name="new_companyForm" ng-submit="submitForm(new_companyForm.$valid)" novalidate>
                    <div class="modal-content">
                        <h4 class="center-align">增加司机</h4>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="container" style="padding: 20px 0">
                                <div class="row form_box" ng-class="{ 'has-error' : new_companyForm.company_name.$invalid&&submitted }">
                                    <p class="col s2-0" style="padding: 10px 0.75rem"><span class="red-text">*</span><span style="font-size: 20px">公司名称:</span></p>
                                    <input   type="text" name="company_name" autocomplete="off" ng-model="addCompanyName" class="col s8-0 " required>
                                    <!--<div class="form-tips red white-text" ng-if="new_companyForm.company_name.$error&&submitted" ng-messages="new_companyForm.company_name.$error">-->
                                    <!--<div ng-message="required">不能为空</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="row ">
                                    <div class="col s6">
                                        <div class="row valign-wrapper no-marBottom" ng-class="{ 'has-error' : new_companyForm.OperateType.$invalid&&submitted }">
                                            <p class="col s4-0"><span class="red-text">*</span><span >合作性质:</span></p>
                                            <select car-select name="OperateType" class="browser-default col s6-0" ng-model="addOperateType" required>
                                                <option value="" disabled selected>请选择</option>
                                                <option value="1">自营</option>
                                                <option value="2">供方</option>
                                                <option value="3">外协</option>
                                                <option value="4">承包</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col s6">
                                        <div class="row valign-wrapper no-marBottom" ng-class="{ 'has-error' : new_companyForm.City.$invalid&&submitted }">
                                            <p class="col s4-0"><span class="red-text">*</span><span >所在城市:</span></p>
                                            <select car-select name="City" class="browser-default col s6-0" ng-model="addCityId" required>
                                                <option value="" disabled selected>请选择</option>
                                                <option ng-value="{{op.id}}" ng-repeat="op in citys">{{op.city_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="row form_box valign-wrapper no-marBottom" ng-class="{ 'has-error' : new_companyForm.contacts.$invalid&&submitted }">
                                            <p class="col s4-0"><span class="red-text">*</span><span >联系人:</span></p>
                                            <input  type="text" name="contacts" ng-model="addContacts" autocomplete="off" class=" col s6-0 " required>
                                            <!--<div class="form-tips red white-text" ng-if="new_companyForm.contacts.$error&&submitted" ng-messages="new_companyForm.contacts.$error">-->
                                            <!--<div ng-message="required">不能为空</div>-->
                                            <!--</div>-->
                                        </div>


                                    </div>
                                    <div class="col s6">
                                        <div class="row form_box valign-wrapper no-marBottom" ng-class="{ 'has-error' : new_companyForm.Tel.$invalid&&submitted }">
                                            <p class="col s4-0"><span class="red-text">*</span><span >联系电话:</span></p>
                                            <input name="Tel"  type="text" ng-model="addTel"v autocomplete="off" class="col s6-0 " required>
                                            <!--<div class="form-tips red white-text" ng-if="new_companyForm.Tel.$error&&submitted" ng-messages="new_companyForm.Tel.$error">-->
                                            <!--<div ng-message="required">不能为空</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row valign-wrapper " ng-class="{ 'has-error' : new_companyForm.company_name.$invalid&&submitted }">
                                    <p class="col s2-0"><span class="red-text">*</span><span>合作时间:</span></p>
                                    <div class="dateBox col s8-0 form_box" style="padding:0">
                                        <input type="text" name="CooperationTime" class="datepicker" autocomplete="off" ng-model="addCooperationTime" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                        <!--<div class="form-tips red white-text" ng-if="new_companyForm.CooperationTime.$error&&submitted" ng-messages="new_companyForm.CooperationTime.$error">-->
                                        <!--<div ng-message="required">不能为空</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="col s6"><span >备注:</span></p>
                                    <div class="col s12">
                                        <textarea style="height: 80px"  ng-model="addMark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="modal-footer vc-center">
                        <button class="btn waves-light waves-effect" type="submit" name="action" >
                            <i class="mdi mdi-check"></i>
                        </button>
                        <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                            <i class="mdi mdi-close"></i>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
        <div class="col s12" >
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="">姓名</th>
                    <th data-field="">性别</th>
                    <th data-field="">年龄</th>
                    <th data-field="">电话</th>
                    <th data-field="">所属类型</th>
                    <th data-field="">所属单位</th>
                    <th data-field="">车牌号</th>
                    <th data-field="">调度状态</th>
                    <th data-field="">工作状态</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="el in dirvierMsg">
                    <td ng-bind="el.drive_name"></td>
                    <td ng-if="el.gender==0">男</td>
                    <td ng-if="el.gender==1">女</td>
                    <td>汉</td>
                    <td ng-bind="el.tel"></td>
                    <td ng-bind="el.operate_type"></td>
                    <td ng-bind="el.company_name"></td>
                    <td ng-bind="el.truck_num"></td>
                    <td ng-bind="el.drive_status"></td>
                    <td ng-bind="el.drive_status"></td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye"></i></span>
                        <span><i class="mdi mdi-truck-delivery"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>李四</td>
                    <td>12</td>
                    <td>苗</td>
                    <td>张三</td>
                    <td>17</td>
                    <td>汉</td>
                    <td>张三</td>
                    <td>17</td>
                    <td>17</td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye"></i></span>
                        <span><i class="mdi mdi-truck-delivery"></i></span>
                    </td>

                </tr>
                <tr>
                    <td>李明</td>
                    <td>25</td>
                    <td>汉</td>
                    <td>张三</td>
                    <td>17</td>
                    <td>汉</td>
                    <td>张三</td>
                    <td>17</td>
                    <td>17</td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye"></i></span>
                        <span><i class="mdi mdi-truck-delivery"></i></span>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>