<div class="header">
    <nav class="row cyan lighten-1 z-depth-2 header">
        <div class="nav-wrapper " >
            <ul class="left" >
                <li >
                    <a id="menu_link"  style="margin-left: 0;display: block" data-activates="slide-out" class="button-collapse "><i class="mdi mdi-menu mdi-36px"></i></a>
                </li>
            </ul>

            <a href="#" class="brand-logo " >
                <div class="vc-center" style="height: 100% ">
                    <img class="responsive-img"  id="brand-logo" src="" alt="">
                    <!--<img class="responsive-img"   src="../assets/images/honya_white_logo.png" alt="">-->
                </div>

            </a>
            <ul class="right">
                <!--<li>-->
                <!--<div class="row valign-wrapper hSearch">-->
                <!--<input class="col s9  search" style="margin: 0" type="text">-->
                <!--<i  class="col s3 mdi mdi-magnify searchIcon" style="font-size: 45px"></i>-->
                <!--</div>-->
                <!--</li>-->
                <li>
                    <a class="right-align" onclick="toggleFullScreen()"><i class="mdi mdi-fullscreen mdi-36px"></i>

                    </a>
                </li>
                <li>
                    <a class="right-align"><i class="mdi mdi-cellphone-iphone mdi-36px" ng-click="download_app()" ></i></a>
                </li>
                <li>
                    <a class="right-align"><i class="mdi mdi-account mdi-36px" ng-click="amend_user()" ></i></a>
                </li>
                <!--<li>-->
                <!--<a><i class="mdi mdi-account-circle mdi-36px"></i></a>-->
                <!--</li>-->
                <li ng-click="logOut()">
                    <a><i class="mdi mdi-exit-to-app mdi-36px"></i></a>
                </li>
            </ul>
        </div>

    </nav>
    <div id="user_modal" class="modal">
        <div class="row" ul-tabs>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#amendPsw">修改密码</a></li>
                    <li class="tab col s6"><a  href="#amendImg">修改头像</a></li>
                </ul>
            </div>
            <div id="amendPsw" class="col s12" >
                <form name="amend_userFrom" ng-submit="amend_user_submit(amend_userFrom.$valid)" novalidate>
                    <div class="modal-content">
                        <h5 class="center-align grey-text">修改个人密码</h5>
                        <div class="divider cyan lighten-1" style="height: 2px"></div>
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12" ng-class="{'has-error':amend_userFrom.user_old_password.$invalid&&submitted}">
                                    <i class="mdi mdi-lock-open-outline prefix"></i>
                                    <input id="user_old_password" name="user_old_password" ng-model="user_old_password" autocomplete="off"  type="text" required >
                                    <label class="grey-text" for="user_old_password">原始密码</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" ng-class="{'has-error':amend_userFrom.user_new_password.$invalid&&submitted}">
                                    <i class="mdi mdi-lock-outline prefix"></i>
                                    <input ng-pattern="pwdReg" id="user_new_password" name="user_new_password" ng-model="user_new_password" autocomplete="off" type="text"  required>
                                    <label class="grey-text" for="user_new_password">新密码</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" ng-class="{'has-error':amend_userFrom.user_confirm_password.$invalid&&submitted}">
                                    <i class="mdi mdi-lock-outline prefix"></i>
                                    <input  id="user_confirm_password" name="user_confirm_password" autocomplete="off" ng-model="user_confirm_password" type="text" required>
                                    <label class="grey-text" for="user_confirm_password">确认密码</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer vc-center">
                        <button class="btn btn-floating waves-light waves-effect  cyan lighten-1" type="submit" name="action" >
                            <i  class="mdi mdi-check"></i>
                        </button>
                        <a style="margin-left: 50px" class="modal-action modal-close waves-light waves-effect red lighten-1 btn btn-floating">
                            <i  class="mdi mdi-close"></i>
                        </a>
                    </div>
                </form>
            </div>
            <div id="amendImg" class="col s12">
                <h5 class="center-align grey-text">修改头像</h5>
                <div class="divider cyan lighten-1" style="height: 2px"></div>
                <div class="row" style="margin-top: 50px;">
                    <form name="ImgForm" id="ImgForm">

                    </form>
                    <form name="amendImgForm" id="amendImgForm">
                        <div class="image-editor row">
                            <div class="col s4">
                                <div class="col s12 vc-center">
                                        <div style="width: 80px;height: 80px;border: 1px solid grey;margin-bottom: 50px">
                                            <img style="width: 100%;height: 100%" ng-src="{{userImg}}" alt="">
                                        </div>
                                </div>
                                <div class="col s12 vc-center">
                                    <a href="javascript:;" class="file btn ">选择头像
                                        <input type="file" class="cropit-image-input" ng-model="cropitImageInput">
                                    </a>
                                </div>

                            </div>
                           
                            <div class="col s8">
                                <div class="col s12 vc-center">
                                    <div class="cropit-preview " style="margin-top: 0"></div>
                                </div>
                                <div class="col s12 vc-center">
                                    <div style="position: relative ;width: 200px" >
                                        <div class="image-size-label center-align">
                                            放大图片比例
                                        </div>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <input type="hidden" name="image-data" class="hidden-image-data" />
                                    </div>
                                </div>
                                <div class="col s12 vc-center">
                                        <button ng-click="uploadAmendImg()"  class=" btn btn-floating">
                                            <i class="mdi mdi-check"></i>
                                        </button>
                                </div>

                            </div>

                        </div>
                    </form>
                    <!--<div class="col s4">-->
                        <!--<form name="uploadImageForm" class="uploadImageForm">-->
                            <!--<div class="upload_btn left">-->
                                <!--<div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">-->
                                    <!--<input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_drive(this)" max_size="4M">-->
                                    <!--<i class="mdi mdi-instagram"></i>-->
                                <!--</div>-->
                                <!--<p style="margin-top: 10px">行驶证照片</p>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<div class="col s8">-->
                        <!--<div class="col s8  push-s2" style="height: 350px;border: 1px solid grey">-->
                            <!--<img src="../../assets/images/dispatch_logo.png" style="width: 100%;height: 100%" alt="">-->
                        <!--</div>-->
                        <!--<div class="col s12 vc-center" style="margin-top: 20px">-->
                            <!--<a href="#!" class="btn btn-floating">-->
                                <!--<i class="mdi mdi-check"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>



    </div>

    <div id="download" class="modal">
        <div class="modal-content">
            <h5 class="center-align grey-text">下载app</h5>
            <div class="divider cyan lighten-1" style="height: 2px"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12 center" style="margin-top: 20px">
                        <img id="qrCode" style="width: 320px;height: 320px" src="" alt="#">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer vc-center" style="margin-top: -40px">
            <a class="modal-action modal-close waves-light waves-effect red lighten-1 btn btn-floating">
                <i  class="mdi mdi-close"></i>
            </a>
        </div>
    </div>

</div>

