<div>
    <form class="col s12">
        <div class="row">
            <div class="col s12 z-depth-1">
                <div id="pie_chart" ></div>
            </div>
            <div class="col s12 z-depth-1">
                <div id="column_chart" ></div>
            </div>
        </div>

        <div class="row">
            <a class="btn" onclick="Materialize.toast('收到即时消息', 4000,'rounded');">即时消息</a>
            <a class="btn purple darken-3"
               onclick="swal('添加成功','你成功的添加了一条记录.','success')">成功提示</a>
            <a class="btn red darken-3"
               onclick="swal('抱歉', '您提交的数据有错误!', 'error')">错误提示</a>
            <a class="btn blue darken-3"
               onclick="swal({
                              title: '你确定要删除这条记录吗',
                              text: '删除的信息将不能够在恢复!',
                              type: 'question',
                              showCancelButton: true,
                              confirmButtonText: '删除',
                              cancelButtonText: '算了'
                            }).then(function() {
                              swal(
                                '删除成功',
                                '你的数据已经被删除掉',
                                'success'
                              )
                            }, function(dismiss) {

                            })">确定提示</a>
            <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="中文提示">带提示的按钮</a>

        </div>
        <div class="row">
            <div class="col s4">
                <input type="checkbox" id="task1">
                <label for="task1" style="text-decoration: none;">自动登录
                </label>
            </div>
            <div class="col s4" >
                <label for="datapicker1" style="text-decoration: none;">日期选择</label>
                <input type="date" class="datepicker" id="datapicker1" date>



            </div>
            <div class="col s4">

            </div>

        </div>

        <div class="row">
            <div class="input-field col s2">
                <select >
                    <option value="" disabled selected>选择你的选项</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
        </div>

    </form>
</div>