<div class="add_system_warehouseWrap">
    <div class="row">
        <div class="row valign-wrapper">
            <div class="col s2">
                <a class=" btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
            </div>

            <h4 class="cyan-text text-lighten-1 col s8 center-align">{{storage.storage_name}}</h4>
            <div class="col s2">
                <a class="waves-light btn-floating btn-large waves-effect btn right cyan lighten-1" style="margin:0 30px 10px 0"  ng-click="add_newStorage_area()">
                    <i class="mdi mdi-plus"></i>
                </a>
                <div id="add_newStorage_area" class="modal">
                    <form name="Storage_area_Form" ng-submit="new_area_StorageForm(Storage_area_Form.$valid)" novalidate>
                        <div class="col s12  cyan white-text" style="height: 50px">
                            <h5 class="center-align" >新增区域</h5>
                        </div>

                        <div class="divider a1_divider" ></div>
                        <div class="modal-content">
                            <div class="container">
                                <div class="row" style="margin-top:80px">
                                    <div class="input-field" ng-class="{ 'has-error':Storage_area_Form.storage_area_Name.$invalid&&submitted }" >
                                        <input  id="storage_area_Name" name="storage_area_Name" autocomplete="off" ng-model="storage_area_Name" type="text"   required >
                                        <label for="storage_area_Name">区域名称<span style="color: red">*</span></label>
                                    </div>
                                </div>
                                <!--<div class="row" style="margin-top:40px">-->
                                    <!--<div class="input-field" ng-class="{ 'has-error':Storage_area_Form.storage_count.$invalid&&submitted }" >-->
                                        <!--<input  id="storage_count" name="storage_count" autocomplete="off" ng-model="storage_count" type="text"   required >-->
                                        <!--<label for="storage_count">总车位<span style="color: red">*</span></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row p0 cyan-text" style="margin-bottom: 0;margin-top: 40px">
                                    车道位：
                                </div>
                                <div class="row " >
                                    <div class="row input-field col s6" style="padding-left: 0" ng-class="{ 'has-error':Storage_area_Form.storage_are_row.$invalid&&submitted }" >
                                        <input  id="storage_are_row" name="storage_are_row" autocomplete="off" ng-model="storage_are_row" type="text"   required >
                                        <label for="storage_are_row">行<span style="color: red">*</span></label>
                                    </div>
                                    <div class="row input-field col s6 right" style="padding-right: 0" ng-class="{ 'has-error':Storage_area_Form.storage_are_col.$invalid&&submitted }" >
                                        <input  id="storage_are_col" name="storage_are_col" autocomplete="off" ng-model="storage_are_col" type="text"   required >
                                        <label for="storage_are_col">列<span style="color: red">*</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                        <div class="modal-footer right-align">
                            <a  class=" btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >
                                <i class="mdi mdi-close"></i>
                            </a>
                            <button class="btn btn-floating waves-light waves-effect cyan lighten-1" type="submit" name="action" style="margin-right: 10px" >
                                <i class="mdi mdi-check"></i>
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="divider" style="background: #00bcd4;height: 2px;"></div>

        <div class="row">
            <div class="col s4" ng-repeat="el in storageArea"  style="padding:20px 20px" >
                <div class="card-panel white " style="padding: 0" >
                    <div class="row  lighten-1 white-text setting_shipments_title vc-center" ng-class="{cyan:el.area_status==1,grey:el.area_status==0}"   style="padding: 10px">
                        <div class="col s1 white-text fz40 " style="margin-right: 10px">
                            <i class="mdi mdi-domain"></i>
                        </div>
                        <div class="col s10">
                            <h6 class="white-text fz18" >{{el.area_name}}</h6>
                        </div>
                        <a  class="right btn-floating  setting_shipments_btn  btn waves-effect materialize-red  lighten-2 waves-light vc-center "
                            ng-click="amend_storageArea(el.id)"><i class="mdi mdi-pencil"></i></a>
                        <div id="amend_StorageArea" class="modal">
                            <form name="amend_StorageAreaForm" ng-submit="amend_StorageArea(amend_StorageAreaForm.$valid,selfstorageArea.id)" novalidate>
                                <div class="col s12  cyan white-text" style="height: 50px">
                                    <h5 class="center-align" >编辑分区</h5>
                                </div>

                                <div class="divider a1_divider" ></div>
                                <div class="modal-content">
                                    <div class="container">
                                        <div class="row valign-wrapper" style="margin-top:80px">
                                            <div class="col s12 input-field" ng-class="{ 'has-error':amend_StorageAreaForm.storageAreaName.$invalid&&amend_submitted }" >
                                                <input  id="storageAreaName" class="black-text" name="storageAreaName" autocomplete="off" ng-model="selfstorageArea.area_name" type="text"   required >
                                                <label for="storageAreaName">区域名称<span style="color: red">*</span></label>
                                            </div>
                                        </div>
                                        <div class="row black-text">
                                            <div class="col s4">
                                                <span>仓库状态:</span>
                                                <span ng-if="storageArea_status==1">正常</span>
                                                <span ng-if="storageArea_status==0">停用</span>
                                            </div>

                                            <div class="col s2">
                                                 <span class="switch" ng-click="changeStorageArea_status(selfstorageArea.id,storageArea_status)" style="height: 30px">
                                                    <label>
                                                      <input type="checkbox" ng-checked="selfstorageArea.area_status==1" >
                                                      <span class="lever"></span>
                                                    </label>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                <div class="modal-footer right-align">
                                    <a  class=" btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                    <button class="btn btn-floating waves-light waves-effect cyan lighten-1" type="submit" name="action" style="margin-right: 10px" >
                                        <i class="mdi mdi-check"></i>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>

                    <p class="grey-text row" style="padding:0 10px 0 10px;margin: 0">
                        <span class="col s2" style="min-width: 90px">总车位:</span>
                        <span class="cyan-text text-lighten-2 col s9">{{el.row*el.col}}</span>
                    </p>
                    <p class="grey-text  row " style="padding: 10px 10px 20px 10px;margin:0;">
                        <span class="col s2" style="min-width: 90px">车道位:</span>
                        <span class="cyan-text text-lighten-2 col s9">
                               <span class="" style="margin-right: 10px">{{el.row}}</span>行<span style="margin:0 10px" class=" ">{{el.col}}</span>列
                        </span>

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>