<div class="setting_dealer">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1  center-align">
                经销商
            </h5>
        </div>
        <div class="row">
            <div class="divider cyan lighten-2"></div>
        </div>
        <div class="row" style="position: relative;margin-bottom: 0">
            <div class="col s4 grey-text" auto-map-height >
               <!--第一层 城市-->
                <div class="col s12" ng-show="flag==true" style="height: 590px;overflow: auto">
                    <!--统计  精确-->
                    <div class="row no-marBottom" ul-tabs>

                        <div class="col s12">
                            <ul class="tabWrap grey lighten-4">
                                <li class="tab col s6 test1 vc-center" ng-click="test1()">统计</li>
                                <li class="tab col s6 test2 vc-center" ng-click="test2()">精确</li>
                            </ul>
                        </div>
                        <div id="test1" class="col s12 tab_box">
                            <div ng-repeat="el in get_city" class="col s4" style=" padding:1rem;">
                                <div class="col s12 city_model_panel z-depth-1 center-align"  style="cursor: pointer">
                                    <p style="margin: 9px 0;" class="cyan-text" id="query" ng-click="getCityDealer(el.id)">{{el.city_name}}({{el.receive_count}})</p>
                                </div>
                            </div>
                        </div>
                        <div id="test2" class="col s12 tab_box" style="margin-top: 20px">
                            <div class="col s5">
                                <select id="citySelectOn"  material-select watch  ng-model="citySelect" ng-change="getRecive(citySelect)" style="width: 100%;margin-top: 10px">
                                    <option value="">请选择</option>
                                    <option ng-repeat="el in cityList" ng-value="el.id">{{el.city_name}}</option>
                                </select>
                            </div>
                            <div class="col s5">
                                <select material-select watch id="dealer" name="dealer"  ng-model="dealer"  style="width: 100%">
                                    <option value="" disabled selected>经销商</option>
                                    <option ng-repeat="el in get_receive" ng-value="el.id" >{{el.short_name}}</option>
                                </select>
                            </div>
                            <div class="col s2">
                                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"
                                   style="margin-right: 10px;margin-top: 5px" ng-click="getCityDealer(citySelect);getDetailDealer(dealer)">
                                    <i class="mdi mdi-magnify"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--第二层 经销商-->
                <div ng-show="get_receive.length!==0&&dealer_details==null" style="height: 590px;overflow: auto">
                    <div class="row col s12" style="margin-bottom: 50px" ng-show="flag==false">
                        <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="returnLast()">
                            <i class="mdi mdi-arrow-left-bold"></i>
                        </a>
                    </div>
                    <div ng-repeat="el in get_receive" class="row col s12 dealerBox grey lighten-3 p0" ng-click="getDetailDealer(el.id)" style="cursor: pointer;margin-bottom: 15px;height:70px">
                        <div class="col s12 valign-wrapper">
                            <div class="col s4 fz18">
                                <h6 class="blue-grey-text lighten-1">{{el.id+"     "+el.short_name}}</h6>
                            </div>
                            <div class="col s8">
                                <h6><span>公司名称:</span><span>{{el.receive_name}}</span></h6>
                            </div>
                        </div>
                        <div class="col s12 valign-wrapper">
                            <div class="col s12">
                                <h6><span>公司地址:</span><span>{{el.address}}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--第三层 详情-->
                <div ng-show="dealer_details!==null" id="dealer_details" class="col s12" style="margin-top: 30px;height: 560px;overflow: auto">
                    <div class="row">
                        <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                            <i class="mdi mdi-arrow-left-bold"></i>
                        </a>
                    </div>
                    <div class="row col s12" style="height: 320px;">
                        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 25px;font-size: 1.1rem;color: darkgray">
                            <div class="col s12" style="height: 50px;background-color: #dcdfe0;font-weight: bold;;line-height: 25px">
                                <div class="col s12 valign-wrapper">
                                    <div class="col s12 left-align cyan-text" style="padding: 0;">
                                        <p>经销商详情</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row col s12 wash_fee_details less_mar" style="color: darkgray;font-weight: bold;font-size: 1.05rem;">
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    公司编号:{{dealer_details.id}}
                                </div>
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    公司简称:{{dealer_details.short_name}}
                                </div>
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    公司全称:{{dealer_details.receive_name}}
                                </div>
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    详细地址:{{dealer_details.address}}
                                </div>
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    备注:{{dealer_details.remark}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col s12" style="height: 170px;">
                        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 25px;font-size: 1.1rem;color: darkgray">
                            <div class="col s12" style="height: 50px;background-color: #dcdfe0;font-weight: bold;;line-height: 25px">
                                <div class="col s12 valign-wrapper">
                                    <div class="col s12 left-align cyan-text" style="padding: 0;">
                                        <p>费用详情</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row col s12 wash_fee_details less_mar" style="color: darkgray;font-weight: bold;font-size: 1.05rem;">
                                <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    <div class="col s6">
                                        大车洗车费:<span class="red-text">{{dealer_details.big_clean_fee}}</span> 元
                                    </div>

                                    <div class="col s6">
                                        小车洗车费:<span class="red-text">{{dealer_details.clean_fee}}</span> 元
                                    </div>
                                </div>
                                 <div class="col s12" style="border-bottom: 1px solid darkgray;height: 50px;line-height: 50px">
                                    <div class="col s4">
                                        拖车费:<span class="red-text">{{dealer_details.trailer_fee}}</span>元
                                    </div>
                                    <div class="col s4">
                                        地跑费:<span class="red-text">{{dealer_details.run_fee}}</span>元
                                    </div>
                                    <div class="col s4">
                                        带路费:<span class="red-text">{{dealer_details.lead_fee}}</span>元
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--联系人-->
                    <div class="row col s12">
                        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 25px;font-size: 1.1rem;color: darkgray">
                            <div class="col s12" style="height: 50px;background-color: #dcdfe0;font-weight: bold;;line-height: 25px">
                                <div class="col s12 valign-wrapper">
                                    <div class="col s12 left-align cyan-text" style="padding: 0;">
                                        <p>联系人</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row col s12">
                                <table class="bordered striped text_mid">
                                    <thead class="blue-grey lighten-5">
                                    <tr class="grey-text text-darken-2">
                                        <th data-field="">姓名</th>
                                        <th data-field="">职位</th>
                                        <th data-field="">电话</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="el in dealerContacts" class="grey-text text-darken-1">
                                        <td  ng-bind="el.contacts_name"></td>
                                        <td  ng-bind="el.position"></td>
                                        <td  ng-bind="el.tel"></td>
                                    </tr>
                                    <tr class="grey-text text-darken-1" ng-if="dealerContacts.length == 0">
                                        <td colspan="3"><span style="letter-spacing: 2px">暂无数据</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--高德地图-->
            <div id="amap_setting_dealer" class="col s8 amap_test" style="height: 590px"></div>

        </div>

    </div>
</div>