<!-- 信息修改或新增模态框 -->
<div class="row" style="margin: 0">
    <div id="modifyModel" class="modal" style="width: 75%;">

        <!--标题-->
        <div class="cyan lighten-1 white-text center-align modal_title" >线路设置</div>


        <div class="modal-content  center padding bold row col s12" style="border-bottom: 1px solid #ccc">
            <div class="container col s12">
                <div class="col s12">
                    <div class="col s12" style="margin-top: 20px;">
                        <h6 class="cyan-text fz25 left-align" style="font-weight:500">{{startCity}}&emsp;
                            <span class="mdi mdi-swap-horizontal">&emsp;{{endCity}}</span>
                        </h6>
                    </div>
                    <div class="col s3 m3 l2" style="margin:5px 0;" ng-repeat="carBand in carBandList">
                        <a  style="width: 100%;font-size: 10px;height:44px;border:1px solid #00b0ff;padding: 0 10px;display: flex !important;" class="waves-effect vc-center  cyan white-text  waves-light btn">
                            <div>
                                <p style="margin: 0;display: block;height: 18px;line-height: 18px">{{carBand.make_name}}</p>
                                <p ng-if="carBand.dis !== ''" style="margin: 0;display: block;height: 18px;line-height: 18px">{{carBand.distance == "" ? carBand.distance :carBand.distance+'公里' +'x'+  carBand.fee+'元'}}</p>
                            </div>
                        </a>
                    </div>

                    <div class="row col s12" style="margin-top: 30px">

                        <!--品牌-->
                        <div class="input-field col s4">
                            <select material-select watch id="car_brand" name="car_brand" ng-options="car_brand.make_name for car_brand in get_carMake"   ng-model="car_brand" >
                                <option value="" disabled selected>请选择</option>
                            </select>
                            <label for="car_brand">品牌</label>
                        </div>
                        <div class="col s4 input-field">
                            <input  id="distance" ng-model="distance" type="number" name="distance"  required >
                            <label for="distance"><span style="color: red">*</span>公里数(公里)</label>
                        </div>
                        <div class="col s4 input-field">
                            <input  id="price" ng-model="price" type="number"  name="price" required >
                            <label for="price"><span style="color: red">*</span>价格(元)/公里</label>
                        </div>
                        <div class="col s12 right-align input-field">
                            总价：<span class="red-text bold fz20"> {{price*distance|number:4}}</span>元
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row col s12 center-align mp-10">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    <i class="mdi mdi-close"></i>
                </a>
            </div>
            <div class="col s2">
                <a ng-click="distanceModify()" class="waves-light waves-effect cyan lighten-1 btn">
                    <i class="mdi mdi-check"></i>
                </a>
            </div>
        </div>

    </div>
</div>



<div class="modal-content grey-text text-darken-2">
    <div class="row no-marBottom" ul-tabs style="overflow: hidden">
        <div class="storage_storeTitle vc-center">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h4 class="center-align cyan-text text-lighten-1">外协结算设置详情</h4>
        </div>
    </div>
</div>


<div  id="settingEntrust" class="row tab_box">


    <div class="row col s12" style="width: 96%;margin: 30px auto">

      <!--  <div class="row col s12 card grey-text bold" style="width: 99%;margin-left:0.5%;height:45px;line-height: 45px">
            <div class="col s12">
                <select material-select watch ng-model="companyItem.id" ng-change="changeClient(companyItem.id)">
                    <option ng-repeat="el in companyArr" ng-value=el.id>
                        {{el.company_name}}
                        <div style="float: right">已设置线路数:&nbsp;&nbsp;{{el.company_count}}</div>

                    </option>
                </select>
            </div>
        </div>
-->
        <div class="col s6" style="margin-bottom: 30px">
            <div class="col s12 z-depth-1" style="height: 45px;"></div>
            <div class="col s12 z-depth-2 white" style="min-height: 600px">
                <div class="col s3 m3 l2" style="margin:10px 0;" ng-repeat="startCity in startCityList">
                    <a ng-click="searchCityLine(startCity,$index)" style="width: 100%;font-size: 10px;height:44px;border:1px solid #00b0ff;padding: 0 10px;display: flex !important;" class="waves-effect vc-center   {{startCity.flag? 'white cyan-text':'cyan white-text'}}  waves-light btn">
                        <div>
                            <p style="margin: 0;display: block;height: 18px;line-height: 18px">{{startCity.city_name}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s6" style="margin-bottom: 30px">
            <div class="col s12 z-depth-1 bold" style="height: 45px;line-height: 45px">
                <div class="col s6 cyan-text">{{startCity == undefined ? "暂无" : startCity}}</div>
            </div>
            <div class="col s12 z-depth-2" style="background-color: white;min-height: 600px">
                <div class="col s3 m3 l2" style="margin:10px 0" ng-repeat="endCity in endCityList">
                    <a ng-click="modifyLineInfo(endCity,endCity.flag,$event)" style="width: 100%;font-size: 10px;height:44px;border:1px solid #00b0ff;padding: 0 10px;display: flex !important;" class="waves-effect vc-center {{endCity.flag==1?'grey':'white  cyan-text'}} waves-light btn">
                        <div id="endCity">
                            <p style="margin: 0;display: block;height: 18px;line-height: 18px">{{endCity.city_name}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>