<div class="setting_vin_match">
    <div id="clickAdd" class="modal">
            <div class="modal-content">
                <h4 class="center-align ">新增车型匹配</h4>
                <div class="divider cyan" style="height: 2px;"></div>
                <div class="container">
                    <div class="row" style="margin-top: 40px">
                       <div class="col s6 input-field">
                           <input id="addVin" ng-model="addVin"  type="text" >
                           <label for="addVin" class="addVin" >vin</label>
                       </div>
                        <div class="col s6 input-field">
                            <select material-select watch id="add_car_brand" name="add_car_brand"  ng-model="addMakeId" >
                                <option value="" disabled selected>请选择</option>
                                <option ng-repeat="el in get_carMake" ng-value="el">{{el.make_name}}</option>
                            </select>
                            <label for="add_car_brand">品牌</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 40px">
                        <div class="col s12 input-field">
                            <input id="addRemark" ng-model="addRemark"  type="text" >
                            <label for="addRemark" class="addRemark" >备注</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider" style="height: 2px;"></div>
            <div class="modal-footer vc-center">
                <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
                <button class="btn waves-light waves-effect cyan lighten-2" type="submit" name="action" style="margin-left: 10px" ng-click="addItem()">确定</button>
            </div>

    </div>
    <div id="clickLook" class="modal">
            <div class="modal-content">
                <h4 class="center-align ">车型匹配详情</h4>
                <div class="divider cyan" style="height: 2px;"></div>
                <div class="container">
                    <div class="row" style="margin-top: 40px">
                        <div class="col s6 input-field">
                            <input id="putVin" ng-model="boxItem.vin"  type="text" >
                            <label for="putVin" class="addVin" >vin</label>
                        </div>
                        <div class="col s6 input-field">
                            <select material-select watch id="put_car_brand" name="put_car_brand"  ng-model="boxItem.make_id" >
                                <option value="" disabled selected>请选择</option>
                                <option ng-repeat="el in get_carMake" ng-value="el.id">{{el.make_name}}</option>
                            </select>
                            <label for="put_car_brand">品牌</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 40px">
                        <div class="col s12 input-field">
                            <input id="putRemark" ng-model="boxItem.remark"  type="text" >
                            <label for="putRemark" class="active" >备注</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider" style="height: 2px;"></div>
            <div class="modal-footer vc-center">
                <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
                <button class="btn waves-light waves-effect cyan lighten-2" type="submit" name="action" style="margin-left: 10px" ng-click="putItem()">确定</button>
            </div>

    </div>
    <div style="width: 90%;margin: 0 auto">
        <div class="row" style="height: 135px">
            <div class="col s12 m12">
                <div class="col s12  " style="margin-bottom: 15px;">
                    <div class="input-field col s3 " style="margin-top: 40px;margin-left: 70px">
                        <div class="col s12 p0" >
                            <input name="search_id" id="search_id" type="text" ng-model="search_vin" >
                            <label for="search_id">VIN</label>
                        </div>
                    </div>
                    <div class="input-field col s4 " style="margin-top: 40px;margin-left: 100px;">
                        <select material-select watch id="car_brand" name="car_brand"  ng-model="car_brand" >
                           <option value="" disabled selected>请选择</option>
                           <option ng-repeat="el in get_carMake" ng-value="el.id">{{el.make_name}}</option>
                        </select>
                        <label for="car_brand">品牌</label>
                    </div>

                    <div class="col s1 flex flex-round right" style="margin-top: 30px;">
                        <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center" ng-click="clickAdd()">
                            <i class="mdi mdi-plus"></i>
                        </a>
                    </div>
                    <div class="col s1 flex flex-round right" style="margin-top: 30px;">
                        <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
                           style="margin-right: 10px" ng-click="searchData()">
                            <i class="mdi mdi-magnify"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:90%;margin:0 auto;background: white">
        <div class="col s12">
            <div class="col s12">
                <div class="divider cyan" style="height: 2px"></div>
                <table class="bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">编号</th>
                        <th data-field="">vin</th>
                        <th data-field="">品牌</th>
                        <th data-field="">备注</th>
                        <th data-field="">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="el in vinList" class="grey-text text-darken-1">
                        <td>{{el.id }}</td>
                        <td>{{el.vin}}</td>
                        <td>{{el.make_name}}</td>
                        <td>{{el.remark}}</td>
                        <td class="operation vc-center">
                            <a  ng-click="readItem(el.id)" class="cyan-text fz12" style="cursor: pointer;display: inline-block;width: 37px;height: 37px;">  <i style="font-size: 1.3rem;line-height: 38px" class="mdi mdi-file-document"></i></a>
                            <a ng-click="deleteCar(el.id)" class="red-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center"><i style="font-size: 1.3rem;line-height: 38px" class="mdi mdi-delete-forever"></i></a>
                        </td>
                    </tr>
                    <tr class="grey-text text-darken-1" ng-if="vinList.length == 0">
                        <td colspan="5"><span style="letter-spacing: 2px">暂无数据</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="paging_box col s12">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre"   ng-click="previousPage()"> 上一页</a>
            <a class="waves-light waves-effect cyan lighten-1 btn" id="next"  ng-click="nextPage()"> 下一页 </a>
        </div>
    </div>
</div>