<div class="setting_line">
    <div class="row valign-wrapper">
        <h5 class="col s12 cyan-text lighten-1 center-align">
            路线设置
        </h5>
    </div>
    <div class="row">
        <div class="divider cyan lighten-2"></div>
    </div>
    <div class="row" style="width: 90%;margin: 0 auto">

        <!-- 信息修改模态框 -->
        <div id="modifyModel" class="modal modal-fixed-footer" style="height: 400px">
            <div class="modal-content center" style="font-weight: bold">
                <h4>编辑线路</h4>
                <div class="divider black lighten-2"></div>
                <div class="row vc-center" style="height: 40%">
                    <h6 class="black-text fz40" style="font-weight:600">{{startCity}}&emsp;
                        <span class="mdi mdi-swap-horizontal">&emsp;{{endCity}}</span>
                    </h6>
                </div>
                <div class="row col s8 vc-center offset-s2 fz18" style="height: 28%;">
                    <p class="col s3" style="text-align: right">
                        里程数：
                    </p>
                    <div class="col s6">
                        <input style="text-align: center" type="number" ng-model="distance" placeholder="请输入里程数">
                    </div>
                    <p class="col s3" style="text-align: left">
                        公里
                    </p>
                </div>
            </div>
            <div class="modal-footer vc-center">
                <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn">
                    <i class="mdi mdi-close"></i>
                </a>
                <button ng-click="distanceModify()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                    <i class="mdi mdi-check"></i>
                </button>
            </div>
        </div>

        <!--新增路线模态框-->
        <div id="createModel" class="modal modal-fixed-footer" style="height: 450px">
            <div class="modal-content center" style="font-weight: bold">
                <h4>新增线路</h4>
                <div class="divider black lighten-2"></div>
                <div class="row input-field col s6 offset-s3" style="margin-top: 34px">
                    <select id="c_city" material-select watch class="grey-text"
                            ng-change="getEndCity()"
                            ng-options="city.city_name for city in cityList"
                            ng-model="createStartCityInfo">
                        <option value="" selected>请选择</option>
                        <!--<option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>-->
                    </select>
                    <label for="c_city">起始城市</label>
                </div>
                <div class="row input-field col s6 offset-s3">
                    <select material-select watch id="routeEndCity" class="grey-text" ng-model="createEndCityId">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="city in createEndCityList" ng-disabled="city.distance != null" ng-value="city.end_id">{{city.city_name}}&emsp;{{city.distance == null ? null : city.distance + "公里"}}</option>
                    </select>
                    <label for="routeEndCity">结束城市</label>
                </div>
                <div class="row col s8 vc-center offset-s2 fz18" style="height: 25%;">
                    <p class="col s3" style="text-align: right">
                        里程数：
                    </p>
                    <div class="col s6">
                        <input style="text-align: center" type="number" ng-model="createDistance" placeholder="请输入里程数">
                    </div>
                    <p class="col s3" style="text-align: left">
                        公里
                    </p>
                </div>
            </div>
            <div class="modal-footer vc-center">
                <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn">
                    <i class="mdi mdi-close"></i>
                </a>
                <button ng-click="createNewLine()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                    <i class="mdi mdi-check"></i>
                </button>
            </div>
        </div>

        <!--搜索栏-->
        <div class="input-field col s5">
            <select material-select watch id="s_city" class="grey-text" ng-model="startCityId">
                <option value="" selected>请选择</option>
                <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
            </select>
            <label for="s_city">起始城市</label>
        </div>
        <div class="input-field col s5">
            <select material-select watch id="e_city" class="grey-text" ng-model="endCityId">
                <option value="" selected>请选择</option>
                <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
            </select>
            <label for="e_city">结束城市</label>
        </div>
        <div class="col s2">
            <a ng-click="showCreateModel()" class="right btn-floating btn-large btn waves-effect cyan lighten-1 waves-light vc-center ">
                <i class="mdi mdi-plus"></i>
            </a>
            <a ng-click="searchLineInfo()" style="margin-right: 52px"
               class="right btn-floating btn-large  btn waves-effect materialize-red lighten-2 waves-light vc-center "
            ><i class="mdi mdi-magnify"></i></a>
        </div>

        <!--信息卡片-->
        <div class="row">
            <div class="col s4" style="padding:20px 20px" ng-repeat="line in lineList">
                <div class="card-panel white " style="padding: 0">
                    <div class="row cyan lighten-2 white-text setting_shipments_title vc-center" style="padding: 10px;height: 82px">
                        <!--<div class="col s1 white-text fz40 " style="margin-right: 10px">-->
                            <!--<i class="mdi mdi-domain"></i>-->
                        <!--</div>-->
                        <div class="col s12 center">
                            <h6 class="white-text fz22" style="font-weight:600">{{line.route_start}}&emsp;<span style="font-size: 2.3rem" class="mdi mdi-swap-horizontal"></span><span>&emsp;{{line.route_end}}</span></h6>
                        </div>

                        <a class="right btn-floating setting_shipments_btn  btn waves-effect materialize-red  lighten-2 waves-light vc-center ">
                            <i ng-click="showCardDetails(line.id,line.route_start,line.route_end,line.distance)" class="mdi mdi-pencil"></i>
                        </a>
                    </div>
                    <p class="grey-text row center" style="padding: 10px 10px 20px 10px;margin:0">
                        <span style="font-size: 1.5rem;color:rgb(229,115,115);font-weight: bold">{{line.distance}}&nbsp;</span>
                        公里
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>