<div id="setting_amend_vin" >
    <div class="grey-text text-darken-2" >
            <div class=" vc-center ">
                <h4 class="center-align cyan-text text-lighten-1">VIN查询</h4>
            </div>
            <div class="divider cyan" style="height: 2px;"></div>
            <div class="row no-marBottom">
                <div class="row " style="width: 900px;margin: 0 auto">
                    <form name="demand_car_form" novalidate>
                        <div class="mp-30 valign-wrapper" style="overflow: hidden">
                            <div class="col s1 cyan-text text-lighten-1" style="font-size: 25px;min-width: 90px">VIN:</div>
                            <div class="input-field col s10">
                                <span></span>
                                <input type="text" id="demand_vin" name="demand_vin" ng-model="demand_vin" placeholder="仅支持17位VIN查询"  autocomplete="off"  required minlength="17" maxlength="17">
                            </div>
                            <div  class="col s1 vc-center " >
                                <button ng-click="demand_car()" class=" btn btn-floating btn-large waves-effect cyan lighten-1" ><i style="font-size: 40px" class="mdi white-text mdi-magnify"></i></button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="row  mp-50" >
                    <div style="width: 80%;height: 30ex;margin: 0 auto">
                        <p class="no_car_detail center-align cyan-text text-lighten-1 mp-50">无该VIN车辆信息</p>
                        <div class="car_detail mp-50 col s6" ng-repeat="carItem in carDetailList">

                            <div class="row  blue-grey lighten-5" style="width:90%;border:1px solid #bdbdbd">
                                <!-- header -->
                                <div class="col s12  cyan-text vc-center left-align" style="height:85px;border-bottom :1px solid #bdbdbd">
                                    <div class="col s6">
                                        <h5 class="col s3 cyan-text text-lighten-1">VIN:</h5>
                                        <span class="col s9 grey-text brand_box{{$index}}"  style="font-size: 18px;margin-top: 15px;">{{carItem.vin}}</span>
                                        <input class="col s9 grey-text flag_box{{$index}}"  style="font-size: 11px;display: none" type="text" id="amend_vin" ng-model="vin" name="search_vin">
                                    </div>
                                    <div class="col s4 right-align offset-s4">
                                        <a class="btn  btn-small btn-floating waves-effect cyan brand_box{{$index}}"  ng-click="open_vin_amend($index)"> <i class="mdi mdi-pencil "></i></a>
                                        <a class="btn  btn-small btn-floating waves-effect cyan flag_box{{$index}}"  ng-click="close_vin_amend($index)" style="margin-right: 10px;display: none"> <i class="mdi mdi-close " ></i></a>
                                        <a class="btn  btn-small btn-floating waves-effect cyan flag_box{{$index}}"  ng-click="amend_vin(carItem.id,$index,vin)" style="display: none"> <i class="mdi mdi-check "></i></a>
                                    </div>
                                </div>

                                <div class="col s12 white" style="height:20px;"></div>
                                <!-- body -->
                                <div class="col s12 white disabled" style="height:70px;">
                                    <div class="input-field col s4">
                                        <select material-select watch  id="look_makecarName"  name="look_makecarName"  ng-model="carItem.make_id" disabled required>
                                            <option value="" disabled selected>请选择</option>
                                            <option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>
                                        </select>
                                        <label for="look_makecarName" ><span style="color: red">*</span>制造商</label>
                                    </div>
                                    <div class="input-field col s4 ">
                                        <select material-select watch id="client1" name="client" disabled  ng-model="carItem.entrust_id" >
                                            <option value="" disabled selected>请选择</option>
                                            <option ng-repeat="el in get_entrust" ng-value="el.id" >{{el.short_name}}</option>
                                        </select>
                                        <label for="client1">委托方</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <input type="text" id="last_name" class="datepicker " disabled date ng-model="order_date"><i
                                            class="mdi dataIcon mdi-table-large"></i>
                                        <label for="last_name">指令时间</label>
                                    </div>
                                </div>
                                <!-- body -->
                                <div class="col s12 white" style="height:70px;">
                                    <div class="input-field col s4">
                                        <input type="text" id="chooseStartCity" disabled  ng-model="carItem.route_start" >
                                        <label for="chooseStartCity">发运地城市</label>
                                      <!--  <select disabled material-select watch  id="chooseStartCity" name="state" style="width:100%"  ng-model="carItem.route_start_id">
                                            <option value="0">发运地城市</option>
                                            <option ng-repeat="city in get_city" ng-value="city.id">{{city.city_name}}</option>
                                        </select>-->
                                    </div>
                                    <div class="input-field col s4">
                                        <input type="text" id="start_addr" disabled  ng-model="carItem.addr_name" >
                                        <label for="start_addr">发运地名称</label>
                                        <!--<select  disabled material-select watch id="start_addr" name="start_addr"    ng-model="carItem.addr_name" >
                                            <option value="" disabled selected>请选择</option>
                                            <option ng-repeat="start_addr in start_address" ng-value="start_addr.id" >{{start_addr.addr_name}}</option>
                                        </select>
                                        <label for="start_addr">发运地名称</label>-->
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" id="chooseEndCity" disabled  ng-model="carItem.route_end" >
                                        <label for="chooseEndCity">目的地城市</label>
                                        <!--<select disabled  material-select watch  id="chooseEndCity" name="state" style="width:100%"  ng-model="carItem.route_end_id">
                                            <option value="0">目的地城市</option>
                                            <option ng-repeat="city in get_city" ng-value="city.id" >{{city.city_name}}</option>
                                        </select>-->
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" id="dealer" disabled  ng-model="carItem.re_short_name" >
                                        <label for="dealer">经销商</label>
                                       <!-- <select disabled material-select watch id="dealer1" name="dealer" ng-model="carItem.receive_id">
                                            <option value="" disabled selected>请选择</option>
                                            <option ng-repeat="el in get_receive" ng-value="el.id" >{{el.short_name}}</option>
                                        </select>
                                        <label for="dealer1">经销商</label>-->
                                    </div>
                                </div>
                                <!-- body -->
                                <div class="col s12 white" disabled style="height:170px;">
                                    <p class="col s12 min-width-2 left-align cyan-text" >备注:</p>
                                    <div class="col s12 valign-wrapper" disabled style="position: relative">
                                        <p class=" col s12 p0">
                                            <textarea id="look_remark" style="height: 50px" name="remark" class="col s12" ng-model="carItem.remark"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="col s12 input-field center-align" style="margin-top: 30px ; margin-bottom: 30px" >
                                    <a href="" class="btn waves-effect circle_button red" ng-click="deleteDataItem(carItem.id)">删除</a>
                                </div>
                            </div>
                        </div>

                     </div>

                </div>
            </div>
    </div>
</div>