<div class="">
    <div class="row">
        <div class="row">
            <h5 class="center-align cyan-text text-lighten-1">重置密码</h5>
        </div>
        <div class="divider cyan  lighten-2"></div>
        <div  style="width: 500px;margin: 0 auto">
            <form class="col s12 " style="padding: 20px" name="settingPwForm" ng-submit="settingPswForm(settingPwForm.$valid)" novalidate>
                <div class="row" >
                    <!--<div class="col s1-0 vc-center" style="font-size:40px">-->
                    <!--<i  class="mdi mdi-account"></i>-->
                    <!--</div>-->
                    <div class="input-field col s12" ng-class="{ 'has-error' : settingPwForm.primary_code.$invalid&&submitted }">
                        <i  class="mdi mdi-account prefix"></i>
                        <input  id="primary_code" class="grey-text text-darken-2" name="primary_code" autocomplete="off" ng-model="primaryCode"  type="password" required >
                        <label for="primary_code" class="grey-text text-lighten-1">原始密码</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" ng-class="{'has-error':settingPwForm.new_code.$invalid&&submitted}">
                        <i  class="mdi mdi-lock prefix"></i>
                        <input  id="new_code"  autocomplete="off" ng-model="newCode"   name="new_code" required type="password" class="validate" >
                        <label for="new_code" class="grey-text text-lighten-1">新密码</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" ng-class="{'has-error':settingPwForm.confirm_psw.$invalid&&submitted||newCode!=confirmPsw&&submitted}">
                        <i  class="mdi mdi-lock prefix"></i>
                        <input  id="confirm_psw" ng-model="confirmPsw" autocomplete="off"  name="confirm_psw"  required type="password" class="" >
                        <label for="confirm_psw" class="grey-text text-lighten-1">确认密码</label>
                    </div>
                </div>
                <div class="row vc-center">
                    <button class="btn  btn-floating waves-light waves-effect cyan lighten-1" type="submit" name="action" >
                        <i class="mdi mdi-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>