<div class="setting_city">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">路线设置</h5>
    </div>
    <div class="divider" style="background: #00bcd4;height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
    <div class="row col s12" style="width: 96%;margin: 0 auto">
        <!-- 信息修改或新增模态框 -->
        <div id="modifyModel" class="modal modal-fixed-footer" style="height: 400px">
            <div class="modal-content center" style="font-weight: bold">
                <h4>{{modifyFlag ? "修改线路" : "新增线路"}}</h4>
                <div class="divider black lighten-2"></div>
                <div class="row vc-center" style="height: 40%">
                    <h6 class="black-text fz40" style="font-weight:600">{{startCity}}&emsp;
                        <span class="mdi mdi-swap-horizontal">&emsp;{{endCity}}</span>
                    </h6>
                </div>
                <div class="row col s8 vc-center offset-s2 fz18" style="height: 28%;">
                    <p class="col s3" style="text-align: right">
                        里程数：
                    </p>
                    <div class="col s6">
                        <input style="text-align: center" type="number" ng-model="distance" placeholder="请输入里程数">
                    </div>
                    <p class="col s3" style="text-align: left">
                        公里
                    </p>
                </div>
            </div>
            <div class="modal-footer vc-center">
                <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn">
                    <i class="mdi mdi-close"></i>
                </a>
                <button ng-click="distanceModify()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                    <i class="mdi mdi-check"></i>
                </button>
            </div>
        </div>

        <div class="col s6">
            <p class="center-align" style="color: grey;font-weight: bold;font-size: 1.2rem;margin: 15px 0">当前起始城市：<span>{{startCity == undefined ? "暂无" : startCity}}</span></p>
            <div class="col s12 z-depth-2" style="background-color: white;min-height: 600px">
                <div class="col s2" style="margin:10px 0" ng-repeat="startCity in startCityList">
                    <a ng-click="searchCityLine(startCity,$index)" style="width: 100%;font-size: 10px;padding: 0 10px;" class="waves-effect cyan waves-light btn">{{startCity.city_name}}</a>
                </div>
            </div>
        </div>
        <div class="col s6" style="margin-top: 56px">
            <div class="col s12 z-depth-2" style="background-color: white;min-height: 600px">
                <div class="col s2" style="margin:10px 0" ng-repeat="endCity in endCityList">
                    <a ng-click="modifyLineInfo(endCity)" style="width: 100%;font-size: 10px;padding: 0 10px;" class="waves-effect {{endCity.flag ? 'cyan':'grey'}} waves-light btn">{{endCity.city_name}}{{endCity.dis == "" ? endCity.dis : "(" + endCity.dis + "公里)"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>