<div class="setting_city">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">路线设置</h5>
    </div>
    <div class="divider cyan" style="height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
    <div class="row col s12" style="width: 96%;margin: 0 auto">
        <!-- 信息修改或新增模态框 -->
        <div id="modifyModel" class="modal modal-fixed-footer" style="height: 500px">
            <div class="modal-content center" style="font-weight: bold">
                <h4>设置线路</h4>
                <div class="divider black lighten-2"></div>
                <div class="row vc-center" style="height: 30%">
                    <h6 class="black-text fz40" style="font-weight:600">{{startCity}}&emsp;
                        <span class="mdi mdi-swap-horizontal">&emsp;{{endCity}}</span>
                    </h6>
                </div>
                <div class="row col s8 vc-center offset-s2 fz18" style="height: 20%;">
                    <p class="col s3" style="text-align: right">
                        里程数：
                    </p>
                    <div class="col s6">
                        <input style="text-align: center" type="number" ng-model="distance" placeholder="请输入里程数">
                    </div>
                    <p class="col s3" style="text-align: left">
                        公里
                    </p>
                </div>
                <div class="row col s8 vc-center offset-s2 fz18" style="height: 20%;">
                    <p class="col s3" style="text-align: right">
                        保道费：
                    </p>
                    <div class="col s6">
                        <input style="text-align: center" type="number" ng-model="applyProtectCost" placeholder="请输入保道费">
                    </div>
                    <p class="col s3" style="text-align: left">
                        元
                    </p>
                </div>
            </div>
            <div class="modal-footer vc-center">
                <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn">
                    <i class="mdi mdi-close"></i>
                </a>
                <button ng-click="distanceModify()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                    <i class="mdi mdi-check"></i>
                </button>
            </div>
        </div>

        <div class="col s12">
            <p class="center-align" style="color: grey;font-weight: bold;font-size: 1.3rem;margin: 15px 0">当前起始城市：<span style="font-size: 1.5rem">{{startCity == undefined ? "暂无" : startCity}}</span></p>
        </div>
        <div class="col s6" style="margin-bottom: 30px">
            <div class="col s12 z-depth-2" style="background-color: white;min-height: 600px">
                <div class="col s3 m3 l2" style="margin:10px 0" ng-repeat="startCity in startCityList">
                    <a ng-click="searchCityLine(startCity,$index)" style="width: 100%;font-size: 10px;height:44px;padding: 0 10px;display: flex !important;" class="waves-effect vc-center cyan waves-light btn">
                        <div>
                            <p style="margin: 0;display: block;height: 18px;line-height: 18px">{{startCity.city_name}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s6" style="margin-bottom: 30px">
            <div class="col s12 z-depth-2" style="background-color: white;min-height: 600px">
                <div class="col s3 m3 l2" style="margin:10px 0" ng-repeat="endCity in endCityList">
                    <a ng-click="modifyLineInfo(endCity)" style="width: 100%;font-size: 10px;height:44px;padding: 0 10px;display: flex !important;" class="waves-effect vc-center {{endCity.flag ? 'cyan':'grey'}} waves-light btn">
                        <div>
                            <p style="margin: 0;display: block;height: 18px;line-height: 18px">{{endCity.city_name}}</p>
                            <p ng-if="endCity.dis !== ''" style="margin: 0;display: block;height: 18px;line-height: 18px">{{ "(" + endCity.dis + "km)"}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>