<div class="system_warehouseWrap">
    <div class="row">
        <div class="row">
            <h5 class="cyan-text text-lighten-1 center-align">仓库设置</h5>
        </div>

        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
        <div>
            <a class="waves-light btn-floating btn-large waves-effect btn right cyan lighten-1" style="margin: 10px 30px 10px 0"  ng-click="newStorage()">
                <i class="mdi mdi-plus"></i>
            </a>
            <div id="newStorage" class="modal">
                <form name="StorageForm" ng-submit="newStorageForm(StorageForm.$valid)" novalidate>
                    <div class="col s12  cyan white-text" style="height: 50px">
                        <h5 class="center-align">创建新仓库</h5>
                    </div>

                    <div class="divider a1_divider" ></div>
                    <div class="modal-content">
                        <div class="container">
                            <div class="row" style="margin-top:80px">
                                <div class="row input-field" ng-class="{ 'has-error':StorageForm.storageName.$invalid&&submitted }" >
                                    <input  id="storageName" name="storageName" autocomplete="off" ng-model="newStorageName" type="text"   required >
                                    <label for="storageName"><span style="color: red">* </span>仓库名称</label>
                                </div>
                                <div class="row cyan-text">
                                    备注:
                                </div>
                                <div class="row" ng-class="{ 'has-error' : StorageForm.storage_remark.$invalid&&submitted }">
                                    <textarea  id="storage_remark"  style="height: 100px" name="storage_remark" type="text" autocomplete="off"  ng-model="newStorageRemark" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                    <div class="modal-footer right-align">
                        <a  class=" btn-floating modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >
                            <i class="mdi mdi-close"></i>
                        </a>
                        <button class="btn btn-floating waves-light waves-effect cyan lighten-1" type="submit" name="action" style="margin-right: 10px" >
                            <i class="mdi mdi-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col s12" >
            <table class="highlight bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="table_header grey-text text-darken-1">
                    <th  data-field="">仓库编号</th>
                    <th  data-field="">仓库名称</th>
                    <th  data-field="">总车位</th>
                    <th  data-field="">状态</th>
                    <th class=" table_operation center-align">操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="el in storage" class="grey-text text-darken-1">
                    <td ng-bind="el.id"></td>
                    <td ng-bind="el.storage_name"></td>
                    <td ng-bind="el.total_seats?el.total_seats:0"></td>
                    <td ng-if="el.storage_status==1">在用</td>
                    <td ng-if="el.storage_status==0">停用</td>
                    <td class="operation table_operation vc-center">
                        <span><i class="mdi mdi-eye cyan-text text-lighten-1" ui-sref="add_setting_storage({id:el.id,from:'setting_storage'})" ></i></span>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="storage.length == 0">
                    <td colspan="4"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>