<div>

    <div id="newOperator" class="modal">
        <form name="operatorForm" ng-submit="submitForm(operatorForm.$valid)" novalidate>
            <div class="modal-content">
                <h4 class="center-align ">增加操作员</h4>
                <div class="divider cyan" style="height: 2px;"></div>
                <div class="container">
                    <div class="row" style="margin-top: 40px">
                        <div class="row" ng-class="{ 'has-error':operatorForm.phone.$invalid&&submitted }" >
                            <h5 class="col s2-0">
                                <span style="color: red">*</span>
                                电话:</h5>
                            <input  id="phone" name="phone" autocomplete="off" ng-model="newUserName" type="text"   required class=" col s6-0">
                            <div class="col s2-0 sexBox" sex-change >
                                <i class="mdi mdi-human-male sex " sex="1" ></i>
                                <i class="mdi mdi-human-female " sex="0"  ng-class="{ 'sex' : new_companyForm.Tel.$invalid&&submitted }"></i>
                            </div>
                        </div>
                        <div class="row" ng-class="{ 'has-error':operatorForm.password.$invalid&&submitted }">
                            <h5 class="col s2-0">
                                <span style="color: red">*</span>
                                密码:
                            </h5>
                            <input id="password" name="password" autocomplete="off" ng-model="newUserPassword" type="text" required class=" col s6-0">
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <div class="row" ng-class="{ 'has-error' : operatorForm.dep.$invalid&&submitted }">
                                    <h5 class="col s4-0">
                                        <span style="color: red">*</span>
                                        部门:
                                    </h5>
                                    <select car-select name="dep" class="browser-default col s6-0" ng-model="newDepId" required>
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in user_info_section" ng-value="el.type">{{el.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s6"  ng-class="{ 'has-error' : operatorForm.new_userName.$invalid&&submitted }">
                                <h5 class="col s4-0">
                                    <span style="color: red">*</span>
                                    姓名:
                                </h5>
                                <input  id="new_userName" name="new_userName" type="text" autocomplete="off"  ng-model="newRealName" required class=" col s6-0">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider cyan" style="height: 2px;"></div>
            <div class="modal-footer vc-center">
                <button class="btn waves-light waves-effect cyan lighten-2" type="submit" name="action" >
                    <i class="mdi mdi-check"></i>
                </button>
                <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn" style="margin-left: 10px" >
                    <i class="mdi mdi-close"></i>
                </a>
            </div>
        </form>

    </div>

    <div class="row">
        <div class="row">

            <div class="input-field col s5">
                <select material-select ng-model="userType" ng-change="getName(userType)">
                    <option ng-repeat="user in user_info_section" ng-value='user.type'>{{user.name}}</option>
                </select>
            </div>

            <div class=" input-field col s5">
                <select style="width: 100%" id="name" material-select watch ng-model="realName">
                    <option value="" selected>请选择</option>
                    <option ng-repeat="name in nameList" ng-value="name.real_name">{{name.real_name}}</option>
                </select>
            </div>

            <div class="col s1 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
                   style="margin-right: 10px" ng-click="clickSearch()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s1 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center" ng-click="newOperator()">
                    <!--增加操作员-->
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>


        </div>
        <div class="divider cyan" style="height: 2px;"></div>
        <div class="col s12">
            <table class="highlight bordered striped text_mid">
                <thead>
                <tr class="table_header blue-grey lighten-5 grey-text text-darken-1">
                    <th width="260" data-field="">姓名</th>
                    <th data-field="">性别</th>
                    <th data-field="">部门</th>
                    <th data-field="">手机号</th>
                    <th data-field="">工作状态</th>
                    <th width="200" class="table_operation">操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="el in matchUser" class="grey-text text-darken-1">
                    <td width="260" ng-bind="el.real_name"></td>
                    <td ng-if="el.gender==0">女</td>
                    <td ng-if="el.gender==1">男</td>
                    <td>{{el.type | department}}</td>
                    <td ng-bind="el.mobile"></td>
                    <td ng-if="el.status==1">可用</td>
                    <td ng-if="el.status==0">停用</td>
                    <td width="200" class="operation table_operation vc-center" >
                        <span><i class="mdi mdi-eye cyan-text text-lighten-1" ng-click="lookOperation(el.uid)"></i></span>
                        <span class="switch" ng-click="changeStatus(el.status,el.uid)" style="height: 30px;">
                            <label>
                                <input type="checkbox" ng-checked="el.status==1">
                                <span class="lever"></span>
                            </label>
                        </span>
                        <div id="look_Operator" class="modal">
                            <form name="change_operatorForm" ng-submit="changeOperatorForm(change_operatorForm.$valid,look_operation.uid)" novalidate>
                                <div class="modal-content">
                                    <h4 class="center-align">操作员信息</h4>
                                    <div class="divider cyan" style="height: 2px;"></div>
                                    <div class="container">
                                        <div class="row" style="margin-top: 40px">
                                            <div class="row" ng-class="{ 'has-error' : change_operatorForm.new_userName.$invalid&&submitted }">
                                                <h5 class="col s2-0">
                                                    <span style="color: red">*</span>
                                                    姓名:</h5>
                                                <input  id="look_userName" name="new_userName" type="text" autocomplete="off" ng-model="look_operation.real_name" required class=" col s6-0">
                                                <div class="col s2-0 sexBox" sex-change >
                                                    <i class="mdi mdi-human-male " sex="1" ng-class="{ 'sex' : look_operation.gender=='1' }"></i>
                                                    <i class="mdi mdi-human-female " sex="0"  ng-class="{ 'sex' : look_operation.gender=='0' }"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6">
                                                    <div class="row" ng-class="{ 'has-error' : change_operatorForm.dep.$invalid&&submitted }">
                                                        <h5 class="col s4-0">
                                                            <span style="color: red">*</span>
                                                            部门:
                                                        </h5>
                                                        <select car-select name="dep" class="browser-default col s6-0" ng-model="look_operation.type" required>
                                                            <option ng-repeat="el in user_info_section" ng-value="el.type">{{el.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col s6" ng-class="{ 'has-error':change_operatorForm.phone.$invalid&&submitted }">
                                                    <h5 class="col s4-0">
                                                        <span style="color: red">*</span>
                                                        电话:
                                                    </h5>
                                                    <input  id="look_phone" name="phone" ng-model="look_operation.mobile" autocomplete="off" type="text" required class=" col s6-0">
                                                </div>
                                            </div>
                                            <div class="row" ng-class="{ 'has-error':change_operatorForm.password.$invalid&&submitted }">
                                                <div class="col s6">
                                                    工作状态:
                                                    <span ng-if="look_operation.status==0">停用</span>
                                                    <span ng-if="look_operation.status==1">可用</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider cyan" style="height: 2px;"></div>
                                <div class="modal-footer vc-center">
                                    <button class="btn waves-light waves-effect cyan lighten-1" type="submit" name="action" >
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                    <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn" style="margin-left: 10px" >
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="matchUser.length == 0">
                    <td colspan="8"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre"   ng-click="previous_page()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next"  ng-click="next_page()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>