<div class="download_app">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">下载app</h5>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col s12" ul-tabs>
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="font-size: 25px;font-weight: bold;overflow-x: hidden">
                <li class="tab"><a ng-click="showStorage()" style="color: #26c6da" href="javascript:void(0)">仓储app</a></li>
                <li class="tab"><a ng-click="showVehicle()" style="color: #26c6da" href="javascript:void(0)">车管app</a></li>
                <li class="tab"><a ng-click="showDispatch()" style="color: #26c6da" href="javascript:void(0)">调度app</a></li>
                <li class="tab"><a ng-click="showDriver()" style="color: #26c6da" href="javascript:void(0)">司机app</a></li>
                <li class="tab"><a ng-click="showDamage()" style="color: #26c6da" href="javascript:void(0)">质损app</a></li>
                <li class="tab"><a ng-click="showSettlement()" style="color: #26c6da" href="javascript:void(0)">结算app</a></li>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="storage">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_storage_app_800.png" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="vehicle">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_tm_app_800.png" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="dispatch">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_dispatch_app_800.png" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="driver">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_driver_app_800.png" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="damage">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_damage_app_800.png" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="settlement">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_account_app_800.png" alt="">
            </div>
        </div>
    </div>
</div>