<div class="download_app">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">下载app</h5>
    </div>
    <div class="row mp-20">
        <div class="col s12" ul-tabs>
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="font-size: 25px;font-weight: bold;overflow-x: hidden">
                <li class="tab"><a ng-click="showStorage()" class="cyan-text"  href="javascript:void(0)">仓储app</a></li>
                <li class="tab"><a ng-click="showVehicle()" class="cyan-text"  href="javascript:void(0)">车管app</a></li>
                <li class="tab"><a ng-click="showDispatch()" class="cyan-text"  href="javascript:void(0)">调度app</a></li>
                <li class="tab"><a ng-click="showDriver()" class="cyan-text"  href="javascript:void(0)">司机app</a></li>
                <li class="tab"><a ng-click="showDamage()" class="cyan-text"  href="javascript:void(0)">质损app</a></li>
                <li class="tab"><a ng-click="showSettlement()" class="cyan-text"  href="javascript:void(0)">结算app</a></li>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="storage">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcStorage}}" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="vehicle">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcVehicle}}" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="dispatch">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcDispatch}}" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="driver">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcDriver}}" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="damage">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcDamage}}" alt="">
            </div>
        </div>
    </div>
    <div class="row" ng-if="settlement">
        <div class="col s12 mp-50">
            <div class="col s4 offset-s4 center">
                <img style="width: 75%" ng-src="{{srcSettlement}}" alt="">
            </div>
        </div>
    </div>
</div>