
<div class="storage_car_map" >
    <div class="" style="width: 95%;margin: 0 auto">
        <div class="modal-content">
            <div class="storage_storeTitle left-align">
                <a class=" btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
            </div>

            <div class="row cyan lighten-1 white-text" style="padding: 0.75rem 0;margin: 10px 0 0 0 ">
                <div class="row valign-wrapper">
                    <h5 class="col s2"><span ng-bind="storage.storage_name" class="white-text text-darken-1"></span></h5>
                    <div class="col s5">
                        <p class="col s4">
                            <span>总车位:</span>
                            <span class="" style="font-size: 22px">{{storage.total_seats}}</span>
                        </p>
                        <p class="col s4">
                            <span>已用车位:</span>
                            <span class="" style="font-size: 22px">{{storage.balance}}</span>
                        </p>
                        <p class="col s4">
                            <span>剩余车位:</span>
                            <span class="" style="font-size: 22px" ng-bind="storage.total_seats-storage.balance">5</span>
                        </p>
                    </div>
                    <div class="col s5">
                        <p class="col s6" style="font-size: 18px" >
                            <span>今日入库车辆:</span>
                            <span class="white-text" style="font-size: 30px" ng-bind="storage.imports"></span>
                        </p>
                        <p class="col s6" style="font-size: 18px">
                            <span>今日出库车辆:</span>
                            <span class="white-text" style="font-size: 30px" ng-bind="storage.exports"></span>
                        </p>
                    </div>
                </div>
                <div class="divider col s12 white" style="height: 1px;"></div>
                <div class="row " style="margin-bottom:0" ng-if="show_area">
                    <div class="col s2">
                        <select material-select watch id="area" ng-change="get_area_count(area.id)"  ng-model="area" ng-options="area.area_name for area in storageArea" >
                            <!--<option ng-repeat="el in storageArea" ng-value="el.id">{{el.area_name}}</option>-->
                        </select>
                    </div>
                    <div class="col s5" style="margin-top: 10px">
                        <p class="col s4">
                            <span>总车位:</span>
                            <span class="" style="font-size: 22px">{{self_storageArea.row*self_storageArea.col}}</span>
                        </p>
                        <p class="col s4">
                            <span>车位:</span>
                            <span class="" style="font-size: 22px">{{self_storageArea.row}}</span>
                            道
                            <span class="" style="font-size: 22px">{{self_storageArea.col}}</span>
                            位
                        </p>
                    </div>
                </div>
                <!--       <p class="col s2">
                    <span>车位:</span>
                    <span class="" ng-bind="storage.row" style="font-size: 22px"></span>
                    <span>道</span>
                </p>
                <p class="col s2">
                    <span>每道</span>
                    <span class="" ng-bind="storage.col" style="font-size: 22px">5</span>
                    <span>车位</span>
                </p>
                <p class="col s2">
                    <span>总车位:</span>
                    <span class="" style="font-size: 22px">{{storage.row*storage.col}}</span>
                </p>
                <p class="col s2">
                    <span>剩余车位:</span>
                    <span class="" style="font-size: 22px" ng-bind="storage.row*storage.col-storage.balance">5</span>
                </p>
                <p class="col s2" style="font-size: 18px" >
                    <span>今日入库车辆:</span>
                    <span class="white-text" style="font-size: 36px" ng-bind="storage.imports"></span>
                </p>
                <p class="col s2" style="font-size: 18px">
                    <span>今日出库车辆:</span>
                    <span class="white-text" style="font-size: 36px" ng-bind="storage.exports"></span>
                </p>-->
            </div>
            <div class="divider cyan" style="height: 2px;"></div>
            <div class="row" ng-if="show_area">
                <div class=" col s12 garageWrapTitle vc-center grey-text text-darken-1">
                    <div class="col s8">
                        <div class="col s4 ">
                            停放车辆
                            <i class="mdi mdi-car cyan-text lighten-1" style="font-size: 25px"></i>
                        </div>
                        <!--<div class="col s4">-->
                            <!--临近出库车辆-->
                            <!--<i class=" mdi mdi-car red-text text-lighten-2" style="font-size: 25px"></i>-->
                        <!--</div>-->
                        <div class="col s4">
                            未停放车辆
                            <i class=" mdi mdi-car grey-text text-lighten-2" style="font-size: 25px" ></i>
                        </div>
                    </div>
                    <div class="col s4">
                    </div>
                </div>
                <div class="garageWrap_storage white">
                    <div class="garageBox row " style="display: inline">

                        <div class=" col s12 garage_list p0 grey lighten-4 cyan-text bold text-lighten-1 " >
                            <div class="garage_row vc-center left"></div>
                            <div class="garage_col vc-center left" ng-repeat="el in ageParkingCol">
                                {{el.col}}
                            </div>
                        </div>
                        <div class="col s12  garage_list p0"  ng-repeat="el in garageParkingArray">
                            <div class="garage_row vc-center left">
                                <div class="garage_row_index white-text vc-center">
                                    {{$index+1}}
                                </div>
                            </div>
                            <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index ">
                                <!--<a href="#" ui-sref="storage_car_details({id:els.carId,vin:els.vin,_form:_form,from:'storage_car_map'})"><i ng-show="els.carId!=0&&els.plan_time==true" class=" mdi mdi-car red-text text-lighten-2" ></i></a>-->
                                <a href="#" ui-sref="storage_car_details({id:els.carId,vin:els.vin,_form:_form,from:'storage_car_map'})"><i ng-show="els.carId!=0" class=" mdi mdi-car cyan-text lighten-1" ></i></a>
                                <i ng-show="els.carId==0" class=" mdi mdi-car grey-text text-lighten-2" ng-click="new_garage_parking(els.storage_name,els.storage_id,el.row,els.col,els.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        </div>
    </div>

</div>