<div class="row homeWrap">
    <div class="row ">
        <div class="col  s6 m4 l3 homeWrapList ">
            <div class="red lighten-2 valign-wrapper z-depth-2">
                <div class="col s3 offset-s1 ">
                    <div class=" s_index_icon red lighten-4 vc-center left ">
                        <i class="mdi mdi-car red-text text-lighten-2 "></i>
                    </div>
                </div>
                <div class="col s7  white-text  pull-s1 text-lighten-2 right-align">
                    <div class=" white-text text-lighten-2 left-align">
                        仓储总车位
                    </div>
                    <h5 ng-bind="storage_allStorage " class="right-align">00</h5>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 homeWrapList ">
            <div class="red lighten-2 valign-wrapper z-depth-2">
                <div class="col s3 offset-s1 ">
                    <div class=" s_index_icon red lighten-4 vc-center left">
                        <i class="mdi mdi-car red-text text-lighten-2"></i>
                    </div>

                </div>
                <div class="col s7 white-text  pull-s1 text-lighten-2 ">
                    <div class=" white-text text-lighten-2 left-align">
                        库存总车辆
                    </div>
                    <h5 ng-bind="storage_index_count.sumBalance" class="right-align"></h5>
                </div>

            </div>
        </div>
        <div class="col s6 m4 l3 homeWrapList ">
            <div class="red lighten-2 valign-wrapper z-depth-2">
                <div class="col s3 offset-s1 ">
                    <div class=" s_index_icon red lighten-4 vc-center left">
                        <i class="mdi mdi-car red-text text-lighten-2"></i>
                    </div>

                </div>
                <div class="col s7 white-text  pull-s1 text-lighten-2 ">
                    <div class="white-text text-lighten-2 left-align">
                        今日入库
                    </div>
                    <h5 ng-bind="storage_index_count.sumImports" class="right-align"></h5>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 homeWrapList ">
            <div class="red lighten-2 valign-wrapper z-depth-2">
                <div class="col s3 offset-s1 ">
                    <div class=" s_index_icon red lighten-4 vc-center left">
                        <i class="mdi mdi-car red-text text-lighten-2"></i>
                    </div>

                </div>
                <div class="col s7 white-text pull-s1 text-lighten-2  ">
                    <div class=" white-text text-lighten-2 left-align">
                        今日出库
                    </div>
                    <h5 ng-bind="storage_index_count.sumExports" class="right-align"></h5>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s3 storage_detailsList "  ng-if="el.storage_status==1" ng-repeat="el in storage_index_list">
            <div  class="storage_details white z-depth-2">
                <div class="s_d_data light-blue-text text-accent-3 valign-wrapper">
                    <div class="col s6 vc-center">
                        <percent value={{el.balance}} total={{el.total_seats?el.total_seats:0}}>
                            <div style="width: 150px;height: 150px;"></div>
                        </percent>
                    </div>
                    <div class="col s6 center-align">
                        <h5 class="cyan-text text-lighten-2 left-align" ng-bind="el.storage_name"></h5>
                        <p class="left-align"><span class="grey-text"><i class="mdi mdi-checkbox-blank-circle-outline cyan-text text-lighten-2 "></i>总车位:</span><span class="cyan-text text-lighten-2" ng-bind="el.total_seats?el.total_seats:0"></span></p>
                        <p class="left-align"><span class="grey-text"><i class="mdi mdi-checkbox-blank-circle cyan-text text-lighten-2 "></i>已用车位:</span><span class="cyan-text text-lighten-2" ng-bind="el.balance"></span></p>
                    </div>
                </div>
                <div class="s_d_data_today valign-wrapper">
                    <div class="col s4 vc-center  cyan-text text-lighten-2">
                        <i style="display: block" class="mdi mdi-login"></i>
                        <!--<span style="display: block" ng-bind="el.imports"></span>-->
                    </div>
                    <div class="col s4 vc-center  cyan-text text-lighten-2">
                        <i style="display: block" class="mdi  mdi-arrow-down-bold-circle-outline"></i>
                        <!--<span ng-bind="el.balance"></span>-->
                    </div>
                    <div class="col s4 vc-center red-text text-lighten-2 text-lighten-2">
                        <i style="display: block" class="mdi mdi-logout"></i>
                        <!--<span ng-bind="el.exports"></span>-->
                    </div>
                </div>
                <div class="s_d_data_today_number valign-wrapper">
                    <div class="col s4 vc-center  cyan-text text-lighten-2">

                        <span style="display: block" ng-bind="el.imports"></span>
                    </div>
                    <div class="col s4 vc-center  cyan-text text-lighten-2">

                        <span ng-bind="el.balance"></span>
                    </div>
                    <div class="col s4 vc-center red-text text-lighten-2 text-lighten-2">

                        <span ng-bind="el.exports"></span>
                    </div>
                </div>
                <a href="" ui-sref="storage_car_map({id:el.storage_id,form:'storage_index'})" class="s_d_details-btn  btn valign-wrapper" >查看详情</a>
            </div>
        </div>
    </div>
</div>