<div class="Storage_car"  >
    <div class="row main_storage_car">
        <div class="row  grey-text text-darken-1">
            <div class="col s12">
                <div class="input-field col s4">
                    <div class="col s12 p0">
                        <input name="search_vin" id="search_vin" type="text" ng-model="search_vin" minlength="6" >
                        <label for="search_vin">车辆VIN码(最少6位)</label>
                    </div>
                </div>
                    <div class="input-field col s2">
                        <select material-select watch id="search_makeId" ng-model="search_makeId">
                            <option value="" class="cyan-text text-lighten-2"  selected>请选择</option>
                            <option ng-repeat="el in makecarName" ng-value="el.id">{{el.make_name}}</option>
                        </select>
                        <label for="search_makeId">制造商</label>
                    </div>
                    <div class="input-field col s2">
                        <select material-select id="search_relStatus" watch ng-model="search_relStatus">
                        <option value="">请选择</option>
                        <option ng-repeat="el in rel_status" ng-value="el.s_num">{{el.status_text}}</option>
                        </select>
                        <label for="search_relStatus">车辆状态</label>
                    </div>
                    <div class="input-field col s2">
                        <select material-select watch id="search_storage" ng-model="search_storage" >
                            <option value="" class="cyan-text text-lighten-2"  selected>请选择</option>
                            <option ng-repeat="el in storage" ng-value="el.id">{{el.storage_name}}</option>
                        </select>
                        <label for="search_storage">所在仓库</label>
                    </div>
                    <div class="input-field col s2">
                        <select material-select id="search_dealer" watch ng-model="search_dealer">
                            <option value=""  >请选择</option>
                            <option ng-repeat="el in get_receive" ng-value="el.id">{{el.short_name}}</option>
                        </select>
                        <label for="search_dealer">经销商</label>
                    </div>
            </div>
            <div class="col s12 " style="margin-top: 15px">
                <div class="input-field col s2">
                    <select id="chooseShipmentStart" name="state" style="width:100%" ng-change="eliminateCityId()" ng-model="source_city">
                        <option value="">全部</option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="city in get_city" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="input-field col s2">
                    <select id="chooseEndCity" name="state" style="width:100%" ng-change="eliminateCityId()" ng-model="arrive_city">
                        <option value="">全部</option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="city in get_city" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="input-field col s2">
                    <select material-select watch id="client" ng-model="client" >
                        <option value="" class="cyan-text text-lighten-2"  selected>请选择</option>
                        <option ng-repeat="el in get_entrust" ng-value="el.id">{{el.short_name}}</option>
                    </select>
                    <label for="client">委托方</label>
                </div>
                <div class="col input-field s2 ">
                    <input type="text" ng-model="order_time_start" id="order_time_start" name="order_time_start"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="order_time_start">指令时间(始)</label>
                </div>
                <div class="col input-field s2 ">
                    <input type="text" ng-model="order_time_end" id="order_time_end" name="order_time_end"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="order_time_end">指令时间(终)</label>
                </div>
                <div class="col s2 searchBtn-box">
                    <a class="searchBtn btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="searchStorage_car()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
            </div>
            <div class="col s12 " style="margin-top: 15px">
                <div class="col input-field s2 ">
                    <input type="text" ng-model="put_in_time_start" id="put_in_time_start" name="put_in_time_start"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="put_in_time_start">入库时间(始)</label>
                </div>
                <div class="col input-field s2 ">
                    <input type="text" ng-model="put_in_time_end" id="put_in_time_end" name="put_in_time_end" class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="put_in_time_end">入库时间(终)</label>
                </div>
                <div class="col input-field s2 ">
                    <input type="text" ng-model="out_time_start" id="out_time_start" name="out_time_start" class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="out_time_start">实际出库时间(始)</label>
                </div>
                <div class="col input-field s2 ">
                    <input type="text" ng-model="out_time_end" id="out_time_end" name="out_time_end" class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="out_time_end">实际出库时间(终)</label>
                </div>
            </div>
        </div>
        <div class="col s12" >
            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">VIN码</th>
                    <th data-field="">制造商</th>
                    <th data-field="">入库时间</th>
                    <th data-field="">存放车库</th>
                    <th data-field="">存放区域</th>
                    <th data-field="">存放位置</th>
                    <th data-field="">实际出库时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in storage_car" class="grey-text text-darken-1">
                    <td ng-bind="el.vin"></td>
                    <td ng-bind="el.make_name"></td>
                    <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td ng-if="el.storage_id!=null" ng-bind="el.storage_name"></td>
                    <td ng-if="el.storage_id==null" >无</td>
                    <td ng-bind="el.area_name">无</td>
                    <td ng-if="el.col!=null">{{el.row}}排{{el.col}}列</td>
                    <td ng-if="el.col==null">无</td>
                    <td ng-bind="el.real_out_time|date:'yyyy-MM-dd'"></td>
                    <td class="operation">
                        <a href="#" ui-sref="storage_car_details_({id:el.id,vin:el.vin,from:'storage_car',mark:1,status:el.rel_status})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                        <span>
                            <i ng-if="el.rel_status==1" class="mdi mdi-rotate-left cyan-text lighten-1" ng-click="changeStorageCar(el.storage_id,el.storage_area_id,el.id,el.row,el.col)"></i>
                        </span>
                        <div id="change_storageCar" class="modal ">
                            <form name="look_garageForm" >
                                <div class="modal-content">
                                    <h4 class="center-align">车辆移位</h4>
                                    <div class="divider"></div>
                                    <div class=" col s12 garageWrapTitle vc-center" style="margin-bottom: 10px">
                                        <div class="col s8 valign-wrapper">
                                            <div class="col s4">
                                                <select material-select watch id="area" ng-change="get_area_count(area.id)" ng-model="area" ng-options="area.area_name for area in storageArea" >
                                                    <!--<option ng-repeat="el in storageArea" ng-value="el.id">{{el.area_name}}</option>-->
                                                </select>
                                            </div>
                                            <div class="col s4 center-align">
                                                停放车辆
                                                <i class="mdi mdi-car cyan-text lighten-1"></i>
                                            </div>

                                            <div class="col s4 center-align">
                                                未停放车辆
                                                <i class=" mdi mdi-car  grey-text lighten-1 "></i>
                                            </div>
                                        </div>
                                        <div class="col s4 ">
                                            <div class="col s6 offset-s3">
                                                当前位置
                                                <span class="red-text" ng-bind="now_row"></span>
                                                <span>排</span>
                                                <span class="red-text" ng-bind="now_col"></span>
                                                <span>列</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="garageWrap">
                                            <div class="garageBox ">
                                                <div class=" col s12 garage_list p0" >
                                                    <div class="garage_row vc-center left"></div>
                                                    <div class="garage_row vc-center left" ng-repeat="el in ageParkingCol">
                                                        {{el.col}}
                                                    </div>
                                                </div>
                                                <div class="col s12  garage_list p0"  ng-repeat="el in garageParkingArray" >
                                                    <div class="garage_row vc-center left">{{$index+1}}</div>
                                                    <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index" ng-class="{'present_place':els.storage_area_id==area_id&&el.row==now_row&&els.col==now_col}">
                                                        <i ng-show="els.carId!=0" class=" mdi mdi-car cyan-text lighten-1"></i>
                                                        <i ng-show="els.carId==0" class=" mdi mdi-car grey-text lighten-2" ng-click="move_parking(els.id,el.row,els.col)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <span>
                            <i ng-if="el.rel_status==1" class="mdi mdi-logout cyan-text lighten-1" ng-click="outStorageCar(el.r_id,2,el.p_id,el.storage_id,el.id)" ></i>
                            <i ng-if="el.rel_status==2" class="mdi mdi-login cyan-text lighten-1" ng-click="loginStorageCar(el.vin,el.id)"></i>
                                <div id="loginStorageCar" class="modal modal-fixed-footer">
                            <form name="login_garageForm" ng-submit="login_submit(login_garageForm.$valid,login_storage_name.id,login_storage_name.storage_name,login_parkingId)" novalidate>
                                <div class="modal-content">
                                    <h4 class="center-align">车辆入库</h4>
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <select material-select watch name="login_storage_name" ng-change="changeStorageId(login_storage_name.id)" ng-options="o.storage_name for o in storageName|filter:{storage_status:'1'}" ng-model="login_storage_name" required>
                                                <option value=""  selected>请选择</option>
                                                <!--<option ng-repeat="el in storageName" ng-value="el.id">{{el.storage_name}}</option>-->
                                            </select>
                                            <label >车库</label>
                                        </div>
                                        <div class="input-field col s3">
                                             <select material-select watch id="login_area" name="login_area" ng-change="get_area_count(area.id)" ng-model="area" ng-options="area.area_name for area in storageArea" >
                                                    <!--<option ng-repeat="el in storageArea" ng-value="el.id">{{el.area_name}}</option>-->
                                                   <option value=""  selected>请选择</option>
                                                </select>
                                            <label for="login_area">区域</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <select material-select watch name="login_storageRow" ng-model="login_storageRow" ng-change="changeStorageRow(login_storageRow,garageParkingArray)" required>
                                                <option value=""  selected>请选择</option>
                                                <option ng-repeat="el in garageParkingArray" ng-value="el.row">{{el.row}}</option>
                                            </select>
                                            <label >排</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <select material-select watch ng-model="login_parkingId"  name="login_parkingId" required>
                                                <option value=""  selected>请选择</option>
                                                <!--<option ng-repeat="el in colArr" ng-value="el.id">{{el.col}}</option>-->
                                                <option ng-repeat="el in colArr" ng-if="el.carId==0"  ng-value="el.id" >{{el.col}}</option>
                                                <option ng-repeat="el in colArr" ng-if="el.carId!=0" disabled  >{{el.col}}</option>
                                            </select>
                                            <label >道位</label>
                                        </div>
                                    </div>
                                 <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                </div>
                                 <div class="modal-footer vc-center">
                                    <a  class=" modal-action  waves-effect grey lighten-1waves-light btn" ng-click="close_rel()" style="margin-right: 10px" >
                                        取消
                                    </a>
                                    <button class="btn waves-light waves-effect  cyan lighten-1" type="submit" name="action" >
                                        确定
                                    </button>
                                </div>
                            </form>
                        </div>
                        </span>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="storage_car.length == 0">
                    <td colspan="8"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn  " ng-show="pre"  id="pre"   ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn " ng-show="next" id="next"  ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>