<div class="vehicle_repair_statistics" style="width: 85%;margin: 0 auto">
    <div class="row valign-wrapper">
        <h5 class="col s12 cyan-text lighten-1 center-align">
            商品车质损统计
        </h5>
    </div>

    <!--柱状图-->
    <div style="width: 98.6%">
        <!--车辆维修数量-按月统计-->
        <div class="row z-depth-2">
            <div class="col s12 blue-grey input-field lighten-4 bold grey-text text-darken-1 statisticsTitle no-mp">
                <div class="col s5 left">
                    <p>商品车质损-按月统计</p>
                </div>
                <div class="col s6 right">
                    <div class="col s3 left">
                        <p class="right">选择日期区间:</p>
                    </div>
                    <div class="col s3">
                        <input id="chooseRepairStart" type="text" ng-value="startInitial">
                    </div>
                    <div class="col s1 center">
                        <p>至</p>
                    </div>
                    <div class="col s3">
                        <input id="chooseRepairEnd" type="text" ng-value="endInitial">
                    </div>
                    <div class="col s2 center">
                        <i class="mdi mdi-magnify" ng-click="searchRepairCount()" style="margin:25px 0 0 10px;font-size: 30px;cursor: pointer"></i>
                    </div>
                </div>
            </div>
            <!--车辆维修数量统计-->
            <div class="col s12">
                <div class="col s12" id="carDamageStatisticsMonth" style="min-width:400px;height:380px;margin: 40px 0 40px 0"></div>
            </div>
        </div>

        <!--车辆维修数量-按周统计-->
        <div class="row z-depth-2" style="margin-top: 50px">
            <div class="col s12 blue-grey input-field lighten-4 bold grey-text text-darken-1 statisticsTitle no-mp">
                <div class="col s5 left">
                    <p>商品车质损-按周统计</p>
                </div>
                <div class="col s6 right">
                    <p class="right">近 10 周&emsp;</p>
                </div>
            </div>
            <!--车辆维修数量统计-->
            <div class="col s12">
                <div class="col s12" id="carDamageStatisticsWeek" style="min-width:400px;height:380px;margin: 40px 0 40px 0"></div>
            </div>
        </div>
    </div>
</div>