
<div id="addSingleMoney" class="modal ">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增洗车费用</div>
    <div class="modal-content">
        <div class="row col" style="width:94%; margin-left: 3%;">
            <div class="col s12">
                <div class="row">
                    <!-- header -->
                    <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;font-weight: bold">
                        <div class="row col s12">
                            <div class="col s4 input-field cyan-text left-align">
                                <span>司机：</span>{{detailData.drive_name}}
                            </div>
                            <div class="col s4 input-field grey-text center-align">
                                <span>车牌号：</span>{{detailData.truck_num}}
                            </div>
                            <div class="col s4 input-field grey-text right-align">
                                <span>调度编号：</span>{{detailData.dp_route_task_id}}
                            </div>
                        </div>
                    </div>

                    <!-- body -->
                    <!--添加-->
                    <div class="col s12 valign-wrapper" style="margin-bottom: 15px;margin-top: 15px">
                        <div class="col s12 input-field">
                            <select id="dispatch_num_mod" ng-model="dispatchNum" material-select watch ng-change="changeDispatchNum(addSingMoney,dispatchNum.car_count)">
                                <option value="">请选择</option>
                                <option ng-repeat="el in addWashFeeBox" ng-value="el">{{el.id+'&emsp;'+el.dp_route_task_id + '&emsp;' + el.route_start+'('+ el.addr_name+')'+  ' - ' + el.route_end +'('+ el.short_name+')'+ '&emsp;' + (el.task_plan_date | date:'yyyy-MM-dd')  +"&emsp;&emsp;&emsp;"+el.car_count}}</option>
                            </select>
                        </div>
                    </div>
                    <!--任务信息卡片-->
                    <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;">
                        <div class="col s6  input-field red-text left-align" >
                            <input id="addSingMoney" type="number"  ng-model="addSingMoney" ng-change="changeSingleMoney(addSingMoney,dispatchNum.car_count)">
                            <label for="addSingMoney">每台补价</label>
                        </div>
                        <div class="col s6 input-field red-text right-align">
                            <input id="addTotalMoney" type="number"  ng-model="addTotalMoney" disabled>
                            <label for="addTotalMoney">总补价</label>
                        </div>
                    </div>
                    <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;">
                        <div class="input-field col s12">
                            <input name="remark" id="remark" type="text" ng-model="remark" >
                            <label for="remark">备注:</label>
                        </div>
                    </div>
                </div>
                <div class="divider" style="background: #ccc;height: 1px;"></div>
                <div class="modal-footer valign-wrapper">
                    <div class="col s12">
                        <div class="col s2 offset-s4">
                            <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                                取消
                            </a>
                        </div>
                        <div class="col s2">
                            <a ng-click="addDataItem()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                                确定
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addFeeItem" class="modal ">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增洗车费用</div>
    <div class="modal-content">
        <div class="row col" style="width:94%; margin-left: 3%;">
            <div class="col s12">
                <div class="">
                    <form name="demand_car_form" novalidate>
                        <div class="mp-30 valign-wrapper" style="overflow: hidden">
                            <div class="col s2 cyan-text text-lighten-1" style="font-size: 20px;min-width: 90px">调度编号:</div>
                            <div class="input-field col s8">
                                <span></span>
                                <input type="text" id="dpId" name="dpId" ng-model="dpId"  autocomplete="off"  required>
                            </div>
                            <div  class="col s2 vc-center " >
                                <button ng-click="getDetail1()" class=" btn btn-floating btn-large waves-effect cyan lighten-1" ><i style="font-size: 35px" class="mdi white-text mdi-magnify"></i></button>
                            </div>
                        </div>

                    </form>
                    <div class="row  mp-50" >
                        <div style="width: 90%;margin: 0 auto">
                            <p class="no_car_detail center-align cyan-text text-lighten-1 mp-50">无此调度任务</p>
                            <div class="car_detail col s12" style="border:1px solid #bdbdbd;font-size: 14px;font-weight: bold">
                                <!-- body -->
                                    <div class=" col s12">
                                        <div class="col s4 input-field cyan-text left-align">
                                            <span>司机：</span>{{carItem.drive_name}}
                                        </div>
                                        <div class="col s4 input-field cyan-text center-align">
                                            <span>车牌号：</span>{{carItem.truck_num}}
                                        </div>
                                        <div class="col s4 input-field cyan-text center-align">
                                            <span>调度编号：</span>{{carItem.dp_route_task_id}}
                                        </div>
                                    </div>


                                    <div class="col s12 valign-wrapper">
                                        <div class="col s12 input-field">
                                            <select id="dispatch_num_mod1" ng-model="dispatchNum" material-select watch ng-change="changeDispatchNum(addSingMoneyItem,dispatchNum.car_count)">
                                                <option value="">请选择</option>
                                                <option ng-repeat="el in addWashFeeBox" ng-value="el">{{el.id+'&emsp;'+el.dp_route_task_id + '&emsp;' + el.route_start+'('+ el.addr_name+')'+  ' - ' + el.route_end +'('+ el.short_name+')'+ '&emsp;' + (el.task_plan_date | date:'yyyy-MM-dd')  +"&emsp;&emsp;&emsp;"+el.car_count}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class=" col s12">
                                        <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;">
                                            <div class="col s6  input-field red-text left-align" style="padding: 0">
                                                <input id="addSingMoney1" type="number"  ng-model="addSingMoneyItem" ng-change="changeSingleMoney(addSingMoneyItem,dispatchNum.car_count)">
                                                <label for="addSingMoney1">每台补价</label>
                                            </div>
                                            <div class="col s6 input-field red-text right-align" style="padding: 0">
                                                <input id="addTotalMoney1" type="number"  ng-model="addTotalMoney" disabled>
                                                <label for="addTotalMoney1">总补价</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col s12">
                                        <div class="input-field col s12" style="margin-bottom:20px ">
                                            <input name="remarkItem" id="remarkItem" type="text" ng-model="remarkItem" >
                                            <label for="remarkItem">备注:</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer car_detail valign-wrapper">
                    <div class="col s12">
                        <div class="col s2 offset-s4">
                            <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                                取消
                            </a>
                        </div>
                        <div class="col s2">
                            <a ng-click="addFee()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                                确定
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--详情  模态框-->
<div id="openDetailModal" class="modal">


    <!--标题-->
    <div class="cyan lighten-1 white-text center-align modal_title" >费用详情</div>


    <!--内容-->
    <div class="modal-content">

        <div class="container">
            <div class="row col s12  left-align bold">费用总价</div>


            <div class="row col s12 cyan-text">

                <!--大车洗车费  小车洗车费  拖车费   地跑费  带路费  -->
                <div class="col input-field colWidth">大车洗车费:<span class="red-text fz22">{{showList.big_single_price*showList.big_car_count}}</span></div>
                <div class="col input-field colWidth">小车洗车费:<span class="red-text fz22">{{showList.small_single_price*showList.small_car_count}}</span></div>
                <div class="col input-field colWidth">拖车费:<span class="red-text fz22">{{showList.total_trailer_fee}}</span></div>
                <div class="col input-field colWidth">地跑费:<span class="red-text fz22">{{showList.total_run_fee}}</span></div>
                <div class="col input-field colWidth">带路费:<span class="red-text fz22">{{showList.lead_fee}}</span></div>

            </div>


            <div class="row col s12  left-align bold">费用单价</div>

            <!--大车洗车费单价  小车洗车费单价  拖车费单价 地跑费单价   带路费单价 -->
            <div class="row col s12 cyan-text fz13">
                <div class="col input-field colWidth">大车洗车费单价:<span class="red-text fz22">{{showList.big_single_price}}</span></div>
                <div class="col input-field colWidth">小车洗车费单价:<span class="red-text fz22">{{showList.small_single_price}}</span></div>
                <div class="col input-field colWidth">拖车费单价:<span class="red-text fz22">{{showList.trailer_fee}}</span></div>
                <div class="col input-field colWidth">地跑费单价:<span class="red-text fz22">{{showList.run_fee}}</span></div>
                <div class="col input-field colWidth">带路费单价:<span class="red-text fz22">{{showList.lead_fee}}</span></div>

            </div>


            <div class="col s12 input-field left-align">
                备注:{{showList.remark}}
            </div>


        </div>
    </div>

    <!--分隔符-->
    <div class="divider"></div>

    <!--按钮-->
    <div class="modal-footer row">
        <div class="col s12 center-align mp-10">
            <div class="col s2 offset-s5">
                <a class="modal-action modal-close waves-light waves-effect cyan lighten-1 btn">
                    关闭
                </a>
            </div>
        </div>
    </div>

</div>


<div class="car_wash_fee">
    <div class="row main_storage_car">
        <div class="col s10">
            <div class="col s2" style="padding: 0;margin: 0;">
                <div class="col s6 input-field">
                    <input id="instruction_number" type="text" ng-model="instructionNum">
                    <label for="instruction_number">洗车编号</label>
                </div>
                <div class="col s6 input-field">
                    <input id="dp_number" type="text" ng-model="dp_number">
                    <label for="dp_number">调度编号</label>
                </div>
            </div>


            <div class="col s1 input-field">
                <select material-select watch ng-model="receive_status" style="width:100%">
                    <option value="" selected>领取状态</option>
                    <option value="0">未通过</option>
                    <option value="1">未领取</option>
                    <option value="2">已领取</option>
                </select>
            </div>
            <div class="col s1 input-field">
                <select  material-select  ng-model="monthFlag" id="monthFlag">
                    <option ng-value="" >请选择</option>
                    <option ng-value="1">是</option>
                    <option ng-value="0">否</option>
                </select>
                <label for="monthFlag">是否月结</label>
            </div>
            <div class="col s2 input-field">
                <input id="load_time_start" type="text" class="datepicker" ng-model="loadDateStart" date style="width:100%"><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_start">装车时间</label>
            </div>
            <div class="col s2 input-field">
                <input id="load_time_end" type="text" class="datepicker" ng-model="loadDateEnd" date style="width:100%"><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_end">至</label>
            </div>



            <div class="col input-field s2">
                <input id="receive_time_start" type="text" class="datepicker" ng-model="receiveTimeStart" date style="width:100%"><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_start">发放时间</label>
            </div>
            <div class="col input-field s2">
                <input id="receive_time_end" type="text" class="datepicker" ng-model="receiveTimeEnd" date style="width:100%"><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_end">至</label>
            </div>



            <div class="col s2 input-field">
                <select material-select watch ng-model="driver" id="getDrivderId" style="width: 100%" >
                    <option value="" selected>司机</option>
                    <option ng-repeat="el in driveNameList" ng-value="el.id">{{el.drive_name}}</option>
                </select>
            </div>
            <div class="col s2 input-field">
                <select  material-select watch ng-model="truckNum"  id="truckNum" style="width: 100%"  ng-change="changeTruck(addTruckId)">
                    <option value="" selected disabled>请选择</option>
                    <option ng-repeat="truckNumItem in truckNumListAllList" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}({{truckNumItem.truck_type == 1 ? "头车" : "挂车"}})</option>
                </select>
            </div>
            <div class="col s4 input-field">
                <div class="col s6">
                    <select id="end_city" name="state" style="width:100%" ng-change="getRecive()" ng-model="cityId">
                        <option value=""></option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="col s6">
                    <select material-select watch ng-model="distributor"  style="width: 100%" id="dealer">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="rec in receiveList" ng-value="rec.id">{{rec.short_name}}</option>
                    </select>
                </div>
            </div>


            <div class="input-field col s2">
                <select id="truck_type" name="truck_type" ng-change="getCompany()" material-select watch ng-model="operateType">
                    <option ng-value="">请选择</option>
                    <option ng-value="1">自营</option>
                    <option ng-value="2">外协</option>
                </select>
                <label for="truck_type">所属类型</label>
            </div>
            <div class="input-field col s2">
                <select id="truck_company" name="truck_company" material-select watch ng-model="companyId" required>
                    <option value="">请选择</option>
                    <option ng-repeat="el in companyList" ng-value="el.id">{{el.company_name}}</option>
                </select>
                <label for="truck_company">所属公司</label>
            </div>

        </div>
        <div class="col s2 vc-center" style="height: 125px;">
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center"
                   ng-click="getCarWashFeeList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center" style="margin-right: 10px" ng-click="addFeeItem()">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
            <div class="col s4 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>
        <div class="row col s12" style="margin-top: 25px">
            <div class="col s12 cyan white-text vc-center fz18" style="height: 60px;border-bottom: 1px solid  #4e84cb;border-top:1px solid  #fff" ng-if="carWashFeeList.length!==0">
                <div class="col left-align bold" style="width: 20%">
                    总洗车金额:{{boxArrayFee.total_clean_fee}}元
                </div>
                <div class="col center-align bold" style="width: 20%">
                    总拖车金额:{{boxArrayFee.total_trailer_fee}}元
                </div>
                <div class="col center-align bold" style="width: 20%">
                    总提车金额:{{boxArrayFee.car_parking_fee}}元
                </div>
                <div class="col center-align bold" style="width: 20%">
                    总地跑金额:{{boxArrayFee.total_run_fee}}元
                </div>
                <div class="col right-align bold" style="width: 20%">
                    总带路金额:{{boxArrayFee.lead_fee}}元
                </div>
            </div>
            <div class="divider cyan" style="height: 2px;"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">编号</th>
                    <th data-field="">调度编号</th>
                    <th data-field="">司机</th>
                    <th data-field="">电话</th>
                    <th data-field="">品牌</th>
                    <th data-field="">装车数</th>
                    <th data-field="">洗车费</th>
                    <th data-field="">应发洗车费</th>
                     <th data-field="">拖车费</th>
                     <th data-field="">提车费</th>
                    <th data-field="">地跑费</th>
                    <th data-field="">带路费</th>
                    <th data-field="">货车牌号</th>
                    <th data-field="">补发</th>
                    <th data-field="">经销商</th>
                    <th data-field="">装车日期</th>
                    <th data-field="">银行账号</th>
                    <th data-field="">户名</th>
                    <th data-field="">开户行</th>
                    <th data-field="">领取状态</th>
                     <th data-field="">月结</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="car in carWashFeeList">
                    <td>{{car.id}}</td>
                    <td>{{car.dp_route_task_id}}</td>
                    <td>{{car.drive_name}}</td>
                    <td>{{car.mobile}}</td>
                    <td>{{car.make_name}}</td>
                    <td>{{car.car_count}}</td>
                    <td>{{car.total_price}}</td>
                    <td>{{car.actual_price}}</td>
                    <td>{{car.total_trailer_fee}}</td>
                     <td>{{car.car_parking_fee}}</td>
                    <td>{{car.total_run_fee}}</td>
                    <td>{{car.lead_fee}}</td>
                    <td>{{car.truck_num}}</td>
                    <td>{{car.type==0?'否':'是'}}</td>
                    <td>{{car.short_name}}</td>
                    <td>{{car.load_date | date:'yyyy-MM-dd'}}</td>
                    <td>{{car.bank_number}}</td>
                    <td>{{car.bank_name}}</td>
                    <td>{{car.bank_user_name}}</td>
                    <td>{{car.status==0?'未通过':car.status==1?'未领取':'已领取'}}</td>
                    <td>{{car.month_flag==1?'是':'否'}}</td>
                    <td>
                        <a ng-click="addSingleMoney(car)">
                            <i class="mdi mdi-plus fz22"></i>
                        </a>
                        <a ng-click="getDetail(car.id)">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="carWashFeeList.length == 0">
                    <td colspan="22"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="paging_box col s12" style="height: 45px">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>