
<div class="row tab_box" style="margin-top: 50px;">
    <div class="col s10" style="margin-bottom: 20px;">
        <!--司机-->
        <div class="col s12" style="height: 70px">
            <div class="col s6 input-field">
                <input id="start_month" type="text" ng-value="startMonth">
                <label class="active" for="start_month">月份</label>
            </div>
            <div class="col s6 input-field">
                <select material-select watch ng-model="driveName" id="driveName" style="width: 100%" >
                    <option value="" selected>请选择</option>
                    <option ng-repeat="addDrivder in driveNameList" ng-value='addDrivder.id'>{{addDrivder.drive_name}}</option>
                </select>
            </div>
        </div>
    </div>
    <!--查询-->
    <div class="col s2  flex flex-round" style="margin-top: 5px;">
        <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
           style="margin-right: 10px" ng-click="searchList()">
            <i class="mdi mdi-magnify"></i>
        </a>
    </div>

    <!--查询列表页-->
    <div class="row tableBox">
        <div class="col s12">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class=" bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">编号</th>
                    <th data-field="">司机</th>
                    <th data-field="">货车牌号</th>
                    <th data-field="">电话</th>
                    <th data-field="">月份</th>
                    <th data-field="">出勤天数</th>
                    <th data-field="">补助</th>
                    <th data-field="">备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fileInfo in securityList" class="grey-text text-darken-1">
                    <td>{{fileInfo.id}}</td>
                    <td>{{fileInfo.drive_name}}</td>
                    <td>{{fileInfo.truck_num}}</td>
                    <td>{{fileInfo.mobile}}</td>
                    <td>{{fileInfo.y_month}}</td>
                    <td class="red-text" >{{fileInfo.work_count}}</td>
                    <td class="red-text" >{{fileInfo.hotel_fee}}</td>
                    <td class="unnecessary" style="max-width: 250px;">{{fileInfo.remark}}</td>
                </tr>
                <tr ng-if="securityList.length==0">
                    <td colspan="8">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--分页-->
    <div class="row tableBox">
        <div class="col s12" style="height: 45px">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>