<!--委托方结算-->
<div class="setting_drive">

    <!--查询条件-->
    <div class="row">
        <div class="row grey-text text-darken-1">
            <div class="col s10">
                <div class="col s12">
                    <div class="col input-field" style="width: 20%">
                        <select material-select watch ng-model="drivderId" id="addDrivderId" style="width: 100%">
                            <option value="" selected>请选择</option>
                            <option ng-repeat="addDrivder in driveNameList" ng-value='addDrivder.id'>{{addDrivder.drive_name}}</option>
                        </select>
                    </div>
                    <div class="col input-field" style="width: 20%">
                        <select  material-select watch ng-model="addTruckId"  id="truckNum" style="width: 100%"  ng-change="changeTruck(addTruckId)">
                            <option value="" selected disabled>请选择</option>
                            <option ng-repeat="truckNumItem in truckNumListAllList" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}({{truckNumItem.truck_type == 1 ? "头车" : "挂车"}})</option>
                        </select>
                    </div>
                    <div class="col input-field" style="width: 20%">
                        <select id="company" name="company" material-select watch ng-model="driverCompany" required>
                            <option value="" selected>请选择</option>
                            <option ng-repeat="company in companyList" ng-value="company.id" selected>{{company.company_name}}</option>
                        </select>
                        <label>所属公司</label>
                    </div>


                    <!--指令日期(始)  指令日期(终)-->
                    <div class="col input-field" style="width: 20%">
                        <input type="text" ng-model="instruct_starTime" id="instruct_start_time" name="instruct_start_time"  class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="instruct_start_time">指令日期(始)</label>
                    </div>

                    <div class="col input-field" style="width: 20%">
                        <input type="text" ng-model="instruct_endTime" id="instruct_endTime" name="instruct_endTime"  class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="instruct_endTime">指令日期(终)</label>
                    </div>

                </div>
            </div>
            <!--按钮-->
            <div class="col s2" style="margin-top: 15px">
                <div class="col s6 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getdrive()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s6 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                        <i class="mdi mdi-cloud-download"></i>
                    </a>
                </div>
            </div>
         </div>
        <div class="col s12">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class=" bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">司机</th>
                <th data-field="">货车牌号</th>
                <th data-field="">洗车费</th>
                <th data-field="">拖车费</th>
                <th data-field="">商品车提车费</th>
                <th data-field="">地跑费</th>
                <th data-field="">带路费</th>
                <th data-field="">货车停车费</th>
                <th data-field="">商品车加油费</th>
                <th data-field="">货车油费</th>
                <th data-field="">货车尿素费</th>
                <th data-field="">违章司机</th>
                <th data-field="">违章公司</th>
                <th data-field="">过路费</th>
                <th data-field="">配件费</th>
                <th data-field="">维修费</th>
                <th data-field="">保养费</th>
                <th data-field="">货车事故个人</th>
                <th data-field="">货车事故公司</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="driveInfo in driveList" class="grey-text text-darken-1">
                <td>{{driveInfo.drive_name==null?0:driveInfo.drive_name}}</td>
                <td>{{driveInfo.truck_num==null?0:driveInfo.truck_num}}</td>
                <td>{{driveInfo.total_clean_fee==null?0:driveInfo.total_clean_fee}}</td>
                <td>{{driveInfo.total_trailer_fee==null?0:driveInfo.total_trailer_fee}}</td>
                <td>{{driveInfo.car_parking_fee==null?0:driveInfo.car_parking_fee}}</td>
                <td>{{driveInfo.total_run_fee==null?0:driveInfo.total_run_fee}}</td>
                <td>{{driveInfo.lead_fee==null?0:driveInfo.lead_fee}}</td>
                <td>{{driveInfo.truck_parking_fee==null?0:driveInfo.truck_parking_fee}}</td>
                <td>{{driveInfo.car_oil_fee==null?0:driveInfo.car_oil_fee}}</td>
                <td>{{driveInfo.oil_fee==null?0:driveInfo.oil_fee}}</td>
                <td>{{driveInfo.urea_fee==null?0:driveInfo.urea_fee}}</td>
                <td>{{driveInfo.peccancy_under_fee==null?0:driveInfo.peccancy_under_fee}}</td>
                <td>{{driveInfo.peccancy_company_fee==null?0:driveInfo.peccancy_company_fee}}</td>
                <td>{{driveInfo.etc_fee==null?0:driveInfo.etc_fee}}</td>
                <td>{{driveInfo.parts_fee==null?0:driveInfo.parts_fee}}</td>
                <td>{{driveInfo.repair_fee==null?0:driveInfo.repair_fee}}</td>
                <td>{{driveInfo.maintain_fee==null?0:driveInfo.maintain_fee}}</td>
                <td>{{driveInfo.accident_under_fee==null?0:driveInfo.accident_under_fee}}</td>
                <td>{{driveInfo.accident_company_fee==null?0:driveInfo.accident_company_fee}}</td>
            </tr>
            <tr ng-if="driveList.length==0&&instruct_starTime!==undefined&&instruct_endTime!==undefined">
                <td colspan="19">暂无数据</td>
            </tr>
            <tr ng-if="instruct_starTime==undefined||instruct_endTime==undefined&&driveList.length==0">
                <td colspan="19"><i class="mdi  mdi-alert-circle-outline red-text fz30"></i>&nbsp;&nbsp;&nbsp;指令时间为必填项</td>
            </tr>
            </tbody>
        </table>
        </div>

        <!--分页-->
        <div class="row">
            <div class="paging_box col s12">
                <div class="right">
                    <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                        上一页
                    </a>
                    <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                        下一页
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>