
<div class="finance_route_fee_details">
    <div class="storage_storeTitle vc-center ">
        <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
            <i class="mdi mdi-arrow-left-bold"></i>
        </a>
        <h4 class="center-align cyan-text text-lighten-1">出车款详情</h4>
    </div>
    <div class="divider cyan" style="height: 2px;margin-top: 10px;margin-bottom: 30px"></div>

    <!--基本信息-->
    <div class="row z-depth-2" style="width:80%;margin:0 auto; padding: 0;margin-bottom: 30px">
        <!--基本信息-->
        <div class="col s12 fz14 valign-wrapper cyan-text" style="background-color: #dcdfe0;font-size: 1.2rem;font-weight: bold;">
            <div class="row col s12 cyan-text bold">
                <div class="col s6 input-field left-align">出车款发放编号:{{routeFeeInfo.id}}</div>
                <div class="col s6 input-field right-align" ng-if="routeFeeInfo.task_loan_status==1">已发放</div>
                <div class="col s6 input-field right-align" ng-if="routeFeeInfo.task_loan_status==2">已报销</div>
            </div>
        </div>
        <div class="col s12 fz14 valign-wrapper cyan-text" style="font-size: 1.2rem;font-weight: bold">
            <div class="row col s12">
                <div class="col s4 input-field cyan-text left-align">
                    <span>司机：</span>{{routeFeeInfo.drive_name}}
                </div>
                <div class="col s4 input-field grey-text center-align">
                    <span>车牌号：</span>{{routeFeeInfo.truck_num}}
                </div>
                <div class="col s4 input-field grey-text right-align">
                    <span>挂车货位：</span>{{routeFeeInfo.number}}
                </div>
            </div>
        </div>

    </div>

    <!--关联调度-->
    <div class="row z-depth-2" style="width:80%;margin:0 auto; padding: 0;margin-bottom: 20px;" ng-if="routeFeeInfo.task_loan_status==1">
        <!--添加-->
        <div class="col s12 valign-wrapper" style="margin-bottom: 15px;margin-top: 15px">
            <div class="col s11 input-field">
                <select id="dispatch_num_mod" ng-model="dispatchNum" material-select watch>
                    <option value="" selected>请选择</option>
                    <option ng-repeat="mission in missionList" ng-value="mission.id">{{mission.id + '&emsp;' + mission.city_route_start + ' - ' + mission.city_route_end + '&emsp;' + mission.distance + '公里' + '&emsp;' + (mission.task_plan_date | date:'yyyy-MM-dd')}}</option>
                </select>
                <label for="dispatch_num_mod"><span style="color: red">* </span>调度编号</label>
            </div>
            <div class="col s1">
                <a ng-click="createMatchMissionCard(dispatchNum)" class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center" style="margin-right: 10px;width: 48px;height: 48px">
                    <i style="line-height: 3px" class="mdi mdi-plus"></i>
                </a>
            </div>
        </div>
        <!--任务信息卡片-->
        <div ng-repeat="mission in matchMissionList" class="col s12 valign-wrapper" style="height: 55px;background-color: #dcdfe0;color: darkgray;font-weight: bold;font-size: 1rem" ng-show="matchMissionList.length != 0">
            <div class="col s3">
                <p class="cyan-text" >调度编号：{{mission.dp_route_task_id}}</p>
            </div>
            <div class="col s3">
                <p class="cyan-text" >{{mission.city_route_start}}-{{mission.city_route_end}} &nbsp;<span style="color: darkgray">{{mission.distance}}公里</span></p>
            </div>
            <div class="col s2">
                <p>计划装车数量：{{mission.plan_count}}</p>
            </div>
            <div class="col s5">
                <p>计划出车时间：{{mission.task_plan_date | date:'yyyy-MM-dd'}}</p>
            </div>
            <div class="col s2">
                <p>{{mission.task_status | taskStatus}}</p>
            </div>
            <div class="col s1" style="font-size: 1.5rem">
                <a ng-click="deleteMatchMission(mission.dp_route_task_id)" style="margin-right: 10px;cursor: pointer;text-align: center;color: #e57373"><i class="mdi mdi-delete-forever" style="margin: 0"></i></a>
            </div>
        </div>

    </div>
    <div class="row z-depth-2" style="width:80%;margin:0 auto; padding: 0;margin-bottom: 20px;" ng-if="routeFeeInfo.task_loan_status==2">
        <!--任务信息卡片-->
        <div ng-repeat="mission in matchMissionList" class="col s12 valign-wrapper" style="height: 55px;background-color: #dcdfe0;color: darkgray;font-weight: bold;font-size: 1rem" ng-show="matchMissionList.length != 0">
            <div class="col s2">
                <p class="cyan-text" >调度编号：{{mission.dp_route_task_id}}</p>
            </div>
            <div class="col s3">
                <p class="cyan-text" >{{mission.city_route_start}}-{{mission.city_route_end}} &nbsp;<span style="color: darkgray">{{mission.distance}}公里</span></p>
            </div>
            <div class="col s3">
                <p>计划装车数量：{{mission.plan_count}}</p>
            </div>
            <div class="col s3">
                <p>计划出车时间：{{mission.task_plan_date | date:'yyyy-MM-dd'}}</p>
            </div>
            <div class="col s1 right-align">
                <p>{{mission.task_status | taskStatus}}</p>
            </div>
        </div>

    </div>


    <!--信息卡 费用-->
    <div class="row z-depth-2" style="width:80%;margin:0 auto; padding: 0;margin-bottom: 20px">
        <!--已发放-->
        <div  ng-if="routeFeeInfo.task_loan_status==1">
            <!--出车款信息-->
            <div class="col s12" style="margin-top: 14px;width:98%;margin-left: 1%">
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="road_toll_cost" name="road_toll_cost" ng-model="routeFeeInfo.grant_passing_cost">
                    <label class="{{roadTollCost != null ? 'active' : 'inactive'}}" for="road_toll_cost">过路费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="fuel_cost" name="fuel_cost" ng-model="routeFeeInfo.grant_fuel_cost">
                    <label class="{{fuelCost != null ? 'active' : 'inactive'}}" for="fuel_cost">燃料费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="road_cost" name="road_cost" ng-model="routeFeeInfo.grant_protect_cost">
                    <label class="{{roadCost != null ? 'active' : 'inactive'}}" for="road_cost">保道费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="fine_cost" name="fine_cost" ng-model="routeFeeInfo.grant_penalty_cost">
                    <label class="{{fineCost != null ? 'active' : 'inactive'}}" for="fine_cost">罚款费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="parking_cost" name="parking_cost" ng-model="routeFeeInfo.grant_parking_cost">
                    <label class="{{parkingCost != null ? 'active' : 'inactive'}}" for="parking_cost">停车费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="taxi_cost" name="taxi_cost" ng-model="routeFeeInfo.grant_taxi_cost">
                    <label class="{{taxiCost != null ? 'active' : 'inactive'}}" for="taxi_cost">打车费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="hotelCost" name="hotelCost" ng-model="routeFeeInfo.grant_hotel_cost">
                    <label class="{{hotelCost != null ? 'active' : 'inactive'}}" for="hotelCost">住宿费（元）</label>
                </div>
                <div class="col s3 input-field">
                    <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="carCost" name="carCost" ng-model="routeFeeInfo.grant_car_cost">
                    <label class="{{carCost != null ? 'active' : 'inactive'}}" for="carCost">商品车费用（元）</label>
                </div>
            </div>

            <!--洗车费-->
            <div class="row col s12"  style="width: 98%;margin-left:1%;">
                <div class="col s12 valign-wrapper" style="height: 55px;background-color: #dcdfe0;font-weight: bold;font-size: 1.2rem">
                    <div class="col s4  cyan-text left-align"><p>洗车费</p> </div>
                    <div class="col s8  red-text right-align"><p>洗车费修改后，请点击对号进行保存</p></div>
                </div>
                <div class="col s12 grey-text" style="border-bottom: 2px dotted #ccc;border-left: 2px solid #ccc;border-right: 2px solid #ccc;">
                    <div ng-repeat="response in responseData" class="grey-text text-darken-1 col s12" style="height:50px;width:100%;">
                        <div class="col s2" style="margin-top: 13px">{{response.short_name}}</div>
                        <div class="col s3" style="margin-top: 13px">
                            <div class="col s7"><span class="red-text">{{response.single_price}}</span>元/辆</div>
                            <div class="col s5">{{response.car_count}}辆</div>
                        </div>

                        <div class="col s3" style="margin-top: 13px">
                            <div class="col s6">洗车费</div>
                            <input class="col s4 red-text" type="number" id="totalPrice" ng-model="response.actual_price" style="padding-bottom:20px;border-bottom: none">
                            <div class="col s2">元</div>
                        </div>

                        <div class="col s3" style="margin-top: 13px">
                            <div class="col s6">门卫费</div>
                            <input class="col s4 red-text"  type="number" id="guardFee" ng-model="response.actual_guard_fee" style="padding-bottom:20px;border-bottom: none ">
                            <div class="col s2">元</div>
                        </div>

                        <div class="col s1" style="margin-top: 7px">
                            <button class="btn btn-floating waves-light waves-effect cyan lighten-1" ng-click="putWashCost(response.id,response.actual_price,response.actual_guard_fee)">
                                <i  class="mdi mdi-check"></i>
                            </button>
                        </div>

                    </div>
                    <div class="grey-text col s12" style="height:50px" ng-if="responseData.length == 0">
                        <div class="center-align" style="margin-top: 15px"><span style="letter-spacing: 2px;">暂无洗车费</span></div>
                    </div>
                </div>
            </div>

            <!--备注-->
            <div class="col s12 input-field" style="width: 98%;margin-left:1%;">
                <input type="text" id="putRemark" name="remark" ng-model="routeFeeInfo.grant_explain">
                <label for="putRemark">备注：</label>
            </div>

            <!--总额计算-->
            <div class="col s12" style="height:50px;width: 98%;margin-left:1%;color: darkgray;font-size: 1.1rem;font-weight: bold;margin-top: 20px;">
                <div  class="col s4 left-align">出车款：<span id="Money" style="color: #e57474">{{routeFeeInfo.grant_passing_cost +routeFeeInfo.grant_fuel_cost + routeFeeInfo.grant_protect_cost + routeFeeInfo.grant_penalty_cost + routeFeeInfo.grant_parking_cost + routeFeeInfo.grant_taxi_cost}}</span> 元</div>
                <div  class="col s4 center-align">洗车费：<span id="Wash" style="color: #e57474">{{bigPrice}}</span> 元</div>
                <div  class="col s4 right-align">总额：<span id="totalCost" style="color: #e57474">{{bigPrice+routeFeeInfo.grant_passing_cost +routeFeeInfo.grant_fuel_cost + routeFeeInfo.grant_protect_cost + routeFeeInfo.grant_penalty_cost + routeFeeInfo.grant_parking_cost + routeFeeInfo.grant_taxi_cost}}</span> 元</div>
            </div>

            <!--发放人 发放时间-->
            <div class="row col s12 grey-text bold" style="height: 50px;width: 96%;margin-left:2%;padding-top: 30px;margin-bottom:30px;border-top:2px solid #ccc ">
                <div class="col s6 left-align">发放人:{{routeFeeInfo.grant_user_name}}</div>
                <div class="col s6 right-align">发放时间:{{routeFeeInfo.grant_date | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
            <!--按钮-->
            <div class="row col s12" style="margin-top: 20px">
                <div class="col s6">
                    <div class="col s4 offset-s8 right-align">
                        <a style="width: 100% ;background: rgb(245,166,35)" ng-click="grantRouteFeeInfo(grant_passing_cost,grant_fuel_cost,grant_protect_cost,grant_penalty_cost,grant_parking_cost,grant_taxi_cost)" style="width: 100%" class="waves-light waves-effect lighten-1 btn">
                            保存
                        </a>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s4">
                        <a ng-click="reimbursementRouteFeeInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            报销
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--已报销-->
        <div  ng-if="routeFeeInfo.task_loan_status==2">
            <!--出车款信息-->
            <div class="col s12"  ng-if="routeFeeInfo.task_loan_status!==1" style="width:96%;margin-left: 2%;font-size: 1.2rem;color: darkgray;font-weight: bold;padding: 0;">
                <div class="col s3">
                    <p>过路费：<span style="color: #e57373">{{routeFeeInfo.grant_passing_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>燃料费：<span style="color: #e57373">{{routeFeeInfo.grant_fuel_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>保道费：<span style="color: #e57373">{{routeFeeInfo.grant_protect_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>罚款费：<span style="color: #e57373">{{routeFeeInfo.grant_penalty_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>停车费：<span style="color: #e57373">{{routeFeeInfo.grant_parking_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>打车费：<span style="color: #e57373">{{routeFeeInfo.grant_taxi_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>住宿费：<span style="color: #e57373">{{routeFeeInfo.grant_hotel_cost}}</span> 元</p>
                </div>
                <div class="col s3">
                    <p>商品车费用：<span style="color: #e57373">{{routeFeeInfo.grant_car_cost}}</span> 元</p>
                </div>
            </div>

            <!--洗车费-->
            <div class="row col s12"  style="width: 98%;margin-left:1%;">
                <div class="col s12 valign-wrapper" style="height: 55px;background-color: #dcdfe0;font-weight: bold;font-size: 1.2rem">
                    <div class="col s4  cyan-text left-align"><p>洗车费</p> </div>
                    <div class="col s8  red-text right-align"><p>洗车费修改后，请点击对号进行保存</p></div>
                </div>
                <div class="col s12 grey-text" style="border-bottom: 1px dotted #ccc;border-left: 1px dotted #ccc;border-right: 1px dotted #ccc;">
                    <div ng-repeat="response in responseData" class="grey-text text-darken-1 col s12 center-align" style="height:50px;width:100%;">
                        <div class="col s3" style="margin-top: 13px">{{response.short_name}}</div>
                        <div class="col s3" style="margin-top: 13px"><span class="red-text">{{response.single_price}}</span>元/辆</div>
                        <div class="col s2" style="margin-top: 13px">{{response.car_count}}辆</div>
                        <div class="col s2" style="margin-top: 13px">洗车费<span class="red-text">{{response.actual_price}}</span> 元</div>
                        <div class="col s2" style="margin-top: 13px">门卫费<span class="red-text">{{response.actual_guard_fee}}</span> 元</div>
                    </div>
                    <div class="grey-text col s12" style="height:50px" ng-if="responseData.length == 0">
                        <div class="center-align" style="margin-top: 15px"><span style="letter-spacing: 2px;">暂无洗车费</span></div>
                    </div>

                </div>
            </div>

            <!--备注-->
            <div class="row col s12  grey-text bold" style="width: 98%;margin-left:1%;">
                <div  class="col s12 left-align">备注：{{routeFeeInfo.grant_explain}}</div>
            </div>

            <!--总额计算-->
            <div class="col s12" style="height:50px;width: 98%;margin-left:1%;color: darkgray;font-size: 1.1rem;font-weight: bold;margin-top: 20px;">
                <div  class="col s4 left-align">出车款：<span id="hasMoney" style="color: #e57474">{{routeFeeInfo.grant_passing_cost +routeFeeInfo.grant_fuel_cost + routeFeeInfo.grant_protect_cost + routeFeeInfo.grant_penalty_cost + routeFeeInfo.grant_parking_cost + routeFeeInfo.grant_taxi_cost}}</span> 元</div>
                <div  class="col s4 center-align">洗车费：<span id="hasWash" style="color: #e57474">{{bigPrice}}</span> 元</div>
                <div  class="col s4 right-align">总额：<span id="actMoney" style="color: #e57474">{{routeFeeInfo.grant_passing_cost +routeFeeInfo.grant_fuel_cost + routeFeeInfo.grant_protect_cost + routeFeeInfo.grant_penalty_cost + routeFeeInfo.grant_parking_cost + routeFeeInfo.grant_taxi_cost+ bigPrice}}</span> 元</div>
            </div>

            <!--发放人 发放时间-->
            <div class="row col s12 grey-text bold" style="height: 50px;width: 96%;margin-left:2%;padding-top: 30px;margin-bottom:30px;border-top:2px solid #ccc ">
                <div class="col s6 left-align">发放人:{{routeFeeInfo.grant_user_name}}</div>
                <div class="col s6 right-align">发放时间:{{routeFeeInfo.grant_date | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>

        </div>
    </div>

    <!--财务报销详情-->
    <div class="row col s12" style="margin-top: 12px;width:80%;margin:0 auto" ng-show="routeFeeInfo.task_loan_status == 2">
        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 20px">
            <div class="col s12 valign-wrapper" style="height: 60px;background-color: #dcdfe0;color: darkgray;font-size: 1.2rem;font-weight: bold">
                <div class="col s4 left-align">
                    <p style="margin: 0;" class="cyan-text" >财务报销详情</p>
                </div>
                <div class="col s8">
                    <div class="col s12 right-align">
                        <p style="color: darkgray">已报销</p>
                    </div>
                </div>
            </div>
            <div style="width: 92%;margin: 0 auto">
                <div class="col s12" style="font-size: 1.2rem;color: darkgray;font-weight: bold;padding: 0;">
                    <div class="col s3">
                        <p>过路费：<span style="color: #e57373">{{routeFeeInfo.refund_passing_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>燃料费：<span style="color: #e57373">{{routeFeeInfo.refund_fuel_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>保道费：<span style="color: #e57373">{{routeFeeInfo.refund_protect_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>罚款费：<span style="color: #e57373">{{routeFeeInfo.refund_penalty_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>停车费：<span style="color: #e57373">{{routeFeeInfo.refund_parking_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>打车费：<span style="color: #e57373">{{routeFeeInfo.refund_taxi_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>住宿费：<span style="color: #e57373">{{routeFeeInfo.refund_hotel_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>商品车费用：<span style="color: #e57373">{{routeFeeInfo.refund_car_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>进门费：<span style="color: #e57373">{{routeFeeInfo.refund_enter_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>地跑费：<span style="color: #e57373">{{routeFeeInfo.refund_run_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>拖车费：<span style="color: #e57373">{{routeFeeInfo.refund_trailer_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>维修配件费：<span style="color: #e57373">{{routeFeeInfo.refund_repair_cost}}</span> 元</p>
                    </div>
                    <div class="col s3">
                        <p>保养费：<span style="color: #e57373">{{routeFeeInfo.refund_care_cost}}</span> 元</p>
                    </div>
                </div>
                <div class="col s12" style="color: darkgray;font-size: 1.2rem">
                    <p><span style="font-weight: bold">发放备注：</span>{{routeFeeInfo.refund_explain}}</p>
                </div>
                <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                    <p>实际报销：<span style="color: #e57373">{{routeFeeInfo.refund_actual_money}}</span> 元</p>
                </div>
                <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                    <p>还款金额：<span style="color: #e57373">{{routeFeeInfo.repayment_money}}</span> 元</p>
                </div>
                <div class="col s4" style="color: darkgray;font-size: 1.2rem;font-weight: bold">
                    <p>盈亏：<span style="color: #e57373">{{routeFeeInfo.profit}}</span> 元</p>
                </div>
                <div class="col s6" style="color: darkgray;font-size: 1.2rem;font-weight: bold;margin-bottom: 30px">
                    财务人员：{{routeFeeInfo.refund_user_name}}
                </div>
                <div class="col s6 right-align" style="color: darkgray;font-size: 1.2rem;font-weight: bold;margin-bottom: 30px">
                    报销时间：{{routeFeeInfo.refund_date | date:'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
        </div>
    </div>

    <!--报销款项模态框-->
    <div class="row" style="margin: 0">
        <div id="reimbursementCarFinanceModel" class="modal modal-fixed-footer" style="width: 75%;height: 493px">
            <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                <div class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                    <p>报销款项</p>
                </div>
                <div class="row" style="width: 80%;margin: 0 auto">
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="road_toll_cost_mod" name="road_toll_cost_mod" ng-model="roadCostMod">
                        <label  for="road_toll_cost_mod">过路费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="fuel_cost_mod" name="fuel_cost_mod" ng-model="fuelCostMod">
                        <label  for="fuel_cost_mod">燃料费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="road_cost_mod" name="road_cost_mod" ng-model="roadTollCostMod">
                        <label  for="road_cost_mod">保道费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="fine_cost_mod" name="fine_cost_mod" ng-model="fineCostMod">
                        <label  for="fine_cost_mod">罚款费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="parking_cost_mod" name="parking_cost_mod" ng-model="parkingCostMod">
                        <label  for="parking_cost_mod">停车费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="taxi_cost_mod" name="taxi_cost_mod" ng-model="taxiCostMod">
                        <label for="taxi_cost_mod">打车费（元）</label>
                    </div>

                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="hotel_cost_mod" name="hotelCost" ng-model="hotelCostMod">
                        <label for="car_cost_mod">住宿费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="car_cost_mod" name="carCost" ng-model="carCostMod">
                        <label for="car_cost_mod">商品车费用（元）</label>
                    </div>


                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="enter_cost_mod" name="enterCost" ng-model="enterCostMod">
                        <label for="enter_cost_mod"> 进门费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="run_cost_mod" name="runCost" ng-model="runCostMod">
                        <label for="run_cost_mod">地跑费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="trailer_cost_mod" name="trailerCost" ng-model="trailerCostMod">
                        <label for="trailer_cost_mod">拖车费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="repair_cost_mod" name="repairCost" ng-model="repairCostMod">
                        <label for="repair_cost_mod">维修配件费（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="care_cost_mod" name="careCost" ng-model="careCostMod">
                        <label for="care_cost_mod">保养费（元）</label>
                    </div>




                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="repayment_money_mod" name="repayment_money_mod" ng-model="repaymentMoneyMod">
                        <label for="repayment_money_mod">还款金额（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="profit_cost_mod" name="profit_cost_mod" ng-model="profitCostMod">
                        <label for="profit_cost_mod">盈亏（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="reimbursement_money_mod" name="reimbursement_money_mod" ng-value="routeFeeInfo.grant_taxi_cost +routeFeeInfo.grant_parking_cost  +routeFeeInfo.grant_penalty_cost +routeFeeInfo.grant_protect_cost +routeFeeInfo.grant_fuel_cost +routeFeeInfo.grant_passing_cost " disabled>
                        <label for="reimbursement_money_mod">实际报销金额（元）</label>
                    </div>
                    <div class="col s12 input-field">
                        <input type="text" id="remark_mod" name="remark_mod" ng-model="remarkMod">
                        <label for="remark_mod">备注：</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer valign-wrapper">
                <div class="col s12">
                    <div class="col s2 offset-s4">
                        <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                            取消
                        </a>
                    </div>
                    <div class="col s2">
                        <a ng-click="saveReimbursementInfo(roadCostMod,fuelCostMod,roadTollCostMod,fineCostMod,parkingCostMod,taxiCostMod,hotelCostMod,carCostMod,enterCostMod,runCostMod,trailerCostMod,repairCostMod,careCostMod)" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            确定
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>