<div class="dispatch_route_fee">
    <div class="row valign-wrapper">
        <div class="col s10">
            <div class="col s12" style="padding: 0;">
                <div class="col s3 input-field">
                    <select id="driver_name" style="width: 100%" ng-change="clearDriverInfo()" ng-model="driverId">
                        <option value=""></option>
                        <option value="0">清除选择</option>
                        <option ng-repeat="driver in driveList" ng-value="driver.id">{{driver.drive_name + " - " + driver.mobile}}</option>
                    </select>
                    <label class="active" for="driver_name">司机</label>
                </div>
                <div class="col s3 input-field">
                    <select id="grant_status" ng-model="grantStatus" material-select watch>
                        <option value="" selected>请选择</option>
                        <option value="1">取消</option>
                        <option value="2">已发放</option>
                        <option value="3">已报销</option>
                    </select>
                    <label for="grant_status">发放状态</label>
                </div>

                <div class="col s3 input-field">
                    <input type="text" id="grant_start_time" name="grant_start_time" ng-model="grantStartTime" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="grant_start_time">发放时间(始)</label>
                </div>
                <div class="col s3 input-field">
                    <input type="text" id="grant_end_time" name="grant_end_time" ng-model="grantEndTime" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="grant_end_time">发放时间(终)</label>
                </div>
            </div>
        </div>
        <div class="col s2">
            <div class="col s6 center">
                <a ng-click="searchCarFinanceList()" class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center" style="margin-right: 10px">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center">
                <a ng-click="downloadCsvFile()" style="background-color: #f0ad4e;" class="btn-floating btn-large waves-light waves-effect lighten-2 btn vc-center">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>
    </div>

    <!--表格-->
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <div class="divider" style="background: #00bcd4;height: 2px"></div>
                <table class="bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">发放编号</th>
                        <th data-field="">司机</th>
                        <th data-field="">货车牌号</th>
                        <th data-field="">调度编号</th>
                        <th data-field="">路线</th>
                        <th data-field="">发放金额</th>
                        <th data-field="">发放时间</th>
                        <th data-field="">报销时间</th>
                        <th data-field="">发放人</th>
                        <th data-field="">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in carFinanceList" class="grey-text text-darken-1">
                        <td>{{car.id}}</td>
                        <td>{{car.drive_name}}</td>
                        <td>{{car.truck_num}}</td>
                        <td>{{car.dp_route_task_id}}</td>
                        <td>{{car.city_route_start}}--{{car.city_route_end}}</td>
                        <td>{{car.grant_actual_money|number:2}}</td>
                        <td>{{car.grant_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{car.refund_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{car.grant_user_name}}</td>
                        <td style="color: #e57373" ng-if="car.task_loan_status == 1">取消</td>
                        <td style="color: #26c6da" ng-if="car.task_loan_status == 2">已发放</td>
                        <td ng-if="car.task_loan_status == 3">已报销</td>
                        <td class="operation fz12">
                            <a ui-sref="finance_route_fee_details({id:car.id})" class="cyan-text" style="margin-right: 10px;cursor: pointer;text-align: center"><i class="mdi mdi-file-document" style="margin: 0"></i></a>
                        </td>
                    </tr>
                    <tr class="grey-text text-darken-1" ng-if="carFinanceList.length == 0">
                        <td colspan="11"><span style="letter-spacing: 2px">暂无数据</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>