<div class="finance_index">
    <div class="finance_content" style="width: 95%;margin: 0 auto">
        <div class="row ">
            <div class="col s4" style="font-weight: bold;color: white">
                <div class="center-align" style="background-color: rgb(193,115,206) ;height: 350px;margin-top: 10px;box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)">
                    <div class="col s12" style="margin-top: 30px">
                        <span class="white lighten-2 center mdi mdi-car" style="width:70px;height:70px;display:inline-block;border-radius: 100%;font-size: 2.5rem;color: rgb(229,115,115);line-height: 70px"></span>
                    </div>
                    <div class="col s12" style="font-size: 1.5rem;letter-spacing: 2px;margin-top:20px;margin-bottom: 25px">
                        <p style="margin: 15px 0">商品车保险理赔借款</p>
                    </div>
                    <div class="col s12" style="font-size: 1.2rem;letter-spacing: 2px;">
                        <div class="col s6" style="border-right: 1px solid white">
                            <div class="col s12">
                                <p style="margin: 15px 0">未借款</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{notLoanMoneyCarCount}}.00/{{waitingHandleCarCompensateCount}}</p>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="col s12">
                                <p style="margin: 15px 0">未还款</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{notRepaymentMoneyCarCount}}.00/{{handlingCarCompensateCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4" style="font-weight: bold;color: white">
                <div class="center-align" style="background-color: rgb(245,166,35);height: 350px;margin-top: 10px;box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)">
                    <div class="col s12" style="margin-top: 30px">
                        <span class="white lighten-2 center mdi mdi-truck" style="width:70px;height:70px;display:inline-block;border-radius: 100%;font-size: 2.5rem;color: rgb(229,115,115);line-height: 70px"></span>
                    </div>
                    <div class="col s12" style="font-size: 1.5rem;letter-spacing: 2px;margin-top:20px;margin-bottom: 25px">
                        <p style="margin: 15px 0">货车保险理赔借款</p>
                    </div>
                    <div class="col s12" style="font-size: 1.2rem;letter-spacing: 2px;">
                        <div class="col s6" style="border-right: 1px solid white">
                            <div class="col s12">
                                <p style="margin: 15px 0">未借款</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{notLoanMoneyTruckCount}}.00/{{waitingHandleTruckCount}}</p>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="col s12">
                                <p style="margin: 15px 0">未还款</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{notRepaymentMoneyTruckCount}}.00/{{handlingTruckCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4" style="font-weight: bold;color: white">
                <div class="center-align" style="background-color:rgb(38,198,218);height: 350px;margin-top: 10px;box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)">
                    <div class="col s12" style="margin-top: 30px">
                        <span class="white lighten-2 center mdi mdi-content-duplicate" style="width:70px;height:70px;display:inline-block;border-radius: 100%;font-size: 2.5rem;color: rgb(229,115,115);line-height: 70px"></span>
                    </div>
                    <div class="col s12" style="font-size: 1.5rem;letter-spacing: 2px;margin-top:20px;margin-bottom: 25px">
                        <p style="margin: 15px 0">商品车赔款</p>
                    </div>
                    <div class="col s12" style="font-size: 1.2rem;letter-spacing: 2px;">
                        <div class="col s6" style="border-right: 1px solid white">
                            <div class="col s12">
                                <p style="margin: 15px 0">未打款笔数</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{waitingHandleCarCount}}</p>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="col s12">
                                <p style="margin: 15px 0">未打款金额</p>
                            </div>
                            <div class="col s12">
                                <p style="margin: 0;font-size: 1.5rem">{{indemnityMoneyCarCount}}.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bold grey-text">
            <div class="col s12 white" style="width:98.7%;background-color: white;border:3px solid #ccc;border-radius: 12px;margin:40px 0 0 10px;">

                <!-- 左侧 图标/名称 -->
                <div class="col s4 center-align" style=" height: 200px;margin-top:20px;margin-bottom:20px;border-right:1px solid #ccc;">

                    <div class="col s4 " style="height: 200px;padding-top:30px;">
                        <i class="mdi mdi-cash-100" style="color: rgb(245,166,35);font-size: 90px;"></i>
                    </div>
                    <div class="col s6" style="height: 200px;padding-top:30px;">
                        <div class="col s10 fz24" style="color: rgb(245,166,35);border-bottom: 1px solid #c2c0c2;padding-bottom: 30px">出车款</div>
                        <div class="col s9 fz20" style="margin-top: 30px">未申请调度任务数</div>
                        <div class="col s3 fz20" style="color: rgb(193,115,206);margin-top: 30px">{{dpRouteTaskNotLoanCount}}</div>
                    </div>
                </div>

                <!-- 右侧 图标/信息 -->
                <div class="col s8" style="height: 200px;margin-top:20px;margin-bottom:20px;">

                    <!-- 上部分 -->
                    <div class="col s12" style="height: 100px;">
                        <!-- 左侧 -->
                        <div class="col s6 vc-center center-align" style="height: 80px;border-right: 1px solid #c2c0c2;">
                            <div class="col s4" style="width:80px;height:80px;display:inline-block;border-radius: 100%;font-size: 2.5rem;background-color: rgb(245,166,35);line-height: 65px">
                                <span class="fz15 white-text">未派发</span>
                            </div>
                            <div class="col s4">
                                <span class="grey-text bold fz18" style="padding-left: 10px;">未派发笔数</span>
                            </div>
                            <div class="col s4 cyan-text fz20">
                                {{notDistributedCount}}
                            </div>
                        </div>

                        <!-- 右侧 -->
                        <div class="col s6 vc-center" style="height: 80px;">
                            <div class="col s7 center-align">
                                <span class="grey-text bold fz18" style="padding-left: 10px;">未派发金额</span>
                            </div>
                            <div class="col s5 right-align fz25 red-text">
                                {{notDistributedMoneyCount | number:2}}
                            </div>
                        </div>
                    </div>

                    <!-- 分割线 -->
                    <div class="divider col s12" style="background-color: #c2c0c2;"></div>

                    <!-- 下部分 -->
                    <div class="col s12" style="height: 100px;margin-top:20px;">
                        <div class="col s6 vc-center center-align" style="height: 80px;border-right: 1px solid #c2c0c2;">
                            <div class="col s4 cyan" style="width:80px;height:80px;display:inline-block;border-radius: 100%;font-size: 2.5rem;line-height: 65px">
                                <span class="fz15 white-text">未报销</span>
                            </div>
                            <div class="col s4">
                                <span class="grey-text bold fz18" style="padding-left: 10px;">已派发未报销笔数</span>
                            </div>
                            <div class="col s4 cyan-text fz20">
                                {{unreimbursedCount}}
                            </div>
                        </div>

                        <!-- 右侧 -->
                        <div class="col s6 vc-center" style="height: 80px;">
                            <div class="col s7 center-align">
                                <span class="grey-text bold fz18" style="padding-left: 10px;">已派发未报销金额</span>
                            </div>
                            <div class="col s5 right-align fz25 red-text">
                                {{unreimbursedMoneyCount | number:2}}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

