<div class="truck_payment_loan">
    <div class="row valign-wrapper">
        <div class="col s10">
            <div class="col s2 input-field">
                <input type="text" id="damage_id" name="damage_id" ng-model="damageId">
                <label for="damage_id">质损编号</label>
            </div>
            <div class="col s3 input-field">
                <select id="indemnity_status" ng-model="indemnityStatus" material-select watch>
                    <option value="" selected>请选择</option>
                    <option value="1">未打款</option>
                    <option value="2">已打款</option>
                </select>
                <label for="indemnity_status">处理状态</label>
            </div>
            <div class="col s3 input-field">
                <select id="apply_user_name" ng-model="applyUserName" material-select watch>
                    <option value="" selected>请选择</option>
                    <option ng-repeat="applyUserNameItem in applyUserNameList" ng-value="applyUserName.id">{{applyUserName.insure_name}}</option>
                </select>
                <label for="apply_user_name">申报人</label>
            </div>
            <div class="col s2 input-field">
                <input type="number" name="payment_money_start" id="payment_money_start" ng-model="planMoneyStart">
                <label for="payment_money_start">申报金额（元）</label>
            </div>
            <div class="col s2 input-field">
                <input type="number" name="payment_money_end" id="payment_money_end" ng-model="planMoneyEnd">
                <label for="payment_money_end">至</label>
            </div>
            <div class="col s2 input-field">
                <select id="receive_name" ng-model="receiveName" material-select watch>
                    <option value="" selected>请选择</option>
                    <option ng-repeat="receiveNameItem in receiveNameList" ng-value="applyUserName.id">{{receiveName.insure_name}}</option>
                </select>
                <label for="receive_name">经销商</label>
            </div>
            <div class="col s3 input-field">
                <input type="text" id="applyDateStart" name="applyDateStart" ng-model="applyDateStart" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="applyDateStart">申报时间(终)</label>
            </div>
            <div class="col s3 input-field">
                <input type="text" id="applyDateEnd" name="applyDateEnd" ng-model="applyDateEnd" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="applyDateEnd">申报时间(终)</label>
            </div>
            <div class="col s2 input-field">
                <input type="text" id="indemnityDateStart" name="indemnityDateStart" ng-model="indemnityDateStart" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="indemnityDateStart">借款时间(终)</label>
            </div>
            <div class="col s2 input-field">
                <input type="text" id="indemnityDateEnd" name="indemnityDateEnd" ng-model="indemnityDateEnd" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="indemnityDateEnd">借款时间(终)</label>
            </div>
        </div>
        <div class="col s2">
            <div class="col s12 center">
                <a ng-click="searchCompensateLoanList()" class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center" style="margin-right: 10px">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
        </div>
    </div>

    <!--表格-->
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <div class="divider" style="background: #00bcd4;height: 2px"></div>
                <table class="bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th width="200" data-field="">理赔编号</th>
                        <th width="250" data-field="">险种</th>
                        <th width="300" data-field="">保险公司</th>
                        <th width="200" data-field="">借款金额</th>
                        <th width="250" data-field="">经办人</th>
                        <th width="280" data-field="">借款时间</th>
                        <th width="280" data-field="">还款时间</th>
                        <th width="180" data-field="">状态</th>
                        <th width="150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="loan in compensateLoanList" class="grey-text text-darken-1">
                        <td>{{loan.accident_insure_id}}</td>
                        <td>{{loan.insure_type | insuranceType}}</td>
                        <td>{{loan.insure_name}}</td>
                        <td style="color: rgb(230,123,123)">{{loan.financial_loan}}</td>
                        <td>{{loan.insure_user_name}}</td>
                        <td>{{loan.loan_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{loan.repayment_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td style="color: #f1b054" class="text-lighten-2" ng-if="loan.loan_status == 0">拒绝</td>
                        <td class="red-text text-lighten-2" ng-if="loan.loan_status == 1">未借</td>
                        <td class="cyan-text text-lighten-2" ng-if="loan.loan_status == 2">已借</td>
                        <td style="color: darkgray" class="text-lighten-2" ng-if="loan.loan_status == 3">已还</td>
                        <td class="operation">
                            <a ui-sref="truck_compensate_loan_details({id:loan.id,compensateId:loan.accident_insure_id})" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center"><i class="mdi mdi-eye" style="margin: 0"></i></a>
                        </td>
                    </tr>
                    <tr class="grey-text text-darken-1" ng-if="compensateLoanList.length == 0">
                        <td colspan="9"><span style="letter-spacing: 2px">暂无数据</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>