<div class="setting_dealer_details">
    <div class="row">
        <div class="row valign-wrapper " style="position: relative">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ui-sref="setting_dealer">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h5 class="col s12 cyan-text lighten-1  center-align">
                经销商信息
            </h5>
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div class="row" style="position: relative">
            <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
            <div class="col s6 dealer_details grey-text">

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" id="short_name" name="short_name" ng-model="short_name" required>
                            <label class="grey-text bold" for="short_name">公司简称</label>
                        </div>
                        <div class="col s12 input-field mp-40"  >
                            <input type="text" id="deal_name" name="deal_name" ng-model="deal_name" required>
                            <label class="grey-text bold" for="deal_name">公司全称</label>
                        </div>

                        <div class="col s4 input-field mp-40">
                            <select material-select watch id="receiveFlag" ng-model="receive_flag" required>
                                <option ng-value="0">否</option>
                                <option ng-value="1">是</option>
                            </select>
                            <label class="grey-text bold" for="receiveFlag">是否为库</label>
                        </div>

                        <div class="col s4 input-field mp-40">
                            <select material-select watch id="receiveType" ng-model="receive_type" required>
                                <option value="" disabled selected>请选择</option>
                                <option ng-repeat="el in receiveTypeList" ng-value="el.id">{{el.typeName}}</option>
                            </select>
                            <label class="grey-text bold" for="receiveType">经销商类型</label>
                        </div>
                        <div class="col s4 input-field mp-40">
                            <select material-select watch id="car_brand" name="car_brand" ng-options="car_brand.make_name for car_brand in get_carMake"   ng-model="car_brand" >
                                <option value="" selected>请选择</option>
                            </select>
                            <label class="grey-text bold" for="car_brand">经营品牌</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <select id="chooseCity" name="state" style="width:100%" ng-change="eliminateCityVal()" ng-model="setting_city_id">
                                <option value=""></option>
                                <option value="0" >清除选择</option>
                                <option ng-repeat="el in setting_city" ng-value="el.id" ng-show="el.city_status==1">{{el.city_name}}</option>
                            </select>
                        </div>
                        <div style="position: relative;">
                            <div class="col s12 input-field mp-40" >
                                <input type="text" id="amapAddress" ng-change="amapAutocomplete()" ng-model="input_address" autocomplete="off"  name="amapAddress" required>
                                <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                <label class="grey-text bold" for="amapAddress">详细地址</label>
                            </div>
                            <i class="mdi  mdi-telegram fz40 cyan-text" style="position: absolute;top:90px;right:0" ng-click="getDetailAddress()"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 bold mp-40">备注:</div>
                        <div class="col s12 mp-10">
                        <textarea name="" id="" ng-model="remark" style="height: 150px" >

                        </textarea>
                        </div>
                        <span class="right fz12">最多可以输入240个字符</span>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s6">
                            <button href="" type="button" name="action" class="btn btn-floating cyan btn-large" ng-click="add_setting_dealer()">
                                <i class="mdi mdi-check"></i>
                            </button>
                        </div>
                    </div>

            </div>

            <!--高德地图-->
            <div class="col s6" id="a_map_location" style="height: 556px;">

            </div>
        </div>

    </div>
</div>