<div class="setting_dealer_details">
    <div class="row">
        <div class="row valign-wrapper " style="position: relative">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ui-sref="setting_dealer">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h5 class="col s12 cyan-text lighten-1  center-align">
                经销商信息
            </h5>
            <!--<div class="col s8 right-align">-->
            <!---->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div class="row" style="position: relative">
            <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
            <div class="col s6 dealer_details grey-text">
                <div class="row">
                    <div class="col s6 input-field">
                        <input type="text" id="short_name"  name="deal_name">
                        <label class="grey-text bold" for="short_name">公司简称</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="text" id="deal_name"   name="deal_name">
                        <label class="grey-text bold" for="deal_name">公司全称</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 input-field">
                        <select material-select watch>
                            <option value="" >选择城市</option>
                            <option value="1">选项 1</option>
                            <option value="2">选项 2</option>
                            <option value="3">选项 3</option>
                        </select>
                        <label class="grey-text bold">所属城市</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="text" id="address" ng-model="input_address"  name="address">
                        <label class="grey-text bold" for="address">详细地址</label>
                        <i class="address_icon mdi mdi-near-me vc-center white-text" ng-click="search_location(input_address)" style="cursor: pointer"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 bold">备注:</div>
                    <div class="col s11">
                        <textarea name="" id="" style="height: 150px" >

                        </textarea>
                    </div>
                    <span class="right fz12">最多可以输入240个字符  </span>
                    <p>{{now_local}}</p>
                </div>
                <div class="row">
                    <div class="col s2 offset-s6">
                        <a href="" ng-click="get_location()" class="btn btn-floating cyan btn-large">
                            <i class="mdi mdi-check"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col s6 dealer_map" id="dealer_map">

            </div>
        </div>

    </div>
</div>