<div class="setting_dealer_details">
    <div class="row">
        <div class="row valign-wrapper " style="position: relative">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ui-sref="setting_dealer">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h5 class="col s12 cyan-text lighten-1  center-align">
                经销商信息
            </h5>
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div class="row" style="position: relative">
            <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>

            <div class="col s5 dealer_details grey-text">
                <div class="col s12" ul-tabs>
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="font-size: 25px;font-weight: bold;overflow-x: hidden">
                        <li class="tab"><a href="#dealer_details" style="color: #26c6da">基本信息</a></li>
                        <li class="tab"><a href="#operation_record" ng-click="getOperateDetails()" style="color: #26c6da">操作记录</a></li>
                    </ul>
                </div>
                <div id="dealer_details" class="col s12" style="margin-top: 30px">

                        <div class="row">
                            <div class="col s12 input-field" >
                                <input type="text" id="short_name" name="short_name" autocomplete="off" ng-model="dealer_details.short_name" required>
                                <label class="grey-text bold" for="short_name">公司简称</label>
                            </div>
                            <div class="col s12 input-field mp-40" >
                                <input type="text" id="deal_name" name="deal_name" autocomplete="off" ng-model="dealer_details.receive_name" required>
                                <label class="grey-text bold" for="deal_name">公司全称</label>
                            </div>
                            <div class="col s12 input-field mp-40">
                                <select material-select watch id="receiveType" ng-model="dealer_details.receive_type" required>
                                    <option value="" disabled selected>请选择</option>
                                    <option ng-value="1">4S店</option>
                                    <option ng-value="2">大客户</option>
                                    <option ng-value="3">临时停放地</option>
                                </select>
                                <label class="grey-text bold" for="receiveType">经销商类型</label>
                            </div>
                            <div class="col s12 input-field" style="margin-top: 25px">
                                <select id="start_city" name="state" style="width:100%" ng-model="dealer_details.city_id">
                                    <option value=""></option>
                                    <option ng-repeat="el in setting_city" ng-value="el.id" ng-show="el.city_status==1">{{el.city_name}}</option>
                                </select>
                            </div>
                            <div style="position: relative;">
                                <div class="col s12 input-field" style="margin-top: 20px">
                                    <input type="text" id="amapAddress" autocomplete="off" ng-change="amapAutocomplete()" ng-model="dealer_details.address" name="address">
                                    <label class="grey-text bold" for="amapAddress">详细地址</label>
                                </div>
                                <i class="mdi  mdi-telegram fz40 cyan-text" style="position: absolute;top:310px;right:0" ng-click="getDetailAddress()"></i>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col s12 bold" style="margin-top: 18px">备注:</div>
                            <div class="col s12 mp-10">
                        <textarea ng-model="dealer_details.remark" name="remark" id="" style="height: 100px" >

                        </textarea>
                            </div>
                            <span class="right fz12">最多可以输入240个字符  </span>
                        </div>
                        <div class="row">
                            <div class="col s2 offset-s6">
                                <button href="" name="action" type="button" class="btn btn-floating cyan btn-large" ng-click="change_setting_dealer()">
                                    <i class="mdi mdi-check"></i>
                                </button>
                            </div>
                        </div>

                </div>
                <div id="operation_record" class="col s12">
                    <p ng-if="recordList.length == 0" class="center-align">暂无操作记录</p>
                    <p ng-if="recordList.length != 0" ng-repeat="record in recordList">
                        <span>{{record.timez | date:'yyyy-MM-dd HH:mm'}}</span>
                        &emsp;<span>{{record.content}}</span>
                        &emsp;<span>操作员：{{record.name}}</span>
                    </p>
                </div>
            </div>

            <!--经销商位置（高德地图）-->
            <div class="col s7 dealer_map" id="a_map_location">

            </div>

        </div>

    </div>
</div>