<div class="setting_dealer">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1  center-align">
                经销商
            </h5>
        </div>
        <div class="row">
            <div class="divider cyan lighten-2"></div>
        </div>
        <div style="width: 85%;margin: 0 auto">
            <!--洗车费模态框-->
            <div id="carWashFeeModel" class="modal modal-fixed-footer" style="width: 52%;height: 400px">
                <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                    <div class="row col s12 vc-center" style="font-weight: bold;height: 80px;background-color:rgb(63,185,193)">
                        <div class="col s12 fz22 white-text" style="font-weight: 600">
                            <p>商品车洗车费</p>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s4 offset-s4 input-field valign-wrapper">
                            <div class="col s11 input-field">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" ng-model="carWashFeeCount" id="car_wash_fee" name="car_wash_fee">
                                <label class="{{carWashFeeCount != null ? 'active' : 'inactive'}}" for="car_wash_fee">洗车费金额</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0;">
                                元
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer vc-center">
                    <button class="btn modal-action modal-close waves-light waves-effect grey lighten-1" type="button">
                        取消
                    </button>
                    <button ng-click="changeWashFee()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                        确定
                    </button>
                </div>
            </div>
            <div class="row addDealer">
                <div class=" input-field col s3">
                    <select id="start_city_list" name="state" style="width:100%" ng-change="get_dealer()" ng-model="city">
                        <option value=""></option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="el in get_city" ng-value="el.id">{{el.city_name}}</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <select material-select watch id="s_dealer" class="grey-text"   ng-model="s_dealer">
                        <option value=""  selected>请选择</option>
                        <option ng-repeat="el in get_receive" ng-value="el.id" >{{el.short_name}}</option>
                    </select>
                    <label for="s_dealer">经销商</label>
                </div>
                <div class="col s3 input-field">
                    <input id="index" name="index"  ng-model="s_dealer" type="text">
                    <label for="index">编号</label>
                </div>
                <div class="col s3">
                    <a href="" class="right btn-floating btn-large btn waves-effect cyan lighten-1 waves-light vc-center"
                       ui-sref="add_setting_dealer"><i class="mdi mdi-plus"></i>
                    </a>
                    <a href="" ng-click="search_dealer()" style="margin-right: 60px" class="right btn-floating btn-large btn waves-effect materialize-red lighten-2 waves-light vc-center">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
            </div>
            <div ng-repeat="el in setting_dealer" class="row dealerWrap">
                <div class="col s12 dealerBox grey lighten-3 p0">
                    <div class="col s9 valign-wrapper">
                        <div class="col s5 valign-wrapper">
                            <div class="col s1 blue-grey-text text-lighten-2 fz40" style="margin-right: 10px">
                                <i class="mdi mdi-domain"></i>
                            </div>
                            <div class="col s11">
                                <h6 class="blue-grey-text lighten-1 fz18" ng-bind="el.short_name"></h6>
                                <h6 class="fz13"><span>公司名称:</span><span>{{el.receive_name}}</span></h6>
                            </div>
                        </div>
                        <div class="col s6 valign-wrapper" style="height: 61px">
                            <div class="col s6">
                                <h6 class="blue-grey-text lighten-1 fz13" ><span>所属城市:</span><span>{{el.city_name}}</span></h6>
                                <h6 class="fz13"><span>公司地址:</span><span>{{el.address}}</span></h6>
                            </div>
                            <div class="col s6 right-align">
                                <h6 class="fz13"><span>经销商类型:</span><span>{{receiveTypeList[el.receive_type-1].typeName}}</span></h6>
                            </div>
                        </div>
                        <div class="col s1 valign-wrapper">
                            <h6 class="fz13"><span>￥</span><span>{{el.clean_fee}}</span></h6>
                        </div>
                    </div>
                    <div class="col s3 p0">
                        <div ng-click="view_contacts($index,el.id)" class="col s4 blue-grey lighten-4 blue-grey-text text-lighten-1 fz40 center-align pointer" style="border-right: 1px solid white">
                            <i class="mdi mdi-account"></i>
                        </div>
                        <div class="col s4 blue-grey lighten-4 blue-grey-text text-lighten-1 fz40 center-align pointer" ui-sref="setting_dealer_details({dealer_id:el.id})" style="border-right: 1px solid white">
                            <i class="mdi mdi-pencil"></i>
                        </div>
                        <div class="col s4 blue-grey lighten-4 blue-grey-text text-lighten-1 fz40 center-align pointer" ng-click="showCarWashFeeModel(el)">
                            <i class="mdi mdi-car-wash"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 contactsBox white lighten-3 p0" ng-show="contacts[{{$index}}].show">
                    <div class="col s12 valign-wrapper fz12" style="padding: 15px 0;border-bottom: 1px solid #eeeeee">
                        <div class="col s1">
                            联系人:
                        </div>
                        <div class="col s3 offset-s8 " ng-hide="addContacts[{{$index}}].show">
                            <a href="" class="right   btn waves-effect cyan lighten-1 waves-light vc-center open_car_brand "
                               ng-click="open_add_contacts($index)">增加联系人</a>
                        </div>
                        <div class="col s11 add_contacts"  ng-show="addContacts[{{$index}}].show">
                            <form name="addContactsFrom" ng-submit="add_contacts(addContactsFrom.$valid,el.id,$index)" novalidate>
                                <div class="col s12 z-depth-2 white contacts_box valign-wrapper "
                                     style="padding: 0.75rem 0;">
                                    <div class="col s3 vc-center input-field" style="margin-top: 0" ng-class="{'has-error':addContactsFrom.contacts_name.$invalid&&submitted}">
                                        <input class=" city_text" style="height: 2.4rem" name="contacts_name" id="contacts_name"  type="text" autocomplete="off" ng-model="$parent.contacts_name" required>
                                        <label class="fz12 grey-text" for="contacts_name">姓名</label>
                                    </div>
                                    <div class="col s3 vc-center input-field" style="margin-top: 0" ng-class="{'has-error':addContactsFrom.duty.$invalid&&submitted}">
                                        <input class=" duty" name="duty" style="height: 2.4rem"   id="duty"  type="text" autocomplete="off"
                                               ng-model="$parent.duty" >
                                        <label class="fz12 grey-text" for="duty">职务</label>
                                    </div>
                                    <div class="col s3 vc-center input-field" style="margin-top: 0" ng-class="{'has-error':addContactsFrom.phone.$invalid&&submitted}">
                                        <input class="phone" name="phone" style="height: 2.4rem"  id="phone"  type="text" autocomplete="off"
                                               ng-model="$parent.phone"   ng-pattern="mobileReg">
                                        <label class="fz12 grey-text" for="phone">电话</label>
                                    </div>

                                    <div class="col s2  add_dealer_Icon flex flex-round">
                                        <a class=" btn-floating waves-effect waves-light red lighten-2  btn" ng-click="close_contacts($index)">
                                            <i class="mdi mdi-close close_dealer"></i>
                                        </a>
                                        <button class="btn-floating waves-effect waves-light cyan  lighten-1 btn" type="submit"
                                                name="action">
                                            <i class="mdi mdi-check add_dealer"></i>
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col s12 valign-wrapper" style="padding: 15px 0">
                        <div class="col s12 contacts_details fz14">
                            <p ng-repeat="el in setting_contacts" class="col s5" style="position:relative;border-bottom: 1px solid #eeeeee;margin-right: 10px"><span class="col s3 ">{{el.contacts_name}}</span><span class="col s3 offset-s1">{{el.position}}</span><span class="col s3 offset-s1">{{el.tel}}</span><i ng-click="delete_contact(el.id,el.receive_id)" style="position: absolute;right: 0;cursor: pointer" class="mdi mdi-close-circle"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if='setting_dealer.length==0' class="row dealerWrap"><p style="text-align: center;margin-top: 50px">暂无数据</p></div>
        </div>
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" ng-show="pre" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" ng-show="next" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>

        </div>
    </div>
</div>