<div class="car_demand">
    <div class="row main_storage_car">
        <div class="row  grey-text text-darken-1">
            <div class="col s11">
                <div class="input-field col s3">
                    <input id="last_name" type="text" ng-model="vin_code">
                    <label for="last_name">VIN码</label>
                </div>

                <div class="input-field col s3">
                    <select material-select watch ng-model="brandId" >
                        <option value="" selected>品牌</option>
                        <option ng-repeat="carBrand in carMakeList" value={{carBrand.id}}>{{carBrand.make_name}}</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <select material-select watch ng-model="addrId">
                        <option value="" selected>发运地名称</option>
                        <option ng-repeat="addr in addrList" ng-value="addr.id">{{addr.addr_name}}</option>
                    </select>
                </div>

                <div class="input-field col s3">
                    <select material-select watch ng-model="destinationId">
                        <option value=""  selected>目的地城市</option>
                        <option ng-repeat="destination in cityList" value={{destination.id}}>{{destination.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="col s11">
                <div class="input-field col s3">
                    <select material-select watch ng-model="entrustId">
                        <option value="" selected>委托方</option>
                        <option ng-repeat="entrust in entrustList" value={{entrust.id}}>{{entrust.short_name}}</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <select material-select watch ng-model="receiveId">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="receive in receiveList" value={{receive.id}}>{{receive.short_name}}</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <input type="text" class="datepicker" date ng-model="instructionsStart"><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="last_name">指令时间</label>
                </div>
                <!--<div class="col s1 center-align" style="margin-top: 30px">—</div>-->
                <div class="input-field col s3">
                    <input type="text" class="datepicker" date ng-model="instructionsEnd"><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="last_name">至</label>
                </div>
            </div>
            <div class="col s1  flex flex-round">
            <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
            style="margin-right: 10px" ng-click="search_car()">
            <i class="mdi mdi-magnify"></i>
            </a>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
        <table class=" bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th width="350" data-field="">VIN码</th>
                <th width="160" data-field="">品牌</th>
                <th width="180" data-field="">发运地</th>
                <th width="160" data-field="">目的地城市</th>
                <th width="300" data-field="">委托方</th>
                <th data-field="">经销商</th>
                <th data-field="">指令时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="response in responseData" class="grey-text text-darken-1">
                <td width="350">{{response.vin}}</td>
                <td width="160">{{response.make_name}}</td>
                <td width="180">{{response.route_start}}</td>
                <td width="160">{{response.route_end}}</td>
                <td width="300">{{response.entrust_name}}</td>
                <td>{{response.receive_name}}</td>
                <td>{{response.order_date}}</td>
                <td width="100" class="operation">
                    <a ui-sref="car_query_details({vin:response.vin,id:response.id})" class=""><i
                            class="mdi mdi-file-outline look_icon cyan-text lighten-1  "></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!--<div class="paging_box col s12">-->
        <!--<div class="right">-->
            <!--<a class="waves-light waves-effect cyan lighten-1 btn  " id="pre" ng-click="pre_btn()">-->
                <!--上一页-->
            <!--</a>-->
            <!--<a class="waves-light waves-effect cyan lighten-1 btn " id="next" ng-click="next_btn()">-->
                <!--下一页-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
</div>

</div>