<table class="highlight bordered" ng-controller="truckController">
    <thead>
    <tr>
        <th data-field="">车牌号</th>
        <th data-field="">品牌</th>
        <th data-field="">挂车号</th>
        <th data-field="">主驾</th>
        <th data-field="">车辆电话</th>
        <th data-field="">所属类型</th>
        <th data-field="">所属单位</th>
        <th data-field="">板车位数</th>
        <th data-field="">调度状态</th>
        <th data-field="">车辆状态</th>
        <th data-field="">车检</th>
        <th data-field="">保险</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td class="operation">
            <span><i class="mdi mdi-eye" ng-click="Look()"></i></span>
            <div id="modal2" class="modal ">
                <div class="modal-content">
                    <h4 class="ch4 classign center-align">车辆信息</h4>
                    <div class="divider"></div>
                    <div class="row truck-nav" >

                        <!--<ul class="PublicTabs">-->
                        <!--<li class="tab col s3"><a class="active" href="#test1">基本信息</a>-->
                        <!--<li class="tab col s3"><a  href="#test1">车检</a></li>-->
                        <!--<li class="tab col s3"><a  href="#test2">车保</a></li>-->
                        <!--<li class="tab col s3"><a href="#test4">备注</a></li>-->
                        <!--</ul>-->
                        <add-nav></add-nav>
                    </div>
                    <div class="add_Truck_view">

                    </div>
                </div>
                <div class="modal-footer vc-center">
                    <a  class="blue white-text modal-action  waves-effect waves-white btn-flat " ng-click="submit()">提交</a>
                </div>
            </div>
            <span><i class="mdi mdi-truck-delivery"></i></span>
        </td>
    </tr>
    <tr>
        <td>李四</td>
        <td>12</td>
        <td>苗</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td class="operation">
            <span><i class="mdi mdi-eye"></i></span>
            <span><i class="mdi mdi-truck-delivery"></i></span>
        </td>

    </tr>
    <tr>
        <td>李明</td>
        <td>25</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td class="operation">
            <span><i class="mdi mdi-eye"></i></span>
            <span><i class="mdi mdi-truck-delivery"></i></span>
        </td>
    </tr>

    </tbody>
</table>


