<div class="setting_dealer_details">
    <div class="row">
        <div class="row valign-wrapper " style="position: relative">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
               ui-sref="setting_client">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h5 class="col s12 cyan-text lighten-1  center-align">
                委托方信息
            </h5>
            <!--<div class="col s8 right-align">-->
            <!---->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div class="row" style="width: 80%;margin: 0 auto">
            <div class="col s12 dealer_details grey-text">
                <div class="row">
                    <div class="col s6 input-field">
                        <input type="text" id="short_name" name="deal_name" ng-model="short_name">
                        <label class="grey-text bold" for="short_name">公司简称</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="text" id="deal_name" name="deal_name" ng-model="full_name">
                        <label class="grey-text bold" for="deal_name">公司全称</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 bold">备注:</div>
                    <div class="col s11">
                        <textarea name="" id="" style="height: 150px" ng-model="remark">

                        </textarea>
                    </div>
                    <span class="right fz12">最多可以输入240个字符</span>
                </div>
                <div class="row">
                    <div class="col s2 offset-s6">
                        <a href="" ng-click="createEntrust()" class="btn btn-floating cyan btn-large">
                            <i class="mdi mdi-check"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>