<div class="setting_client">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1  center-align">
                委托方
            </h5>
            <!--<div class="col s8 right-align">-->
            <!---->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="divider  cyan lighten-2"></div>
        </div>
        <div style="width: 75%;margin: 0 auto">
            <div class="row addClient">
                <a href=""
                   class="right btn-floating btn-large  btn waves-effect cyan lighten-1 waves-light vc-center open_car_brand "
                   ui-sref="add_setting_client"><i class="mdi mdi-plus"></i></a>
            </div>
            <div class="row clientWrap" ng-repeat="entrust in entrustList">
                <div class="col s12 clientBox grey lighten-3 p0">
                    <div class="col s5 valign-wrapper">
                        <div class="col s1 blue-grey-text text-lighten-2 fz40" style="margin-right: 10px">
                            <i class="mdi mdi-domain"></i>
                        </div>
                        <div class="col s11">
                            <h6 class="blue-grey-text lighten-1 fz18">{{entrust.short_name}}</h6>
                        </div>
                    </div>
                    <div class="col s5 valign-wrapper" style="height: 61px">
                        <div class="col s12">
                            <h6 class="fz13"><span>公司全称:</span><span>{{entrust.entrust_name}}</span></h6>
                        </div>

                    </div>
                    <div class=" col s2 p0">
                        <div ng-click="view_contacts(entrust.id,$index)"
                             class="col s6 blue-grey lighten-4 blue-grey-text text-lighten-1 fz40 center-align"
                             style="border-right: 1px solid white;cursor: pointer">
                            <i class="mdi mdi-account"></i>
                        </div>
                        <div ui-sref="setting_client_details({id:entrust.id})"
                             style="cursor: pointer"
                             class="col s6 blue-grey lighten-4 blue-grey-text text-lighten-1 fz40 center-align">
                            <i class="mdi mdi-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 contactsBox white lighten-3 p0 show_flag show_flag{{$index}}" flag="true">

                    <div class="col s12 valign-wrapper fz12" style="padding: 15px 0;border-bottom: 1px solid #eeeeee">
                        <div class="col s1">
                            联系人:
                        </div>
                        <div class="col s3 offset-s8 " ng-hide="add_contacts">
                            <a href="" class="right   btn waves-effect cyan lighten-1 waves-light vc-center "
                               ng-click="open_add_contacts()">增加联系人</a>

                        </div>
                        <div class="col s11 add_contacts" ng-show="add_contacts">
                            <form name="addContactsFrom"
                                  ng-submit="addContacts(addContactsFrom.$valid,entrust.id)" novalidate>
                                <div class="col s12 z-depth-2 white contacts_box valign-wrapper"
                                     style="padding: 0.75rem 0;">

                                    <div class="col s3 vc-center input-field" style="margin-top: 0" ng-class="{'has-error':addContactsFrom.contacts_name.$invalid&&submitted}">
                                        <input class=" city_text" style="height: 2.4rem" name="contacts_name"
                                               id="contacts_name" type="text" autocomplete="off"
                                               ng-model="$parent.userNames" required>
                                        <label class="fz12 grey-text" for="contacts_name">姓名</label>
                                    </div>
                                    <div class="col s3 vc-center input-field" style="margin-top: 0">
                                        <input class=" duty" name="duty" style="height: 2.4rem" id="duty" type="text"
                                               autocomplete="off"
                                               ng-model="$parent.dutys">
                                        <label class="fz12 grey-text" for="duty">职务</label>
                                    </div>
                                    <div class="col s3 vc-center input-field" style="margin-top: 0" ng-class="{'has-error':addContactsFrom.phone.$invalid&&submitted}">
                                        <input class="phone" name="phone" style="height: 2.4rem" id="phone" type="text"
                                               autocomplete="off"
                                               ng-model="$parent.phones"
                                               ng-pattern="mobileReg">
                                        <label class="fz12 grey-text" for="phone">电话</label>
                                    </div>

                                    <div class="col s2  add_dealer_Icon flex flex-round">
                                        <a class=" btn-floating waves-effect waves-light red lighten-2  btn"
                                           ng-click="close_contacts(entrust.id)">
                                            <i class="mdi mdi-close close_dealer"></i>
                                        </a>
                                        <!--<a class="btn-floating waves-effect waves-light cyan  lighten-1 btn"-->
                                           <!--ng-click="save_contacts(entrust.id)"-->
                                        <!--&gt;-->
                                            <!--<i class="mdi mdi-check add_dealer"></i>-->
                                        <!--</a>-->
                                        <button type="submit" class="btn-floating waves-effect waves-light cyan  lighten-1 btn"
                                        name="action">
                                            <i class="mdi mdi-check add_dealer"></i>
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col s12 valign-wrapper" style="padding: 15px 0" >
                        <!--<div class="col s1 fz12">-->
                            <!--联系人:-->
                        <!--</div>-->
                        <div class="col s12 contacts_details fz14">
                            <p ng-repeat="contactInfo in contactList" class="col s5" style="position:relative;border-bottom: 1px solid #eeeeee;margin-right: 5px">
                                <span class="col s3">{{contactInfo.contacts_name}}</span>
                                <span class="col s3 offset-s1">{{contactInfo.position}}</span>
                                <span class="col s3 offset-s1">{{contactInfo.tel}}</span>
                                <span ng-click="delete_contact(contactInfo.id,entrust.id)">
                                    <i style="cursor: pointer" class="mdi mdi-close-circle"></i>
                                </span>
                            </p>
                        </div>

                        <!--<p class="col s5 offset-s1" style="position:relative;border-bottom: 1px solid #eeeeee ">-->
                        <!--<span class="col s3 ">王保全</span><span class="col s3 offset-s1">物流部经理</span><span-->
                        <!--class="col s3 offset-s1">2164586789156</span><i style="position: absolute;right: 0"-->
                        <!--class="mdi mdi-window-close"></i>-->
                        <!--</p>-->

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>