<div class="app_version">
    <div class="row" style="margin: 0">
        <div id="addAppSystem" class="modal modal-fixed-footer" style="width: 75%;height: 600px">
            <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                <div class="row col s12 vc-center" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;background-color:rgb(63,185,193)">
                    <p>新增操作</p>
                </div>
                <div class="row col s12" style="margin-top: 35px">
                    <div style="width: 90%;margin: 0 auto">
                        <div class="col s12">
                            <div class=" col s6 input-field">
                                <select  material-select watch ng-model="addSystemType">
                                    <option value="" selected>请选择</option>
                                    <option value="1">安卓</option>
                                    <option value="2">IOS</option>
                                </select>
                                <label><span style="color: red">* </span>系统</label>
                            </div>
                            <div class="col s6 input-field">
                                <select  material-select watch ng-model="addAppType">
                                    <option value="" selected>请选择</option>
                                    <option value="1">物联存车</option>
                                    <option value="2">车辆管理</option>
                                    <option value="3">司机</option>
                                    <option value="4">质量监管</option>
                                    <option value="5">现场调度</option>
                                </select>
                                <label><span style="color: red">* </span>模块</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class=" col s6 p0">
                                <div class="col s12 input-field">
                                    <input type="text" id="addAppVersion" watch ng-model="addAppVersion">
                                    <label for="addAppVersion"><span style="color: red">* </span>版本号</label>
                                </div>
                            </div>
                            <div class=" col s6 input-field">
                                <select  material-select watch ng-model="addForceUpdate">
                                    <option value="" selected>请选择</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                                <label><span style="color: red">* </span>是否强制更新</label>
                            </div>
                        </div>
                        <div class="col s12 " style="margin-bottom:  40px;">
                            <div class="col s12 input-field">
                                <input type="text" name="uploadUrl" id="uploadUrl" ng-model="uploadUrl">
                                <label for="uploadUrl"><span style="color: red">* </span>下载地址</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="col s12 input-field">
                                <input type="text" name="addforceUpdate_description" id="addforceUpdate_description" ng-model="appDescription">
                                <label for="addforceUpdate_description">描述</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer valign-wrapper">
                <div class="col s12">
                    <div class="col s2 offset-s4">
                        <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                            取消
                        </a>
                    </div>
                    <div class="col s2">
                        <a ng-click="submitAppList()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            确定
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0">
        <div id="showAppSystem" class="modal modal-fixed-footer" style="width: 75%;height: 600px">
            <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                <div class="row col s12 vc-center" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;background-color:rgb(63,185,193)">
                    <p>操作记录</p>
                </div>
                <div class="row col s12" style="margin-top: 35px">
                    <div style="width: 90%;margin: 0 auto">
                        <div class="col s12">
                            <div class=" col s6 p0">
                                <div class="input-field col s12">
                                    <select id="type" material-select watch  ng-model="showAppSystemList.type">
                                        <option value="" selected>请选择</option>
                                        <option value="1">安卓</option>
                                        <option value="2">IOS</option>
                                    </select>
                                    <label for="type"><span style="color: red">* </span>系统</label>
                                </div>
                            </div>
                            <div class=" col s6 p0">
                                <div class="input-field col s12">
                                    <select  material-select watch ng-model="showAppSystemList.app">
                                        <option value="" selected>请选择</option>
                                        <option value="1">物联存车</option>
                                        <option value="2">车辆管理</option>
                                        <option value="3">司机</option>
                                        <option value="4">质量监管</option>
                                        <option value="5">现场调度</option>
                                    </select>
                                    <label><span style="color: red">* </span>模块</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class=" col s6 p0">
                                <div class="col s12 input-field">
                                    <input type="text" id="updateAppVersion" ng-model="showAppSystemList.version" >
                                    <label for="addAppVersion"><span style="color: red">* </span>版本号</label>
                                </div>
                            </div>
                            <div class=" col s6 p0">
                                <div class="input-field col s12">
                                    <select  required material-select  ng-model="showAppSystemList.force_update">
                                        <option value="" selected>请选择</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                    <label><span style="color: red">* </span>是否强制更新</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 " style="margin-bottom:  40px;">
                            <div class="col s12 input-field">
                                <input type="text" name="uploadUrl" id="updateUploadUrl" ng-model="showAppSystemList.url" >
                                <label for="uploadUrl"><span style="color: red">* </span>下载地址</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="col s12 input-field">
                                <input type="text" id="pdateforceUpdate_description" ng-model="showAppSystemList.remark" >
                                <label for="addforceUpdate_description">描述</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer valign-wrapper">
                <div class="col s12">
                    <div class="col s2 offset-s4">
                        <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                            取消
                        </a>
                    </div>
                    <div class="col s2">
                        <a ng-click="submitAppSystemItem(showAppSystemList.id)" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            确定
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-content grey-text text-darken-2">
        <div class="row no-marBottom" ul-tabs style="overflow: hidden">
            <div id="header_car" class="row tab_box">
                <div class="storage_storeTitle">
                        <div class="row grey-text text-darken-1 valign-wrapper">
                            <div class="col s10" style="color: #000; !important">
                                    <div class=" col s4 p0">
                                        <div class="input-field col s12">
                                            <select  material-select watch ng-model="getSystemType">
                                                <option value="">系统</option>
                                                <option value="1">安卓</option>
                                                <option value="2">IOS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col s4 p0">
                                        <div class="input-field col s12">
                                            <select  material-select watch ng-model="appType">
                                                <option value="">模块</option>
                                                <option value="1">物联存车</option>
                                                <option value="2">车辆管理</option>
                                                <option value="3">司机</option>
                                                <option value="4">质量监管</option>
                                                <option value="5">现场调度</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col s4 p0">
                                        <div class="input-field col s12">
                                            <select  material-select watch ng-model="forceUpdate">
                                                <option value="">是否强制更新</option>
                                                <option value="1">是</option>
                                                <option value="0">否</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="col s2">
                                <div class="col s6 center">
                                    <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="searchAppSystem()">
                                        <i class="mdi mdi-magnify"></i>
                                    </a>
                                </div>
                                <div class="col s6 center">
                                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center" style="margin-right: 10px" ng-click="addAppSystem()">
                                        <i class="mdi mdi-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col s12">
                        <div class="col s12">
                            <div class="divider" style="background: #00bcd4;height: 2px"></div>
                            <table class="bordered striped text_mid">
                                <thead class="blue-grey lighten-5">
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">操作时间</th>
                                    <th data-field="">系统</th>
                                    <th data-field="">模块</th>
                                    <th data-field="">最新版本号</th>
                                    <th data-field="">强制更新</th>
                                    <th data-field="">描述</th>
                                    <th data-field="">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in appSystemList" class="grey-text text-darken-1">
                                    <td>{{el.updated_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td  ng-if="el.type==null">所有</td>
                                    <td  ng-if="el.type==1">安卓</td>
                                    <td  ng-if="el.type==2">IOS</td>
                                    <td  ng-if="el.app==1">物联存车</td>
                                    <td  ng-if="el.app==2">车辆管理</td>
                                    <td  ng-if="el.app==3">司机</td>
                                    <td  ng-if="el.app==4">质量监管</td>
                                    <td  ng-if="el.app==5">现场调度</td>
                                    <td  ng-bind="el.version"></td>
                                    <td  ng-if="el.force_update==1">是</td>
                                    <td  ng-if="el.force_update==0">否</td>
                                    <td  ng-bind="el.remark"></td>
                                    <td class="operation vc-center">
                                        <a  ng-click="showAppSystem(el.id)" class="cyan-text fz12" style="cursor: pointer;display: inline-block;width: 37px;height: 37px;">  <i style="font-size: 1.3rem;line-height: 38px" class="mdi mdi-file-document"></i></a>
                                    </td>
                                </tr>
                                <tr class="grey-text text-darken-1" ng-if="appSystemList.length == 0">
                                    <td colspan="7"><span style="letter-spacing: 2px">暂无数据</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--分页-->
                <div class="row">
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre" ng-click="previous_page()">上一页</a>
                            <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>