<!-- 主菜单：app系统  画面 -->
<div class="row">

    <!-- 上部分：检索条件输入区域 -->


    <!--渲染条件-->
    <div class="row col s12">

        <!--查询条件-->
        <div class="col s10">

            <!--系统-->
            <div class="col s4 input-field">
                <select  material-select watch  ng-model="conSystemType">
                    <option value="">系统</option>
                    <option ng-repeat="el in systemTypeList" ng-value="el.id">{{el.type}}</option>
                </select>
            </div>

            <!--模块-->
            <div class="col s4 input-field">
                <select  material-select watch ng-model="conAppType">
                    <option value="">模块</option>
                    <option ng-repeat="el in appTypeList" ng-value="el.app">{{el.typeName}}</option>
                </select>
            </div>


            <!--是否强制更新-->
            <div class="col s4 input-field">
                <select  material-select watch ng-model="conForceUpdate">
                    <option value="">是否强制更新</option>
                    <option ng-repeat="el in forceUpdateList" ng-value="el.id">{{el.force_update}}</option>
                </select>
            </div>


        </div>


        <!--按钮-->
        <div class="col s2">
            <div class="col s6 center">
                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="getAppSystem()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center" style="margin-right: 10px" ng-click="openAppSystem()">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
        </div>
    </div>



    <!-- 下部分：检索结果显示区域 -->
    <div class="row">
        <div class="col s12">

            <!--分隔线-->
            <div class="divider cyan" style="height: 2px"></div>

            <!--列表-->
            <table class="bordered striped text_mid">


                <!--表头-->
                <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">操作时间</th>
                        <th data-field="">系统</th>
                        <th data-field="">模块</th>
                        <th data-field="">最新版本号</th>
                        <th data-field="">强制更新</th>
                        <th data-field="">描述</th>
                        <th data-field="">操作</th>
                    </tr>
                </thead>


                <!--表体-->
                <tbody>
                <tr ng-repeat="el in appSystemList" class="grey-text text-darken-1">
                    <td>{{el.updated_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{systemTypeList[el.type-1].type}}</td>
                    <td>{{appTypeList[el.app].typeName}}</td>
                    <td>{{el.version}}</td>
                    <td>{{forceUpdateList[el.force_update].force_update}}</td>
                    <td>{{el.remark}}</td>
                    <td class="operation vc-center">
                        <a  ng-click="readAppSystem(el.id)" class="cyan-text fz12">  <i class="mdi mdi-file-document"></i></a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="appSystemList.length == 0">
                    <td colspan="7">暂无数据</td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>



    <!-- 上下页按钮 -->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre" ng-click="getPrePage()">上一页</a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="getNextPage()">下一页</a>
            </div>
        </div>
    </div>


</div>



<!-- 新增操作模态框-->
<div id="newAppSystem" class="row modal modal-fixed-footer">


    <!--   Header 题目  新增操作-->
    <div class="cyan lighten-1 white-text center-align modal_title" >新增操作</div>


    <!--body-->
    <div class="modal-content">


        <!--新增信息-->
        <div class="row col s12">

                <!--系统-->
                <div class=" col s6 input-field">
                    <select  material-select watch id="newType" ng-model="newAppVersion.type">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="el in systemTypeList" ng-value="el.id">{{el.type}}</option>
                    </select>
                    <label for="newType"><span class="red-text">* </span>系统</label>
                </div>

                <!--模块-->
                <div class="col s6 input-field">
                    <select  material-select watch id="newTypeName" ng-model="newAppVersion.typeName">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="el in appTypeList" ng-value="el.app">{{el.typeName}}</option>
                    </select>
                    <label for="newTypeName"><span class="red-text">* </span>模块</label>
                </div>

                <!--版本号-->
                <div class=" col s6 input-field">
                    <input type="text" id="newVersion" ng-model="newAppVersion.version">
                    <label for="newVersion"><span class="red-text">* </span>版本号</label>
                </div>


                <!--是否强制更新-->
                <div class=" col s6 input-field">
                    <select  material-select watch id="newForceUpdate" ng-model="newAppVersion.forceUpdate">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="el in forceUpdateList" ng-value="el.id">{{el.force_update}}</option>
                    </select>
                    <label for="newForceUpdate"><span class="red-text">* </span>是否强制更新</label>
                </div>

                <!--下载地址-->
                <div class="col s12 input-field">
                    <input type="text" id="uploadUrl" ng-model="newAppVersion.uploadUrl">
                    <label for="uploadUrl"><span class="red-text">* </span>下载地址</label>
                </div>

                <!--描述-->
                <div class="col s12 input-field">
                    <input type="text" id="newDescription" ng-model="newAppVersion.appDescription">
                    <label for="newDescription">描述</label>
                </div>

        </div>


    </div>


     <!--按钮-->
    <div class="modal-footer valign-wrapper">
        <div class="col s12">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    取消
                </a>
            </div>
            <div class="col s2">
                <a ng-click="addAppList()" class="waves-light waves-effect cyan lighten-1 btn">
                    确定
                </a>
            </div>
        </div>
    </div>


</div>



<!-- 详情操作模态框-->
<div id="editAppSystem" class="row modal modal-fixed-footer">


    <!--   Header 题目  操作记录-->
    <div class="cyan lighten-1 white-text center-align modal_title" >操作记录</div>


    <!--body-->
    <div class="modal-content">


        <!--修改信息-->
        <div class="row col s12">

              <!--系统-->
                <div class="col s6 input-field">
                    <select material-select watch  id='editType'  ng-model="showAppSystemList.type">
                        <option value="" selected disabled>请选择</option>
                        <option ng-repeat="el in systemTypeList" ng-value="el.id">{{el.type}}</option>
                    </select>
                    <label for="editType"><span class="red-text">* </span>系统</label>
                </div>

                <!--模块-->
                <div class="col s6 input-field">
                    <select  material-select watch id='app'  ng-model="showAppSystemList.app">
                        <option value="" selected disabled>请选择</option>
                        <option ng-repeat="el in appTypeList" ng-value="el.app">{{el.typeName}}</option>
                    </select>
                    <label for="app"><span class="red-text">* </span>模块</label>
                </div>

                <!--版本号-->
                <div class=" col s6 input-field">
                    <input type="text" id="updateAppVersion" ng-model="showAppSystemList.version" >
                    <label for="updateAppVersion"><span class="red-text">* </span>版本号</label>
                </div>

                <!--是否强制更新-->
                <div class=" col s6 input-field">
                    <select  required material-select  ng-model="showAppSystemList.force_update">
                        <option value="" selected disabled>请选择</option>
                        <option ng-repeat="el in forceUpdateList" ng-value="el.id">{{el.force_update}}</option>
                    </select>
                    <label><span class="red-text">* </span>是否强制更新</label>
                </div>

                <!--下载地址-->
                <div class="col s12 input-field">
                    <input type="text" id="updateUploadUrl" ng-model="showAppSystemList.url">
                    <label for="uploadUrl"><span class="red-text">* </span>下载地址</label>
                </div>

                <!--描述-->
                <div class="col s12 input-field">
                    <input type="text" id="editDescription" ng-model="showAppSystemList.remark" >
                    <label for="editDescription">描述</label>
                </div>


        </div>

    </div>


    <!--按钮-->
    <div class="modal-footer valign-wrapper">
        <div class="col s12">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    取消
                </a>
            </div>
            <div class="col s2">
                <a ng-click="updateAppSystemItem(showAppSystemList.id)" class="waves-light waves-effect cyan lighten-1 btn">
                    确定
                </a>
            </div>
        </div>
    </div>
</div>



