
<!--商品车修改模态框-->
<div id="commodityCar" class="modal ">
    <div class="cyan lighten-1 white-text center-align modal_title" >商品车信息</div>
    <div class="modal-content">
        <div class="row col" style="width:94%; margin-left: 3%; height: 500px">
            <!--上部分：查询功能-->
            <div class="row col" style="width: 100%;position: relative">
                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input"  placeholder="           模糊查询至少需要6位VIN"  ng-model="commodityVin" ng-change="shortSearch()"  style="margin: 0 0 20px 0"  class="autocomplete">
                    <label for="autocomplete-input">VIN</label>
                </div>
                <button class=" btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="carId!==undefined" ng-click="getCommodityCarData()"  style="position: absolute;top: 15px;right: 10px;">
                    <i class="mdi white-text mdi-plus fz30"></i>
                </button>
                <button class=" btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="carId==undefined" disabled style="position: absolute;top: 15px;right: 10px;">
                    <i class="mdi white-text mdi-plus fz30"></i>
                </button>
            </div>

            <!--下部分：查询结果-->
            <div class="col s12" ng-show="flag==true">
                <div class="row  blue-grey lighten-5" style="width:98%;border:1px solid #bdbdbd">
                    <!-- header -->
                    <div class="col s12  cyan-text vc-center left-align" style="height:50px;border-bottom :1px solid #bdbdbd">
                        <div class="col s4">
                            VIN：{{commodityCarList.vin}}
                        </div>
                        <div class="col s4 right-align offset-s4 grey-text">
                           导入时间：{{commodityCarList.created_on|date:'yyyy-MM-dd hh:mm'}}
                        </div>
                    </div>
                    <!-- body -->
                    <div class="col s12 white" style="height:70px;">
                        <div class="input-field col s4">
                            <select material-select watch  id="look_makecarName"  name="look_makecarName"  ng-model="commodityCarList.make_id" required>
                                <option value="" disabled selected>请选择</option>
                                <option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>
                            </select>
                            <label for="look_makecarName" ><span style="color: red">*</span>制造商</label>
                        </div>
                        <div class="input-field col s4">
                            <select material-select watch id="client1" name="client"  ng-model="commodityCarList.entrust_id" >
                                <option value="" disabled selected>请选择</option>
                                <option ng-repeat="el in get_entrust" ng-value="el.id" >{{el.short_name}}</option>
                            </select>
                            <label for="client1">委托方</label>
                        </div>
                        <div class="input-field col s4">
                            <input type="text" id="last_name" class="datepicker" date ng-model="commodityCarList.order_date"><i
                                class="mdi dataIcon mdi-table-large"></i>
                            <label for="last_name">指令时间</label>
                        </div>
                    </div>
                    <!-- body -->
                    <div class="col s12 white" style="height:70px;">
                        <div class="input-field col s4">
                            <select id="chooseStartCity" name="state" style="width:100%" ng-change="get_addr(start_city)" ng-model="start_city">
                                <option value="0">发运地城市</option>
                                <option ng-repeat="city in get_city" ng-value="city.id">{{city.city_name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select  style="width:100%" id="start_addr" name="start_addr"  required  ng-model="start_addr" >
                                <option value=""></option>
                                <option ng-repeat="el in start_address" ng-value="el.id" >{{el.addr_name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select id="chooseEndCity" name="state" style="width:100%" ng-change="get_received(arrive_city)" ng-model="arrive_city">
                                <option ng-value="0">目的地城市</option>
                                <option ng-repeat="city in get_city" ng-value="city.id" >{{city.city_name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select  id="dealer1" style="width:100%" name="dealer1" ng-model="arrive_receive">
                                <option value=""></option>
                                <option ng-repeat="el in put_receive" ng-value="el.id" >{{el.short_name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <input  id="putShipName" name="putShipName"  ng-model="commodityCarList.ship_name" type="text" >
                            <label for="putShipName">船名</label>
                        </div>
                    </div>
                    <!-- body -->
                    <div class="col s12 white" style="height:70px;">
                        <p class="col s12 min-width-2 left-align cyan-text" >备注:</p>
                        <div class="col s12 valign-wrapper" style="position: relative">
                            <p class=" col s12 p0">
                                <textarea id="look_remark" style="height: 100px" name="remark" class="col s12" ng-model="commodityCarList.remark"></textarea>
                            </p>
                        </div>
                    </div>

                    <div class="col s12 white" style="height:100px;"></div>
                </div>

                <div class="col s12">
                    <div class="col s12 input-field center-align" style="margin-top: 30px ; margin-bottom: 30px" >
                        <a href="" class="btn waves-effect circle_button" ng-click="putDataItem(commodityCarList.id)">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <form name="file_upload_form " id="file_upload_form" >
            <div class="col s4">
                <div class="row">
                    <div class="file-field  input-field ">
                        <a href="/assets/车辆信息导入模板.csv" target="_blank" class="btn waves-effect circle_button" >下载模板格式</a>
                    </div>
                </div>
            </div>
            <div class="col s5 offset-s3">
                <div class="col s4">
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn cyan lighten-2 circle_button">
                                <span>批量数据导入</span>
                                <input type="file" style="font-size: 100px;height: 45px;"  name="file" accept="text/csv" onchange='angular.element(this).scope().fileChange(this)' >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="file-field cyan input-field ">
                            <a href="" class="right btn waves-effect circle_button" ng-click="openDataModel()">单条数据修改</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="file-field cyan input-field ">
                            <a href="" class="right btn waves-effect circle_button" ng-click="new_data_list()">单条数据增加</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s12 templateBox" ng-show="templateBox">
                <img style="width: 100%" src="/assets/images/import_instruction.png" />
            </div>
        </div>
    </div>
    <div class="row dataBox " style="overflow: auto;" ng-show="dataBox">
        <div class="col s12">
            <h6 class="red lighten-2 white-text vc-center" style="padding: 20px">错误数据<span>{{errorNumber}}</span>条，请修改后重新上传</h6>
            <table class="responsive-table highlight">
                <thead class="blue-grey lighten-4 grey-text text-darken-1">
                <tr>
                    <th>序号</th>
                    <th ng-repeat="header in tableHeader track by $index">{{header}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableContentErrorFilter track by $index">
                    <td>{{$index+1}}</td>
                    <td ng-repeat="item in row track by $index">{{item}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row success_data_box " style="overflow: auto; "  ng-show="success_data_box">
        <div class="divider" style="height: 2px;"></div>
        <div class="col s12 " style="padding: 100px 0">
            <div class="progress" >
                <div class="determinate" ng-style="obj"></div>
            </div>
            <p><span>{{num}}</span>/<span>{{orginData_Length}}</span></p>
            <div class="col s2 offset-s5 ">
                <p class="vc-center " ng-show="local_isSuccesss">
                    <i class="mdi mdi-check cyan-text text-lighten-2 fz40"></i><span class="blue-grey-text fz18">本地校验成功</span>
                </p>
                <p class="vc-center " ng-show="upload_isSuccesss">
                    <i class="mdi mdi-check cyan-text text-lighten-2 fz40" ></i><span class="blue-grey-text fz18">上传完成</span>
                </p>
                <p class="vc-center" ng-show="upload_isSuccesss">
                   <span>错误条数:<span>{{upload_error_array_num}}</span></span>
                   <span>正确条数:<span>{{orginData_Length-upload_error_array_num}}</span></span>
                   <span>总条数:<span>{{orginData_Length}}</span></span>
                </p>
                <!--<a href="" class="btn btn-large waves-effect cyan lighten-2"></a>-->
                <p class="center-align">
                    <button class="btn btn-large circle_button cyan lighten-2" ng-click="fileUpload()" id="buttonImport" >
                        导入数据库
                    </button>
                    <a href="" style="margin-top: 10px" class="btn btn-large circle_button cyan lighten-2" ng-show="show_error" ng-click="show_error_msg()">错误数据显示</a>
                </p>
            </div>
        </div>

        <table class=" bordered striped" ng-show="error_msg">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">错误位置</th>
                <th data-field="">原因</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in upload_error_array" class="grey-text text-darken-1">
                <td>第{{el.index}}条</td>
                <td ng-bind="el.msg"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--商品车增加模态框-->
    <div id="new_car" class="modal ">
        <div class="cyan lighten-1 white-text center-align modal_title" >新增车辆</div>
        <div class="modal-content">
            <div class="row no-marBottom" ul-tabs>
                <div class="col s12 p0">
                    <ul class="tabWrap grey lighten-4 ">
                        <li class="tab col s6 disabled vc-center test1 active">基本信息</li>
                        <li  class="tab disabled col s6  vc-center test2 ">车辆照片</li>
                    </ul>
                </div>

                <div id="test1" class="col s12 tab_box">
                    <form name="new_carForm" style="color:#616161" ng-submit="newSubmitForm(new_carForm.$valid)" novalidate>
                        <div class="row" style="margin-top: 40px">
                            <div class="row "  >
                                <div class="input-field col s4">
                                    <input  id="vin" name="vin" autocomplete="off" ng-model="vin" type="text" ng-pattern="/^[a-zA-Z0-9]{17}$/"   required >
                                    <label for="vin"><span style="color: red;margin-right: 5px">*</span>VIN</label>
                                </div>
                                <div class="input-field col s4">
                                    <select material-select watch id="car_brand" name="car_brand" ng-options="car_brand.make_name for car_brand in get_carMake"   ng-model="car_brand" >
                                        <option value="" disabled selected>请选择</option>
                                    </select>
                                    <label for="car_brand">品牌</label>
                                </div>
                                <div class="input-field col s4">
                                    <input type="text" id="arrival_time" name="arrival_time"  class="datepicker" autocomplete="off" ng-model="arrival_time" date><i class="mdi grey-text text-lighten-1 dataIcon mdi-table-large"></i>
                                    <label for="arrival_time">指令时间</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s4 p0">
                                    <div class=" input-field col s6">
                                        <select id="start_city" name="state" style="width:100%" ng-change="start_city_change(start_city.id)" ng-options="start_city.city_name for start_city in get_city" ng-model="start_city" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="input-field col s6">
                                        <select material-select watch id="base_addr" name="base_addr" ng-options="base_addr.addr_name for base_addr in baseAddr" required ng-model="base_addr">
                                            <option value="" disabled selected>请选择</option>
                                        </select>
                                        <label for="base_addr">发运地地址</label>
                                    </div>
                                </div>

                                <div class="input-field col s2">
                                    <select material-select watch id="client" name="client"  ng-model="client"  required>
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in get_entrust" ng-value="el.id" >{{el.short_name}}</option>
                                    </select>
                                    <label for="client">委托方</label>
                                </div>
                                <div class=" col s4 p0">
                                    <div class="input-field col s6">
                                        <select id="arrive_city" name="arrive_city" style="width:100%" ng-change="get_received(arrive_city.id)"  ng-model="arrive_city" ng-options="arrive_city.city_name for arrive_city in get_city"  required>
                                            <option value="" ></option>
                                        </select>
                                    </div>
                                    <div class="input-field col s6" ng-show="get_receive.length==0">
                                        <input id="ipnutRecevie" type="text" disabled />
                                        <label for="ipnutRecevie">发运地地址</label>
                                    </div>
                                    <div class="input-field col s6"  ng-show="get_receive.length!==0">
                                        <select style="width:100%" id="dealer" name="dealer" required  ng-model="dealer" class="col s12">
                                            <option value="" disabled selected>请选择</option>
                                            <option ng-repeat="el in get_receive" ng-value="el.id" >{{el.short_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-field col s2">
                                    <input  id="shipName" name="shipName"  ng-model="shipName" type="text" >
                                    <label for="shipName">船名</label>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col 12 min-width-2 left-align grey-text darken-2">
                                    备注:</p>
                                <div class="col s12 valign-wrapper" style="position: relative">
                                    <p class=" col s12 p0">
                                        <textarea id="remark" style="height: 100px" name="remark" class="col s12 " ng-model="remark" ></textarea>

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="divider cyan" style="height: 2px;"></div>
                        <div class="modal-footer right-align">
                            <button class="btn btn-floating waves-light waves-effect  cyan lighten-1" type="submit" name="action" ng-click="addCarItem()">
                                <i class="mdi mdi-trending-neutral"></i>
                                <!--下一步-->
                            </button>
                            <a  class="modal-action btn-floating modal-close waves-effect  grey lighten-1waves-light   btn" style="margin-right: 10px" >
                                <i class="mdi mdi-close"></i>
                                <!--取消-->
                            </a>
                        </div>
                    </form>
                </div>
                <div id="test2" class="col s12 tab_box">
                    <div class="row no-marBottom">
                        <div class="col s12 valign-wrapper" style="position: relative">
                            <div class="storage_car_picture_wrap col s12 p0">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file"  onchange="angular.element(this).scope().uploadBrandImage(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p class="center-align" style="margin-top: 10px">车辆照片</p>
                                    </div>

                                    <ul id="look_img">
                                        <li ng-repeat="el in car_imageBox" ng-mouseenter="show=true" ng-mouseleave="show=false"     class="truck_car_picture col s3 vc-center  p0 grey white-text">
                                            <img ng-src="{{el.src}}" class="responsive-img">
                                            <b class="delete_img vc-center black fz18" ng-click="delete_img(el.record_id,el.src)"><i class="mdi mdi-close"></i></b>
                                            <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="divider cyan" style="height: 2px;"></div>
                        <div class="modal-footer vc-center">
                            <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn" style="margin-left: 10px" >
                                <!--<i class="mdi mdi-close"></i>-->
                                关闭
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>