<div>
    <div class="progress">
        <div class="determinate" ng-style="obj"></div>
    </div>
    <div class="row">
        <form name="file_upload_form" >
            <div class="col s5">
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn cyan lighten-2">
                            <span>文件</span>
                            <input type="file" name="file" accept="text/csv" onchange='angular.element(this).scope().fileChange(this)' >
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate"  placeholder="请选择csv文件上传" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <p class="flow-text cyan-text"><i class="mdi mdi-bookmark-check mdi-32px"></i>{{rightNumber}}</p>
            </div>
            <div class="col s3">
                <p class="flow-text cyan-text"><i class="mdi mdi-bookmark-remove mdi-32px"></i>{{errorNumber}}</p>
            </div>
            <div class="col s1" ng-if="errorNumber<1&&rightNumber>0">
                <!--<a href="" class="btn btn-large waves-effect cyan lighten-2"></a>-->
                <button class="btn cyan lighten-2" ng-click="fileUpload($event)" >上传</button>
            </div>
        </form>

    </div>
    <div class="row " style="overflow: auto;">
        <table class="responsive-table striped">
            <thead>
            <tr>
                <th>序号</th>
                <th ng-repeat="header in tableHeader track by $index">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in tableContentErrorFilter track by $index">
                <td>{{$index+1}}</td>
                <td ng-repeat="item in row track by $index">{{item}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>