<a style="margin: 90px 0 0 20px" class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
   ui-sref="insurance_compensation">
    <i class="mdi mdi-arrow-left-bold"></i>
</a>
<div class="add_damage_insurance">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">增加质损保险</h5>
    </div>
    <div class="divider" style="background: #00bcd4;height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
    <div class="row col s12" style="width: 75%;margin: 0 auto">
        <div class="row col s12">
            <div class="col s6 valign-wrapper">
                <span style="color: red">*</span>&nbsp;
                <div class="col s12 input-field" style="padding: 0;">
                    <select material-select watch ng-model="insuranceCompanyId">
                        <option value="" disabled>选择保险公司</option>
                        <option ng-repeat="company in insuranceCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                    </select>
                </div>
            </div>
            <div class="col s6 input-field">
                <input disabled id="VinCode" type="text" ng-model="handler">
                <label for="VinCode">经办人</label>
            </div>
        </div>
        <div class="row col s12">
            <div class="col s10 input-field">
                <input id="associated_damage" type="text" ng-model="damageNum">
                <label style="color: #00bcd4;font-weight: bold" for="associated_damage"><span style="color: red;">* </span>关联质损</label>
            </div>
            <div class="col s2 center flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center"
                   ng-click="searchDamageDetails()">
                    <i class="mdi mdi-playlist-plus"></i>
                </a>
            </div>
        </div>
        <!--信息卡片-->
        <div class="row col s12">
            <!--这下面加ng-repeat-->
            <div class="row col s12" ng-repeat="damageInfo in damageInfoDetailsList" style="border: 2px solid #26c6da;border-radius: 5px;background-color: white;color: darkgray">
                <!--头-->
                <div class="col s12 card_head" style="padding: 0;border-bottom: 1px solid #ccc">
                    <div class="col s11">
                        <p style="font-weight: bold;color: #00bcd4">质损编号：{{damageInfo.id}}</p>
                    </div>
                    <div class="col s1 right-align">
                        <span ng-click="deleteDamageInfo($index)" style="font-size: 1.8rem;cursor: pointer" class="mdi mdi-delete-forever"></span>
                    </div>
                </div>
                <!--内容-->
                <div class="col s12 card_body" style="font-size: 1.07rem;padding: 0;">
                    <div class="col s4">
                        <p><span style="font-weight: bold">VIN码：</span>{{damageInfo.vin + "（" + damageInfo.make_name + "）"}}</p>
                    </div>
                    <div class="col s4">
                        <p><span style="font-weight: bold">司机：</span>{{damageInfo.drive_name}}</p>
                    </div>
                    <div class="col s4">
                        <p><span style="font-weight: bold">货车牌号：</span>{{damageInfo.truck_num}}</p>
                    </div>

                    <div class="col s3">
                        <p><span style="font-weight: bold">质损类型：</span>{{damageInfo.damage_type == 1 ? "一般质损" : damageInfo.damage_type == 2 ? "严重质损" : "暂无"}}</p>
                    </div>
                    <div class="col s2">
                        <p><span style="font-weight: bold">责任人：</span>{{damageInfo.under_user_name == null ? "暂无" : damageInfo.under_user_name}}</p>
                    </div>
                    <div class="col s4">
                        <p><span style="font-weight: bold">委托方：</span>{{damageInfo.en_short_name}}</p>
                    </div>
                    <div class="col s3">
                        <p><span style="font-weight: bold">经销商：</span>{{damageInfo.re_short_name}}</p>
                    </div>
                    <div class="col s12">
                        <p><span style="font-weight: bold">质损说明：</span>{{damageInfo.damage_explain}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col s12 valign-wrapper">
            <div class="col s5 input-field">
                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_compensate" type="number" ng-model="insuranceCompensation">
                <label style="font-weight: bold" for="insurance_compensate">保险待赔</label>
            </div>
            <div class="col s1 left-align" style="padding: 0;">
                <p>元</p>
            </div>
            <div class="col s5 input-field">
                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_pay" type="number" ng-model="insurancePayment">
                <label style="font-weight: bold" for="insurance_pay">保险赔付</label>
            </div>
            <div class="col s1 left-align" style="padding: 0;">
                <p>元</p>
            </div>
        </div>

        <div class="row col s12" style="margin-top: 30px">
            <div class="col s4 offset-s4">
                <a ng-click="submitDamageList()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                    确定
                </a>
            </div>
        </div>

    </div>
</div>