<div class="car_wash_fee">
    <div class="row main_storage_car">
        <div class="col s10">
            <div class="col s4 input-field">
                <input id="instruction_number" type="text" ng-model="instructionNum">
                <label for="instruction_number">指令编号</label>
            </div>
            <div class="col s4 input-field">
                <input id="driver" type="text" ng-model="driver">
                <label for="driver">司机</label>
            </div>
            <div class="col s4" style="padding: 0;">
                <div class="col s6 input-field">
                    <select id="end_city" name="state" style="width:100%" ng-change="getRecive()" ng-model="cityId">
                        <option value=""></option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="col s6 input-field">
                    <select material-select watch ng-model="distributor">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="rec in receiveList" ng-value="rec.id">{{rec.short_name}}</option>
                    </select>
                </div>
            </div>

            <div class="col s4 input-field">
                <select material-select watch ng-model="receive_status">
                    <option value="" selected>领取状态</option>
                    <option value="0">未通过</option>
                    <option value="1">未审核</option>
                    <option value="2">已通过</option>
                </select>
            </div>
            <div class="col input-field s4">
                <input id="receive_time_start" type="text" class="datepicker" ng-model="receiveTimeStart" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_start">领取时间</label>
            </div>
            <div class="col input-field s4">
                <input id="receive_time_end" type="text" class="datepicker" ng-model="receiveTimeEnd" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_end">至</label>
            </div>
        </div>

        <div class="col s2 vc-center" style="height: 125px;">
            <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center"
               ng-click="getCarWashFeeList()">
                <i class="mdi mdi-magnify"></i>
            </a>
        </div>

        <div class="row col s12" style="margin-top: 25px">
            <div class="divider" style="background: #00bcd4;height: 2px"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th width="150" data-field="">指令编号</th>
                    <th width="180" data-field="">司机</th>
                    <th width="150" data-field="">计划洗车费</th>
                    <th width="150" data-field="">实际洗车费</th>
                    <th width="200" data-field="">货车牌号</th>
                    <th width="380" data-field="">送达经销商</th>
                    <th width="250" data-field="">领取时间</th>
                    <th width="120" data-field="">领取状态</th>
                    <th width="200">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="car in carWashFeeList">
                    <td width="150">{{car.id}}</td>
                    <td width="180">{{car.drive_name}}</td>
                    <td width="150">{{car.total_price}}</td>
                    <td width="150">{{car.actual_price}}</td>
                    <td width="200">{{car.truck_num}}</td>
                    <td width="380">{{car.short_name}}</td>
                    <td width="250">{{car.clean_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td width="120">{{car.status == 0 ? "未通过" : car.status == 1 ? "未审核" : "已通过"}}</td>
                    <td width="200" class="details">
                        <a ui-sref="car_wash_fee_details({id:car.id})" style="font-size: 1.5rem">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="carWashFeeList.length == 0">
                    <td colspan="9"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>