<div class="car_wash_fee">
    <div class="row main_storage_car">
        <div class="col s10">
            <div class="col s3 input-field">
                <input id="instruction_number" type="text" ng-model="instructionNum">
                <label for="instruction_number">洗车编号</label>
            </div>
            <div class="col s3 input-field">
                <select material-select watch ng-model="driver" id="driveName" style="width: 100%" >
                    <option value="" selected>请选择</option>
                    <option ng-repeat="el in driveNameList" value={{el.drive_name}}>{{el.drive_name}}</option>
                </select>
            </div>
            <div class="col s3 input-field">
                <select material-select watch ng-model="receive_status">
                    <option value="" selected>领取状态</option>
                    <option value="0">未通过</option>
                    <option value="1">未领取</option>
                    <option value="2">已领取</option>
                </select>
            </div>
            <div class="col s3" style="padding: 0;">
                <div class="col s6 input-field">
                    <select id="end_city" name="state" style="width:100%" ng-change="getRecive()" ng-model="cityId">
                        <option value=""></option>
                        <option value="0" >清除选择</option>
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="col s6 input-field">
                    <select material-select watch ng-model="distributor">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="rec in receiveList" ng-value="rec.id">{{rec.short_name}}</option>
                    </select>
                </div>
            </div>


            <div class="col input-field s3">
                <input id="receive_time_start" type="text" class="datepicker" ng-model="receiveTimeStart" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_start">领取时间</label>
            </div>
            <div class="col input-field s3">
                <input id="receive_time_end" type="text" class="datepicker" ng-model="receiveTimeEnd" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_end">至</label>
            </div>
            <div class="col input-field s3">
                <input id="load_time_start" type="text" class="datepicker" ng-model="loadDateStart" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_start">装车时间</label>
            </div>
            <div class="col input-field s3">
                <input id="load_time_end" type="text" class="datepicker" ng-model="loadDateEnd" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_end">至</label>
            </div>

        </div>

        <div class="col s2 vc-center" style="height: 125px;">
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center"
                   ng-click="getCarWashFeeList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>

        <div class="row col s12" style="margin-top: 25px">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">洗车编号</th>
                    <th data-field="">调度编号</th>
                    <th data-field="">司机</th>
                    <th data-field="">电话</th>
                    <th data-field="">品牌</th>
                    <th data-field="">洗车数</th>
                    <th data-field="">计划洗车费</th>
                    <th data-field="">实际洗车费</th>
                    <th data-field="">计划门卫费</th>
                    <th data-field="">实际门卫费</th>
                    <th data-field="">货车牌号</th>
                    <th data-field="">送达经销商</th>
                    <th data-field="">装车日期</th>
                    <th data-field="">领取时间</th>
                    <th data-field="">领取状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="car in carWashFeeList">
                    <td>{{car.id}}</td>
                    <td>{{car.dp_route_task_id}}</td>
                    <td>{{car.drive_name}}</td>
                    <td>{{car.mobile}}</td>
                    <td>{{car.make_name}}</td>
                    <td>{{car.car_count}}</td>
                    <td>{{car.total_price}}</td>
                    <td>{{car.actual_price}}</td>
                    <td>{{car.guard_fee}}</td>
                    <td>{{car.actual_guard_fee}}</td>
                    <td>{{car.truck_num}}</td>
                    <td>{{car.short_name}}</td>
                    <td>{{car.created_on | date:'yyyy-MM-dd'}}</td>
                    <td>{{car.clean_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{car.status == 0 ? "未通过" : car.status == 1 ? "未领取" : "已领取"}}</td>
                    <td class="details">
                        <a ui-sref="car_wash_fee_details({id:car.id,from:'car_wash_fee'})" style="font-size: 1.5rem">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="carWashFeeList.length == 0">
                    <td colspan="16"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="paging_box col s12" style="height: 45px">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>