<!--详情  模态框-->
<div id="openDetailModal" class="modal">


    <!--标题-->
    <div class="cyan lighten-1 white-text center-align modal_title" >费用详情</div>


    <!--内容-->
    <div class="modal-content">

        <div class="container">
            <div class="row col s12  left-align bold">费用总价</div>


            <div class="row col s12 cyan-text">

                <!--大车洗车费  小车洗车费  拖车费   地跑费  带路费  -->
                <div class="col input-field colWidth">大车洗车费:<span class="red-text fz22">{{showList.big_single_price*showList.big_car_count}}</span></div>
                <div class="col input-field colWidth">小车洗车费:<span class="red-text fz22">{{showList.small_single_price*showList.small_car_count}}</span></div>
                <div class="col input-field colWidth">拖车费:<span class="red-text fz22">{{showList.total_trailer_fee}}</span></div>
                <div class="col input-field colWidth">地跑费:<span class="red-text fz22">{{showList.total_run_fee}}</span></div>
                <div class="col input-field colWidth">带路费:<span class="red-text fz22">{{showList.lead_fee}}</span></div>

            </div>


            <div class="row col s12  left-align bold">费用单价</div>

            <!--大车洗车费单价  小车洗车费单价  拖车费单价 地跑费单价   带路费单价 -->
            <div class="row col s12 cyan-text fz13">
                <div class="col input-field colWidth">大车洗车费单价:<span class="red-text fz22">{{showList.big_single_price}}</span></div>
                <div class="col input-field colWidth">小车洗车费单价:<span class="red-text fz22">{{showList.small_single_price}}</span></div>
                <div class="col input-field colWidth">拖车费单价:<span class="red-text fz22">{{showList.trailer_fee}}</span></div>
                <div class="col input-field colWidth">地跑费单价:<span class="red-text fz22">{{showList.run_fee}}</span></div>
                <div class="col input-field colWidth">带路费单价:<span class="red-text fz22">{{showList.lead_fee}}</span></div>

            </div>


            <div class="col s12 input-field left-align">
                备注:{{showList.remark}}
            </div>


        </div>
    </div>

    <!--分隔符-->
    <div class="divider"></div>

    <!--按钮-->
    <div class="modal-footer row">
        <div class="col s12 center-align mp-10">
            <div class="col s2 offset-s5">
                <a class="modal-action modal-close waves-light waves-effect cyan lighten-1 btn">
                    关闭
                </a>
            </div>
        </div>
    </div>

</div>

<!--批量  模态框-->
<div id="openBatchDeal" class="modal">

    <!--标题-->
    <div class="cyan lighten-1 white-text center-align modal_title" >批量详情</div>

    <!--内容-->
    <div class="modal-content  center padding bold">
        <div class="container">

            <div class="row col s12  left-align bold">批量费用总价</div>

            <div class="row col s12 cyan-text">


                <!--总洗车费金额  总拖车费金额  总提车费金额 总提车费金额   总带路费金额 -->
                <div class="col input-field colWidth">总洗车费:<span class="red-text fz22">{{initial.checkedWash}}</span></div>
                <div class="col input-field colWidth">总拖车费:<span class="red-text fz22">{{initial.checkedTotalTrailerFee}}</span></div>
                <div class="col input-field colWidth">总提车费:<span class="red-text fz22">{{initial.checkedCarParkingFee}}</span></div>
                <div class="col input-field colWidth">总地跑费:<span class="red-text fz22">{{initial.checkedTotalRunFee}}</span></div>
                <div class="col input-field colWidth">总带路费:<span class="red-text fz22">{{initial.checkedLeadFee}}</span></div>



            </div>
        </div>
    </div>

    <!--分割线-->
    <div class="divider"></div>


    <!--按钮-->
    <div class="modal-footer row">
        <div class="col s12 center-align mp-10">
            <div class="col s2 offset-s4">
                <a class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                    关闭
                </a>
            </div>
            <div class="col s2">
                <a ng-click="createList()" class="waves-light waves-effect cyan lighten-1 btn">
                    确定
                </a>
            </div>
        </div>
    </div>
</div>


<!--页面渲染-->
<div class="car_wash_fee">
    <div class="row">

        <!-- 上部分：检索条件输入区域 -->

        <!--渲染条件-->
        <div class="col s10">

            <!--洗车编号-->
            <div class="col s1 input-field">
                <input id="cleanCarId" type="text" ng-model="cleanCarId">
                <label for="cleanCarId">洗车编号</label>
            </div>

            <!--调度编号-->
            <div class="col s1 input-field">
                <input id="dpId" type="text" ng-model="dpId">
                <label for="dpId">调度编号</label>
            </div>



            <!--领取状态-->
            <div class="col s1 input-field">
                <select material-select watch  ng-model="receive_status">
                    <option value="" disabled>领取状态</option>
                    <option ng-repeat="receive in receiveStatus" ng-value="receive.id">{{receive.status_name}}</option>
                </select>
            </div>
            <div class="col s1 input-field">
                <select  material-select  ng-model="monthFlag" id="monthFlag">
                    <option ng-value="" >请选择</option>
                    <option ng-value="1">是</option>
                    <option ng-value="0">否</option>
                </select>
                <label for="monthFlag">是否月结</label>
            </div>

            <!--装车时间(始)-->
            <div class="col s2 input-field">
                <input id="load_time_start" type="text" class="datepicker" ng-model="loadDateStart" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_start">装车时间(始)</label>
            </div>


            <!--装车时间(终)-->
            <div class="col s2 input-field">
                <input id="load_time_end" type="text" class="datepicker" ng-model="loadDateEnd" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="load_time_end">装车时间(终)</label>
            </div>


            <!--发放时间(始)-->
            <div class="col input-field s2">
                <input id="receive_time_start" type="text" class="datepicker" ng-model="receiveTimeStart" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_start">发放时间(始)</label>
            </div>


            <!--发放时间(终)-->
            <div class="col input-field s2">
                <input id="receive_time_end" type="text" class="datepicker" ng-model="receiveTimeEnd" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="receive_time_end">发放时间(终)</label>
            </div>



            <!--司机-->
            <div class="col s2 input-field">
                <select material-select watch ng-model="driver" id="drivder" class="padding" >
                    <option value=""></option>
                    <option ng-repeat="el in driveList" ng-value="el.id">{{el.drive_name}}</option>
                </select>
            </div>


            <!--货车牌号-->
            <div class="col s2 input-field">
                <select  material-select watch ng-model="truckNum"  id="truckNum"  ng-change="changeTruck(addTruckId)" class="padding">
                    <option value=""></option>
                    <option ng-repeat="truck in truckList" ng-value="truck.id">{{truck.truck_num}}({{truckType[truck.truck_type-1].truck_type}})</option>
                </select>
            </div>



            <div class="col s4 input-field">

                <!--目的城市-->
                <div class="col s6">
                    <select material-select watch id="endCity" ng-change="changeEndCity()" ng-model="cityId" class="padding">
                        <option value=""></option>
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>

                <!--经销商-->
                <div class="col s6">
                    <select material-select watch ng-model="receive" class="padding"   style="width: 100%" id="dealer">
                        <option value="">经销商</option>
                        <option ng-repeat="rec in receiveList" ng-value="rec.id">{{rec.short_name}}</option>
                    </select>
                </div>
            </div>


            <!--所属类型-->
            <div class="input-field col s2">
                <select  material-select watch id="operateType"  ng-model="operateType" ng-change="changeOperateType()">
                    <option value="">请选择</option>
                    <option ng-repeat="operate in operateTypeList" ng-value="operate.id">{{operate.operate_type}}</option>
                </select>
                <label for="operateType">所属类型</label>
            </div>


            <!--所属公司-->
            <div class="input-field col s2">
                <select material-select watch id="truckCompany"  ng-model="truckCompany">
                    <option value="">请选择</option>
                    <option ng-repeat="el in companyList" ng-value="el.id">{{el.company_name}}</option>
                </select>
                <label for="truckCompany">所属公司</label>
            </div>

        </div>


        <!--按钮区域-->
        <div class="col s2 vc-center mp-40">


            <!--查询-->
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center" ng-click="getCarWashFeeList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>


            <!--下载-->
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center export" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>



        <!-- 下部分：检索结果显示区域 -->
        <div class="row col s12 mp-20">


            <!--全体费用-->
            <div class="col s12 cyan white-text vc-center fz18 bold colHeight" style="border-bottom: 1px solid #fff" ng-if="carWashFeeList.length!==0">
                <div class="col left-align colWidth">
                    总洗车金额:{{boxArrayFee.total_clean_fee}}元
                </div>
                <div class="col center-align  colWidth">
                    总拖车金额:{{boxArrayFee.total_trailer_fee}}元
                </div>
                <div class="col center-align colWidth">
                    总提车金额:{{boxArrayFee.car_parking_fee}}元
                </div>
                <div class="col center-align colWidth">
                    总地跑金额:{{boxArrayFee.total_run_fee}}元
                </div>
                <div class="col right-align colWidth">
                    总带路金额:{{boxArrayFee.lead_fee}}元
                </div>
            </div>

            <!--复选框点击后显示的费用-->
            <div class="col s12 cyan white-text vc-center fz18 bold colHeight" ng-if="initial.selectedIdsArr.length!==0">
                <div class="col left-align  colWidth">
                    总洗车金额:{{initial.checkedWash}}元
                </div>
                <div class="col center-align colWidth">
                    总拖车金额:{{initial.checkedTotalTrailerFee}}元
                </div>
                <div class="col center-align colWidth">
                    总提车金额:{{initial.checkedCarParkingFee}}元
                </div>
                <div class="col center-align colWidth">
                    总地跑金额:{{initial.checkedTotalRunFee}}元
                </div>
                <div class="col right-align colWidth">
                    总带路金额:{{initial.checkedLeadFee}}元
                </div>
            </div>

            <!--列表-->
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2" style="font-size: 13px">
                    <th ng-show="carWashFeeList[0].status==1" >
                        <input type="checkbox" ng-click="selectAllCheckBox($event)" id="selectAll" name="selectAll" class="filled-in" />
                        <label for="selectAll" class="black-text">全选</label>
                    </th>
                    <th>编号</th>
                    <th>调度编号</th>
                    <th>司机</th>
                    <th>电话</th>
                    <th>品牌</th>
                    <th>装车数</th>
                    <th>洗车费</th>
                    <th>拖车费</th>
                    <th>提车费</th>
                    <th>地跑费</th>
                    <th>带路费</th>
                    <th>应发洗车费</th>
                    <th>应发拖车费</th>
                    <th>应发地跑费</th>
                    <th>应发带路费</th>
                    <th>车牌号</th>
                    <th>补发</th>
                    <th>经销商</th>
                    <th>装车日期</th>
                    <th>银行账号</th>
                    <th>户名</th>
                    <th>开户行</th>
                    <th>领取状态</th>
                    <th>月结</th>
                    <th ng-show="carWashFeeList[0].status==1">
                        <button ng-click="batchDeal()" class="btn waves-light waves-effect lighten-1 fz15 padding square-bth" type="button">
                            批量
                        </button>
                    </th>
                    <th  ng-show="carWashFeeList[0].status!==1">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="car in carWashFeeList">
                    <td ng-show="car.status==1">
                         <span class="switch"  >
                              <input ng-click="checkIsAllSel();checkSelMission($event,car,$index)" type="checkbox" id="{{car.id}}" name="select" class="filled-in"/>
                              <label for="{{car.id}}" class="mp-10"></label>
                        </span>
                    </td>
                    <td>{{car.id}}</td>
                    <td>{{car.dp_route_task_id}}</td>
                    <td>{{car.drive_name}}</td>
                    <td>{{car.mobile}}</td>
                    <td>{{car.make_name}}</td>
                    <td>{{car.car_count}}</td>
                    <td>{{car.total_price}}</td>

                    <td>{{car.actual_trailer_fee}}</td>
                    <td>{{car.car_parking_fee}}</td>
                    <td>{{car.actual_run_fee}}</td>
                    <td>{{car.actual_lead_fee}}</td>


                    <td>{{car.actual_price}}</td>
                    <td>{{car.total_trailer_fee}}</td>

                    <td>{{car.total_run_fee}}</td>
                    <td>{{car.lead_fee}}</td>
                    <td>{{car.truck_num}}</td>
                    <td>{{supplementStatus[car.type].status}}</td>
                    <td>{{car.short_name}}</td>
                    <td>{{car.load_date | date:'yyyy-MM-dd'}}</td>
                    <td>{{car.bank_number}}</td>
                    <td>{{car.bank_name}}</td>
                    <td>{{car.bank_user_name}}</td>
                    <td>{{receiveStatus[car.status].status_name}}</td>
                    <td>{{monthFlagList[car.month_flag].month_flag}}</td>
                    <td class="details">
                        <a ng-show="car.status == 1" ng-click="getReject(car.id)">
                            <i class="mdi mdi-window-close look_icon red-text lighten-1"></i>
                        </a>
                        <a ng-show="car.status == 1" ng-click="getPast(car.id)">
                            <i class="mdi  mdi-check look_icon cyan-text lighten-1"></i>
                        </a>

                        <a ng-click="getDetail(car.id)">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="carWashFeeList.length == 0">
                    <td colspan="25" >暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- 上下页按钮 -->
        <div class="paging_box col s12">

            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre"  ng-click="prePage()">上一页</a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="nextPage()">下一页</a>
            </div>

        </div>
    </div>
</div>




