<a style="margin: 90px 0 0 20px" class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
   ui-sref="car_wash_fee">
    <i class="mdi mdi-arrow-left-bold"></i>
</a>
<div class="car_wash_fee_details">
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">洗车费详情</h5>
    </div>
    <div class="divider" style="background: #00bcd4;height: 2px;margin-top: 10px;margin-bottom: 30px"></div>
    <div class="row col s12" style="width: 60%;margin: 0 auto;color: #969696">
        <div class="row col s12" style="font-size: 1.4rem;font-weight: bold">
            <div class="col s6">
                <p>司机：姜超</p>
            </div>
            <div class="col s6">
                <p>指令编号：123456789012</p>
            </div>
        </div>

        <div class="row col s12 wash_fee_details" style="font-size: 1.1rem">
            <div class="col s6">
                <p><span>货车牌号：</span>辽B 12345</p>
            </div>
            <div class="col s6">
                <p><span>商品车数：</span>5</p>
            </div>
            <div class="col s6">
                <p><span>现场调度：</span>张宝全</p>
            </div>
            <div class="col s6">
                <p><span>装车时间：</span>2017-08-23</p>
            </div>
            <div class="col s6">
                <p><span>目的城市：</span>上海</p>
            </div>
            <div class="col s6">
                <p><span>送达经销商：</span>上海浦兴</p>
            </div>
            <div class="col s6">
                <p><span>洗车单价：</span>30元/辆</p>
            </div>
            <div class="col s6">
                <p><span>总洗车费：</span><span style="font-weight: bold;font-size: 1.3rem;color: rgb(230,121,121)">150</span> 元</p>
            </div>
            <div class="col s12">
                <p><span>发放人：</span>默认当前用户</p>
            </div>
        </div>
        <div class="row col s12" style="margin-top: 100px">
            <div class="col s4 offset-s4">
                <a ui-sref="" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                    领取
                </a>
            </div>
        </div>
    </div>
</div>