<div class="damage_declaration">
    <div class="row main_storage_car">
        <div class="row col s9">
            <div class="col s5" style="padding: 0">
                <div class="col input-field s6">
                    <input id="report_time_start" type="text" class="datepicker" ng-model="reportTimeStart" date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label for="report_time_start">申报时间</label>
                </div>
                <div class="col input-field s6">
                    <input id="report_time_end" type="text" class="datepicker" ng-model="reportTimeEnd"><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label for="report_time_end">至今</label>
                </div>
            </div>
            <div class="input-field col s4">
                <input id="VinCode" type="text" ng-model="vinCode">
                <label for="VinCode">VIN码</label>
            </div>
            <div class="col s3 input-field">
                <select material-select watch ng-model="processingStatus">
                    <option value="" selected>处理状态</option>
                    <option value="1" >待处理</option>
                    <option value="2" >处理中</option>
                    <option value="3" >已处理</option>
                </select>
            </div>
        </div>
        <div class="row col s3 valign-wrapper" style="margin-top: 8px">
            <div class="col s6 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
                   ng-click="searchDamageInfoList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6">
                <a ui-sref="damage_report" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                    质损申报
                </a>
            </div>
        </div>
        <div class="row col s12" style="margin-top: 25px">
            <div class="divider" style="background: #00bcd4;height: 2px"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th width="100" data-field="">质损编号</th>
                    <th width="180" data-field="">申报时间</th>
                    <th width="180" data-field="">VIN码</th>
                    <th width="200" data-field="">品牌</th>
                    <!--<th width="400" data-field="">质损说明</th>-->
                    <th width="200" data-field="">处理状态</th>
                    <th width="150">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="damage in damageList" class="grey-text text-darken-1">
                    <td width="100">{{damage.id}}</td>
                    <td width="180">{{damage.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td width="180">{{damage.vin}}</td>
                    <td width="200">{{damage.make_name}}</td>
                    <!--<td width="400">{{damage.damage_explain}}</td>-->
                    <td width="200" ng-class="{'damage_pending_treatment':damage.damage_status == 1 , 'damage_in_process':damage.damage_status == 2}">{{damage.damage_status | damageStatus}}</td>
                    <td width="150" class="details">
                        <a ui-sref="damage_declaration_details({id:damage.id,status:damage.damage_status})" style="font-size: 1.5rem">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="damageList.length == 0">
                    <td colspan="6"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="paging_box col s12" style="height: 45px">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                下一页
            </a>
        </div>
    </div>

</div>