
  <!--视频播放模态框-->
  <div class="row" style="margin: 0">
      <div id="video" class="modal modal-fixed-footer" style="width: 75%;height: 500px">
          <video id="example_video_1" class="video-js vjs-default-skin col s12" controls autoplay="autoplay" preload="none" style="width: 100%;height: 500px;margin: 0;padding: 0">
              <source src={{videoUrl}} type="video/mp4">
          </video>
      </div>
  </div>


  <!--增加保险信息模态框-->
  <div id="carInfoModel" class="modal modal-fixed-footer" style="width: 50%;height: 480px">
      <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
          <div class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
              <p>保险赔付信息</p>
          </div>
          <div class="row col s12">
              <div class="col s12">
                  <div class="col s6 offset-s3 input-field">
                      <select material-select watch ng-model="insuranceCompanyId">
                          <option value="" selected>选择保险公司</option>
                          <option ng-repeat="insure in insuranceList" ng-value="insure.id">{{insure.insure_name}}</option>
                      </select>
                  </div>
              </div>
              <div class="col s12" style="margin-top: 15px">
                  <div class="col s6 offset-s3 input-field valign-wrapper">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_compensation" type="number" ng-model="insuranceCompensation">
                      <label class="{{insuranceCompensation != null ? 'active' : 'inactive'}}" style="font-weight: bold" for="insurance_compensation">保险待赔（元）</label>
                  </div>
              </div>
              <div class="col s12">
                  <div class="col s6 offset-s3 input-field valign-wrapper">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_pay" type="number" ng-model="insurancePay">
                      <label class="{{insurancePay != null ? 'active' : 'inactive'}}" style="font-weight: bold" for="insurance_pay">保险赔付（元）</label>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal-footer valign-wrapper">
          <div class="col s12">
              <div class="col s2 offset-s4">
                  <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                      取消
                  </a>
              </div>
              <div class="col s2">
                  <a ng-click="saveInsuranceInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                      确定
                  </a>
              </div>
          </div>
      </div>
  </div>

  <!--新增/修改 质损保险模态框-->
  <div class="row" style="margin: 0">
      <div id="insuranceModel" class="modal modal-fixed-footer" style="width: 65%;height: 660px">
          <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
              <div ng-if="pageType == 'new'" class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                  <p>新增质损保险</p>
              </div>

              <div ng-if="pageType == 'edit'" class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                  <p>修改质损保险</p>
              </div>

              <div class="row" style="width: 80%;margin: 0 auto">
                  <div class="col s3 input-field">
                      <select material-select watch id="insurance_company_mod" ng-model="insuranceCompanyMod">
                          <option value="" disabled>请选择</option>
                          <option ng-repeat="company in insureCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                      </select>
                      <label for="insurance_company_mod"><span style="color: red">* </span>保险公司</label>
                  </div>
                  <!--出险城市-->
                  <div class="col s3 input-field">
                      <select material-select watch id="cityName" ng-model="cityName" style="width: 100%">
                          <option ng-if="pageType == 'new'" value="" disabled>请选择</option>
                          <option ng-if="pageType == 'new'" ng-repeat="el in insureCityList" ng-value="el">{{el.city_name}}</option>
                          <option ng-if="pageType == 'edit'" ng-repeat="el in insureCityList" ng-value="el.id">{{el.city_name}}</option>
                      </select>
                  </div>
                  <!--责任判定-->
                  <div class="col s3 input-field">
                      <select material-select watch id="liabilityType" ng-model="liabilityType">
                          <option value="" disabled>请选择</option>
                          <option value="1">全责</option>
                          <option value="2">免责</option>
                          <option value="3">五五</option>
                          <option value="4">三七</option>
                      </select>
                      <label for="liabilityType"><span style="color: red">* </span>责任判定</label>
                  </div>
                  <div class="col s3 input-field">
                      <input disabled id="handler" type="text" ng-model="handler">
                      <label for="handler">经办人</label>
                  </div>
                  <div class="col s3 input-field">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="damageMoney" type="number" ng-model="damageMoney">
                      <label for="damageMoney"><span style="color: red">* </span>定损金额（元）</label>
                  </div>
                  <div class="col s3 input-field">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insure_plan_mod" type="number" ng-model="insurePlanMod">
                      <label for="insure_plan_mod"><span style="color: red">* </span>待赔金额（元）</label>
                  </div>
                  <!-- <div class="col s6" style="padding: 0;">
                       <div class="col s6 input-field">
                           <select material-select watch id="has_loan" ng-change="checkHasLoan()" ng-model="hasLoan">
                               <option value="" selected>请选择</option>
                               <option value="0">否</option>
                               <option value="1">是</option>
                           </select>
                           <label for="has_loan"><span style="color: red">* </span>是否财务借款</label>
                       </div>
                       <div class="col s6 input-field">
                           <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" name="payment_money_start" id="loan_money_num" ng-disabled="hasLoanType" ng-model="loanMoneyNum">
                           <label class="{{loanMoneyNum != null ? 'active' : 'inactive'}}" for="loan_money_num">财务借款（元）</label>
                       </div>
                   </div>-->
                  <!--免赔金额-->
                  <div class="col s3 input-field">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="derateMoney" type="number" ng-model="derateMoney">
                      <label for="derateMoney"><span style="color: red">* </span>免赔金额（元）</label>
                  </div>
                  <!--车辆估值-->
                  <div class="col s3 input-field">
                      <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="carValuation" type="number" ng-model="carValuation">
                      <label for="carValuation"><span style="color: red">* </span>车辆估值（元）</label>
                  </div>

                  <div class="row" style="margin-bottom:0;">
                      <!--发票金额-->
                      <div class="col s6 input-field">
                          <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="invoiceMoney" type="number" ng-model="invoiceMoney">
                          <label for="invoiceMoney"><span style="color: red">* </span>发票金额（元）</label>
                      </div>
                      <!--报案日期-->
                      <div class="input-field col s6">
                          <input type="text" ng-model="declareDate" id="declareDate" name="declareDate"  class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                          <label for="declareDate">报案日期</label>
                      </div>
                  </div>

                  <div class="row">
                      <!--定损员信息-->
                      <div class="col s6 input-field">
                          <input id="refRemark" type="text" ng-model="refRemark">
                          <label for="refRemark">定损员信息</label>
                      </div>

                      <div class="col s6 input-field">
                          <input id="payment_explain" type="text" ng-model="paymentExplain">
                          <label for="payment_explain">赔付描述</label>
                      </div>
                  </div>

                  <div ng-show="pageType == 'edit'" class="row">
                      <div class="col s6 input-field">
                          <input id="insurance_actual" type="number" ng-model="insurancePayment" style="font-size: 2rem;text-align: right;color: rgb(230,123,123)">
                          <label for="insurance_actual"><span style="color: red">* </span>实际赔付（元）</label>
                      </div>
                      <div class="col s6 input-field">&nbsp;</div>

                      <div class="col s12 input-field">
                          <input id="processing_description" type="text" ng-model="checkExplain">
                          <label for="processing_description">处理描述</label>
                      </div>
                      <!--特殊说明-->
                      <div class="col s12 input-field">
                          <input id="ref_remark" type="text" name="ref_remark" ng-model="detailExplain">
                          <label for="ref_remark">特殊说明</label>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal-footer valign-wrapper">
              <!-- 新增质损保险 -->
              <div ng-show="pageType == 'new'" class="col s12">
                  <div class="col s2 offset-s4">
                      <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                          取消
                      </a>
                  </div>
                  <div class="col s2">
                      <a ng-click="addDamageRecord()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                          确定
                      </a>
                  </div>
              </div>

              <!-- 修改质损保险 -->
              <div ng-show="pageType == 'edit'" class="col s12 center">
                  <div class="col s2 offset-s3">
                      <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                          取消
                      </a>
                  </div>
                  <div class="col s2">
                      <a ng-click="saveDamageInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                          保存
                      </a>
                  </div>
                  <div class="col s2">
                      <a ng-click="completeDamageList()" style="width: 100%;background-color: #f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                          处理结束
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="damage_management_details" style="width: 80%;margin: 0 auto">
    <div class="row">
        <div class="storage_storeTitle vc-center ">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h4 class="center-align cyan-text text-lighten-1">质损详情&nbsp;-{{currentDamageInfo.id}}</h4>
        </div>

        <!--tab栏-->
        <ul class="tabs ui-tabs tabs-fixed-width tab-demo z-depth-1" style="font-size: 25px;font-weight: bold;overflow-x: hidden;margin-bottom: 25px" ul-tabs>
            <li class="tab"><a href="#damageBasicInfo" class="cyan-text"  style="line-height: 40px">基本信息</a></li>
            <li class="tab"><a href="#damageImages" class="cyan-text"  ng-click="showDamageImage()" style="line-height: 40px">照片</a></li>
            <li class="tab"><a href="#damageHandleInfo" class="cyan-text"  ng-click="showDamageHandleInfo()" style="line-height: 40px">处理信息</a></li>
            <li class="tab"><a href="#insuranceInfo" class="cyan-text"  ng-click="showInsuranceInfo()" style="line-height: 40px">理赔信息</a></li>
        </ul>

        <!--基本信息-->
        <div id="damageBasicInfo" class="row col s12 basic_info_step_1" style="font-size: 1.1rem;color: darkgray">
            <!--申报人-->
            <div class="row col s12 valign-wrapper" style="font-weight: bold">
                <div class="col s4">
                    <p><span class="cyan-text" >申报人：</span>{{currentDamageInfo.declare_user_name}}&emsp;&emsp;<span>{{currentDamageInfo.type | department}}</span></p>
                </div>
                <div class="col s3">
                    <p><span class="cyan-text" >申报日期：</span>{{currentDamageInfo.created_on | date:'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="col s2">
                    <p><span class="cyan-text" >指令时间：</span>{{currentOrderDate}}</p>
                </div>
                <div class="col s3 center-align" ng-if="currentDamageInfo.damage_status == 1">
                    <p style="font-size: 1.5rem;color: rgb(229,115,115);margin: 10px 0">待处理</p>
                </div>
                <div class="col s3 center-align" ng-if="currentDamageInfo.damage_status == 2">
                    <p  class="cyan-text"  style="font-size: 1.5rem;margin: 10px 0">处理中</p>
                </div>
                <div class="col s3 center-align" ng-if="currentDamageInfo.damage_status == 3">
                    <p style="font-size: 1.5rem;color: darkgray;margin: 10px 0">已处理</p>
                </div>
            </div>
            <!--质损说明-->
            <div class="row col s12 wash_fee_details">

                <div class="row col s12">
                    <div class="col colWidth">
                        <p><span class="cyan-text" >VIN：</span>{{currentDamageInfo.vin}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text" >起始城市：</span>{{currentDamageInfo.route_start}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text" >起始地：</span>{{currentDamageInfo.addr_name}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text" >目的地：</span>{{currentDamageInfo.route_end}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text">经销商：</span>{{currentDamageInfo.re_short_name}}</p>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="col colWidth">
                        <p><span class="cyan-text" >司机：</span>{{currentDamageInfo.drive_name}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text" >货车牌号：</span>{{currentDamageInfo.truck_num}}</p>
                    </div>
                    <div class="col" style="width: 10%">
                        <p><span class="cyan-text" >品牌：</span>{{currentDamageInfo.make_name}}</p>
                    </div>
                    <div class="col" style="width: 10%"  ng-if="currentDamageInfo.damage_status == 3">
                        <p><span class="cyan-text" >车型：</span>{{currentDamageInfo.car_model_name}}</p>
                    </div>




                    <div class="col" style="width: 10%"  ng-if="currentDamageInfo.damage_status !== 3">
                        <select  material-select watch id="carType"  ng-model="currentDamageInfo.car_model_name">
                            <option value="">请选择</option>
                            <option ng-repeat="carType in carTypeList" ng-value="carType.model_name">{{carType.model_name}}</option>
                        </select>
                    </div>



                    <div class="col colWidth">
                        <p><span class="cyan-text" >委托方：</span>{{currentDamageInfo.en_short_name}}</p>
                    </div>
                    <div class="col colWidth">
                        <p><span class="cyan-text">船名：</span>{{currentDamageInfo.ship_name}}</p>
                    </div>
                </div>

                <div class="col s12">
                    <div class="col s4">
                        <p>
                            <span>挂起状态：</span>
                            <span class="switch"  style="height: 30px;">
                                <label>
                                    <input type="checkbox" ng-checked="currentDamageInfo.hang_status==1"  ng-click="changeStatus(currentDamageInfo.hang_status,currentDamageInfo.id)" >
                                    <span class="lever"></span>
                                </label>
                        </span>

                        </p>
                    </div>
                </div>
                <div class="col s12">
                    <div class="col s12 input-field" ng-if="currentDamageInfo.damage_status !== 3">
                        <input  id="damage_explain" name="damage_explain" type="text" ng-model="currentDamageInfo.damage_explain">
                        <label for="damage_explain">质损说明:</label>
                    </div>


                    <div class="col s12" ng-if="currentDamageInfo.damage_status == 3">
                        <p><span>质损说明：</span>{{currentDamageInfo.damage_explain}}</p>
                    </div>
                </div>



                <!--保存完成按钮-->
                <div class="row col s12" style="margin-top: 30px" ng-hide="currentDamageStatus == 3">
                    <div class="col s2 offset-s5">
                        <a ng-click="putBasicItem()" style="width: 100%" class="waves-light waves-effect cyan lighten-2 btn">
                            保存
                        </a>
                    </div>
                </div>


            </div>
        </div>

        <!--质损照片-->
        <div id="damageImages" class="row col s12 damage_image_step_2" style="margin-top: 20px">
            <!--相片-->
            <div class="col s12">
                <div class="col s1">
                    <form name="uploadImageForm" class="uploadImageForm vc-center" style="display: inline-block">
                        <div class="upload_btn">
                            <div style="margin: 0;width: 80px"
                                 class="storage_car_picture col s4 vc-center p0 cyan lighten-1 white-text">
                                <input name="image" type="file"
                                       onchange="angular.element(this).scope().uploadDamageImage(this)" max_size="4M">
                                <i class="mdi mdi-instagram"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s11" id="damage_image">
                    <div class="truck_car_picture col s3 vc-center p0 grey white-text" ng-hide="!video">
                        <img  class="responsive-img black"  style="width: 265px;height: 200px;"/>
                        <i class="mdi mdi-video " style="font-size:45px;position: absolute;top:35%;right: 43%;" ng-click="openVideo()"></i>
                    </div>
                    <div ng-repeat="damage in damageImageList" repeat-finish="damageFinish()" ng-mouseenter="show=true" ng-mouseleave="show=false" class="truck_car_picture col s3 vc-center p0 grey white-text">
                        <img ng-src="{{damage.url}}" class="responsive-img">
                        <span class="delete_img vc-center black white-text fz19" ng-click="deleteImage(damage.url)"><i class="mdi mdi-close"></i></span>
                        <p style="margin-bottom: 0" class="img_date white-text center-align" ng-show="show" ng-cloak>{{damage.name}} 上传于 {{damage.timez | date:'yyyy-MM-dd'}}</p>
                    </div>
                </div>
            </div>

            <!--打款信息-->
            <div class="col s12" ng-show="paymentFlag == 2" style="margin-top: 20px">
                <div class="col s12">
                    <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 20px">
                        <div class="col s12 valign-wrapper" style="height: 50px;background-color: #dcdfe0;font-size: 1.2rem;font-weight: bold">
                            <div class="col s12 center-align" style="color: darkgray">
                                <p class="cyan-text"  style="margin: 0;">打款信息</p>
                            </div>
                        </div>

                        <div class="col s10 offset-s1" style="margin-bottom: 20px;color: darkgray;font-size: 1.08rem" ng-show="financeIndemnityStatus == 1 || financeIndemnityStatus == 2">
                            <!--打款基本信息-->
                            <div class="col s12" style="padding: 0;">
                                <div class="col s4">
                                    <p>银行账号：{{bankAccount}}</p>
                                </div>
                                <div class="col s3">
                                    <p>户名：{{accountName}}</p>
                                </div>
                                <div class="col s2">
                                    <p>开户行：{{openingBank}}</p>
                                </div>
                                <div class="col s3">
                                    <p>开户行号：{{banNumberAccount}}</p>
                                </div>
                            </div>
                            <div class="col s12" style="padding: 0;">
                                <div class="col s2">
                                    <p>所在城市：{{paymentInfo.city_name}}</p>
                                </div>
                                <div class="col s2">
                                    <p>联系人：{{contactsName}}</p>

                                </div>
                                <div class="col s3">
                                    <p>联系电话：{{contactsTel}}</p>
                                </div>
                                <div class="col s2">
                                    <p>经销商：{{paymentInfo.receive_name}}</p>
                                </div>
                                <div class="col s3">
                                    <p>赔款金额：<span style="color: #e77a7a;font-weight: bold">{{paymentMoney.toFixed(2)}}</span></p>

                                </div>
                            </div>
                            <div class="col s12">
                                <p>申请打款备注：{{paymentRemark}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <!--处理信息-->
        <div id="damageHandleInfo" class="row col s12 handle_info_step_3">
            <!--待处理状态下显示开始处理按钮-->
            <div class="row col s12" ng-if="currentDamageStatus == 1">
                <div class="col s4 offset-s4">
                    <a ng-click="beginProcessing()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                        开始处理
                    </a>
                </div>
            </div>

            <!--非待处理状态下显示处理信息-->
            <div class="handleInfoInput" ng-show="currentDamageStatus != 1">
                <!--处理中状态显示输入框-->
                <div class="handlingInfo" ng-show="currentDamageStatus == 2">
                    <div class="row col s12">
                        <div class="col s6 input-field">
                            <select id="damageInsureType" material-select watch ng-model="damageInfoBefore.damage_type">
                                <option value="" selected>请选择</option>
                                <option ng-repeat="damageTypeLevel in damageTypeList" ng-value="damageTypeLevel.id">{{damageTypeLevel.typeLevel}}</option>
                            </select>
                            <label style="font-weight: bold" for="damageInsureType"><span style="color: red">* </span>质损类型</label>
                        </div>
                        <div class="col s6 input-field">
                            <select id="damageLinkType" material-select watch ng-model="damageInfoBefore.damage_link_type">
                                <option value="" selected>请选择</option>
                                <option ng-repeat="damageLink in damageLinkTypeList" ng-value="damageLink.id">{{damageLink.typeName}}</option>
                            </select>
                            <label style="font-weight: bold" for="damageLinkType"><span style="color: red">* </span>质损环节类别</label>
                        </div>
                    </div>

                    <!--分割线-->
                    <div class="row col s12">
                        <div class="col s12">
                            <div class="divider cyan" style="height: 2px;"></div>
                        </div>
                    </div>

                    <div class="row col s12">
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="price_reduction" type="number" ng-model="damageInfoBefore.reduction_cost">
                                <label style="font-weight: bold" for="price_reduction">降价费</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="fine" type="number" ng-model="damageInfoBefore.penalty_cost">
                                <label style="font-weight: bold" for="fine">罚款</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                      <!--  <div class="col s3 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="profit_and_loss" type="number" ng-model="damageInfoBefore.profit">
                                <label style="font-weight: bold" for="profit_and_loss">盈亏</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>-->
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="freight" type="number" ng-model="damageInfoBefore.transport_cost">
                                <label style="font-weight: bold" for="freight">运费</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                    </div>

                    <div class="row col s12">
                        <div class="col s4 valign-wrapper" style="padding: 0;">
                            <div class="col s11 input-field">
                                <select id="repair_station" ng-model="damageInfoBefore.repair_id" material-select watch>
                                    <option value="" selected>请选择</option>
                                    <option ng-repeat="repair in repairStationList" ng-value="repair.id">{{repair.repair_station_name}}</option>
                                </select>
                                <label style="font-weight: bold" for="repair_station">维修站</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0"></div>
                        </div>
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="maintenance_cost" type="number" ng-model="damageInfoBefore.repair_cost">
                                <label style="font-weight: bold" for="maintenance_cost">维修费</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                        <div class="col s4 input-field">
                            <select id="reimbursement_person" name="reimbursement_person" style="width:100%">

                            </select>
                            <label class="active" style="font-weight: bold" for="reimbursement_person"><span style="color: red">* </span>报销人</label>
                        </div>
                    </div>

                    <div class="row col s12">
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="company_fee" type="number" ng-model="damageInfoBefore.company_cost">
                                <label style="font-weight: bold" for="company_fee">公司承担费用</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                        <div class="col s4 input-field">
                            <select id="liable_person" name="liable_person" style="width:100%">
                            </select>
                            <label class="active" style="font-weight: bold" for="liable_person">责任人</label>
                        </div>
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="responsible_fee" type="number" ng-model="damageInfoBefore.under_cost">
                                <label style="font-weight: bold" for="responsible_fee">责任人承担费用</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                    </div>

                    <!--前端赔付日期 前端赔付金额 前端赔付盈亏-->
                    <div class="row col s12">
                        <div class="col s4 valign-wrapper">
                            <div class="col s12 input-field" style="padding: 0">
                                <input placeholder="" id="sc_payment_date" type="text" class="datepicker"
                                       ng-model="damageInfoBefore.sc_payment_date" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="sc_payment_date" class="active">前端赔付日期</label>
                            </div>
                        </div>
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="sc_payment" type="number" ng-model="damageInfoBefore.sc_payment" ng-change="changeScPanment(damageInfoBefore.sc_payment)">
                                <label style="font-weight: bold" for="sc_payment">前端赔付金额</label>
                            </div>
                        </div>
                        <div class="col s4 valign-wrapper">
                            <div class="col s11 input-field" style="padding: 0">
                                <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="sc_profit" type="number" ng-model="damageInfoBefore.sc_profit" disabled>
                                <label style="font-weight: bold" for="sc_profit">前端赔付盈亏</label>
                            </div>
                            <div class="col s1 left-align" style="padding: 0">
                                <p>元</p>
                            </div>
                        </div>
                    </div>


                    <!--分割线-->
                    <div class="row col s12">
                        <div class="col s12">
                            <div class="divider cyan" style="height: 2px;"></div>
                        </div>
                    </div>
                </div>

                <!--已处理状态下显示文本-->
                <div class="handledInfo" ng-show="currentDamageStatus == 3">
                    <div class="row col s12 cyan-text" style="font-size: 1.2rem;font-weight: bold">
                        <div class="col s6">
                            <p>质损类型：{{damageInfoBefore.damage_type | damageType}}</p>
                        </div>
                        <div class="col s6">
                            <p>质损环节：{{damageInfoBefore.damage_link_type | damageLinkType}}</p>
                        </div>
                    </div>
                    <!--分割线-->
                    <div class="row col s12">
                        <div class="col s12">
                            <div class="divider cyan" style="height: 2px;"></div>
                        </div>
                    </div>
                    <div class="row col s12" style="color: darkgray;font-size: 1.1rem;font-weight: bold">
                        <div class="col s4">
                            <p>降价费：<span style="color: #e18281">{{damageInfoBefore.reduction_cost.toFixed(2)}}</span> 元</p>
                        </div>
                        <div class="col s4">
                            <p>罚款：<span style="color: #e18281">{{damageInfoBefore.penalty_cost.toFixed(2)}}</span> 元</p>
                        </div>
                      <!--  <div class="col s3">
                            <p>盈亏：<span style="color: #e18281">{{damageInfoBefore.profit.toFixed(2)}}</span> 元</p>
                        </div>-->
                        <div class="col s4">
                            <p>运费：<span style="color: #e18281">{{damageInfoBefore.transport_cost.toFixed(2)}}</span> 元</p>
                        </div>
                    </div>
                    <div class="row col s12" style="color: darkgray;font-size: 1.1rem;font-weight: bold">
                        <div class="col s4">
                            <p>维修站：{{damageInfoBefore.repair_station_name}}</p>
                        </div>
                        <div class="col s4">
                            <p>维修费：<span style="color: #e18281">{{damageInfoBefore.repair_cost.toFixed(2)}}</span> 元</p>
                        </div>
                        <div class="col s4">
                            <p>报销人：{{damageInfoBefore.refund_user_name}}</p>
                        </div>
                    </div>
                    <div class="row col s12 cyan-text" style="font-size: 1.2rem;font-weight: bold">
                        <div class="col s4">
                            <p>公司承担费用：<span style="color: #e18281">{{damageInfoBefore.company_cost.toFixed(2)}}</span> 元</p>
                        </div>
                        <div class="col s4">
                            <p>责任人：{{damageInfoBefore.under_user_name}}</p>
                        </div>
                        <div class="col s4">
                            <p>责任人承担费用：<span style="color: #e18281">{{damageInfoBefore.under_cost.toFixed(2)}}</span> 元</p>
                        </div>
                    </div>
                    <div class="row col s12 cyan-text" style="font-size: 1.2rem;font-weight: bold">
                        <div class="col s4">
                            <p>前端赔付日期：<span style="color: #e18281">{{damageInfoBefore.sc_payment_date}}</span> </p>
                        </div>
                        <div class="col s4">
                            <p>前端赔付金额：<span style="color: #e18281">{{damageInfoBefore.sc_payment.toFixed(2)}}</span> 元</p>
                        </div>
                        <div class="col s4">
                            <p>前端赔付盈亏：<span style="color: #e18281">{{damageInfoBefore.sc_profit.toFixed(2)}}</span> 元</p>
                        </div>
                    </div>

                    <!--分割线-->
                    <div class="row col s12">
                        <div class="col s12">
                            <div class="divider cyan" style="height: 2px;"></div>
                        </div>
                    </div>
                </div>

                <!--单选按钮-->
                <div class="row col s12" ng-show="showRadioButton && currentDamageStatus != 3">
                    <div class="col s2">
                        <input class="with-gap" name="whetherPayment" type="radio" ng-model="paymentFlag" value="1" id="not_need_payment"/>
                        <label for="not_need_payment">不需赔款</label>
                    </div>
                    <div class="col s2">
                        <input class="with-gap" name="whetherPayment" type="radio" ng-model="paymentFlag" value="2" id="need_payment" />
                        <label for="need_payment">需要赔款</label>
                    </div>
                </div>

                <!--打款信息-->
                <div class="row col s12" ng-show="paymentFlag == 2">
                    <div class="col s12">
                        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 20px">
                            <div class="col s12 valign-wrapper" style="height: 50px;background-color: #dcdfe0;font-size: 1.2rem;font-weight: bold">
                                <div class="col s12 center-align" style="color: darkgray">
                                    <p style="margin: 0;" class="cyan-text" >打款信息</p>
                                </div>
                            </div>
                            <!--未完成状态下打款信息-->
                            <div class="col s10 offset-s1" style="margin-bottom: 20px" ng-show="currentDamageStatus != 3 && financeIndemnityStatus == 1">

                               <div class="col s12">
                                   <div class="col s3 input-field"> <!--ng-keyup="filter(bankAccount)"-->
                                       <input type="text" id="bank_account" ng-model="bankAccount" ng-pattern="/^[0-9]*$/" />
                                       <label for="bank_account"><span style="color: red">* </span>银行账号</label>
                                   </div>
                                   <div class="col s3 input-field">
                                       <input type="text" id="account_name" name="account_name" ng-model="accountName">
                                       <label for="account_name"><span style="color: red">* </span>户名</label>
                                   </div>
                                   <div class="col s3 input-field">
                                       <input type="text" id="opening_bank" name="opening_bank" ng-model="openingBank">
                                       <label for="opening_bank"><span style="color: red">* </span>开户行</label>
                                   </div>
                                   <div class="col s3 input-field">
                                       <input type="text" id="banNumberAccount" ng-model="banNumberAccount" ng-pattern="/^[0-9]*$/" />
                                       <label for="banNumberAccount"><span style="color: red">* </span>开户行号</label>
                                   </div>
                               </div>
                                <div class="col s12">
                                    <div class="col s2 input-field">
                                        <select id="located_city" name="located_city" style="width:100%" ng-model="locatedCity">
                                            <option value=""><span style="color: red">* </span></option>
                                            <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2 input-field">
                                        <input type="text" id="contactsName" name="contactsName" ng-model="contactsName">
                                        <label for="contactsName">联系人</label>
                                    </div>
                                    <div class="col s2 input-field">
                                        <input type="text" id="contactsTel" name="contactsTel" ng-model="contactsTel">
                                        <label for="contactsTel">联系电话</label>
                                    </div>
                                    <div class="col s3 input-field">
                                        <input type="text" id="distributor" name="distributor" ng-model="distributor">
                                        <label for="distributor"><span style="color: red">* </span>经销商</label>
                                    </div>
                                    <div class="col s3 input-field">
                                        <input type="number" id="payment_money" name="payment_money" ng-model="paymentMoney">
                                        <label class="{{paymentMoney != null ? 'active' : 'inactive'}}" for="payment_money"><span style="color: red">* </span>赔款金额（元）</label>
                                    </div>

                                </div>

                                <div class="col s12 input-field">
                                    <input type="text" id="payment_remark" name="payment_remark" ng-model="paymentRemark">
                                    <label for="payment_remark">申请打款备注</label>
                                </div>
                            </div>
                            <!--已完成状态下打款信息-->
                            <div class="col s10 offset-s1" style="margin-bottom: 20px;color: darkgray;font-size: 1.08rem" ng-show="currentDamageStatus == 3 || financeIndemnityStatus == 2">
                                <!--打款基本信息-->
                                <div class="col s12" style="padding: 0;">
                                    <div class="col s4">
                                        <p>银行账号：{{bankAccount}}</p>
                                    </div>
                                    <div class="col s3">
                                        <p>户名：{{accountName}}</p>
                                    </div>
                                    <div class="col s2">
                                        <p>开户行：{{openingBank}}</p>
                                    </div>
                                    <div class="col s3">
                                        <p>开户行号：{{banNumberAccount}}</p>
                                    </div>
                                </div>
                                <div class="col s12" style="padding: 0;">
                                    <div class="col s2">
                                        <p>所在城市：{{paymentInfo.city_name}}</p>
                                    </div>
                                    <div class="col s2">
                                        <p>联系人：{{contactsName}}</p>

                                    </div>
                                    <div class="col s3">
                                        <p>联系电话：{{contactsTel}}</p>
                                    </div>
                                    <div class="col s2">
                                        <p>经销商：{{paymentInfo.receive_name}}</p>
                                    </div>
                                    <div class="col s3">
                                        <p>赔款金额：<span style="color: #e77a7a;font-weight: bold">{{paymentMoney.toFixed(2)}}</span></p>

                                    </div>
                                </div>
                                <div class="col s12">
                                    <p>申请打款备注：{{paymentRemark}}</p>
                                </div>
                                <!--财务确认后显示的已打款信息-->
                                <div class="financeInfo" ng-show="financeIndemnityStatus == 2">
                                    <div class="col s12" style="margin: 0">
                                        <hr>
                                    </div>
                                    <div class="col s12 valign-wrapper" style="padding: 0;">
                                        <div class="col s8" style="padding: 0;">
                                            <div class="col s12 left-align">
                                                <p style="font-size: 1.2rem;font-weight: bold" class="cyan-text" >已打款</p>
                                            </div>
                                            <div class="col s12 left-align">
                                                <p>实际打款金额：<span style="color: #e77a7a;font-weight: bold">{{paymentInfo.actual_money.toFixed(2)}}</span> 元</p>
                                            </div>
                                            <div class="col s12 left-align">
                                                <p>打款时间：{{paymentInfo.indemnity_date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                            </div>
                                        </div>
                                        <!--打款凭证照片-->
                                        <div class="col s4 payment_voucher"  style="padding: 0;">
                                            <div class="col s12">
                                                <div ng-click="showPaymentVoucherImage()" class="truck_car_picture col s3 vc-center p0 grey white-text">
                                                    <img ng-src="{{realImageSrc != null ? realImageSrc : '../assets/images/not_uploaded_img.png'}}" class="responsive-img">
                                                </div>
                                            </div>
                                            <div class="col s12" ng-show="realImageSrc == null">
                                                <p style="font-weight: bold;text-indent: 2.5rem">打款凭证未上传</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <p>财务打款备注：{{paymentInfo.indemnity_explain}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--处理描述-->
                <div class="row col s12">
                    <div class="col s12 input-field" ng-show="currentDamageStatus != 3">
                        <input id="remark" type="text" ng-model="damageInfoBefore.remark">
                        <label for="remark">处理描述</label>
                    </div>
                    <div class="col s12" style="font-size: 1.1rem;color: darkgray" ng-show="currentDamageStatus == 3">
                        <p><span style="font-weight: bold">处理描述：</span>{{damageInfoBefore.remark}}</p>
                    </div>
                    <div class="col s4 offset-s8 right-align">
                        <p style="font-weight: bold;color: darkgray;font-size: 1.2rem">处理人：{{damageInfoBefore.op_user_name}}</p>
                    </div>
                </div>

                <!--保存完成按钮-->
                <div class="row col s12" style="margin-top: 30px" ng-hide="currentDamageStatus == 3">
                    <div class="col s2 offset-s3">
                        <a ng-click="saveInfo()" style="width: 100%" class="waves-light waves-effect red lighten-2 btn">
                            保存
                        </a>
                    </div>
                    <div class="col s2 offset-s2">
                        <a ng-click="finishInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            完成
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--保险信息-->
        <div id="insuranceInfo" class="row col s12 insurance_info_step_4">
            <!--保险信息卡片-->
            <div class="row col s12" style="margin-top: 15px">
                <!-- 暂时注掉 -->
<!--                <div class="col s12 right-align">-->
<!--                    <a ng-click="newInsuranceModal()" style="margin-top:6px;" class="waves-light waves-effect cyan lighten-1 btn">-->
<!--                        新增质损保险-->
<!--                    </a>-->
<!--                </div>-->
                <!--下面加repeat-->
                <div class="col s12 cyan_border" ng-repeat="damage in damageInsureCardList" style="border-radius: 5px;background-color: white;color: darkgray;margin-top: 15px">
                    <!--头-->
                    <div class="col s12 card_head" style="padding: 0;border-bottom: 1px solid #ccc;">
                        <div class="col s2 left-align cyan-text" style="font-weight: bold;">
                            <p>理赔编号：{{damage.id}}</p>
                        </div>

                        <!-- 暂时注掉 -->
                        <div class="col s4 left-align">
<!--                            <span ng-if="damage.insure_status==1">-->
<!--                                <a ng-click="editInsuranceModal(damage.id)" style="margin-top:6px;" class="waves-light waves-effect cyan lighten-1 btn">-->
<!--                                    编辑-->
<!--                                </a>-->
<!--                            </span>-->
                        </div>

                        <div class="col s6 right-align" style="font-weight: bold">
                            <p>生成日期：{{damage.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="col s12 card_body" style="font-size: 1.07rem;padding: 0;">
                        <div class="col s4">
                            <p><span style="font-weight: bold">保险公司：</span>{{damage.insure_name}}</p>
                        </div>
                        <div class="col s4 offset-s4 right-align">
                            <p><span style="font-weight: bold">经办人：</span>{{damage.insure_user_name}}</p>
                        </div>
                        <div class="col s4 ">
                            <p><span style="font-weight: bold">待赔金额：</span><span style="font-weight: bold;color: rgb(231,127,127);font-size: 1.2rem">{{damage.insure_plan}}</span> 元</p>
                        </div>
                        <div class="col s4 center-align">
                            <p><span style="font-weight: bold">定损金额：</span><span style="font-weight: bold;color: rgb(231,127,127);font-size: 1.2rem">{{damage.damage_money}}</span> 元</p>
                        </div>
                        <div class="col s4 right-align" ng-show="damage.insure_actual!==null">
                            <p><span style="font-weight: bold">保险赔付：</span><span style="font-weight: bold;color: rgb(231,127,127);font-size: 1.2rem">{{damage.insure_actual}}</span> 元</p>
                        </div>
                        <div class="col s4 right-align" ng-show="damage.insure_actual==null">
                            <p><span style="font-weight: bold">保险赔付：</span><span style="font-weight: bold;color: rgb(231,127,127);font-size: 1.2rem">0</span> 元</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12" ng-if="damageInsureCardList.length == 0">
                <p style="text-align: center;color: darkgray;font-size: 1.2rem;font-weight: bold;letter-spacing: 2px">暂无理赔信息</p>
            </div>

        </div>

    </div>
</div>