<div class="damage_management">
    <div class="row main_storage_car">
        <div class="col s12 valign-wrapper">
            <div class="col s10" style="padding: 0;">

                <div class="col input-field" style="width: 20%">
                    <input id="damage_number" type="text" ng-model="damageNum">
                    <label for="damage_number">质损编号</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input type="text" id="autocomplete-input" name="vin" ng-change="shortSearch()" ng-model="vinCode" autocomplete="off" class="autocomplete" minlength="6">
                    <label for="autocomplete-input">VIN(至少6位)</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select id="end_city_list" name="state" style="width:100%" ng-change="getReceiveList()" ng-model="endCity">
                        <option value=""></option>
                       <!-- <option value="0" >清除选择</option>-->
                        <option ng-repeat="city in cityList" ng-value="city.id">{{city.city_name}}</option>
                    </select>
                </div>

                <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="distributor"  style="width: 100%" id="dealer">
                        <option value="" selected>经销商</option>
                        <option ng-repeat="receive in receiveList" ng-value="receive.id">{{receive.short_name}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="brand">
                        <option value="" selected>品牌</option>
                        <option ng-repeat="brand in brandList" ng-value="brand.id">{{brand.make_name}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch id="titleName" name="state" style="width:100%" ng-model="titleName">
                        <option value="">责任人职务</option>
                        <option ng-repeat="el in user_info_obj" ng-value="el.type">{{el.name}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="responsibilityPerson"  style="width: 100%" id="responsibility_person">
                        <option value="" selected>责任人</option>
                        <option ng-repeat="el in responsibilityList" ng-value="el.real_name">{{el.real_name}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input id="report_person" type="text" ng-model="reportPerson">
                    <label for="report_person">申报人</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="processingStatus">
                        <option value="" selected>处理状态</option>
                        <option value="1" >待处理</option>
                        <option value="2" >处理中</option>
                        <option value="3" >已处理</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="hangStatus">
                        <option value="" selected>挂起状态</option>
                        <option value="1" >挂起</option>
                        <option value="0" >不挂起</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <select material-select watch id="driver_name" style="width: 100%" ng-model="driverId" ng-change="hasModifyDriver(driverId)">
                        <option value=""></option>
                        <option ng-repeat="driver in driveList" ng-value="driver.id">{{driver.drive_name + " - " + driver.mobile}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%" ng-show="truckNumListAllList.length!==0">
                    <select material-select watch id="truckNum" ng-model="truckNumber" style="width: 100%">
                        <option value=""></option>
                        <option ng-repeat="truck in truckNumListAllList" ng-value="truck.id">{{truck.truck_num}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%" ng-show="truckNumListAllList.length==0">
                    <input  id="code" name="phone" type="text" ng-model="truckNum" disabled>
                    <label for="code">货车牌号</label>
                </div>


                <div class="col input-field" style="width: 20%">
                    <select id="damageLinkType" material-select watch ng-model="damage_link_type">
                        <option value="">质损环节类别</option>
                        <option ng-repeat="damage in damageLinkType" ng-value="damage.id">{{damage.typeName}}</option>
                    </select>
                </div>
               <div class="col input-field" style="width: 20%">
                    <select material-select watch ng-model="damage_type">
                        <option value="">质损类型</option>
                        <option ng-repeat="damage in damageType" ng-value="damage.id">{{damage.typeLevel}}</option>
                    </select>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input id="report_time_start" type="text" class="datepicker" ng-model="reportTimeStart" date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label for="report_time_start">申报时间</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input id="report_time_end" type="text" class="datepicker" ng-model="reportTimeEnd" date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label for="report_time_end">至</label>
                </div>


                <div class="col input-field" style="width: 20%">
                    <input type="text" ng-model="deal_startTime" id="deal_startTime" class="datepicker"  date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label style="color: #000; !important" for="deal_startTime">处理结束时间(始)</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input type="text" ng-model="deal_endTime" id="deal_endTime"  class="datepicker" date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label style="color: #000; !important"  for="deal_endTime">处理结束时间(终)</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input type="text" ng-model="order_startTime" id="order_startTime" class="datepicker"  date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label style="color: #000; !important" for="order_startTime">指令时间(始)</label>
                </div>
                <div class="col input-field" style="width: 20%">
                    <input type="text" ng-model="order_endTime" id="order_endTime"  class="datepicker" date><i
                        class="mdi dataIcon mdi-table-large"></i>
                    <label style="color: #000; !important"  for="order_endTime">指令时间(终)</label>
                </div>
            </div>

            <div class="col s2" style="padding: 0">
                <div class="col s6 flex flex-round">
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center"
                       ng-click="searchDamageManagementList()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s6 flex flex-round">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center"
                       ng-click="downloadCsvFile()">
                        <i class="mdi mdi-cloud-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row col s12" style="margin-top: 25px">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class="bordered striped text_mid centered">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">质损编号</th>
                    <th data-field="">申报时间</th>
                    <th data-field="">指令日期</th>
                    <th data-field="">处理结束时间</th>
                    <th data-field="">VIN</th>
                    <th data-field="">品牌</th>
                    <th data-field="">质损说明</th>
                    <th data-field="">申报人</th>
                    <th data-field="">责任人</th>
                    <th data-field="">处理状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="damage in damageMamagementList" class="grey-text text-darken-1">
                    <td>{{damage.id}}</td>
                    <td>{{damage.created_on | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{damage.order_date | date:'yyyy-MM-dd'}}</td>
                    <td>{{damage.check_end_date }}</td>
                    <td>{{damage.vin}}</td>
                    <td>{{damage.make_name}}</td>
                    <td class="unnecessary" style="max-width: 150px;">{{damage.damage_explain}}</td>
                    <td>{{damage.declare_user_name}}</td>
                    <td>{{damage.under_user_name}}</td>
                    <td ng-class="{'damage_pending_treatment':damage.damage_status == 1 , 'damage_in_process':damage.damage_status == 2}">{{damage.damage_status | damageStatus}}</td>
                    <td class="details">
                        <a ui-sref="damage_management_details({id:damage.id,from:'damage_management'})" style="font-size: 1.5rem">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="damageMamagementList.length == 0">
                    <td colspan="11"><span style="letter-spacing: 2px">暂无数据</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="paging_box col s12" style="height: 45px">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                下一页
            </a>
        </div>
    </div>
</div>