<!-- 数据统计-部门统计 -->
<div id="department_statistics">
    <div class="modal-content grey-text text-darken-2">
        <div class="row no-marBottom" ul-tabs style="overflow: hidden">

            <!--头部 TAB页-->
            <div class="col s12">
                <ul class="tabWrap grey lighten-4">
                    <li class="tab col s3 settle vc-center" >
                        <div class="col s8 center" ng-click="showSettle()">结算</div>
                        <div class="col s4 center" ng-click="exportSettle()"><i class="mdi mdi-cloud-download fz18"></i></div>
                    </li>
                    <li class="tab col s3 dispatch vc-center" >
                        <div class="col s8 center" ng-click="showDispatch()">调度</div>
                        <div class="col s4 center" ng-click="exportDispatch()"><i class="mdi mdi-cloud-download fz18"></i></div>
                    </li>
                    <li class="tab col s3 quality vc-center" >
                        <div class="col s8 center" ng-click="showQuality()">质量</div>
                        <div class="col s4 center" ng-click="exportQuality()"><i class="mdi mdi-cloud-download fz18"></i></div>
                    </li>
                    <li class="tab col s3 truck vc-center" >
                        <div class="col s8 center" ng-click="showTruck()">车管</div>
                        <div class="col s4 center" ng-click="exportTruck()"><i class="mdi mdi-cloud-download fz18"></i></div>
                    </li>
                </ul>
            </div>

            <!-- TAB1：结算 页面-->
            <div id="settle" class="row tab_box mp-50">
                <div style="width: 85%;margin: 0 auto">
                    <!-- 1:产值 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">产值</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshChart('outPut')" ng-model="outputChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}" name="select" class="filled-in settle" style="margin-top:10px;"
                                       ng-click="checkOutputStat($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="outputStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 2:外协产值 柱状图-->
<!--                    <div class="row z-depth-2">-->
<!--                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">-->
<!--                            <div class="col s2" style="font-size: 16px;margin-top:12px;">外协产值</div>-->
<!--                            <div class="col s1">-->
<!--                                <select material-select watch ng-change="refreshChart('outer')" ng-model="outerChartType">-->
<!--                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">-->
<!--                                <input type="checkbox" id="{{year.key}}_out" name="select" class="filled-in settle"-->
<!--                                       ng-click="checkOuterStat($event,year.key,$index)" ng-checked="defaultYear==year.key"/>-->
<!--                                <label for="{{year.key}}_out" class="mp-10" style="margin-top:2px;">{{year.value}}</label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash;柱状图&ndash;&gt;-->
<!--                        <div class="col s12">-->
<!--                            <div id="outerOutputStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!-- 3:单车产值 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">单车产值</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshChart('perTruck')" ng-model="perTruckChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_per_truck" name="select" class="filled-in settle"
                                       ng-click="checkPerTruckStat($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_per_truck" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="perTruckOutputStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 4:单公里产值 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">单公里产值</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshChart('perKm')" ng-model="perKmChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_per_km" name="select" class="filled-in settle"
                                       ng-click="checkPerKmStat($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_per_km" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="perKmOutputStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TAB2：调度 页面-->
            <div id="dispatch" class="row tab_box mp-50">
                <div style="width: 85%;margin: 0 auto">
                    <!-- 1:出车数 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">出车数</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('truck_count')" ng-model="truckCountChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_truck_count" name="select" class="filled-in dispatch"
                                       ng-click="checkTruckCount($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_truck_count" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="truckCountStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 1:车位出车数 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">车位出车数</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('truck_count_des')" ng-model="truckCountDesChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="radio" id="{{year.key}}_truck_count_des" name="select" velue="year.key"
                                       ng-click="checkTruckCountDes(year.key)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_truck_count_des" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="truckCountDesStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 2:发运量 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 16px;margin-top:12px;">发运量</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('car_count')" ng-model="carCountChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_car_count" name="select" class="filled-in dispatch"
                                       ng-click="checkCarCount($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_car_count" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="carCountStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 3:总里程 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">总里程</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('total_distance')" ng-model="totalDistanceChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_total_distance" name="select" class="filled-in dispatch"
                                       ng-click="checkTotalDistance($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_total_distance" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="totalDistanceStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 4:重载里程 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">重载里程</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('load_distance')" ng-model="loadDistanceChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_load_distance" name="select" class="filled-in dispatch"
                                       ng-click="checkLoadDistance($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_load_distance" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="loadDistanceStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 5:重载率 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">重载率</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshDispatchChart('load_ratio')" ng-model="loadRatioChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_load_ratio" name="select" class="filled-in dispatch"
                                       ng-click="checkLoadRatio($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_load_ratio" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="loadRatioStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TAB3：质量 页面-->
            <div id="quality" class="row tab_box mp-50">
                <div style="width: 85%;margin: 0 auto">
                    <!-- 1:质损次数 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">质损次数</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('damage_count')" ng-model="damageCountChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_damage_count" name="select" class="filled-in quality"
                                       ng-click="checkDamageCount($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_damage_count" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="damageCountStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 2:总体质损成本 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 16px;margin-top:12px;">总体质损成本</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('total_damge_money')" ng-model="totalDamgeMoneyChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_total_damge_money" name="select" class="filled-in quality"
                                       ng-click="checkTotalDamgeMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_total_damge_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="totalDamgeMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 3:公司承担质损成本 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">公司承担质损成本</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('company_money')" ng-model="companyMoneyChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_company_money" name="select" class="filled-in quality"
                                       ng-click="checkCompanyMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_company_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="companyMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 4:单车质损成本 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">单车质损成本</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('per_car_damage_money')" ng-model="perCarDamageMoneyChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_per_car_damage_money" name="select" class="filled-in quality"
                                       ng-click="checkPerCarDamageMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_per_car_damage_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="perCarDamageMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 5:单车公司质损成本 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">单车公司质损成本</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('per_car_c_damage_money')" ng-model="perCarCDamageMoneyChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_per_car_c_damage_money" name="select" class="filled-in quality"
                                       ng-click="checkPerCarCDamageMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_per_car_c_damage_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="perCarCDamageMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 6:洗车费 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">洗车费</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('clean_fee')" ng-model="cleanFeeChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_clean_fee" name="select" class="filled-in quality"
                                       ng-click="checkCleanFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_clean_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="cleanFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 7:单车洗车费 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">单车洗车费</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('per_car_clean_fee')" ng-model="perCarCleanFeeChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_per_car_clean_fee" name="select" class="filled-in quality"
                                       ng-click="checkPerCarCleanFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_per_car_clean_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="perCarCleanFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 8:质损率 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">质损率</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshQualityChart('damage_ratio')" ng-model="damageRatioChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_damage_ratio" name="select" class="filled-in quality"
                                       ng-click="checkDamageRatio($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_damage_ratio" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="damageRatioStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TAB4：车管 页面-->
            <div id="truck" class="row tab_box mp-50">
                <div style="width: 95%;margin: 0 auto">
                    <!-- 1:过路费 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">过路费</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshTruckChart('etc_fee')" ng-model="etcFeeChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_etc_fee" name="select" class="filled-in truck"
                                       ng-click="checkEtcFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_etc_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="etcFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 2:油量/油费 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">油量</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('oil_vol')" ng-model="oilVolChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_oil_vol" name="select" class="filled-in truck"
                                               ng-click="checkOilVol($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_oil_vol" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="oilVolStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">油费</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('oil_fee')" ng-model="oilFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_oil_fee" name="select" class="filled-in truck"
                                               ng-click="checkOilFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_oil_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="oilFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 3:尿素量/尿素费 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">尿素量</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('urea_vol')" ng-model="ureaVolChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_urea_vol" name="select" class="filled-in truck"
                                               ng-click="checkUreaVol($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_urea_vol" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="ureaVolStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">尿素费</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('urea_fee')" ng-model="ureaFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_urea_fee" name="select" class="filled-in truck"
                                               ng-click="checkUreaFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_urea_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="ureaFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 4:修理费/保养费 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">修理费</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('repair_fee')" ng-model="repairFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_repair_fee" name="select" class="filled-in truck"
                                               ng-click="checkRepairFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_repair_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="repairFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">保养费</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('maintian_fee')" ng-model="maintianFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_maintian_fee" name="select" class="filled-in truck"
                                               ng-click="checkMaintianFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_maintian_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="maintianFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 5:配件费 柱状图-->
                    <div class="row z-depth-2">
                        <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                            <div class="col s2" style="font-size: 18px;margin-top:12px;">配件费</div>
                            <div class="col s1">
                                <select material-select watch ng-change="refreshTruckChart('part_fee')" ng-model="partFeeChartType">
                                    <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                </select>
                            </div>
                            <div class="col s1" style="margin-top:12px;" ng-repeat="year in yearList">
                                <input type="checkbox" id="{{year.key}}_part_fee" name="select" class="filled-in truck"
                                       ng-click="checkPartFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                <label for="{{year.key}}_part_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                            </div>
                        </div>

                        <!--柱状图-->
                        <div class="col s12">
                            <div id="partFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                        </div>
                    </div>

                    <!-- 6:买分金额/交通罚款 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">买分金额</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('buy_score_fee')" ng-model="buyScoreFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_buy_score_fee" name="select" class="filled-in truck"
                                               ng-click="checkBuyScoreFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_buy_score_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="buyScoreFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">交通罚款</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('traffic_fine_fee')" ng-model="trafficFineFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_traffic_fine_fee" name="select" class="filled-in truck"
                                               ng-click="checkTrafficFineFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_traffic_fine_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="trafficFineFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 7:个人承担违章/公司承担违章 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">个人违章</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('driver_under_money')" ng-model="driverUnderMoneyChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_driver_under_money" name="select" class="filled-in truck"
                                               ng-click="checkDriverUnderMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_driver_under_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="driverUnderMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">公司违章</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('company_under_money')" ng-model="companyUnderMoneyChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_company_under_money" name="select" class="filled-in truck"
                                               ng-click="checkCompanyUnderMoney($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_company_under_money" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="companyUnderMoneyStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 8:在外维修次数/金额 柱状图-->
                    <div class="row">
                        <div class="col s6" style="padding-left:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">在外维修次数</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('outer_repair_count')" ng-model="outerRepairCountChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_outer_repair_count" name="select" class="filled-in truck"
                                               ng-click="checkOuterRepairCount($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_outer_repair_count" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="outerRepairCountStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="padding-right:0;">
                            <div class="row z-depth-2">
                                <div class="col s12 blue-grey lighten-4 bold grey-text text-darken-1 no-mp">
                                    <div class="col s2" style="font-size: 18px;margin-top:12px;">在外维修金额</div>
                                    <div class="col s2">
                                        <select material-select watch ng-change="refreshTruckChart('outer_repair_fee')" ng-model="outerRepairFeeChartType">
                                            <option ng-repeat="el in chartTypeList" ng-value="el.key">{{el.value}}</option>
                                        </select>
                                    </div>
                                    <div class="col s2" style="margin-top:12px;" ng-repeat="year in yearList">
                                        <input type="checkbox" id="{{year.key}}_outer_repair_fee" name="select" class="filled-in truck"
                                               ng-click="checkOuterRepairFee($event,year.key,$index)" ng-checked="defaultYear==year.key"/>
                                        <label for="{{year.key}}_outer_repair_fee" class="mp-10" style="margin-top:2px;">{{year.value}}</label>
                                    </div>
                                </div>

                                <!--柱状图-->
                                <div class="col s12">
                                    <div id="outerRepairFeeStatistics" style="min-width:400px;height:500px;margin: 10px 0 10px 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>