<div class="insurance_compensation">
    <div class="row main_storage_car">
        <div class="col s9">
            <div class="input-field col s4">
                <input id="payment_number" type="text" ng-model="paymentNum">
                <label for="payment_number">赔付编号</label>
            </div>
            <div class="input-field col s4">
                <input id="damage_number" type="text" ng-model="damageNum">
                <label for="damage_number">质损编号</label>
            </div>
            <div class="input-field col s4">
                <select material-select watch ng-model="processingStatus">
                    <option value="" selected>处理状态</option>
                    <option value="1">未完结</option>
                    <option value="2">已完结</option>
                </select>
            </div>
            <div class="input-field col s4">
                <input id="insurance_payment_start" type="number" ng-model="insurancePaymentStart">
                <label for="insurance_payment_start">保险赔付（元）</label>
            </div>
            <div class="input-field col s4">
                <input id="insurance_paymentEnd" type="number" ng-model="insurancePaymentEnd">
                <label for="insurance_paymentEnd">至</label>
            </div>
            <div class="input-field col s4">
                <input id="handler" type="text" ng-model="handlerName">
                <label for="handler">经办人</label>
            </div>
        </div>
        <div class="col s3 valign-wrapper" style="height: 142px;">
            <div class="col s4 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center"
                   ng-click="searchInsurancePaymentList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s4 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center"
                   ng-click="getDamageInfoList()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
            <div class="col s4 center">
                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center"
                   ui-sref="add_damage_insurance">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
        </div>
        <div class="row col s12" style="margin-top: 25px">
            <div class="divider" style="background: #00bcd4;height: 2px"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th width="230" data-field="">赔付编号</th>
                    <th width="200" data-field="">办理时间</th>
                    <th width="180" data-field="">保险待赔</th>
                    <th width="180" data-field="">保险赔付</th>
                    <th width="200" data-field="">保险公司</th>
                    <th width="150" data-field="">经办人</th>
                    <th width="180">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-text text-darken-1" ng-repeat="damage in damageInsurancePaymentList">
                    <td width="200">{{damage.id}}</td>
                    <td width="180">{{damage.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td width="200">{{damage.insure_plan}}</td>
                    <td width="150">{{damage.insure_actual}}</td>
                    <td width="350">{{damage.insure_name}}</td>
                    <td width="120">{{damage.insure_user_name}}</td>
                    <td width="150" class="details">
                        <a ui-sref="add_damage_insurance_details({id:damage.id})" style="font-size: 1.5rem">
                            <i class="mdi mdi-file-document look_icon cyan-text lighten-1"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="paging_box col s12" style="height: 45px">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                下一页
            </a>
        </div>
    </div>
</div>