<div class="accident_claim">

    <!--新增保险赔付模态框-->
    <div class="row" style="margin: 0">
        <div id="addAccidentClaimModal" class="modal modal-fixed-footer" style="width: 75%;height: 600px">
            <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                <div class="row col s12 vc-center" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;background-color:rgb(63,185,193)">
                    <p>新增保险赔付</p>
                </div>
                <div class="row col s12" style="margin-top: 35px">
                    <div style="width: 90%;margin: 0 auto">
                        <div class="col s12">
                            <div class="col s6 input-field">
                                <select material-select watch id="insurance_company_modal" ng-model="insuranceCompanyMod">
                                    <option value="" selected>请选择</option>
                                    <option ng-repeat="company in insureCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                                </select>
                                <label for="insurance_company_modal"><span style="color: red">* </span>保险公司</label>
                            </div>
                            <div class="col s6 input-field">
                                <select material-select watch id="insurance_type_modal" ng-model="insuranceTypeMod">
                                    <option value="" selected>请选择</option>
                                    <option ng-value="1" selected>交强险</option>
                                    <option ng-value="2" selected>商业险</option>
                                    <option ng-value="3" selected>货运险</option>
                                </select>
                                <label for="insurance_type_modal"><span style="color: red">* </span>险种</label>
                            </div>
                            <div class="col s6 input-field">
                                <input type="number" name="payment_money_start" id="payment_money_modal" ng-model="paymentMoneyMod">
                                <label for="payment_money_modal"><span style="color: red">* </span>待赔金额（元）</label>
                            </div>
                            <div class="col s6" style="padding: 0;">
                                <div class="col s6 input-field">
                                    <select material-select watch id="has_loan" ng-change="checkHasLoan()" ng-model="hasLoan">
                                        <option value="" selected>请选择</option>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                    <label for="has_loan"><span style="color: red">* </span>是否财务借款</label>
                                </div>
                                <div class="col s6 input-field">
                                    <input type="number" name="payment_money_start" id="loan_money_num" ng-disabled="hasLoanType" ng-model="loanMoneyNum">
                                    <label for="loan_money_num">财务借款（元）</label>
                                </div>
                            </div>
                            <div class="col s12 valign-wrapper" style="padding: 0;">
                                <div class="col s10 input-field">
                                    <input type="text" name="payment_money_start" id="relation_accident" ng-model="relationAccidentNum">
                                    <label for="relation_accident"><span style="color: red">* </span>关联事故</label>
                                </div>
                                <div class="col s2 center">
                                    <a ng-click="searchAccidentInfo()" class="btn-floating waves-light waves-effect cyan lighten-2 btn vc-center" style="margin-right: 10px">
                                        <i class="mdi mdi-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--事故详情-->
                        <div class="col s12" ng-repeat="accident in accidentClaimList">
                            <div class="col s6 modal_accident valign-wrapper" style="padding: 0;font-size: 1.1rem;color: darkgray;font-weight: bold">
                                <div class="col s1 right-align" style="padding: 0;margin-top: -5px">
                                    <span style="width:8px;height:8px;display:inline-block;border-radius: 100%;background-color: #26c6da"></span>
                                </div>
                                <div class="col s4 left-align">
                                    <p>{{accident.id}}</p>
                                </div>
                                <div class="col s3">
                                    <p>{{accident.truck_accident_type == 1 ? "一般事故" : accident.truck_accident_type == 2 ? "严重事故" : null}}</p>
                                </div>
                                <div class="col s2">
                                    <p>{{accident.truck_type == 1 ? "头车" : "挂车"}}</p>
                                </div>
                                <div class="col s3">
                                    <p>{{accident.truck_num}}</p>
                                </div>
                            </div>
                            <div class="col s6 modal_accident valign-wrapper" style="padding: 0;font-size: 1.1rem;color: darkgray;font-weight: bold">
                                <div class="col s8 right-align">
                                    <p ng-if="accident.accident_status == 3">{{accident.accident_date | date:'yyyy-MM-dd HH:mm:ss' + ' 至 ' + accident.end_date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                    <p ng-if="accident.accident_status == 1 || accident.accident_status == 2">{{accident.accident_date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                </div>
                                <div class="col s3">
                                    <p ng-if="accident.accident_status == 1">未处理</p>
                                    <p ng-if="accident.accident_status == 2" style="color: #e88282">处理中</p>
                                    <p ng-if="accident.accident_status == 3" style="color: #26c6da">已处理</p>
                                </div>
                                <div class="col s1">
                                    <span ng-click="deleteAccidentInfo($index)" class="mdi mdi-close"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="col s12 input-field">
                                <input type="text" name="payment_description" id="payment_description" ng-model="paymentDescription">
                                <label for="payment_description"><span style="color: red">* </span>赔付描述</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer valign-wrapper">
                <div class="col s12">
                    <div class="col s2 offset-s4">
                        <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                            取消
                        </a>
                    </div>
                    <div class="col s2">
                        <a ng-click="submitClaimInfoList()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            确定
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--事故理赔-->
    <div class="row valign-wrapper">
        <div class="col s10">
            <div class="col s7" style="padding: 0;">
                <div class="col s4 input-field">
                    <input type="text" name="compensate_num" id="compensate_num" ng-model="compensateNum">
                    <label for="compensate_num">理赔编号</label>
                </div>
                <div class="col s4 input-field">
                    <select material-select watch id="insurance_type" ng-model="insuranceType">
                        <option value="" selected>请选择</option>
                        <option ng-value="1" selected>交强险</option>
                        <option ng-value="2" selected>商业险</option>
                        <option ng-value="3" selected>货运险</option>
                    </select>
                    <label for="insurance_type">险种</label>
                </div>
                <div class="col s4 input-field">
                    <select material-select watch id="insurance_company" ng-model="insuranceCompany">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="company in insureCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                    </select>
                    <label for="insurance_company">保险公司</label>
                </div>
                <div class="col s4 input-field">
                    <select material-select watch id="financial_loan" ng-model="financialLoan">
                        <option value="" selected>所有</option>
                        <option value="0">无</option>
                        <option value="1">有</option>
                    </select>
                    <label for="financial_loan">财务借款</label>
                </div>
                <div class="col s4 valign-wrapper" style="padding: 0;">
                    <div class="col s6 input-field">
                        <input type="number" name="payment_money_start" id="payment_money_start" ng-model="paymentMoneyStart">
                        <label for="payment_money_start">待赔金额</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="number" name="payment_money_end" id="payment_money_end" ng-model="paymentMoneyEnd">
                        <label for="payment_money_end">至</label>
                    </div>
                </div>
                <div class="col s4 input-field">
                    <select material-select watch id="handle_status" ng-model="handleStatus">
                        <option value="" selected>请选择</option>
                        <option value="1">处理中</option>
                        <option value="2">已处理</option>
                    </select>
                    <label for="handle_status">处理状态</label>
                </div>
            </div>
            <div class="col s5" style="padding: 0;">
                <div class="col s6 input-field">
                    <input type="text" ng-model="claimStartTimeStart" id="claim_startTime_start" name="claim_startTime_start"  class="datepicker" autocomplete="off" date>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="claim_startTime_start">理赔生成时间(始)</label>
                </div>
                <div class="col s6 input-field">
                    <input type="text" ng-model="claimStartTimeEnd" id="claim_startTime_end" name="claim_startTime_end"  class="datepicker" autocomplete="off" date>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="claim_startTime_end">理赔生成时间(终)</label>
                </div>
                <div class="col s6 input-field">
                    <input type="text" ng-model="paymentSettlementTimeStart" id="payment_settlement_start" name="payment_settlement_start"  class="datepicker" autocomplete="off" date>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="payment_settlement_start">赔付结算时间(始)</label>
                </div>
                <div class="col s6 input-field">
                    <input type="text" ng-model="paymentSettlementTimeEnd" id="payment_settlement_end" name="payment_settlement_end"  class="datepicker" autocomplete="off" date>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="payment_settlement_end">赔付结算时间(终)</label>
                </div>
            </div>
        </div>
        <div class="col s2">
            <div class="col s6 center">
                <a ng-click="searchDamageClaimList()" class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center" style="margin-right: 10px">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center">
                <a ng-click="addClaimInfo()" class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center" style="margin-right: 10px">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <!--表格-->
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <div class="divider" style="background: #00bcd4;height: 2px"></div>
                <table class="bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th width="200" data-field="">理赔编号</th>
                        <th width="150" data-field="">险种</th>
                        <th width="200" data-field="">保险公司</th>
                        <th width="200" data-field="">保险待赔</th>
                        <th width="200" data-field="">财务借款</th>
                        <th width="200" data-field="">实际赔付</th>
                        <th width="300" data-field="">生成时间</th>
                        <th width="300" data-field="">赔付时间</th>
                        <th width="180" data-field="">状态</th>
                        <th width="150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="damage in damageClaimList" class="grey-text text-darken-1">
                        <td>{{damage.id}}</td>
                        <td>{{damage.insure_type | insuranceType}}</td>
                        <td>{{damage.insure_name}}</td>
                        <td>{{damage.insure_plan}}</td>
                        <td>{{damage.financial_loan}}</td>
                        <td class="red-text text-lighten-2">{{damage.insure_actual}}</td>
                        <td>{{damage.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{damage.completed_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="red-text text-lighten-2" ng-if="damage.insure_status == 1">处理中</td>
                        <td ng-if="damage.insure_status == 2">已处理</td>
                        <td class="operation">
                            <a ui-sref="accident_claim_details({id:damage.id})" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center"><i class="mdi mdi-file-document" style="margin: 0"></i></a>
                        </td>
                    </tr>
                    <tr class="grey-text text-darken-1" ng-if="damageClaimList.length == 0">
                        <td colspan="10"><span style="letter-spacing: 2px">暂无数据</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--分页-->
    <div class="row">
        <div class="col s12" style="height: 45px">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="previous_page()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_page()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>