<div class="" >
        <div class="modal-content grey-text text-darken-2">
            <div class="storage_storeTitle vc-center">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">新增事故信息</h4>
            </div>
            <div class="row"  >
                <div class="col s12" style="overflow-x: hidden">
                    <ul class="ui-tabs tabs" ul-tabs>
                        <li class="tab col s6 test1 disabled"><a  href="javascript:;">事故信息</a></li>
                        <li class="tab col s6 test2 disabled"><a href="javascript:;">相册</a></li>
                    </ul>
                </div>
                <div id="test1" class="test col s12"  ng-show="step_first">
                    <div class="row" style="position: relative">
                        <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
                        <div class="col s6 dealer_details grey-text">
                            <form name="add_truck_managementFrom" novalidate>
                                <div class="row">
                                    <div  class="col s12">
                                        <div class="col s12 input-field mp-40" ng-class="{'has-error':add_truck_managementFrom.Id.$invalid&&submitted }">
                                            <input type="text" class="dpRouteTaskId" id="dpRouteTaskId" name="Id" ng-model="dpRouteTaskId"  required>
                                            <div id="dpRouteTaskIdData" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                            <label for="dpRouteTaskId"><span style="color: red">&nbsp;</span>调度编号</label>
                                            <i class="mdi-plus-circle  address_icon mdi mdi-near-me vc-center cyan  lighten-2 white-text" ng-click="search_dpRouteTaskId()" style="cursor: pointer"></i>
                                        </div>
                                        <div class="collapsible_header valign-wrapper col s12 black-text fz14 " style="margin-top: 15px;height:40px" ng-show="lineInfo" >
                                            <div class="col s2 left-align"><p>{{driverName}}</p></div>
                                            <div class="col s4 center-align">
                                                <div style="padding: 0">
                                                    <p>{{startCityName}}&emsp;&emsp;<span class="mdi mdi-arrow-right"></span>&nbsp;&nbsp;&nbsp;{{endCityName}}</p>
                                                </div>
                                            </div>
                                            <div class="col s6 right-align">
                                                <p>计划执行时间：{{taskStartDate|date:'yyyy-MM-dd'}}</p>
                                            </div>
                                        </div>
                                        <div class=" valign-wrapper collapsible_header col s12 black-text fz14 center-align" style="margin-top: 15px;height:40px" ng-show="lineInfo" >
                                                <p class="col s6 left-align" ng-click="truckNumclick()">
                                                    <input name="group1" type="radio" id="truckNum" ng-velue="truckNume" ng-model="truckNume"/>
                                                    <label for="truckNum">头车&nbsp;{{truckNum}}</label>
                                                </p>
                                                <p class="col s6 left-align" style="margin-right: 20px;" ng-click="trailNumclick()">
                                                    <input name="group1" type="radio" id="trailNum" ng-velue="trailNume" ng-model="trailNume"/>
                                                    <label for="trailNum">挂车&nbsp;{{trailNum}}</label>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 input-field mp-40"  ng-class="{'has-error':add_truck_managementFrom.date.$invalid&&submitted }">
                                        <input type="text" id="accident_date" name="date" ng-model="accidentDate" class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                        <label check_operation_endTime class="grey-text bold" for="accident_date"><span style="color: red">*</span>发生时间</label>
                                    </div>
                                    <div class="col s6 input-field mp-40"  ng-class="{'has-error':add_truck_managementFrom.accident_date.$invalid&&submitted }">
                                        <input type="text" id="verification_time3" name="accident_date" ng-model="lineStartTime" class="timepicker" autocomplete="off" required   time><i class="mdi dataIcon mdi-clock"></i>
                                        <label check_operation_endTime class="grey-text bold" for="verification_time3"><span style="color: red">*</span>发生时刻</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 input-field mp-40" ng-class="{'has-error':add_truck_managementFrom.address.$invalid&&submitted }" >
                                        <input type="text" id="address" ng-model="address" autocomplete="off"  name="address" required>
                                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                        <label class="grey-text bold" for="address"><span style="color: red">*</span>详细地址</label>
                                        <i class="address_icon mdi mdi-near-me vc-center cyan  lighten-2 white-text" ng-click="search_location(input_address)" style="cursor: pointer"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 bold mp-40">备注:</div>
                                    <div class="col s12 mp-10">
                                        <textarea name="" id="" ng-model="remark" style="height: 150px" >
                                        </textarea>
                                    </div>
                                    <span class="right fz12">最多可以输入240个字符</span>
                                </div>
                                <div class="row">
                                    <div class="col  offset-s6">
                                        <button ng-click="createTruckAccident(add_truck_managementFrom.$valid)" class="btn btn-large waves-effect waves-light">下一步</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col s6 dealer_map" id="dealer_map">
                        </div>
                    </div>
                </div>
                <div id="test2" class="test col s12"  ng-show="step_second" >
                    <div class="row ">
                        <div class="col s12 valign-wrapper" >
                            <div class="storage_car_picture_wrap col s12">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left">
                                        <div class="storage_car_picture  vc-center cyan lighten-1 white-text" style="margin-left:60px ">
                                            <input name="image" type="file"  onchange="angular.element(this).scope().uploadAccientImage(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                    </div>
                                    <div class="row col s12"  id="look_img">
                                        <div class="col s12" id="accient_image">
                                            <div ng-repeat="el in car_imageBox" repeat-finish="accientFinish()" ng-mouseenter="show=true" ng-mouseleave="show=false" class="truck_car_picture col s3 vc-center  p0 grey white-text">
                                                <img ng-src="{{el.src}}" class="responsive-img">
                                                <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button class="btn btn-large waves-effect waves-light "  ng-click="return()" style="cursor: pointer;position: absolute;bottom: 100px;right:50px;">确定</button></div>
                        </div>
                    </div>
            </div>
        </div>
</div>
</div>