<div class="add_damage_insurance_details">
    <div class="storage_storeTitle vc-center ">
        <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
            <i class="mdi mdi-arrow-left-bold"></i>
        </a>
        <h4 class="center-align cyan-text text-lighten-1">质损保险详情</h4>
    </div>
    <div class="divider cyan" style="height: 2px;margin-top: 10px;margin-bottom: 30px"></div>

    <div class="row" style="width: 80%;margin: 0 auto">
        <div class="col s12 z-depth-2" style="padding: 0;margin-bottom: 20px">
            <div class="col s12 valign-wrapper" style="height: 60px;background-color: #dcdfe0;font-size: 1.2rem;font-weight: bold">
                <div class="col s3 left-align cyan-text" >
                    <p style="margin: 0">理赔编号：{{currentInsurInfo.id}}</p>
                </div>
                <div class="col s7 right-align" style="color: darkgray">
                    <p ng-show="insureStatus == 1">经办人：{{currentInsurInfo.insure_user_name}}</p>
                </div>
                <div class="col s2 center-align">
                    <p style="color: #e57373" ng-if="insureStatus == 1">处理中</p>
                    <p class="cyan-text"  ng-if="insureStatus == 2">已处理</p>
                </div>
            </div>
            <!--处理中状态下显示的输入框-->
            <div class="col s12" style="margin-bottom: 30px" ng-show="insureStatus == 1">
                <div class="col s4 offset-s8 right-align" style="color: darkgray">
                    <p style="margin: 6px 0">生成时间：{{currentInsurInfo.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <div class="col s12">
                    <div class="col s4 input-field">
                        <select material-select watch id="insurance_company" ng-model="insuranceCompany">
                            <option ng-repeat="company in insuranceCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                        </select>
                        <label for="insurance_company">保险公司</label>
                    </div>

                    <!--出险城市-->
                    <div class="col s4 input-field">
                        <select material-select watch id="getCityName" ng-model="currentInsurInfo.city_id" style="width: 100%">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="el in cityList" ng-value="el.id">{{el.city_name}}</option>
                        </select>
                    </div>

                    <!--责任判定-->
                    <div class="col s3 input-field">
                        <select material-select watch id="getLiabilityType" ng-model="currentInsurInfo.liability_type">
                            <option  ng-value="0" >请选择</option>
                            <option  ng-value="1">全责</option>
                            <option  ng-value="2">免责</option>
                            <option  ng-value="3">五五</option>
                            <option  ng-value="4">三七</option>
                        </select>
                        <label for="getLiabilityType">责任判定</label>
                    </div>

                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="damageMoney" type="number" ng-model="damageMoney">
                        <label style="font-weight: bold" for="damageMoney">定损金额（元）</label>
                    </div>
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_compensate" type="number" ng-model="insuranceCompensation">
                        <label style="font-weight: bold" for="insurance_compensate">待赔金额（元）</label>
                    </div>
                   <!-- <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_loan" type="number" ng-model="currentInsurInfo.financial_loan">
                        <label style="font-weight: bold" for="insurance_loan">财务借款（元）</label>
                    </div>-->
                    <div class="col s6 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="insurance_actual" type="number" ng-model="insurancePayment">
                        <label style="font-weight: bold" for="insurance_actual">实际赔付（元）</label>
                    </div>

                    <!--免赔金额-->
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="derateMoney" type="number" ng-model="currentInsurInfo.derate_money">
                        <label for="derateMoney">免赔金额（元）</label>
                    </div>
                    <!--车辆估值-->
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="carValuation" type="number" ng-model="currentInsurInfo.car_valuation">
                        <label for="carValuation">车辆估值（元）</label>
                    </div>
                    <!--发票金额-->
                    <div class="col s3 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="invoiceMoney" type="number" ng-model="currentInsurInfo.invoice_money">
                        <label for="invoiceMoney">发票金额（元）</label>
                    </div>

                    <!--报案日期-->
                    <div class="input-field col s3">
                        <input type="text" ng-model="declareDate" id="declareDate" name="declareDate"  class="datepicker" autocomplete="off" required date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="declareDate">报案日期</label>
                    </div>

                    <div class="col s6 input-field">
                        <input id="refRemark" type="text" ng-model="currentInsurInfo.ref_remark">
                        <label style="font-weight: bold" for="refRemark">定损员信息</label>
                    </div>

                    <div class="col s6 input-field">
                        <input id="insurance_explain" type="text" ng-model="currentInsurInfo.payment_explain">
                        <label style="font-weight: bold" for="insurance_explain">赔付描述</label>
                    </div>



                </div>
            </div>

            <!--已处理状态下显示的文本-->
            <div class="col bold_txt_strong s12" style="margin-bottom: 30px;color: darkgray" ng-show="insureStatus == 2">
                <div class="col s4 offset-s8 right-align" style="color: darkgray">
                    <p style="margin: 6px 0">生成时间：{{currentInsurInfo.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <div class="col s12">
                    <div class="col s3">
                        <p><span>保险公司：{{currentInsurInfo.insure_name}}</span></p>
                    </div>
                    <!--出险城市-->
                    <div class="col s3">
                        <p><span>出险城市：{{currentInsurInfo.city_name}}</span></p>
                    </div>
                    <!--责任判定-->
                    <div class="col s3">
                        <p><span>责任判定：{{currentInsurInfo.liability_type==0?'无':currentInsurInfo.liability_type==1?'全责':
                           currentInsurInfo.liability_type==2?'免责': currentInsurInfo.liability_type==3?'五五':'三七' }}</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>经办人：{{currentInsurInfo.insure_user_name}}</span></p>
                    </div>

                    <div class="col s3">
                        <p><span>定损金额：<span style="color: #e57373">{{currentInsurInfo.damage_money.toFixed(2)}}</span> 元</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>待赔金额：<span style="color: #e57373">{{currentInsurInfo.insure_plan.toFixed(2)}}</span> 元</span></p>
                    </div>
                   <!-- <div class="col s3">
                        <p><span>财务借款：<span style="color: #e57373">{{currentInsurInfo.financial_loan.toFixed(2)}}</span> 元</span></p>
                    </div>-->
                    <div class="col s6">
                        <p><span>实际赔付：<span style="color: #e57373">{{currentInsurInfo.insure_actual.toFixed(2)}}</span> 元</span></p>
                    </div>




                    <div class="col s3">
                        <p><span>免赔金额：<span style="color: #e57373">{{currentInsurInfo.derate_money.toFixed(2)}}</span> 元</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>车辆估值：<span style="color: #e57373">{{currentInsurInfo.car_valuation.toFixed(2)}}</span> 元</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>发票金额：<span style="color: #e57373">{{currentInsurInfo.invoice_money.toFixed(2)}}</span> 元</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>报案日期：<span style="color: #e57373">{{currentInsurInfo.declare_date| date:'yyyy-MM-dd'}}</span> 元</span></p>
                    </div>

                    <div class="col s3">
                        <p><span>赔付时间：{{currentInsurInfo.completed_date | date:'yyyy-MM-dd HH:mm:ss'}}</span></p>
                    </div>
                    <div class="col s3">
                        <p><span>定损员信息：{{currentInsurInfo.payment_explain}}</span></p>
                    </div>
                    <div class="col s12">
                        <p style="font-size: 1.2rem"><span>赔付描述：</span>{{currentInsurInfo.payment_explain}}</p>
                    </div>
                </div>
            </div>

            <!--关联质损输入框-->
            <div class="row col s12" ng-show="insureStatus == 1">
                <div class="col s12">
                    <div class="col s10 input-field">
                        <input id="associated_damage" type="text" ng-model="damageNum">
                        <label class="cyan-text" style="font-weight: bold" for="associated_damage"><span style="color: red;">* </span>关联质损</label>
                    </div>
                    <div class="col s2 center flex flex-round">
                        <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2 btn vc-center"
                           ng-click="searchDamageDetails()">
                            <i class="mdi mdi-playlist-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row col s12" ng-show="insureStatus == 2">
                <div class="col s12">
                    <div class="col s12 left-align">
                        <p class="cyan-text" style="font-size: 1.2rem;font-weight: bold;margin: 0">关联质损：</p>
                    </div>
                </div>
            </div>

            <!--关联质损信息卡片-->
            <div class="row col s12" style="padding: 0 34px;margin: 0">
                <!--这下面加ng-repeat-->
                <div class="row col s12 cyan_border" ng-repeat="damage in damageInfoCardList" style="border-radius: 5px;background-color: white;color: darkgray">
                    <!--头-->
                    <div class="col s12 card_head" style="padding: 0;border-bottom: 1px solid #ccc">
                        <div class="col s11">
                            <p class="cyan-text" style="font-weight: bold;">质损编号：{{damage.id}}</p>
                        </div>
                        <div class="col s1 right-align">
                            <span ng-if="insureStatus == 1" ng-click="deleteDamageInfo(damage.id)" style="font-size: 1.8rem;cursor: pointer;color: #e88282" class="mdi mdi-delete-forever"></span>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="col s12 card_body" style="font-size: 1.07rem;padding: 0;">
                        <div class="col s4">
                            <p><span style="font-weight: bold">VIN：</span>{{damage.vin + "（" + damage.make_name + "）"}}</p>
                        </div>
                        <div class="col s4">
                            <p><span style="font-weight: bold">委托方：</span>{{damage.e_short_name}}</p>
                        </div>
                        <div class="col s4">
                            <p><span style="font-weight: bold">经销商：</span>{{damage.r_short_name}}</p>
                        </div>

                        <div class="col s4">
                            <p><span style="font-weight: bold">质损类型：</span>{{damage.damage_type == 1 ? "一般质损" : damage.damage_type == 2 ? "严重质损" : ""}}</p>
                        </div>
                        <div class="col s4">
                            <p><span style="font-weight: bold">责任人：</span>{{damage.under_user_name}}</p>
                        </div>
                        <div class="col s4">
                            <p><span style="font-weight: bold">司机 / 货车牌号：</span>{{damage.drive_name}}{{damage.truck_num == null ? "" : " / "}}{{damage.truck_num}}</p>
                        </div>
                        <div class="col s12">
                            <p><span style="font-weight: bold">质损说明：</span>{{damage.damage_explain}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col s12">
                <div class="col s12">
                    <div class="col s12 input-field" ng-show="insureStatus == 1">
                        <input id="processing_description" type="text" ng-model="currentInsurInfo.check_explain">
                        <label style="font-weight: bold" for="processing_description">处理描述</label>
                    </div>
                    <div class="col s12" style="color: darkgray;font-size: 1.2rem" ng-show="insureStatus == 2">
                        <p><span style="font-weight: bold">处理描述：</span>{{currentInsurInfo.check_explain}}</p>
                    </div>
                    <!--特殊说明-->
                    <div class="col s12 input-field" ng-if="insureStatus == 1">
                        <input type="text" name="ref_remark" id="ref_remark" ng-model="currentInsurInfo.detail_explain">
                        <label style="font-weight: bold" for="ref_remark">特殊说明</label>
                    </div>
                    <div class="col s12" style="color: darkgray;font-size: 1.2rem" ng-show="insureStatus == 2">
                        <p><span style="font-weight: bold">特殊说明：</span>{{currentInsurInfo.detail_explain}}</p>
                    </div>
                </div>
            </div>
            <div class="row col s12" ng-show="insureStatus == 1">
                <div class="col s6 offset-s3">
                    <div class="col s5">
                        <a ng-click="saveDamageInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            保存
                        </a>
                    </div>
                    <div class="col s5 offset-s2">
                        <a ng-click="completeDamageList()" style="width: 100%;background-color: #f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                            处理结束
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>