<div id="look_StorageCar" >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <div class="storage_storeTitle vc-center ">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">增加车辆</h4>
            </div>
            <!--<div class="divider" style="background: #00bcd4;height: 2px;"></div>-->
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" ul-tabs>
                        <li class="tab col s3"><a class="active" href="#test1">基本信息</a></li>
                        <li class="tab col s3"><a  href="#test2">车检</a></li>
                        <li class="tab col s3 "><a href="#test3">车保</a></li>
                        <li class="tab col s3"><a href="#test4">备注</a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12">测试 1</div>
                <div id="test2" class="col s12">测试 2</div>
                <div id="test3" class="col s12">测试 3</div>
                <div id="test4" class="col s12">测试 4</div>
            </div>
        </div>
    </div>
</div>

</div>