<!--添加模态框-->
<div id="addExceedOilItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增超油扣款</div>
    <div class="modal-content">
        <div class="row col" style="width: 80%;">

            <!--司机   调度编号  -->
            <div class="col s12" style="height: 70px">

                <div class="col s6 input-field">
                    <input id="addExceedOilDispatch" type="text"  ng-model="addExceedOilDispatch" ng-change="changeExceedOilDispatch(addExceedOilDispatch)">
                    <label for="addExceedOilDispatch"><span class="red-text">*</span> 调度编号</label>
                </div>
                <div class="col s6 input-field">
                    <input id="addExceedOilDriver" type="text"  ng-model="addExceedOilDriver">
                    <label for="addExceedOilDriver">司机</label>
                </div>
            </div>

            <!--货车牌号 计划执行时间-->
            <div class="col s12"  style="height: 70px">
                <div class="input-field col s6">
                    <input type="text" ng-model="addTruckNum" id="addTruckNum" >
                    <label for="addTruckNum">货车牌号</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" ng-model="addTime" id="addTime" name="addTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="addTime">计划执行时间</label>
                </div>
            </div>


            <!--超油量  超油金额-->
            <div class="col s12" style="height: 70px">

                <div class="col s6 input-field">
                    <input id="addExceedOilScore" type="number"  ng-model="addExceedOilScore">
                    <label for="addExceedOilScore"><span class="red-text">*</span>超油量(L)</label>
                </div>

                <div class="col s6 input-field">
                    <input id="addExceedOilMoney" type="number"  ng-model="addExceedOilMoney">
                    <label for="addExceedOilMoney"><span class="red-text">*</span>超油金额(元)</label>
                </div>

            </div>


            <!--备注-->
            <div class="col s12">
                <div class="col s12 input-field"  style="height: 70px">
                    <input id="addRemark" name="remark"  ng-model="newRemark" type="text">
                    <label for="addRemark">备注:</label>
                </div>
            </div>

        </div>
    </div>

    <div class="divider" style="background: #ccc;height: 1px;"></div>
    <div class="modal-footer vc-center">
        <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
        <button class="btn waves-light waves-effect cyan lighten-2"  ng-click="addExceedOilItem()" name="action" style="margin-left: 10px">确定</button>
    </div>
</div>

<!--修改模态框-->
<div id="putExceedOilItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >超油扣款详情</div>
    <div ng-show="putExceedOilList.stat_status==1">
        <div class="modal-content">
            <div class="row col" style="width: 80%;">

                <!--超油结算编号-->
                <div class="col s12">
                    <div class="col s12 input-field" style="width: 98%;margin-left: 1%; height: 50px;border-bottom: 2px solid #ccc">
                        <div class="col s6 cyan-text fz18  bold" >
                            超油结算编号:{{putExceedOilList.id}}
                        </div>
                        <div class="col s6 red-text  input-field bold right-align"> 未扣</div>
                    </div>
                </div>
                <!--调度编号 司机-->
                <div class="col s12" style="height: 60px;margin-top: 20px">

                    <div class="col s6 input-field">
                        <input id="putExceedOilDispatch" type="text"  ng-model="putExceedOilList.dp_route_task_id" ng-change="changePutExceedOilDispatch(putExceedOilList.dp_route_task_id)">
                        <label for="putExceedOilDispatch"><span class="red-text">*</span> 调度编号</label>
                    </div>
                    <div class="col s6 input-field">
                        <input id="putExceedOilDriver" type="text"  ng-model="putExceedOilList.drive_name">
                        <label for="putExceedOilDriver"> 司机</label>
                    </div>

                </div>


                <!-- 货车牌号 计划执行时间 -->
                <div class="col s12" style="height: 60px">

                    <div class="input-field col s6">
                        <input type="text" ng-model="putExceedOilList.truck_num" id="putTruckNum" >
                        <label for="putTruckNum">货车牌号</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" ng-model="putExceedOilList.task_plan_date" id="putTime" name="putTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="putTime">计划执行时间</label>
                    </div>

                </div>


                <!--超油量  超油金额-->
                <div class="col s12"  style="height: 60px">
                    <div class="col s6 input-field">
                        <input id="putExceedOilScore" type="number"  ng-model="putExceedOilList.exceed_oil_quantity">
                        <label for="putExceedOilScore"><span class="red-text">*</span>超油量(L)</label>
                    </div>

                    <div class="col s6 input-field">
                        <input id="putExceedOilMoney" type="number"  ng-model="putExceedOilList.exceed_oil_money">
                        <label for="putExceedOilMoney"><span class="red-text">*</span>超油金额(元)</label>
                    </div>
                </div>


                <!--备注-->
                <div class="col s12">
                    <div class="col s12 input-field"  style="height: 70px">
                        <input id="putRemark" name="remark"  ng-model="putExceedOilList.remark" type="text">
                        <label for="putRemark">备注:</label>
                    </div>
                </div>

                <!--操作人-->
                <div class="col s3 offset-s9 input-field">
                    操作人:{{putExceedOilList.op_user_name}}
                </div>
            </div>
        </div>
        <div class="divider" style="background: #ccc;height: 1px;"></div>
        <div class="modal-footer vc-center">
            <a class="modal-action modal-close waves-effect grey waves-light lighten-1 btn" style="margin-right: 10px;">取消</a>
            <button class="btn waves-light waves-effect lighten-2"  name="action" ng-click="putExceedOilItem()">确定 </button>
        </div>
    </div>
    <div ng-show="putExceedOilList.stat_status!==1">
        <div class="modal-content">
            <div class="row col" style="width: 80%;">
                <!--超油结算编号-->
                <div class="col s12">
                    <div class="col s12 input-field" style="width: 98%;margin-left: 1%; height: 50px;border-bottom: 2px solid #ccc">
                        <div class="col s6 cyan-text fz18  bold" >
                            超油结算编号:{{putExceedOilList.id}}
                        </div>
                        <div class="col s6 grey-text input-field bold right-align">已扣</div>
                    </div>
                </div>

                <!--调度编号 司机-->
                <div class="col s12" style="height: 60px;margin-top: 20px;border-bottom: 1px dotted #ccc">
                    <div class="col s6 input-field">调度编号:  {{putExceedOilList.dp_route_task_id}}</div>
                    <div class="col s6 input-field">司机:  {{putExceedOilList.drive_name}}</div>
                </div>

                <!-- 货车牌号 计划执行时间 -->
                <div class="col s12" style="height: 60px;margin-top: 20px;border-bottom: 1px dotted #ccc">
                    <div class="col s6 input-field">货车牌号:  {{putExceedOilList.truck_num}}</div>
                    <div class="col s6 input-field">计划执行时间:  {{putExceedOilList.task_plan_date | date:'yyyy-MM-dd'}}</div>
                </div>

                <!--超油量  超油金额-->
                <div class="col s12" style="height: 60px;border-bottom: 1px dotted #ccc">

                    <div class="col s6 input-field">超油量:  {{putExceedOilList.exceed_oil_quantity}}L</div>

                    <div class="col s6 input-field">超油金额:  <span class="red-text fz20">{{putExceedOilList.exceed_oil_money}}</span> 元</div>

                </div>

                <!--备注-->
                <div class="col s12">
                    <div class="col s12 input-field"  style="height: 60px;border-bottom: 1px dotted #ccc">备注:  {{putExceedOilList.remark}}</div>
                </div>

                <!--操作人-->
                <div class="col s3 offset-s9 input-field">
                    操作人:  {{putExceedOilList.op_user_name}}
                </div>
            </div>
        </div>
        <div class="divider" style="background: #ccc;height: 1px;"></div>
        <div class="modal-footer right-align">
            <button class="btn waves-light waves-effect lighten-2"  name="action" ng-click="putExceedOilItem2()"  style="margin-right: 50px">确定 </button>
        </div>
    </div>
</div>

<!--查询司机超油扣款情况-->
<div>
    <!--查询条件-->
    <div class="row">
        <div class="row grey-text text-darken-1">
            <div class="col s10" style="margin-top: 20px">
                <div class="col s12">

                    <!--司机-->
                    <div class="input-field col" style="width: 20%">
                        <select id="driver" name="driver" material-select watch ng-model="driverId" style="width: 100%">
                            <option value="">请选择</option>
                            <option ng-repeat="driver in driveNameList" value={{driver.id}}>{{driver.drive_name}}</option>
                        </select>
                    </div>

                    <!--调度编号-->
                    <div class="input-field col" style="width: 20%">
                        <input id="dispatchId" name="dispatchId" ng-model="dispatchId" type="text">
                        <label for="dispatchId">调度编号</label>
                    </div>

                    <!--指令日期-->
                    <div class="input-field col" style="width: 20%">
                        <input type="text"  id="driveStartTime" class="datepicker" autocomplete="off" ng-model="driveStartTime" date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="driveStartTime">计划执行时间(始)</label>
                    </div>
                    <div class="input-field col" style="width: 20%">
                        <input type="text" id="driveEndTime" class="datepicker" autocomplete="off" ng-model="driveEndTime" date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="driveEndTime">计划执行时间(终)</label>
                    </div>

                    <!--结算状态-->
                    <div class="input-field col" style="width: 20%">
                        <select material-select watch ng-model="ExceedOilStu" id="ExceedOilStu">
                            <option value="" selected>结算状态</option>
                            <option ng-value="1">未扣</option>
                            <option ng-value="2">已扣</option>
                        </select>
                    </div>
                </div>

            </div>

            <!--按钮-->
            <div class="col s2" style="margin-top: 30px">
                <div class="col s4" >
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getExceedOil()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s4 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                        <i class="mdi mdi-cloud-download"></i>
                    </a>
                </div>
                <div class="col s4 right-align">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"  ng-click="addExceedOil()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
        <table class=" bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">超油结算编号</th>
                <th data-field="">司机</th>
                <th data-field="">货车牌号</th>
                <th data-field="">调度编号</th>
                <th data-field="">计划执行时间</th>
                <th data-field="">超油量(L)</th>
                <th data-field="">超油金额</th>
                <th data-field="">操作人</th>
                <th data-field="">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ExceedOilInfo in ExceedOilList" class="grey-text text-darken-1">
                <td>{{ExceedOilInfo.id}}</td>
                <td>{{ExceedOilInfo.drive_name}}</td>
                <td >{{ExceedOilInfo.truck_num}}</td>
                <td>{{ExceedOilInfo.dp_route_task_id}}</td>
                <td>{{ExceedOilInfo.task_plan_date| date:'yyyy-MM-dd'}}</td>
                <td>{{ExceedOilInfo.exceed_oil_quantity }}</td>
                <td>{{ExceedOilInfo.exceed_oil_money }}</td>
                <td>{{ExceedOilInfo.op_user_name}}</td>
                <td class="red-text" ng-if="ExceedOilInfo.stat_status==1">未扣</td>
                <td ng-if="ExceedOilInfo.stat_status!==1">已扣</td>
                <td  class="operation">
                    <a ng-click="putExceedOil(ExceedOilInfo.id)" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center">
                        <i class="mdi mdi-file-document" style="margin: 0"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="ExceedOilList.length==0">
                <td colspan="10">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>