<!--添加模态框-->
<div id="addExceedOilItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增超量扣款</div>
    <div class="modal-content">
        <div class="row col" style="width: 80%;height: 300px;">



            <!--货车牌号-->
            <div class="input-field col s4">
                <select  id="addTruckNum" style="width: 100%" ng-model="addTruckNum">
                    <option value=""></option>
                    <option ng-repeat="truckNumItem in truckNumListAll" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}</option>
                </select>
            </div>
            <!--司机 -->
            <div class="col s4 input-field" style="height: 70px">
                <select id="addExceedOilDriver" name="addExceedOilDriver" material-select watch ng-model="addExceedOilDriver" style="width: 100%" ng-change="changeDrive(addExceedOilDriver)">
                    <option value="">请选择</option>
                    <option ng-repeat="driver in driveNameList" value={{driver.id}}>{{driver.drive_name}}&nbsp;({{driver.company_name}})</option>
                </select>
            </div>


            <div class="input-field col s4" >
                <input type="text"  id="oilDate" class="datepicker" autocomplete="off" ng-model="oilDate" date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="oilDate">核油日期</label>
            </div>
            <div class="input-field col s12" >
                <input type="text"  id="addRemark"  ng-model="addRemark" >
                <label for="addRemark">备注</label>
            </div>

        </div>
    </div>

    <div class="divider" style="background: #ccc;height: 1px;"></div>
    <div class="modal-footer vc-center">
        <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
        <button class="btn waves-light waves-effect cyan lighten-2"  ng-click="addExceedOilItem()" name="action" style="margin-left: 10px">确定</button>
    </div>
</div>




<!--查询司机超量扣款情况-->
<div>
    <!--查询条件-->
    <div class="row">
        <div class="row grey-text text-darken-1">
            <div class="col s10" style="margin-top: 20px">
                <div class="col s12">


                    <div class="input-field col s2">
                        <select id="search_company" material-select watch ng-model="search_company">
                            <option value="">所属公司</option>
                            <option ng-repeat="el in company" ng-value="el.id">{{el.company_name}}</option>
                        </select>
                        <label for="search_company">请选择</label>
                    </div>

                    <!--货车牌号-->
                    <div class="input-field col s2">
                        <select  id="truckNum" style="width: 100%" ng-model="truckNum">
                            <option value=""></option>
                            <option ng-repeat="truckNumItem in truckNumListAll" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}</option>
                        </select>
                    </div>


                    <!--司机-->
                    <div class="input-field col s2">
                        <select id="driver" name="driver" material-select watch ng-model="driverId" style="width: 100%">
                            <option value="">请选择</option>
                            <option ng-repeat="driver in driveNameList" value={{driver.id}}>{{driver.drive_name}}</option>
                        </select>
                    </div>

                    <!--指令日期-->
                    <div class="input-field col s2">
                        <input type="text" ng-model="driveStartTime" id="driveStartTime" name="driveStartTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="driveStartTime">核油日期(始)</label>
                    </div>
                    <div class="input-field col s2">
                        <input type="text" ng-model="driveEndTime" id="driveEndTime" name="driveEndTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="driveEndTime">核油日期(终)</label>
                    </div>

                    <div class="input-field col s2">
                        <select id="settleStatus" name="settleStatus" material-select watch ng-model="settleStatus" style="width: 100%">
                            <option value="">扣款状态</option>
                            <option value="1">未扣</option>
                            <option value="2">已扣</option>
                        </select>
                    </div>
                </div>

            </div>

            <!--按钮-->
            <div class="col s2" style="margin-top: 30px">
                <div class="col s4 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getExceedOil()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s4 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                        <i class="mdi mdi-cloud-download"></i>
                    </a>
                </div>
                <div class="col s4 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"  ng-click="addExceedOil()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="divider cyan" style="height: 2px;"></div>
        <table class=" bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">超量结算编号</th>
                <th data-field="">所属公司</th>
                <th data-field="">司机</th>
                <th data-field="">货车牌号</th>
                <th data-field="">核油日期</th>
                <th data-field="">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ExceedOilInfo in ExceedOilList" class="grey-text text-darken-1">
                <td>{{ExceedOilInfo.id}}</td>
                <td>{{ExceedOilInfo.company_name}}</td>
                <td>{{ExceedOilInfo.drive_name}}</td>
                <td>{{ExceedOilInfo.truck_num}}</td>
                <td>{{ExceedOilInfo.oil_date| date:'yyyy-MM-dd'}}</td>
                <td class="red-text" ng-if="ExceedOilInfo.settle_status==1">未扣</td>
                <td ng-if="ExceedOilInfo.settle_status!==1">已扣</td>
                <td  class="operation">
                    <a ui-sref="driver_exceed_oil_detail({id:ExceedOilInfo.id,driveId:ExceedOilInfo.drive_id,from:'driver_exceed_oil'})" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center">
                        <i class="mdi mdi-file-document" style="margin: 0"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="ExceedOilList.length==0">
                <td colspan="8">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>