<!--查询司机超量扣款情况-->
<div class="modal-content grey-text text-darken-2">
    <div class="row no-marBottom"  style="overflow: hidden">
        <div class="col s12">
            <!--查询条件-->
            <div class="row grey-text text-darken-1">
                <div class="col s10" style="margin-top: 20px">
                    <div class="col s12">
                        <div class="input-field col s2">
                            <input id="start_month" type="text" ng-value="startMonth">
                            <label class="active" for="start_month">月份</label>
                        </div>
                        <div class="input-field col s2">
                            <select id="truck_type" name="truck_type" ng-change="getCompany()" material-select watch ng-model="operateType">
                                <option ng-value="">请选择</option>
                                <option ng-value="1">自营车</option>
                                <option ng-value="2">外协车</option>
                            </select>
                            <label for="truck_type">所属类型</label>
                        </div>
                        <div class="input-field col s2">
                            <select id="truck_company" name="truck_company" material-select watch ng-model="companyId" required>
                                <option value="">请选择</option>
                                <option ng-repeat="el in companyList" ng-value="el.id">{{el.company_name}}</option>
                            </select>
                            <label for="truck_company">所属公司</label>
                        </div>
                        <div class="input-field col s2">
                            <select material-select watch ng-model="driverName" id="driverName" style="width: 100%" >
                                <option value="" selected>司机</option>
                                <option ng-repeat="driver in driveNameList" ng-value=driver.id>{{driver.drive_name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select  id="truckNumber" style="width: 100%" ng-model="truckNumber">
                                <option value=""></option>
                                <option ng-repeat="truckNumItem in truckNumListAll" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}</option>
                            </select>
                        </div>

                        <div class="input-field col s2">
                            <select material-select watch ng-model="dealStatus" id="dealStatus">
                                <option value="" selected>状态</option>
                                <option ng-value=1>未处理</option>
                                <option ng-value=2>处理中</option>
                                <option ng-value=3>已处理</option>
                            </select>
                        </div>
                    </div>

                </div>

                <!--按钮-->
                <div class="col s2" style="margin-top: 30px">
                    <div class="col s6 center-align">
                        <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getExceedOilMonth()">
                            <i class="mdi mdi-magnify"></i>
                        </a>
                    </div>

                    <div class="col s6 center-align">
                        <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="exportMonth()">
                            <i class="mdi mdi-cloud-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="divider cyan" style="height: 2px;"></div>
                <table class=" bordered striped text_mid">
                    <thead class="blue-grey lighten-5">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">月份</th>
                        <th data-field="">司机</th>
                        <th data-field="">货车牌号</th>
                        <th data-field="">所属类型</th>
                        <th data-field="">所属公司</th>
                        <th data-field="">计划/实际用油量</th>
                        <th data-field="">计划/实际尿素量</th>
                        <th data-field="">结余油量/尿素量</th>
                        <th data-field="">本月油补/尿素补</th>
                        <th data-field="">超油量</th>
                        <th data-field="">超尿素量</th>
                        <th data-field="">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ExceedOilInfo in ExceedOilListMonth" class="grey-text text-darken-1">
                        <td>{{startMonth}}</td>
                        <td>{{ExceedOilInfo.drive_name}}</td>
                        <td>{{ExceedOilInfo.truck_num}}</td>
                        <td>{{ExceedOilInfo.operate_type==1?'自营':'外协'}}</td>
                        <td>{{ExceedOilInfo.company_name}}</td>
                        <td ng-show="ExceedOilInfo.id!==null">{{ExceedOilInfo.plan_oil_total}}/{{ExceedOilInfo.actual_oil_total}}</td>
                        <td ng-show="ExceedOilInfo.id!==null">{{ExceedOilInfo.plan_urea_total}}/{{ExceedOilInfo.actual_urea_total}}</td>
                        <td ng-show="ExceedOilInfo.id==null">{{ExceedOilInfo.plan_oil==null?0:ExceedOilInfo.plan_oil}}/{{ExceedOilInfo.actual_oil==null?0:ExceedOilInfo.actual_oil}}</td>
                        <td ng-show="ExceedOilInfo.id==null">{{ExceedOilInfo.plan_urea==null?0:ExceedOilInfo.plan_urea}}/{{ExceedOilInfo.actual_urea==null?0:ExceedOilInfo.actual_urea}}</td>
                        <td>{{ExceedOilInfo.surplus_oil==null?0:ExceedOilInfo.surplus_oil}}/{{ExceedOilInfo.surplus_urea==null?0:ExceedOilInfo.surplus_urea}}</td>
                        <td>{{ExceedOilInfo.subsidy_oil==null?0:ExceedOilInfo.subsidy_oil}}/{{ExceedOilInfo.subsidy_urea==null?0:ExceedOilInfo.subsidy_urea}}</td>
                        <td>{{ExceedOilInfo.exceed_oil==null?0:ExceedOilInfo.exceed_oil}}</td>
                        <td>{{ExceedOilInfo.exceed_urea==null?0:ExceedOilInfo.exceed_urea}}</td>
                        <td>{{ExceedOilInfo.check_status==2?'处理中':ExceedOilInfo.check_status==3?'已处理':'未处理'}}</td>
                        <td  class="operation">

                            <a ng-click="exportDriver(ExceedOilInfo.drive_id,ExceedOilInfo.truck_id,startMonth)">
                                <i class="mdi mdi-cloud-download"></i>
                            </a>
                            <a  ui-sref="driver_exceed_oil_month_detail({driveId:ExceedOilInfo.drive_id,truckId:ExceedOilInfo.truck_id,from:'driver_exceed_oil',dateId:startMonth})" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center">
                                <i class="mdi mdi-file-document" style="margin: 0"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="ExceedOilListMonth.length==0">
                        <td colspan="13">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>

         <!--   &lt;!&ndash;分页&ndash;&gt;
            <div class="row">
                <div class="paging_box col s12">
                    <div class="right">
                        <a class="waves-light waves-effect cyan lighten-1 btn" id="preM" ng-click="pre_btn()">
                            上一页
                        </a>
                        <a class="waves-light waves-effect cyan lighten-1 btn" id="nextM" ng-click="next_btn()">
                            下一页
                        </a>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>