<div  >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <div class="storage_storeTitle vc-center ">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">挂车信息</h4>
            </div>
            <!--<div class="divider" style="background: #00bcd4;height: 2px;"></div>-->
            <div class="row" >
                <div class="col s12" >
                    <ul class="ui-tabs tabs" ul-tabs>
                        <li class="tab col s4 test1"><a  href="#test1">基本信息</a></li>
                        <li class="tab col s4 test2 "><a href="#test2">上传照片</a></li>
                        <li class="tab col s4 test3 "><a href="#test3">绑定头车</a></li>
                    </ul>
                </div>
                <div id="test1" class="test col s12" style="margin-top: 50px">
                    <form name="add_truck_form"  ng-submit="submit_Form(add_truck_form.$valid)" novalidate>
                        <div class="row fz20">
                            <i class="mdi mdi-car-wash fz40"></i>
                            车辆类型:挂车
                        </div>
                        <div class="row">
                            <div class="input-field col s4 " ng-class="{'has-error':add_truck_form.truck_num.$invalid&&submitted }">
                                <input name="truck_num" id="truck_num" autocomplete="off" type="text" ng-model="truckTrailer.truck_num"  required>
                                <label for="truck_num"><span style="color: red;margin-right: 5px">*</span>车牌牌号</label>
                            </div>
                            <div class="input-field col s4 " ng-class="{'has-error':add_truck_form.truck_type.$invalid&&submitted }">
                                <select id="truck_type" name="truck_type" ng-change="getCompany()" material-select watch ng-model="truckTrailer.operate_type" required>
                                    <option ng-value="">请选择</option>
                                    <option ng-value="1">自营车</option>
                                    <option ng-value="2">外协车</option>
                                    <option ng-value="3">供方车</option>
                                    <option ng-value="4">承包车</option>
                                </select>
                                <label for="truck_type"><span style="color: red;margin-right: 5px">*</span>所属类型</label>
                            </div>
                            <div class="input-field col s4"  ng-class="{'has-error':add_truck_form.truck_company.$invalid&&submitted }">
                                <select id="truck_company" name="truck_company" material-select watch ng-model="truckTrailer.company_id" required>
                                    <option value="">请选择</option>
                                    <option ng-repeat="el in company" ng-value="el.id">{{el.company_name}}</option>
                                </select>
                                <label for="truck_company"><span style="color: red;margin-right: 5px">*</span>所属公司</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 "  ng-class="{'has-error':add_truck_form.truck_make.$invalid&&submitted }">
                                <select id="truck_make" name="truck_make" material-select watch ng-model="truckTrailer.brand_id" required>
                                    <option value="">请选择</option>
                                    <option ng-repeat="el in brand" ng-value="el.id">{{el.brand_name}}</option>
                                </select>
                                <label for="truck_make"><span style="color: red;margin-right: 5px">*</span>车辆品牌</label>
                            </div>
                            <div class="input-field col s4 " >
                                <input name="vin" id="vin" type="text" ng-model="truckTrailer.the_code" autocomplete="off" >
                                <label for="vin">识别代码</label>
                            </div>
                            <div class="input-field col s4 " >
                                <input name="phone_num" id="phone_num"  autocomplete="off" type="number" ng-model="truckTrailer.number"   >
                                <label for="phone_num">挂车货位</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 input-field" ng-class="{'has-error':add_truck_form.drive_time.$invalid&&submitted}">
                                <input type="text" name="drive_time" id="drive_time" class="datepicker" autocomplete="off" form-date ng-model="truckTrailer.driving_date" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="drive_time">行驶证检证日期</label>
                            </div>
                            <div class="col s4 input-field" ng-class="{'has-error':add_truck_form.service_time.$invalid&&submitted }">
                                <input type="text" name="service_time" id="service_time" form-date class="datepicker" autocomplete="off" ng-model="truckTrailer.license_date" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="service_time">营运证检证日期</label>
                            </div>
                            <div class="col s4 input-field" ng-show="truckTrailer.truck_status==1" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">

                                <span>车辆状态:</span>
                                <span>在用</span>
                            </div>
                            <div class="col s4 input-field" ng-show="truckTrailer.truck_status==0" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <span>车辆状态:</span>
                                <span>停用</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea" ng-model="truckTrailer.remark" class="materialize-textarea"></textarea>
                                <label for="textarea">备注:</label>
                            </div>
                        </div>
                        <div class="row">
                            <table class=" bordered striped">
                                <thead class="blue-grey lighten-5">
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">时间</th>
                                    <th data-field="">事件</th>
                                    <th data-field="">操作员</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in comment" class="grey-text text-darken-1">
                                    <td  ng-bind="el.timez|date:'yyyy-MM-dd'">1</td>
                                    <td ng-bind="el.content">2</td>
                                    <td ng-bind="el.name">2</td>
                                </tr>
                                </tbody>
                            </table>                        </div>
                        <div class="row vc-center">
                            <button class="btn" type="submit" name="action">确定</button>
                        </div>
                    </form>
                </div>
                <div id="test2" class="test col s12">
                    <div class="row" style="margin-top: 50px">
                        <div class="col s6 vc-center">
                            <div class="col s12">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left  ">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_drive(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p style="margin-top: 10px">行驶证照片</p>
                                    </div>
                                    <ul id="look_dirve_img">
                                        <li ng-show="no_drive_img"  class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img src="../../../assets/images/drive_image.png" class="responsive-img">
                                        </li>
                                        <li ng-repeat="el in drive_img" repeat-finish="renderFinish_d()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img ng-src="{{el.img}}" class="responsive-img">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="col s6 vc-center">
                            <!--<div class="col s2">营运证:</div>-->
                            <div class="col s12">
                                <form name="uploadImageForm" class="uploadImageForm">

                                    <div class="upload_btn left  ">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_service(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p style="margin-top: 10px">营运证照片</p>
                                    </div>

                                    <ul id="look_truck_img">
                                        <li ng-show="no_service_img"   class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img src="../../../assets/images/service_image.png" class="responsive-img">
                                        </li>
                                        <li ng-repeat="el in service_img" repeat-finish="renderFinish_s()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img ng-src="{{el.img}}" class="responsive-img">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="col s12 " style="margin-top: 50px">
                            <!--<div class="col s12">车辆照片:</div>-->
                            <div class="col s12">
                                <form name="uploadImageForm" class="uploadImageForm">

                                    <div class="upload_btn left  ">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_truck(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p class="center-align" style="margin-top: 10px">车辆照片</p>
                                    </div>
                                    <ul id="look_img">
                                        <li ng-repeat="el in truck_imageBox" repeat-finish="renderFinish()" ng-mouseenter="show=true" ng-mouseleave="show=false"    class="truck_car_picture col s3 vc-center  p0 grey white-text">
                                            <img ng-src="{{el.src}}" class="responsive-img">
                                            <b class="delete_img vc-center black fz18" ng-click="delete_(el.record_id,el.src)"><i class="mdi mdi-close"></i></b>
                                            <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test3" class="test col s12">
                    <form name="Binding_trailer_form"  ng-submit="Binding_head_car_submit()" novalidate>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="Binding_trailer" ng-disabled="show_unbind_head_btn" name="Binding_trailer" ng-keyup="Binding_head_truck_check()" class="Binding_head_truck" ng-model="Binding_head_truck" type="text"  autocomplete="off">
                                <label for="Binding_trailer">关联挂车</label>
                            </div>
                            <div class="col s2 input-field">
                                <a class="btn waves-effect " ng-show="show_unbind_head_btn" ng-click="unbind_head_truck()">解绑</a>
                                <button class="btn waves-effect" ng-hide="show_unbind_head_btn" type="submit" name="action" >绑定头车</button>
                            </div>
                        </div>
                        <div class="row" ng-hide="show_unbind_head_btn">
                            <div ng-repeat="el in head_car_msg track by $index" class="col s4 " style="padding: 10px;height: 40px;margin-top: 20px">
                                <div class="row trailer_panel" style="padding: 7px" ng-class="{'grey lighten-3':el.trail_num}">
                                    <div class="col s6 " ng-if="!el.trail_num" ng-click="check_head_truck(el.id,el.truck_num)">
                                        <input type="radio" name="filled-in" class="filled-in"  id="filled-in-box{{$index}}" />
                                        <label for="filled-in-box{{$index}}" class="black-text" style="font-size: 18px" >{{el.truck_num}}</label>
                                    </div>
                                    <div class="col s6 black-text" ng-if="el.trail_num"  style="font-size: 18px">
                                        {{el.truck_num}}
                                    </div>
                                    <div class=" col s6">
                                        <span ng-hide="el.trail_num" style="margin-left: 10px">未关联挂车</span>
                                        <span ng-show="el.trail_num" style="margin-left: 10px">关联挂车: <span>{{el.trail_num}}</span></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>