<div class="look_truck_management">
    <div>
        <a style="margin: 90px 0 0 20px" class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
           ng-click="return()">
            <i class="mdi mdi-arrow-left-bold"></i>
        </a>
        <div class="vc-center">
            <h5 class="center-align cyan-text text-lighten-1">事故详情</h5>
        </div>
        <div class="management" style="background: #00bcd4;height: 2px;margin-top: 10px;"></div>
    </div>
    <div>
        <div class="row col s12 valign-wrapper" >
            <div class="col s6 right-align">
                <div class="col s6 fz30 right-align" style="color:#00bcd4;">NO.{{vId}}</div>
            </div>
            <div class="col s6  offset-s3">
                <div class="col s2 valign-wrapper">
                    <div class="col s8" style="padding: 0;"></div>
                </div>
                <div class="col s4 ">
                    <div class="fz18" style="margin-top: 35px;color: darkgray">{{accidentDate | date:"yyyy-MM-dd HH:mm"}}</div>
                </div>
                <div class="col s4 ">
                    <div class="col s8" ng-if="accidentStatus == 1">
                        <p style="color: red;padding: 0;font-size: 1.6rem">待处理</p>
                    </div>
                    <div class="col s8"  ng-if="accidentStatus == 2">
                        <p  style="color: red;padding: 0;font-size: 1.6rem">处理中</p>
                    </div>
                    <div class="col s8"  ng-if="accidentStatus == 3">
                        <p  style="color: red;padding: 0;font-size: 1.6rem">已处理</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12 valign-wrapper" >
            <div class="col s6 ">
                <div class="col s5 right-align">
                    <span class="white lighten-2 center" style="width:40px;height:40px;font-weight: bold;display:inline-block;border-radius: 100%;font-size: 1.1rem;color: white;background-color: #efb366 !important;line-height: 41px">供</span>
                </div>
                <div class="col s3 left-align" >
                    <p class=" lighten-2 left-align" style="margin: 5px 0;font-weight: bold;font-size: 1.2rem;color: darkgray">{{truckNum}}</p>
                </div>
            </div>
            <div class="col s6 offset-s3">
                <div class="col s3 valign-wrapper">
                    <div class="col s4 right-align">
                        <span style="color: #26c6da;font-size: 1.6rem" class="mdi mdi-account"></span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{driveName}}</span>
                    </div>
                </div>
                <div class="col s4 valign-wrapper">
                    <div class="col s4 right-align">
                        <span style="color: #26c6da;font-size: 1.6rem" class="mdi mdi-cellphone-android"></span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{truckTel}}</span>
                    </div>
                </div>
                <div class="col s3 valign-wrapper">
                    <div class="col s4 right-align">
                        <span style="color: #26c6da;font-size: 1.6rem" class="mdi mdi-hospital-building"></span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{companyName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="divider" style="background: #00bcd4;height: 2px"></div>-->
    <div  class="row">
        <div class="col s12" >
            <ul class="ui-tabs tabs" ul-tabs style="border:1px solid #00bcd4">
                <li class="tab col s3 test1 disabled"><a  href="javascript:;">事故信息</a></li>
                <li class="tab col s2 test2 disabled"><a href="javascript:;">事故照片</a></li>
                <li class="tab col s2 test3 disabled"><a  href="javascript:;">事故处理</a></li>
                <li class="tab col s2 test4 disabled"><a href="javascript:;">维修信息</a></li>
                <li class="tab col s3 test5 disabled"><a  href="javascript:;">理赔信息</a></li>
            </ul>
        </div>
        <div id="test1" class="test col s12"  ng-show="step1" >
            <div class="row" style="position: relative">
                <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
                <div class="col s6 dealer_details grey-text">
                    <form name="add_truck_managementFrom" novalidate>
                        <div class="row">
                            <div class="col s12 input-field mp-40"  ng-class="{'has-error':add_truck_managementFrom.date.$invalid&&submitted }">
                                <input type="text" id="accident_date" name="date" ng-model="accidentDateDetail" class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label check_operation_endTime class="grey-text bold" for="accident_date" style="color:#00bcd4 "><span style="color: red">*</span>发生时间</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field mp-40" ng-class="{'has-error':add_truck_managementFrom.address.$invalid&&submitted }" >
                                <input type="text" id="address" ng-model="address" autocomplete="off"  name="address" required>
                                <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                <label class="grey-text bold" for="address" style="color:#00bcd4 "><span style="color: red">*</span>详细地址</label>
                                <i class="address_icon mdi mdi-near-me vc-center cyan  lighten-2 white-text" ng-click="search_location(input_address)" style="cursor: pointer"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 bold mp-40">备注:</div>
                            <div class="col s12 mp-10">
                                        <textarea  name="" id="" ng-model="remark" style="height: 150px" >
                                        </textarea>
                            </div>
                            <span class="right fz12">最多可以输入240个字符</span>
                        </div>
                        <div class="row">
                            <div class="col  offset-s6">
                                <button ng-click="createTruckAccident(add_truck_managementFrom.$valid)" class="btn btn-large waves-effect waves-light">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s6 dealer_map" id="dealer_map">
                </div>
            </div>
        </div>
        <div id="test2" class="test col s12"  ng-show="step2" ></div>
        <div id="test3" class="test col s12"  ng-show="step3" ></div>
        <div id="test4" class="test col s12"  ng-show="step4" ></div>
        <div id="test5" class="test col s12"  ng-show="step5" ></div>
    </div>
</div>
