<div  >
    <div class="" >
        <div class="modal-content grey-text text-darken-2">
            <!--<div class="" style="width: 95%;margin: 0 auto">-->
            <div class="storage_storeTitle vc-center ">
                <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                    <i class="mdi mdi-arrow-left-bold"></i>
                </a>
                <h4 class="center-align cyan-text text-lighten-1">头车信息</h4>
            </div>
            <!--<div class="divider" style="background: #00bcd4;height: 2px;"></div>-->
            <div class="row" >
                <div class="col s12" >
                    <ul class="ui-tabs tabs" ul-tabs   style="overflow-x: hidden">
                        <li class="tab col s3 test1"><a class="active"  href="#test1">基本信息</a></li>
                        <li class="tab col s3 test2 "><a    href="#test2">上传照片</a></li>
                        <li class="tab col s3 test3 "><a   href="#test3">绑定挂车</a></li>
                        <li class="tab col s3 test4 "><a  href="#test4">绑定司机</a></li>
                    </ul>
                </div>
                <div id="test1"  class="test col s12" style="margin-top: 50px">
                    <form name="look_truck_form"  ng-submit="submit_Form(look_truck_form.$valid)" novalidate>
                        <div class="row fz20">
                            <i class="mdi mdi-car-wash fz40"></i>
                            车辆类型:头车
                        </div>
                        <div class="row">
                            <div class="input-field col s4 " ng-class="{'has-error':look_truck_form.truck_num.$invalid&&submitted }">
                                <input name="truck_num" id="truck_num" autocomplete="off" type="text" ng-model="truckFirst.truck_num"  required>
                                <label for="truck_num"><span style="color: red;margin-right: 5px">*</span>车牌牌号</label>
                            </div>
                            <div class="input-field col s4 " ng-class="{'has-error':look_truck_form.truck_type.$invalid&&submitted }">
                                <select id="truck_type" name="truck_type" ng-change="getCompany()" material-select watch ng-model="truckFirst.operate_type" required>
                                    <option ng-value="">请选择</option>
                                    <option ng-value="1">自营车</option>
                                    <option ng-value="2">外协车</option>
                                    <option ng-value="3">供方车</option>
                                    <option ng-value="4">承包车</option>
                                </select>
                                <label for="truck_type"><span style="color: red;margin-right: 5px">*</span>所属类型</label>
                            </div>
                            <!--<div class="input-field col s4 "  ng-class="{'has-error':add_truck_form.truck_company.$invalid&&submitted }">-->
                            <!--<select id="truck_company" name="truck_company" material-select watch ng-model="truck_company" required>-->
                            <!--<option value="" >请选择</option>-->
                            <!--<option ng-repeat="el in truck_company" ng-value="el.id">{{el.company_name}}</option>-->
                            <!--</select>-->
                            <!--<label for="truck_company"><span style="color: red;margin-right: 5px">*</span>所属公司</label>-->
                            <!--</div>-->
                            <div class="input-field col s4"  ng-class="{'has-error':look_truck_form.truck_make.$invalid&&submitted }">
                                <select id="truck_company" name="truck_company" material-select watch ng-model="truckFirst.company_id" required>
                                    <option value="">请选择</option>
                                    <option ng-repeat="el in company" ng-value="el.id">{{el.company_name}}</option>
                                </select>
                                <label for="truck_company"><span style="color: red;margin-right: 5px">*</span>所属公司</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 "  ng-class="{'has-error':look_truck_form.truck_make.$invalid&&submitted }">
                                <select id="truck_make" name="truck_make" material-select watch ng-model="truckFirst.brand_id" required>
                                    <option value="">请选择</option>
                                    <option ng-repeat="el in brand" ng-value="el.id">{{el.brand_name}}</option>
                                </select>
                                <label for="truck_make"><span style="color: red;margin-right: 5px">*</span>车辆品牌</label>
                            </div>
                            <div class="input-field col s4 " >
                                <input name="vin" id="vin" type="text" ng-model="truckFirst.the_code" autocomplete="off" >
                                <label for="vin">识别代码</label>
                            </div>
                            <div class="input-field col s4 "  ng-class="{'has-error':look_truck_form.phone_num.$invalid&&submitted }">
                                <input name="phone_num" id="phone_num"  autocomplete="off" type="text" ng-model="truckFirst.truck_tel"  ng-pattern="mobileRegx" >
                                <label for="phone_num">联系电话</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 input-field" ng-class="{'has-error':look_truck_form.drive_time.$invalid&&submitted }">
                                <input type="text" name="drive_time" id="drive_time" class="datepicker" autocomplete="off" form-date ng-model="truckFirst.driving_date" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="drive_time">行驶证检证日期</label>
                            </div>
                            <div class="col s4 input-field" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <input type="text" name="service_time" id="service_time" class="datepicker" form-date autocomplete="off" ng-model="truckFirst.license_date" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="service_time">营运证检证日期</label>
                            </div>
                            <div class="col s4 input-field" ng-show="truckFirst.truck_status==1" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <!--<input type="text" name="look_head_status" id="look_head_status"   autocomplete="off" ng-model="在用" required   >-->
                                <!--<label for="look_head_status">车辆状态</label>-->
                                <span>车辆状态:</span>
                                <span>在用</span>
                            </div>
                            <div class="col s4 input-field" ng-show="truckFirst.truck_status==0" ng-class="{'has-error':look_truck_form.service_time.$invalid&&submitted }">
                                <!--<input type="text" name="look_head_status" id="look_head_status"   autocomplete="off" ng-model="在用" required   >-->
                                <!--<label for="look_head_status">车辆状态</label>-->
                                <span>车辆状态:</span>
                                <span>停用</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea" ng-model="truckFirst.remark" class="materialize-textarea"></textarea>
                                <label for="textarea">备注:</label>
                            </div>
                        </div>
                        <div class="row" >
                            <div style="height: 200px;overflow-y: auto">
                                <div class="row" ng-repeat="el in comment">
                                    <div class="col s4" >时间:{{el.timez|date:'yyyy-MM-dd'}}</div>
                                    <div class="col s4"  >事件{{el.content}}</div>
                                    <div class="col s4" >操作员{{el.name}}</div>
                                </div>
                            </div>

                        </div>
                        <div class="row vc-center">
                            <button class="btn waves-effect" type="submit" name="action" >确定</button>
                        </div>
                    </form>
                </div>
                <div id="test2" class="test col s12">
                    <div class="row" style="margin-top: 50px" >
                        <div class="col s6 vc-center" >
                            <div class="col s12 ">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_drive(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p style="margin-top: 10px">行驶证照片</p>
                                    </div>
                                    <ul id="look_dirve_img" >
                                        <li ng-show="no_drive_img"  class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img src="../../../assets/images/drive_image.png" class="responsive-img">
                                        </li>
                                        <li ng-repeat="el in drive_img" repeat-finish="renderFinish_d()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img ng-src="{{el.img}}" class="responsive-img">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="col s6 vc-center" >
                            <div class="col s12 " id="service_img">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left  ">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_service(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p style="margin-top: 10px">营运证照片</p>
                                    </div>
                                    <ul id="look_truck_img" >
                                        <li ng-show="no_service_img"   class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img src="../../../assets/images/service_image.png" class="responsive-img">
                                        </li>
                                        <li ng-repeat="el in service_img" repeat-finish="renderFinish_s()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                            <img ng-src="{{el.img}}" class="responsive-img">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="col s12 " style="margin-top: 50px">
                            <div class="col s12">
                                <form name="uploadImageForm" class="uploadImageForm">
                                    <div class="upload_btn left  ">
                                        <div class="storage_car_picture  vc-center  p0 cyan lighten-1 white-text">
                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage_truck(this)" max_size="4M">
                                            <i class="mdi mdi-instagram"></i>
                                        </div>
                                        <p class="center-align" style="margin-top: 10px">车辆照片</p>
                                    </div>

                                    <ul id="look_img">
                                        <li ng-repeat="el in truck_imageBox"  repeat-finish="renderFinish()"   ng-mouseenter="show=true" ng-mouseleave="show=false"    class="truck_car_picture col s3 vc-center  p0 grey white-text">
                                            <img ng-src="{{el.src}}" class="responsive-img">
                                            <b class="delete_img vc-center black fz18" ng-click="delete_(el.record_id,el.src)"><i class="mdi mdi-close"></i></b>
                                            <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test3" class="test col s12">
                    <form name="Binding_trailer_form"  ng-submit="Binding_trailer_submit()" novalidate>
                        <div class="row">
                            <div class="input-field col s3">
                                <input id="Binding_trailer" ng-disabled="show_unbind_trailer_btn" name="Binding_trailer" ng-keyup="Binding_trailer_check()" class="Binding_trailer" ng-model="Binding_trailer" type="text"  autocomplete="off">
                                <label for="Binding_trailer">关联挂车</label>
                            </div>
                            <div class="input-field col s1" style="margin-top: 27px">
                                货位:
                                <span class="cyan-text">{{Binding_trailer_number}}</span>
                            </div>
                            <div class="col s2 input-field">
                                <a class="btn waves-effect " ng-show="show_unbind_trailer_btn" ng-click="unbind_trailer()">解绑</a>
                                <button class="btn waves-effect" ng-hide="show_unbind_trailer_btn" type="submit" name="action" >绑定挂车</button>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-hide="show_unbind_trailer_btn" ng-repeat="el in hand_truck_msg track by $index" class="col s4 " style="padding: 10px;height: 40px;margin-top: 20px">
                                <div class="row trailer_panel" style="padding: 7px" ng-class="{'grey lighten-3':el.first_num}">
                                    <div class="col s4 " ng-if="!el.first_num" ng-click="check_trailer(el.id,el.truck_num,el.number)">
                                        <input type="radio" name="filled-in" class="filled-in"  id="filled-in-box{{$index}}" />
                                        <label for="filled-in-box{{$index}}" class="black-text" style="font-size: 18px" >{{el.truck_num}}</label>
                                    </div>
                                    <div class="col s4 black-text" ng-if="el.first_num"  style="font-size: 18px">
                                        {{el.truck_num}}
                                    </div>
                                    <div class="col s3 black-text" ng-if="el.first_num"  style="font-size: 18px">
                                        货位:
                                        <span>
                                            {{el.number}}
                                        </span>

                                    </div>
                                    <div class="col s3 black-text" ng-if="!el.first_num"  style="font-size: 18px">
                                        货位:
                                        <span>
                                            {{el.number}}
                                        </span>
                                    </div>
                                    <div class="col s4">
                                        <span ng-hide="el.first_num" style="margin-left: 10px">未关联车头</span>
                                        <span ng-show="el.first_num" style="margin-left: 10px">关联车头: <span>{{el.first_num}}</span></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="test4" class="test col s12">
                    <div class="col s6" style="border-right: 1px solid #eeeeee ">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="Binding_driver" ng-disabled="show_unbind_drive_btn" name="Binding_driver" ng-keyup="Binding_driver_check()" class="Binding_driver" ng-model="Binding_driver" type="text"  autocomplete="off">
                                <label for="Binding_trailer">关联主驾</label>
                            </div>
                            <div class="col s2 input-field">
                                <a class="btn waves-effect " ng-show="show_unbind_drive_btn" ng-click="unbind_drive()">解绑</a>
                                <a  class="btn waves-effect" ng-hide="show_unbind_drive_btn" ng-click="binding_driver_submit(Binding_driver)" >绑定主驾</a>
                            </div>
                        </div>
                        <div class="row" ng-if="Binding_drive_flag">
                            <div ng-hide="show_unbind_drive_btn" ng-repeat="el in drive track by $index" class="col s4 " style="padding: 10px;height: 40px;margin-top: 20px">
                                <div class="row trailer_panel" style="padding: 7px"  ng-class="{'grey lighten-3':el.truck_num||el.vice}">
                                    <div class="col s6 " ng-if="!el.truck_num&&!el.vice" ng-click="check_driver(el.id,el.drive_name)">
                                        <input type="radio" name="filled-in" class="filled-in"  id="filled-in_driver-box{{$index}}" />
                                        <label for="filled-in_driver-box{{$index}}" class="black-text" style="font-size: 18px" >{{el.drive_name}}</label>
                                    </div>
                                    <div class="col s6 black-text fz14" ng-if="el.truck_num||el.vice"  >
                                        {{el.drive_name}}
                                    </div>
                                    <div class=" col s6">
                                        <span ng-show="!el.truck_num&&!el.vice" style="margin-left: 10px">未关联</span>
                                        <span ng-show="el.truck_num||el.vice" style="margin-left: 10px"><span>{{el.truck_num}}</span></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="Binding_copilot" ng-disabled="show_unbind_copilot_btn" name="Binding_copilot" ng-keyup="Binding_copilot_check()" class="Binding_copilot" ng-model="Binding_copilot" type="text"  autocomplete="off">
                                <label for="Binding_copilot">关联副驾</label>
                            </div>
                            <div class="col s2 input-field">
                                <a class="btn waves-effect " ng-show="show_unbind_copilot_btn" ng-click="unbind_copilot()">解绑</a>
                                <a  class="btn waves-effect" ng-hide="show_unbind_copilot_btn" ng-click="binding_copilot_submit(Binding_copilot)" >绑定副驾</a>
                            </div>
                        </div>
                        <div class="row" ng-if="Binding_copilot_flag">
                            <div  ng-repeat="el in copilot track by $index" class="col s4 " style="padding: 10px;height: 40px;margin-top: 20px">
                                <div class="row trailer_panel" style="padding: 7px" ng-class="{'grey lighten-3':el.truck_num||el.vice}">
                                    <div class="col s6 " ng-if="!el.truck_num&&!el.vice" ng-click="check_copilot(el.id,el.drive_name)">
                                        <input type="radio" name="filled-in" class="filled-in"  id="filled-in_copilot-box{{$index}}"/>
                                        <label for="filled-in_copilot-box{{$index}}" class="black-text" style="font-size: 18px" >{{el.drive_name}}</label>
                                    </div>
                                    <div class="col s6 black-text fz14" ng-if="el.truck_num||el.vice"  >
                                        {{el.drive_name}}
                                    </div>
                                    <div class=" col s6">
                                        <span ng-show="!el.truck_num&&!el.vice" style="margin-left: 10px">未关联</span>
                                        <span ng-show="el.truck_num||el.vice" style="margin-left: 10px"><span>{{el.truck_num}}</span></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>