<div class="row" style="margin: 0">
    <!--增加理赔模态框-->
    <div id="addInfoModel" class="modal modal-fixed-footer" style="width: 65%;height: 480px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
            <div class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>新增保险赔付</p>
            </div>
            <div class="row col s12" style="margin-top: 35px">
                <div class="col s8 offset-s2">
                    <div class="col s3 input-field">
                        <select required material-select watch id="record_truck_type_mod" name="record_truck_type_mod"  ng-model="modRecordTruckType" >
                            <option value="" selected>请选择</option>
                            <option ng-repeat="company in insureCompanyList" ng-value="company.id">{{company.insure_name}}</option>
                        </select>
                        <label for="record_truck_type_mod"><span style="color: red">* </span>保险公司</label>
                    </div>
                    <div class="col s3 input-field">
                        <select material-select watch style="width:100%" name="modTruckNum" id="modTruckNum" ng-model="modTruckNum" required>
                            <option value="" selected>请选择</option>
                            <option value="1">交强险</option>
                            <option value="2">商业险</option>
                            <option value="3">货运险</option>
                            <option value="4">未知</option>
                        </select>
                        <label><span style="color: red">* </span>保险种类</label>
                    </div>
                    <div class="col s6 input-field" ng-class="{'has-error':add_truck_form.truck_make.$invalid&&submitted }">
                        <input type="number" name="truck_name" id="insure_plan" ng-model="insurePlan" required>
                        <label for="insure_plan"><span style="color: red">* </span>代赔金额 (元)</label>
                    </div>
                   <!-- <div class="col s6 input-field" ng-class="{'has-error':add_truck_form.truck_make.$invalid&&submitted }">
                        <select material-select watch id="modRecordTruckType"   ng-change="checkHasLoan()" ng-model="truckType">
                            <option value="" selected>请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                        <label for="modRecordTruckType"><span style="color: red">* </span>是否财务借款</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="number" name="financialLoan" id="financial_loan" ng-model="financialLoan" ng-disabled="hasLoanType">
                        <label for="financial_loan">财务借款 (元)</label>
                    </div>-->
                </div>
            </div>
            <div class="row col s12" style="margin-top: 35px">
                <div class="col s8 offset-s2">
                    <div class="col s12 input-field">
                        <input type="text" name="finanlReason"  ng-model="finanlReason" id="finanlReason">
                        <label for="finanlReason">赔付描述</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer valign-wrapper">
            <div class="col s12">
                <div class="col s2 offset-s4">
                    <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                        取消
                    </a>
                </div>
                <div class="col s2">
                    <a ng-click="addRepairRecord()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                        确定
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--维修原因模态框-->
    <div id="repairReasonMod" class="modal modal-fixed-footer" style="width: 65%;height: 380px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
            <div class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>维修原因描述</p>
            </div>
            <div class="row col s12" style="margin-top: 35px">
                <div class="col s12 fz14 left-align">
                    <p><span style="color: red">* </span>维修原因（100字）</p>
                </div>
                <div class="col s12">
                    <textarea style="height: 150px" name="reapirText" id="reapirText" cols="30" rows="10" maxlength="100" ng-model="repairInfo"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer valign-wrapper">
            <div class="col s12">
                <div class="col s2 offset-s4">
                    <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                        取消
                    </a>
                </div>
                <div class="col s2">
                    <a ng-click="createRepairInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                        确定
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--维修结束描述模态框-->
    <div id="repairFinishMod" class="modal modal-fixed-footer" style="width: 65%;height: 500px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
            <div class="row col s12 vc-center cyan" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>维修结束描述</p>
            </div>
            <div class="row col s12" style="margin-top: 35px">
                <div class="col s8 offset-s2">
                    <div class="col s6 input-field">
                        <select id="repair_station" name="repair_station" ng-model="repairStationMod" material-select watch>
                            <option value="" selected>请选择</option>
                            <option ng-repeat="repair in repairStationList" ng-value="repair.id">{{repair.repair_station_name}}</option>
                        </select>
                        <label for="repair_station"><span style="color: red">* </span>维修站</label>
                    </div>
                    <div class="col s6 input-field">
                        <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" type="number" id="repair_money_mod" name="repair_money_mod" ng-model="repairMoneyMod">
                        <label for="repair_money_mod"><span style="color: red">* </span>维修金额</label>
                    </div>
                    <div class="col s12 input-field">
                        <input type="text" id="repair_explain_mod" name="repair_explain_mod" ng-model="repairExplainMod">
                        <label for="repair_explain_mod"><span style="color: red">* </span>维修描述</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer valign-wrapper">
            <div class="col s12">
                <div class="col s2 offset-s4">
                    <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">
                        取消
                    </a>
                </div>
                <div class="col s2">
                    <a ng-click="completeRepairInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                        确定
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="look_truck_management">
    <div class="storage_storeTitle vc-center">
        <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
            <i class="mdi mdi-arrow-left-bold"></i>
        </a>
        <h5 class="center-align cyan-text text-lighten-1">事故详情</h5>
    </div>
    <div>
        <div class="management cyan" style="height: 2px;margin-top: 10px;"></div>
    </div>
    <div>
        <div class="row col s12">
            <div class="col s12 valign-wrapper">
                <div class="col s3 center-align">
                    <div class="cyan-text" style="font-size: 1.6rem">事故编号：{{vId}}</div>
                </div>
                <div class="col s3 center-align">
                    <div class="cyan-text" style="font-size: 1.6rem">调度编号:{{dpRouteTaskId}}&nbsp;<span class="bold fz20" style="color: darkgray;">({{cityRouteStart}}-{{cityRouteEnd}})</span></div>
                </div>
                <div class="col s3 center-align">
                    <div style="color: darkgray;font-size: 1.6rem">{{accidentDate | date:"yyyy-MM-dd HH:mm"}}</div>
                </div>
                <div class="col s3 center-align">
                    <div class="col s12" ng-if="accidentStatus == 1">
                        <p style="color: darkgray;font-size: 1.6rem;margin-top: 27px;">待处理</p>
                    </div>
                    <div class="col s12" ng-if="accidentStatus == 2">
                        <p style="color: red;padding: 0;font-size: 1.6rem;margin-top: 35px;">处理中</p>
                    </div>
                    <div class="col s12" ng-if="accidentStatus == 3">
                        <p class="cyan-text" style="padding: 0;font-size: 1.6rem">已处理</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12 valign-wrapper" >
            <div class="col s12">
                <div class="col s3 valign-wrapper">
                    <div class="col s4 right-align" ng-if="operateType==1">
                        <span class="white lighten-2 center" style="width:40px;height:40px;font-weight: bold;display:inline-block;border-radius: 100%;font-size: 1.1rem;color: white;background-color: #21B1E3 !important;line-height: 41px">自</span>
                    </div>
                    <div class="col s4 right-align" ng-if="operateType==2">
                        <span class="white lighten-2 center" style="width:40px;height:40px;font-weight: bold;display:inline-block;border-radius: 100%;font-size: 1.1rem;color: white;background-color: #89C052 !important;line-height: 41px">协</span>
                    </div>
                    <div class="col s4 right-align" ng-if="operateType==3">
                        <span class="white lighten-2 center" style="width:40px;height:40px;font-weight: bold;display:inline-block;border-radius: 100%;font-size: 1.1rem;color: white;background-color: #EFB366 !important;line-height: 41px">供</span>
                    </div>
                    <div class="col s4 right-align" ng-if="operateType==4">
                        <span class="white lighten-2 center" style="width:40px;height:40px;font-weight: bold;display:inline-block;border-radius: 100%;font-size: 1.1rem;color: white;background-color: #C786D3 !important;line-height: 41px">包</span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <p class=" lighten-2 left-align"  ng-if="truckType==1" style="margin: 5px 0;font-weight: bold;font-size: 1.2rem;color: darkgray">{{truckNum}}(头车)</p>
                        <p class=" lighten-2 left-align"  ng-if="truckType==2" style="margin: 5px 0;font-weight: bold;font-size: 1.2rem;color: darkgray">{{truckNum}}(挂车)</p>
                    </div>
                </div>
                <div class="col s3 valign-wrapper">
                    <div class="col s3 right-align">
                        <span  style="font-size: 1.6rem" class="mdi mdi-account cyan-text"></span>
                    </div>
                    <div class="col s9" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{driveName}}</span>
                    </div>
                </div>
                <div class="col s3 valign-wrapper">
                    <div class="col s4 right-align">
                        <span  style="font-size: 1.6rem" class="mdi mdi-cellphone-android cyan-text"></span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{truckTel}}</span>
                    </div>
                </div>
                <div class="col s3 valign-wrapper">
                    <div class="col s4 right-align">
                        <span style="font-size: 1.6rem" class="mdi mdi-hospital-building cyan-text"></span>
                    </div>
                    <div class="col s8" style="padding: 0;">
                        <span style="font-size: 1.2rem;font-weight: bold;color: darkgray">{{companyName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--tab栏-->
        <div class="col s12">
            <ul class="look_truck_management ui-tabs tabs" ul-tabs  style="overflow-x: hidden">
                <li class="tab col s3"><a  class="active" href="#test1">事故信息</a></li>
                <li class="tab col s2"><a ng-click="showDamageImage()" href="#test2" >事故照片</a></li>
                <li class="tab col s2"><a ng-click="getCurrentAccInfo()"  href="#test3" >事故处理</a></li>
                <li class="tab col s2"><a ng-click="getRepairInfo()"  href="#repairInfo" >维修信息</a></li>
                <li class="tab col s3"><a ng-click="accidentInsure()" href="#paymentInfo" >理赔信息</a></li>
            </ul>
        </div>
        <!--事故信息-->
        <div id="test1" class="test col s12 step_1">
            <div class="row" style="position: relative">
                <p class="location_gps white z-depth-2">经度:<span class="materialize-red-text">{{lng}}</span>,纬度:<span class="materialize-red-text">{{lat}}</span></p>
                <div class="col s6 dealer_details grey-text">
                    <form name="add_truck_managementFrom" novalidate>
                        <div class="row">
                            <div class="col s6 input-field mp-40"  ng-class="{'has-error':add_truck_managementFrom.date.$invalid&&submitted }">
                                <input type="text" id="accident_date" name="date" ng-model="accidentDateDetail" class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label check_operation_endTime class="grey-text bold" for="accident_date"><span style="color: red">*</span>发生时间</label>
                            </div>
                            <div class="col s6 input-field mp-40"  ng-class="{'has-error':add_truck_managementFrom.accident_date.$invalid&&submitted }">
                                <input type="text" id="verification_time3" name="accident_date" ng-model="lineStartTime" class="timepicker" autocomplete="off" required   time><i class="mdi dataIcon mdi-clock"></i>
                                <label check_operation_endTime class="grey-text bold" for="verification_time3"><span style="color: red">*</span>发生时刻</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field mp-40" ng-class="{'has-error':add_truck_managementFrom.address.$invalid&&submitted }" >
                                <input type="text" id="amapAddress" ng-change="amapAutocomplete()" ng-model="address" autocomplete="off" name="amapAddress" required>
                                <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                <label class="grey-text bold" for="amapAddress"><span style="color: red">* </span>详细地址</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 bold mp-40">备注:</div>
                            <div class="col s12 mp-10">
                                <textarea  name="" id="" ng-model="remark" style="height: 150px" ></textarea>
                            </div>
                            <span class="right fz12">最多可以输入240个字符</span>
                        </div>
                        <div class="row">
                            <div class="col offset-s6">
                                <button ng-click="createTruckAccident(add_truck_managementFrom.$valid)" class="btn btn-large waves-effect waves-light">提交</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--高德地图-->
                <div class="col s6" id="a_map_location" style="height: 537px">

                </div>
            </div>
        </div>
        <!--事故照片-->
        <div id="test2" class="test col s12 step_2">
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="storage_car_picture_wrap col s12">
                        <form name="uploadImageForm" class="uploadImageForm">
                            <div class="upload_btn left">
                                <div class="storage_car_picture vc-center cyan lighten-1 white-text" style="margin-left:60px ">
                                    <input name="image" type="file"  onchange="angular.element(this).scope().uploadAccientImage(this)" max_size="4M">
                                    <i class="mdi mdi-instagram"></i>
                                </div>
                            </div>
                            <div class="row col s12" id="look_img">
                                <div class="col s12" id="accient_image">
                                    <div ng-repeat="el in accientImageList" repeat-finish="accientFinish()" ng-mouseenter="show=true" ng-mouseleave="show=false" class="truck_car_picture col s3 vc-center  p0 grey white-text">
                                        <img ng-src="{{el.url}}" class="responsive-img">
                                        <b class="delete_img vc-center black fz18" ng-click="delete_img(el.url)"><i class="mdi mdi-close"></i></b>
                                        <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.name}}上传于{{el.timez|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--事故处理-->
        <div id="test3" class="test col s12 step_3">
            <div class="row col s12" ng-if="accidentStatus == 1">
                <div class="col s4 offset-s4">
                    <a ng-click="beginProcessing()" style="position: absolute;top:420px;left:46%" class="waves-light waves-effect cyan lighten-1 btn">
                        开始处理
                    </a>
                </div>
            </div>
            <div class="handleInfoInput" ng-if="accidentStatus == 2" style="width:60%;margin-left:auto;margin-right:auto;margin-top:20px" >
                <div class="row col s12">
                    <div class="col s12 input-field " style="width: 100%">
                        <select material-select  ng-model="currentAccInfo.truck_accident_type"  ng-value="currentAccInfo.truck_accident_type"  required>
                            <option value="">请选择</option>
                            <option value="1">一般</option>
                            <option value="2">严重</option>
                        </select>
                        <label>事故类型</label>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="col s6 input-field cyan-text" style="margin-top: 15px;">
                        <select class="cyan-text" id="fined" style="width: 100%;"></select>
                    </div>
                    <div class="col s6 valign-wrapper">
                        <div class="col s11 input-field" style="padding: 0">
                            <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="under_cost" type="number"  ng-change="under_cost" ng-model="currentAccInfo.under_cost">
                            <label style="font-weight: bold" for="under_cost">承担金额</label>
                        </div>
                        <div class="col s1 left-align" style="padding: 0">
                            <p>元</p>
                        </div>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="col s6 valign-wrapper">
                        <div class="col s11 input-field" style="padding: 0">
                            <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="companycost" type="number" ng-change="company_cost" ng-model="currentAccInfo.company_cost">
                            <label style="font-weight: bold" for="companycost">公司承担金额</label>
                        </div>
                        <div class="col s1 left-align" style="padding: 0">
                            <p>元</p>
                        </div>
                    </div>
                    <div class="col s6 valign-wrapper">
                        <div class="col s11 input-field" style="padding: 0">
                            <input style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" id="companyFee" type="number" ng-change="profit" ng-model="currentAccInfo.profit">
                            <label style="font-weight: bold" for="companyFee">盈亏</label>
                        </div>
                        <div class="col s1 left-align" style="padding: 0">
                            <p>元</p>
                        </div>
                    </div>
                </div>

                <div class="row col s12">
                    <div class="col s12 input-field" style="width: 100%">
                        <label style="font-weight: bold" for="companyRemark">处理概述：</label>
                        <input style="text-align: left;color: rgb(230,123,123)" id="companyRemark" type="text" ng-model="currentAccInfo.remark" ng-change="remark">
                    </div>
                    <div class="col s4 offset-s8 right-align">
                        <p style="font-weight: bold;color: darkgray;font-size: 1.2rem">处理人：{{currentAccInfo.op_user_name}}</p>
                    </div>
                </div>

                <div class="row col s12" style="margin-top: 30px" ng-hide="accidentStatus == 3">
                    <div class="col s2 offset-s3">
                        <a ng-click="submitHandleInfo()" style="width: 100%" class="waves-light waves-effect red lighten-2 btn">结束
                        </a>
                    </div>
                    <div class="col s2 offset-s2">
                        <a ng-click="saveHandleInfoModify()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                            提交
                        </a>
                    </div>
                </div>
            </div>
            <div  class="handleInfoInput" ng-if="accidentStatus == 3" style="width:70%;margin-left:auto;margin-right:auto;margin-top:20px">
                <div style="width: 100%;margin: 0 auto">
                    <div class="row card" style="height: 400px">
                        <div class="row col s12" style="margin-top: 20px;margin-right: 20px;">
                            <div class="col s6 valign-wrapper">
                                <div class="fz20 col s12 input-field left-align" ng-if="currentAccInfo.truck_accident_type==1" style="color: red;padding-bottom: 7px;">一般</div>
                                <div class="fz20 col s12 input-field left-align" ng-if="currentAccInfo.truck_accident_type==2" style="color: red;padding-bottom: 7px;">严重</div>
                            </div>
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field right-align" style="color: darkgray;padding-bottom: 7px;">处理结束时间：{{nowDate | date:"yyyy-MM-dd HH:mm" }}</div>
                            </div>
                        </div>
                        <div  class="row col s12" style="height:1px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>
                        <div class="row col s12">
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field left-align" style="padding-left: 10%">
                                    <div style="font-weight: bold" for="fine">责任人:{{currentAccInfo.under_user_name}}</div>
                                </div>
                            </div>
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field left-align" style="padding: 0">
                                    <div style="font-weight: bold" for="responsible_fee">承担金额:{{currentAccInfo.under_cost}}元</div>
                                </div>
                            </div>
                        </div>
                        <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>
                        <div class="row col s12">
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field left-align" style="padding-left: 10%">
                                    <div style="font-weight: bold" for="company_cost">公司承担金额:{{currentAccInfo.company_cost}}元</div>
                                </div>
                            </div>
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field left-align" style="padding: 0">
                                    <div style="font-weight: bold" for="company_fee">盈亏:{{currentAccInfo.profit}}元</div>
                                </div>
                            </div>
                        </div>
                        <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>
                        <div class="row col s12">
                            <div class="col s6 valign-wrapper">
                                <div class="col s12 input-field left-align" style="padding-left: 10%">
                                    <div style="font-weight: bold ;margin-bottom: 20px;"  for="company_remark">处理概述：{{currentAccInfo.remark}}</div>
                                </div>
                            </div>
                            <div  class="row col s12" style="height:1px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>
                            <div class="col s4 offset-s8 right-align">
                                <p style="font-weight: bold;color: darkgray;font-size: 1.2rem;margin-bottom: 5px;">处理人：{{currentAccInfo.op_user_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--维修信息-->
        <div id="repairInfo" class="test col s12 step_4">
            <!--维修按钮-->
            <div class="col s8 offset-s2" style="padding: 0;margin-top: 20px" ng-show="repairingInfo.length == 0">
                <div class="col s4 offset-s8">
                    <a ng-click="openRepairReasonMod()" style="width: 100%;background-color: #e57373;" class="waves-light waves-effect lighten-1 btn">
                        维修
                    </a>
                </div>
            </div>

            <!--正在维修信息-->
            <div class="col s8 offset-s2" style="margin-top: 20px" ng-show="repairingInfo.length != 0">
                <div class="row col s12 cyan_border" style="border-radius: 5px;background-color: white;color: darkgray">
                    <!--头-->
                    <div class="col s12 card_head valign-wrapper" style="padding: 0;border-bottom: 1px solid #ccc">
                        <div class="col s2">
                            <p class="cyan-text" style="font-weight: bold;">维修编号：{{repairingInfo[0].id}}</p>
                        </div>
                        <div class="col s8">
                            <p style="font-weight: bold;color: darkgray">{{repairingInfo[0].repair_date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                        <div class="col s2 center-align">
                            <p style="font-weight: bold;color: #e57474;font-size: 1.3rem;margin: 0">正在维修</p>
                        </div>
                    </div>

                    <!--内容-->
                    <div class="col s12 card_body" style="font-size: 1.07rem;padding: 0;margin-top: 10px">
                        <div class="row col s12">
                            <div class="col s12 input-field">
                                <input type="text" name="repair_reason" id="repair_reason" ng-model="repairReason">
                                <label for="repair_reason">维修原因</label>
                            </div>
                        </div>
                    </div>

                    <!--尾部-->
                    <div class="row col s12 card_footer">
                        <div class="col s3 offset-s3 center">
                            <a ng-click="saveRepairInfo()" style="width: 80%" class="waves-light waves-effect cyan lighten-1 btn">
                                保存
                            </a>
                        </div>
                        <div class="col s3 center">
                            <a ng-click="finishRepairInfo()" style="width: 80%;background-color: #f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                                维修结束
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--维修完成信息-->
            <div class="col s8 offset-s2" style="padding: 0;margin-top: 25px;border-top: 1px solid darkgray" ng-show="repairedInfo.length == 0">
                <div class="col s12 center-align">
                    <p style="color: darkgray;font-weight: bold;font-size: 1.2rem;letter-spacing: 1px">该事故暂无维修信息</p>
                </div>
            </div>
            <div class="row handling_repair_info" ng-show="repairedInfo.length != 0">
                <div class="col s8 offset-s2" style="margin-top: 25px">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li ng-repeat="accident in repairedInfo">
                            <div class="collapsible-header">
                                <div class="col s6">
                                    <p class="cyan-text" style="margin: 0;font-weight: bold">维修编号：{{accident.id}}</p>
                                </div>
                                <div class="col s6 right-align">
                                    <p style="margin: 0;color: darkgray;font-weight: bold">{{accident.created_on | date:'yyyy-MM-dd HH:mm:ss'}}&emsp;至&emsp;{{accident.end_date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                </div>
                            </div>
                            <div class="collapsible-body" style="color: darkgray;overflow: hidden">
                                <div class="col s12">
                                    <p><span>维修原因：</span>{{accident.repair_reason}}</p>
                                </div>
                                <div class="col s12">
                                    <p><span>维修站：</span>{{accident.repair_station_name}}</p>
                                </div>
                                <div class="col s12">
                                    <p><span>维修描述：</span>{{accident.remark}}</p>
                                </div>
                                <div class="col s12">
                                    <div class="col s4 offset-s8 right-align">
                                        <p>维修金额：<span style="color: #e57676;font-weight: bold">{{accident.repair_money.toFixed(2)}}</span> 元</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--理赔信息-->
        <div id="paymentInfo" class="test col s12 step_5" >
            <div class="row col s12" style="margin-top:20px;width: 100%">
                <a ng-click="beginAccidentInsure()"  class="waves-light waves-effect cyan lighten-1 btn" style="margin-left:85% ">
                    增加理赔信息
                </a>
            </div>
            <div class="col s8 offset-s2">
                <ul class="collapsible" data-collapsible="accordion">
                    <li ng-repeat="el in accidentDetails">
                        <div class="collapsible-header" ng-click="getConnectedAccidentList(el.id)">
                            <div class="col s6">
                                <p  class="cyan-text" style="margin: 0;font-weight: bold">理赔编号：{{el.id}}</p>
                            </div>
                            <div class="col s6 right-align">
                                <p class="cyan-text" style="margin: 0;font-weight: bold" ng-if="el.insure_status == 1">处理中</p>
                                <p style="margin: 0;color: darkgray;font-weight: bold" ng-if="el.insure_status == 2">已结束</p>
                            </div>
                        </div>
                        <div class="collapsible-body" style="color: darkgray;overflow: hidden">
                            <div class="row col s12">
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="fine">保险公司:{{el.insure_name}}</div>
                                    </div>
                                </div>
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="responsible_fee" ng-if="el.insure_type==1">保险种类:交强险</div>
                                        <div style="font-weight: bold" for="responsible_fee" ng-if="el.insure_type==2">保险种类:商业险</div>
                                        <div style="font-weight: bold" for="responsible_fee" ng-if="el.insure_type==3">保险种类:货运险</div>
                                        <div style="font-weight: bold" for="responsible_fee" ng-if="el.insure_type==4">保险种类:未知</div>
                                    </div>
                                </div>
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="company_cost">赔付时间:{{el.created_on | date:"yyyy-MM-dd HH:mm"}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="fine">代赔金额:{{el.insure_plan}}元</div>
                                    </div>
                                </div>
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="responsible_fee">财务借款:{{el.financial_loan}}元</div>
                                    </div>
                                </div>
                                <div class="col s4 valign-wrapper">
                                    <div class="col s11 input-field" style="padding: 0">
                                        <div style="font-weight: bold" for="company_cost">实际赔付:{{el.insure_actual}}元</div>
                                    </div>
                                </div>
                            </div>
                            <!--关联事故-->
                            <div class="col s12 valign-wrapper" style="padding: 0;">
                                <div class="col {{accidentDetails.insure_status == 1 ? 's10' : 's12'}} input-field">
                                    <input type="text" name="payment_money_start" id="relation_accident" ng-model="relationAccidentNum">
                                    <label for="relation_accident">关联事故</label>
                                </div>
                            </div>
                            <!--事故详情-->
                            <div class="col s12 fz14" ng-repeat="accident in accidentClaimList" style="margin-bottom: 5px">
                                <div class="col s7 modal_accident valign-wrapper" style="font-size: 1.1rem;color: darkgray;font-weight: bold;">
                                    <div class="col s1 right-align" style="padding: 0;margin-top: -5px">
                                        <span class="cyan-text" style="width:8px;height:8px;display:inline-block;border-radius: 100%;"></span>
                                    </div>
                                    <div class="col s4 left-align ">
                                        <p class="fz12">事故编号：{{accident.id}}</p>
                                    </div>
                                    <div class="col s3 fz12">
                                        <p>{{accident.truck_accident_type == 1 ? "一般事故" : accident.truck_accident_type == 2 ? "严重事故" : null}}</p>
                                    </div>
                                    <div class="col s2 fz12">
                                        <p>{{accident.truck_type == 1 ? "头车" : "挂车"}}</p>
                                    </div>
                                    <div class="col s3 fz12">
                                        <p>{{accident.truck_num}}</p>
                                    </div>
                                </div>
                                <div class="col s5 modal_accident valign-wrapper" style="padding: 0;font-size: 1.1rem;color: darkgray;font-weight: bold">
                                    <div class="col s8 left-align">
                                        <p class="fz12" ng-if="accident.accident_status == 3">{{accident.accident_date | date:'yyyy-MM-dd'}}  - {{ accident.end_date | date:'yyyy-MM-dd'}}</p>
                                        <p class="fz12" ng-if="accident.accident_status == 1 || accident.accident_status == 2">{{accident.accident_date | date:'yyyy-MM-dd'}}</p>
                                    </div>
                                    <div class="col s3 center-align">
                                        <p class="fz14" ng-if="accident.accident_status == 1">未处理</p>
                                        <p class="fz14" ng-if="accident.accident_status == 2" style="color: #e88282">处理中</p>
                                        <p class="fz14 cyan-text" ng-if="accident.accident_status == 3" >已处理</p>
                                    </div>
                                    <div class="col s1">
                                        <span style="font-size: 1.4rem;color: #e88282;cursor: pointer" ng-click="deleteAccidentInfo(el.id)" class="mdi mdi-delete-forever"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 valign-wrapper" style="padding: 0;height:2px">
                                <div  class="col s12 input-field" >
                                    <input type="text" style="padding: 0;height:2px">
                                </div>
                            </div>
                            <div class="grey-text  row " style="margin-left:48px;height:50px;">
                                <div class="col s12 left-align " style="font-weight: bold;margin-bottom: 35px;margin-top: 50px">赔付描述:{{el.payment_explain}}</div>
                                <div class="col s12 left-align"  style="font-weight: bold">处理描述:{{el.check_explain}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
