
<!-- 主菜单：车辆管理 -> 运营车辆 画面 -->
<div class="operating_vehicles">


    <!-- 上部分：检索条件输入区域 -->


    <!--渲染条件-->
    <div class="row">
        <div class="col s10">

            <!--所属类型   联动 -- 所属公司  -->
            <div class="input-field col s2">
                <select  material-select watch id="operateType"  ng-model="conOperateType" ng-change="changeOperateType()">
                    <option value="">请选择</option>
                    <option ng-repeat="operate in operateTypeList" ng-value="operate.id">{{operate.operate_type}}</option>
                </select>
                <label for="operateType">所属类型</label>
            </div>


            <!--所属公司-->
            <div class="input-field col s2">
                <select id="company" material-select watch ng-model="conCompany">
                    <option value="">所属公司</option>
                    <option ng-repeat="el in companyList" ng-value="el.id">{{el.company_name}}</option>
                </select>
                <label for="company">请选择</label>
            </div>


            <!--品牌-->
            <div class="input-field col s2">
                <select id="brand" ng-model="conTruckBrand" material-select watch>
                    <option value="" selected>请选择</option>
                    <option ng-repeat="brand in brandList" ng-value="brand.id">{{brand.brand_name}}</option>
                </select>
                <label for="brand">品牌</label>
            </div>


            <!--货车牌号-->
            <div class="input-field col s2">
                <select id="truck" style="width: 100%" ng-model="conNumber">
                    <option value="">货车牌号</option>
                    <option ng-repeat="el in truckList" ng-value="el.id" >{{el.truck_num}}</option>
                </select>
            </div>

            <!--关联司机-->
             <div class="input-field col s2">
                <input  id="driver" type="text" ng-model="conDriver" >
                <label for="driver">关联司机</label>
            </div>


            <!--运营状态-->
            <div class="input-field col s2">
                <select material-select watch id="dispatchFlag" style="width: 100%" ng-model="conDispatchFlag">
                    <option value="">请选择</option>
                    <option ng-repeat="el in dispatchFlagList" ng-value="el.id" >{{el.dispatch_flag}}</option>
                </select>
                <label for="dispatchFlag">运营状态</label>
            </div>
        </div>



        <!--按钮区域-->
        <div class="col s2">

            <!--查询按钮-->
            <div class="col s6 center">
                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"  ng-click="getOperatingVehicles()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>

            <!--下载按钮-->
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- 下部分：检索结果显示区域 -->
    <div class="row">
        <div class="col s12">
            <div class="divider cyan" style="height: 2px;"></div>

            <!--列表-->
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th>车牌号</th>
                    <th>货车品牌</th>
                    <th>主驾</th>
                    <th>电话</th>
                    <th>所属公司</th>
                    <th>当前城市或路线</th>
                    <th>运营状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in operatingList" class="grey-text text-darken-1">
                    <td>{{el.truck_num}}</td>
                    <td>{{el.brand_name}}</td>
                    <td>{{el.drive_name}}</td>
                    <td>{{el.mobile}}</td>
                    <td>{{el.company_name}}</td>
                    <td  ng-if="el.current_city_name==null&&el.task_start_name==null&&l.task_end_name==null"></td>
                    <td  ng-if="el.current_city_name==null&&(el.task_start_name!==null||el.task_end_name!==null)">{{el.task_start_name}}-{{el.task_end_name}}</td>
                    <td  ng-if="el.current_city_name!==null">{{el.current_city_name}}</td>
                    <td>{{dispatchFlagList[el.dispatch_flag].dispatch_flag}}</td>
                    <td class="operation fz12">
                        <a ui-sref="look_head_truck_details({id:el.id,from:'operating_vehicles'})" class="cyan-text">
                            <i class="mdi mdi-file-document"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="operatingList.length == 0">
                    <td colspan="8">暂无数据</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre" ng-click="getPrePage()">上一页</a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="getNextPage()">下一页</a>
            </div>
        </div>
    </div>

</div>
