
<!--运营车辆-->
<div class="operating_vehicles">

    <!--查询条件-->
    <div class="row">
        <div class="col s10">
            <div class="input-field col s2">
                <select  material-select watch id="operateType"  ng-model="operateType" ng-change="changeOperateType()">
                    <option value="">请选择</option>
                    <option ng-repeat="operate in operateTypeList" ng-value="operate.id">{{operate.operate_type}}</option>
                </select>
                <label for="operateType">所属类型</label>
            </div>

            <div class="input-field col s2">
                <select id="search_company" material-select watch ng-model="search_company">
                    <option value="">所属公司</option>
                    <option ng-repeat="el in company" ng-value="el.id">{{el.company_name}}</option>
                </select>
                <label for="search_company">请选择</label>
            </div>
            <div class="input-field col s2">
                <select id="truck_brand" ng-model="truckBrand" material-select watch>
                    <option value="" selected>请选择</option>
                    <option ng-repeat="brand in brandList" ng-value="brand.id">{{brand.brand_name}}</option>
                </select>
                <label for="truck_brand">货车品牌</label>
            </div>
            <div class="input-field col s2">
                <select id="search_num" style="width: 100%" ng-model="search_num">
                    <option value="">牌号</option>
                    <option ng-repeat="el in truckNumList" ng-value="el.id" >{{el.truck_num}}</option>
                </select>
            </div>


             <div class="input-field col s2">
                <input name="search_driver" id="search_driver" type="text" ng-model="search_driver" >
                <label for="search_driver">关联司机</label>
            </div>

            <div class="input-field col s2">
                <select material-select watch id="dispatchFlag" style="width: 100%" ng-model="dispatchFlag">
                    <option value="">请选择</option>
                    <option value="1">可用</option>
                    <option value="0">不可用</option>
                </select>
                <label for="dispatchFlag">运营状态</label>
            </div>
        </div>
        <div class="col s2">
            <div class="col s6 center">
                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="searchOperatingVehicles()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>
    </div>

    <!--列表-->
    <div class="col s12">
        <div class="col s12">
            <div class="divider cyan" style="height: 2px;"></div>
            <table class="bordered striped text_mid">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">车牌号</th>
                    <th data-field="">货车品牌</th>
                    <th data-field="">主驾</th>
                    <th data-field="">电话</th>
                    <th data-field="">所属公司</th>
                    <th data-field="">当前城市或路线</th>
                    <th data-field="">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in responseData" class="grey-text text-darken-1">
                    <td>{{el.truck_num}}</td>
                    <td>{{el.brand_name}}</td>
                    <td  ng-bind="el.drive_name"></td>
                    <td  ng-bind="el.mobile"></td>
                    <td  ng-bind="el.company_name"></td>
                    <td  ng-if="el.current_city_name==null&&el.task_start_name==null&&l.task_end_name==null"></td>
                    <td  ng-if="el.current_city_name==null&&(el.task_start_name!==null||el.task_end_name!==null)">{{el.task_start_name}}-{{el.task_end_name}}</td>
                    <td  ng-if="el.current_city_name!==null">{{el.current_city_name}}</td>
                    <td class="operation fz12">
                        <a ui-sref="look_head_truck_details({id:el.id,from:'operating_vehicles'})" class="cyan-text" style="margin-right: 10px;cursor: pointer;text-align: center"><i class="mdi mdi-file-document" style="margin: 0"></i></a>
                    </td>
                </tr>
                <tr ng-if="responseData.length == 0">
                    <td colspan="7">暂无数据</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre" ng-click="getPrePage()">上一页</a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="getNextPage()">下一页</a>
            </div>
        </div>
    </div>

</div>
