<!--添加模态框-->
<div id="addPeccancyItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >新增违章扣款</div>
    <div class="modal-content">
        <div class="row col" style="width: 80%;">

            <!--司机   货车牌号  -->
            <div class="col s12" style="height: 70px">

                <div class="col s6 input-field">
                    <select material-select watch ng-model="addDrivderId" id="addDrivderId" style="width: 100%" >
                        <option value="" selected>请选择</option>
                        <option ng-repeat="addDrivder in driveNameList" value={{addDrivder.id}}>{{addDrivder.drive_name}}</option>
                    </select>
                </div>

                <div class="col s6 input-field">
                    <select  material-select watch ng-model="addPeccancyTruckId" id="addPeccancyTruckId"  style="width: 100%">
                        <option value="" selected>请选择</option>
                        <option ng-repeat="truckNumItem in truckNumListAllList" ng-value="truckNumItem">{{truckNumItem.truck_num}}({{truckNumItem.truck_type == 1 ? "头车" : "挂车"}})</option>
                    </select>
                </div>

            </div>
            <!--时间范围-->
            <div class="col s12"  style="height: 70px">
                <div class="input-field col s6">
                    <input type="text" ng-model="addStartTime" id="addStartTime" name="addStartTime"  class="datepicker" autocomplete="off"    date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="addStartTime"><span class="red-text">*</span>时间范围(始)</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" ng-model="addEndTime" id="addEndTime" name="addEndTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="addEndTime"><span class="red-text">*</span>时间范围(终)</label>
                </div>
            </div>
            <!--处理时间   扣分-->
            <div class="col s12"  style="height: 70px">
                <div class="input-field col s6">
                    <input type="text" ng-model="handleDate" id="handleDate" name="handleDate"  class="datepicker" autocomplete="off"    date><i class="mdi dataIcon mdi-table-large"></i>
                    <label for="handleDate"><span class="red-text">*</span>处理时间</label>
                </div>
                <div class="col s6 input-field">
                    <input id="addPeccancyScore" type="number"  ng-model="addPeccancyScore">
                    <label for="addPeccancyScore"><span class="red-text">*</span>扣分</label>
                </div>

            </div>
            <!--罚款 处理金额-->
            <div class="col s12" style="height: 70px">

                <div class="col s6 input-field">
                    <input id="addPeccancyMoney" type="number"  ng-model="addPeccancyMoney">
                    <label for="addPeccancyMoney"><span class="red-text">*</span>罚款</label>
                </div>
                <div class="input-field col s6">
                    <input id="addDealMoney" name="addDealMoney"  ng-model="addDealMoney" type="number">
                    <label for="addDealMoney"><span class="red-text">*</span>处理金额</label>
                </div>
            </div>
            <!--违章地点  备注-->
            <div class="col s12">
                <div class="col s12 input-field"  style="height: 50px">
                    <input type="text" ng-model="addPlce" id="addPlce" name="addPlce">
                    <label for="addPlce">违章地点</label>
                </div>
                <div class="col s12 input-field"  style="height: 50px">
                    <input id="addRemark" name="remark"  ng-model="newRemark" type="text">
                    <label for="addRemark">备注:</label>
                </div>
            </div>

        </div>
    </div>

    <div class="divider" style="background: #ccc;height: 1px;"></div>
    <div class="modal-footer vc-center">
        <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
        <button class="btn waves-light waves-effect cyan lighten-2"  ng-click="addPeccancyItem()" name="action" style="margin-left: 10px">确定</button>
    </div>
</div>

<!--修改模态框-->
<div id="putPeccancyItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >违章扣款详情</div>
    <div ng-show="putPeccancyList.stat_status==1">
        <div class="modal-content">
            <div class="row col" style="width: 80%;">

                <!--违章结算编号-->
                <div class="col s12" style="width: 95%;margin-left: 2.5%; height: 50px;padding-bottom:10px;border-bottom: 2px solid #ccc">
                    <div class="col s6 input-field cyan-text fz18  bold" style="padding: 0;margin: 0;">违章结算编号:{{putPeccancyList.id}}</div>
                    <div class="col s6 red-text  input-field bold right-align"> 未扣</div>
                </div>

                <!--司机   货车牌号  -->
                <div class="col s12" style="height: 60px;margin-top: 5px">
                    <div class="col s6 input-field">
                        <select id="putDrivderId"  ng-model="putPeccancyList.drive_id"  style="width: 100%">
                            <option ng-repeat="putDrive in driveList" ng-value='putDrive.id'>{{putDrive.drive_name}}</option>
                        </select>
                    </div>

                    <div class="col s6 input-field">
                        <select  material-select watch ng-model="putPeccancyList.truck_id" id="putTruckNum"  style="width: 100%">
                            <option ng-repeat="truckNumItem in truckNumListList" ng-value="truckNumItem.id">{{truckNumItem.truck_num}}({{truckNumItem.truck_type == 1 ? "头车" : "挂车"}})</option>
                        </select>
                    </div>

                </div>
                <!--时间范围-->
                <div class="col s12"  style="height: 60px">
                    <div class="input-field col s6">
                        <input type="text" ng-model="putPeccancyList.start_date" id="putStartTime" name="putStartTime"  class="datepicker" autocomplete="off"    date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="putStartTime">时间范围(始)</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" ng-model="putPeccancyList.end_date" id="putEndTime" name="putEndTime"  class="datepicker" autocomplete="off"   date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="putEndTime">时间范围(终)</label>
                    </div>
                </div>

                <!--处理时间  扣分-->
                <div class="col s12" style="height: 60px">

                    <div class="col s6 input-field">
                        <input id="putHandleDate" type="text" ng-model="putPeccancyList.handle_date"  name="putHandleDate"  class="datepicker" autocomplete="off"  date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="putHandleDate">处理时间</label>
                    </div>

                    <div class="col s6 input-field">
                        <input id="putPeccancyScore" type="number"  ng-model="putPeccancyList.fine_score">
                        <label for="putPeccancyScore">扣分</label>
                    </div>

                </div>
                <!--罚款  处理金额-->
                <div class="col s12" style="height: 60px">

                    <div class="col s6 input-field">
                        <input id="putFineMoney" type="number"  ng-model="putPeccancyList.fine_money">
                        <label for="putFineMoney">罚款</label>
                    </div>

                    <div class="col s6 input-field">
                        <input id="putTrafficFine" type="number"  ng-model="putPeccancyList.traffic_fine">
                        <label for="putTrafficFine">处理金额</label>
                    </div>

                </div>

                <!--违章地点-->
                <div class="col s12">
                    <div class="col s12 input-field"  style="height: 60px">
                        <input id="putAdress" name="putAdress"  ng-model="putPeccancyList.address" type="text">
                        <label for="putAdress">违章地点</label>
                    </div>
                </div>

                <!--备注-->
                <div class="col s12">
                    <div class="col s12 input-field"  style="height: 60px">
                        <input id="putRemark" name="remark"  ng-model="putPeccancyList.remark" type="text">
                        <label for="putRemark">备注:</label>
                    </div>
                </div>

                <!--操作人-->
                <div class="col s3 offset-s9 input-field">
                    操作人:{{putPeccancyList.op_user_name}}
                </div>
            </div>
        </div>
        <div class="divider" style="background: #ccc;height: 1px;"></div>
        <div class="modal-footer vc-center">
            <a class="modal-action modal-close waves-effect grey waves-light lighten-1 btn" style="margin-right: 10px;">取消</a>
            <button class="btn waves-light waves-effect lighten-2"  name="action" ng-click="putPeccancyItem()">确定 </button>
        </div>
    </div>
    <div ng-show="putPeccancyList.stat_status!==1">
        <div class="modal-content">
            <div class="row col" style="width: 80%;">
                <!--违章结算编号-->

                <div class="col s12 input-field" style="width: 98%;margin-left: 1%; height: 50px;border-bottom: 2px solid #ccc">
                    <div class="col s6 cyan-text fz18  bold"  style="padding: 0;margin: 0">
                        违章结算编号:{{putPeccancyList.id}}
                    </div>
                    <div class="col s6 grey-text input-field bold right-align">已扣</div>
                </div>

                <!--司机   货车牌号  -->
                <div class="col s12" style="height: 60px;margin-top: 20px;border-bottom: 1px dotted #ccc">
                    <div class="col s6 input-field">司机:  {{putPeccancyList.drive_name}}</div>
                    <div class="col s6 input-field">货车牌号:  {{putPeccancyList.truck_num}}({{putPeccancyList.truck_type == 1 ? "头车" : "挂车"}})</div>
                </div>
                <!--时间范围-->
                <div class="col s12"  style="height: 60px;border-bottom: 1px dotted #ccc">
                    <div class="input-field col s6">时间范围(始):  {{putPeccancyList.start_date}}</div>
                    <div class="input-field col s6">时间范围(终):  {{putPeccancyList.end_date}}</div>
                </div>
                <!--处理时间  扣分-->
                <div class="col s12" style="height: 60px;border-bottom: 1px dotted #ccc">
                    <div class="col s6 input-field">处理时间:  {{putPeccancyList.handle_date | date:'yyyy-MM-dd' }}</div>
                    <div class="col s6 input-field">扣分:  {{putPeccancyList.fine_score}}</div>
                </div>
                <!--罚款  处理金额-->
                <div class="col s12" style="height: 60px;border-bottom: 1px dotted #ccc">
                    <div class="col s6 input-field">罚款:<span class="red-text fz20">{{putPeccancyList.fine_money}}</span> 元</div>
                    <div class="col s6 input-field">处理金额:  <span class="red-text fz20">{{putPeccancyList.traffic_fine}}</span> 元</div>
                </div>
                <!--违章地点-->
                <div class="col s12" style="height: 60px;border-bottom: 1px dotted #ccc">
                    <div class="col s12 input-field">违章地点:  {{putPeccancyList.address}}</div>
                </div>
                <!--备注-->
                <div class="col s12" style="height: 60px;border-bottom: 1px dotted #ccc">
                    <div class="col s12 input-field">备注:  {{putPeccancyList.remark}}</div>
                </div>
                <!--操作人-->
                <div class="col s3 offset-s9 input-field">
                    操作人:  {{putPeccancyList.op_user_name}}
                </div>





            </div>
        </div>
        <div class="divider" style="background: #ccc;height: 1px;"></div>
        <div class="modal-footer right-align">
            <button class="btn waves-light waves-effect lighten-2"  name="action" ng-click="putPeccancyItem2()"  style="margin-right: 50px">确定 </button>
        </div>
    </div>
</div>

<!--查询司机违章扣款情况-->
<div>
    <!--查询条件-->
    <div class="row">
        <div class="row grey-text text-darken-1">
            <div class="col s10">
                <div class="col s12">

                    <!--司机-->
                    <div class="input-field col s4" style="width: 20%">
                        <select id="driver" name="driver" material-select watch ng-model="driverId" style="width: 100%">
                            <option value="">请选择</option>
                            <option ng-repeat="driver in driveNameList" value={{driver.id}}>{{driver.drive_name}}</option>
                        </select>
                    </div>

                    <!--结算状态-->
                    <div class="input-field col" style="width: 20%">
                        <select material-select watch ng-model="peccancyStu" id="peccancyStu">
                            <option value="" selected>结算状态</option>
                            <option ng-value="1">未扣</option>
                            <option ng-value="2">已扣</option>
                        </select>
                    </div>

                    <!--货车类型-->
                    <div class="input-field col" style="width: 20%">
                        <select material-select watch ng-model="truckType" id="truckType">
                            <option value="" selected>货车类型</option>
                            <option ng-value="1">头车</option>
                            <option ng-value="2">挂车</option>
                        </select>
                    </div>

                    <div class="input-field col" style="width: 20%">
                        <input type="text" id="grant_start_time" name="grant_start_time" ng-model="getStartTime" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="grant_start_time">时间范围(始)</label>
                    </div>
                    <div class="input-field col" style="width: 20%">
                        <input type="text" id="grant_end_time" name="grant_end_time" ng-model="getEndTime" class="datepicker" autocomplete="off" date><i class="mdi dataIcon mdi-table-large"></i>
                        <label for="grant_end_time">时间范围(终)</label>
                    </div>
                </div>

            </div>

            <!--按钮-->
            <div class="col s2" style="margin-top: 15px">
                <div class="col s4" >
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getPeccancy()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s4 center-align">
                    <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                        <i class="mdi mdi-cloud-download"></i>
                    </a>
                </div>
                <div class="col s4 right-align">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-2  btn vc-center"  ng-click="addPeccancy()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
        <table class=" bordered striped text_mid">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">违章结算编号</th>
                <th data-field="">司机</th>
                <th data-field="">货车牌号</th>
                <th data-field="">处理时间</th>
                <th data-field="">违章地点</th>
                <th data-field="">扣分</th>
                <th data-field="">罚款</th>
                <th data-field="">处理金额</th>
                <th data-field="">时间范围</th>
                <th data-field="">操作人</th>
                <th data-field="">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="peccancyInfo in peccancyList" class="grey-text text-darken-1">
                <td>{{peccancyInfo.id}}</td>
                <td>{{peccancyInfo.drive_name}}</td>
                <td >{{peccancyInfo.truck_num}}({{peccancyInfo.truck_type == 1 ? "头车" : "挂车"}})</td>
                <td>{{peccancyInfo.created_on | date:'yyyy-MM-dd'}}</td>
                <!--违章地点-->
                <td>{{peccancyInfo.address}}</td>
                <!--扣分-->
                <td>{{peccancyInfo.fine_score}}</td>
                <!--罚款-->
                <td>{{peccancyInfo.fine_money }}</td>
                <!--处理金额-->
                <td>{{peccancyInfo.traffic_fine}}</td>
                <td>{{peccancyInfo.start_date | date:'yyyy-MM-dd'}}至{{peccancyInfo.end_date | date:'yyyy-MM-dd'}}</td>
                <td>{{peccancyInfo.op_user_name}}</td>
                <td class="red-text" ng-if="peccancyInfo.stat_status==1">未扣</td>
                <td ng-if="peccancyInfo.stat_status!==1">已扣</td>
                <td  class="operation">
                    <a ng-click="putPeccancy(peccancyInfo.id)" class="cyan-text fz12" style="margin-right: 10px;cursor: pointer;text-align: center">
                        <i class="mdi mdi-file-document" style="margin: 0"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="peccancyList.length==0">
                <td colspan="12">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--分页-->
    <div class="row">
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="next_btn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>