<a style="margin: 90px 0 0 20px" class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
   ui-sref="truck_driver">
    <i class="mdi mdi-arrow-left-bold"></i>
</a>
<div class="truck_driver_details" style="width:80%;margin: 0 auto">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1 center-align">
                司机信息
            </h5>
        </div>
        <ul class="tabs ui-tabs tabs-fixed-width tab-demo z-depth-1"
            style="font-size: 25px;font-weight: bold;overflow-x: hidden;margin-bottom: 25px" ul-tabs>
            <li class="tab"><a ng-click="showDriverDetails()" style="color: #26c6da" href="javascript:void(0)">基本信息</a></li>
            <li class="tab"><a ng-click="showDriverImages()" style="color: #26c6da" href="javascript:void(0)">照片</a></li>
            <li class="tab"><a ng-click="showDriverBand()" style="color: #26c6da" href="javascript:void(0)">绑定货车</a></li>
        </ul>
        <div class="driver_details_step_1" ng-if="stepFirst">
            <!--<form name="truck_driver_details" ng-submit="submitForm(truck_driver_details.$valid)" novalidate>-->
            <div class="row">
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.drive_name.$invalid&&submitted }">
                    <input id="drive_name" name="drive_name" type="text" ng-model="driverInfo.drive_name" required>
                    <label for="drive_name"><span style="color: red">* </span>司机姓名</label>
                </div>

                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.operate_type.$invalid&&submitted }">
                    <select id="operate_type" name="operate_type" material-select watch ng-change="chooseOperateType()" ng-model="driverInfo.operate_type">
                        <option value="">请选择</option>
                        <option value="1">自营</option>
                        <option value="2">外协</option>
                        <option value="3">供方</option>
                        <option value="4">承包</option>
                    </select>
                    <label><span style="color: red">* </span>所属类型</label>
                </div>
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.company.$invalid&&submitted }">
                    <select id="company" name="company" material-select watch ng-model="driverInfo.company_id" required>
                        <option value="" selected>请选择</option>
                        <option ng-repeat="company in companyList" ng-value="company.id" selected>{{company.company_name}}</option>
                    </select>
                    <label><span style="color: red">* </span>所属公司</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3" ng-class="{'has-error':truck_driver_details.sex.$invalid&&submitted }">
                    <select id="sex" name="sex" material-select watch ng-model="driverInfo.gender" required>
                        <option value="" selected>请选择</option>
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                    <label><span style="color: red">* </span>性别</label>
                </div>
                <div class="input-field col s5"
                     ng-class="{'has-error':truck_driver_details.phone.$invalid&&submitted }">
                    <input id="phone" name="phone" type="text" ng-model="driverInfo.tel" ng-pattern="mobileReg" required>
                    <label for="phone"><span style="color: red">* </span>联系电话</label>
                </div>
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.id_card.$invalid&&submitted }">
                    <input id="id_card" name="id_card" type="text" ng-model="driverInfo.id_number" required>
                    <label for="id_card"><span style="color: red">* </span>身份证</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.license.$invalid&&submitted }">
                    <select id="license" name="license" material-select watch ng-model="driverInfo.license_type" required>
                        <option value="" selected>请选择</option>
                        <option value="1">A1</option>
                        <option value="2">A2</option>
                        <option value="3">A3</option>
                        <option value="4">B1</option>
                        <option value="5">B2</option>
                        <option value="6">C1</option>
                        <option value="7">C2</option>
                        <option value="8">C3</option>
                    </select>
                    <label><span style="color: red">* </span>驾驶类型</label>
                </div>
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.endTime.$invalid&&submitted }">
                    <input id="endTime" name="endTime" type="text" class="datepicker" date ng-model="driverInfo.license_date"
                           required>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="endTime"><span style="color: red">* </span>驾驶证到期时间</label>
                </div>
                <div class="input-field col s4"
                     ng-class="{'has-error':truck_driver_details.verification_time.$invalid&&submitted }">
                    <input id="verification_time" name="verification_time" type="text" class="datepicker" date
                           ng-model="driverInfo.confirm_date" required>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="verification_time"><span style="color: red">* </span>检证日期</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s7">
                    <input id="driver_address" type="text" ng-model="driverInfo.address">
                    <label for="driver_address">家庭住址</label>
                </div>
                <div class="col s1"></div>
                <div class="input-field col s4">
                    <input id="driver_parent" type="text" ng-model="driverInfo.sib_tel">
                    <label for="driver_parent">紧急联系人电话</label>
                </div>
            </div>
            <div class="row col s12">
                <div class="col s1">
                    备注：
                </div>
                <div class="col s11">
                    <textarea style="height: 150px" name="remark" id="remark" cols="30" rows="10"
                              ng-model="driverInfo.remark"></textarea>
                </div>
            </div>

            <div class="col s12" style="margin-top: 20px">
                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                <!--<table class=" bordered striped text_mid">-->
                <!--<thead class="blue-grey lighten-5">-->
                <!--<tr class="grey-text text-darken-2">-->
                <!--<th width="350" data-field="">时间</th>-->
                <!--<th data-field="">事件</th>-->
                <!--<th data-field="">操作员</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="truckInfo in truckInfoList" class="grey-text text-darken-1">-->
                <!--<td>{{truckInfo.timez | date:'yyyy-MM-dd HH:mm'}}</td>-->
                <!--<td>{{truckInfo.content}}</td>-->
                <!--<td>{{truckInfo.name}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->
                <p ng-repeat="truckInfo in truckInfoList">
                    <span>时间：{{truckInfo.timez | date:'yyyy-MM-dd HH:mm'}}</span>
                    &emsp;&emsp;<span>事件： {{truckInfo.content}}</span>
                    &emsp;&emsp;<span>操作员： {{truckInfo.name}}</span>
                </p>
            </div>
            <div class="row col s12">
                <div class="subBtn" style="width: 300px ;margin: 0 auto;margin-top: 100px">
                    <button style="width: 300px;font-size: 1.3rem" class="btn btn-large waves-effect waves-light"
                            ng-click="submitInfo()">提交
                    </button>
                </div>
            </div>
            <!--</form>-->
        </div>
        <div class="driver_details_step_2" ng-if="stepSecond">
            <div class="row col s12">
                <div class="col s6 vc-center">
                    <div class="col s2">身份证:</div>
                    <div class="col s10">
                        <form name="uploadImageForm" class="uploadImageForm">
                            <div class="storage_car_picture col s4 vc-center  p0 cyan lighten-1 white-text">
                                <input name="image" type="file"
                                       onchange="angular.element(this).scope().uploadIdCardImage(this)" max_size="4M">
                                <i class="mdi mdi-instagram"></i>
                            </div>
                            <div id="look_driverIdentity" style="cursor: pointer">
                                <div ng-repeat="el in drive_img" repeat-finish="driverFinish()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                    <img ng-src="{{el.img}}" class="responsive-img">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col s6 vc-center">
                    <div class="col s2">驾驶证:</div>
                    <div class="col s10">
                        <form name="uploadImageForm" class="uploadImageForm">
                            <div class="storage_car_picture col s4 vc-center  p0 cyan lighten-1 white-text">
                                <input name="image" type="file" onchange="angular.element(this).scope().uploadLicenseImage(this)" max_size="4M">
                                <i class="mdi mdi-instagram"></i>
                            </div>
                            <div id="look_licenseImg" style="cursor: pointer">
                                <div ng-repeat="el in license_img" repeat-finish="licenseFinish()" class="drive_img_box col s4 vc-center p0 grey white-text">
                                    <img ng-src="{{el.img}}" class="responsive-img">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="row col s12" style="margin-top: 25%">-->
                <!--<div class="subBtn" style="width: 300px ;margin: 0 auto">-->
                    <!--<button style="width: 300px;font-size: 1.3rem" class="btn btn-large waves-effect waves-light" ng-click="submitImage()">提交-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="driver_details_step_3" ng-if="stepThird">
            <div class="row">
                <div class="input-field col s4">
                    <input id="Binding_trailer" name="Binding_trailer"
                           ng-change="updateTruckList()" class="Binding_trailer"
                           ng-model="driverInfo.truck_num" type="text"  autocomplete="off">
                    <label for="Binding_trailer">绑定货车</label>
                </div>
                <div class="col s2">
                    <button style="width: 180px;height: 38px;line-height: 3px;font-size: 1.3rem;margin-top: 11px"
                            class="right btn btn-large waves-effect waves-light"
                            ng-click="unBundling()">
                        {{driverInfo.truck_num == null ? "绑定货车" : "解绑"}}
                    </button>
                </div>
            </div>

            <div class="row">
                <div ng-show="driverInfo.truck_num == null" ng-repeat="truck in truckList" class="col s4" style="padding: 10px;height: 40px;margin-top: 20px">
                    <div class="row trailer_panel" style="padding: 7px" ng-class="{'grey lighten-3':truck.drive_name}">
                        <div class="col s6" ng-click="check_trailer(truck.id)">
                            <input ng-if="!truck.drive_name" type="radio" name="filled-in" class="filled-in"  id="filled-in-box{{$index}}" />
                            <label for="filled-in-box{{$index}}" class="black-text" style="font-size: 18px" >{{truck.truck_num}}</label>
                        </div>
                        <div class="col s6">
                            <span ng-hide="truck.drive_name" style="margin-left: 10px">未关联司机</span>
                            <span ng-show="truck.drive_name" style="margin-left: 10px">关联司机：&nbsp;<span>{{truck.drive_name}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row col s12 center" style="margin-top: 10%">-->
                <!--<button style="width: 300px;font-size: 1.3rem" class="btn btn-large waves-effect waves-light" ng-click="uploadBrandTruck()">提交-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>
</div>