<div class="vehicle_repair_statistics" style="width: 85%;margin: 0 auto">
    <div class="row valign-wrapper">
        <h5 class="col s12 cyan-text lighten-1 center-align">
            商品车质损统计
        </h5>
    </div>

    <!--柱状图-->
    <div style="width: 98.6%">
        <!--车辆维修数量-按月统计-->
        <div class="row z-depth-2">
            <div class="col s12 blue-grey input-field lighten-4 bold grey-text text-darken-1 statisticsTitle no-mp">
                <div class="col s5 left">
                    <p>商品车质损-按月统计</p>
                </div>
                <div class="col s6 right">
                    <div class="col s3 center-align">
                        <select material-select watch id="car_brand" name="car_brand"    ng-model="car_brand" >
                            <option value="" disabled selected>全部品牌</option>
                            <option ng-repeat="el in get_carMake" ng-value="el.id">{{el.make_name}}</option>
                        </select>
                    </div>
                    <div class="col s3">
                        <input id="chooseRepairStart" type="text" ng-value="startInitial" readonly>
                    </div>
                    <div class="col s1 center">
                        <p>至</p>
                    </div>
                    <div class="col s3">
                        <input id="chooseRepairEnd" type="text" ng-value="endInitial" readonly>
                    </div>
                    <div class="col s2 center">
                        <i class="mdi mdi-magnify" ng-click="selectDamageDate()" style="margin:25px 0 0 10px;font-size: 30px;cursor: pointer"></i>
                    </div>
                </div>
            </div>
            <!--车辆维修数量统计-->
            <div class="col s8">
                <div class="col s12" id="carDamageStatisticsMonth" style="min-width:400px;height:380px;margin: 40px 0 40px 0"></div>
            </div>
            <div class="col s4" style="margin: 40px 0 40px 0">
                <div class="col s12" style="margin: 0;padding: 0">
                    <p class="col s12 cyan-text lighten-1 center-align" style="font-size: 1.3rem;margin: 0;padding: 0;padding-top:15px;background-color: white;" >
                        质损环节
                    </p>
                </div>
                <div id="damageLinkType" style="min-width:100px;height:335px"></div>
            </div>

        </div>

        <!--车辆维修数量-按周统计-->
        <div class="row z-depth-2" style="margin-top: 50px">
            <div class="col s12 blue-grey input-field lighten-4 bold grey-text text-darken-1 statisticsTitle no-mp">
                <div class="col s5 left">
                    <p>商品车质损-按周统计</p>
                </div>
                <div class="col s6 right">
                    <p class="right">近 10 周&emsp;</p>
                </div>
            </div>
            <!--车辆维修数量统计-->
            <div class="col s12">
                <div class="col s12" id="carDamageStatisticsWeek" style="min-width:400px;height:380px;margin: 40px 0 40px 0"></div>
            </div>
        </div>
    </div>
</div>