<!--交接单 -- （已送达）未交接  -->
<div class="dispatch_order">

    <!--查询条件-->
    <div class="row col s12">

        <!-- vin 委托方 目的地城市 经销商  调度编号  司机  计划执行时间-->
        <div class="col s10">
            <!--vin-->
            <div class="col s4 input-field">
                <input  id="VIN" name="VIN" ng-model="VIN" type="text"   required >
                <label for="VIN">VIN</label>
            </div>
            <!--调度编号-->
            <div class="col s2 input-field">
                <input id="instruction_number" type="text" ng-model="instructionNum">
                <label for="instruction_number">调度编号</label>
            </div>

            <!--司机-->
            <div class="col s2 input-field">
                <select id="driver_name_mod" style="width: 100%" ng-model="driverIdMod">
                    <option value=""></option>
                    <option ng-repeat="driver in driveList" ng-value="driver.id">{{driver.drive_name }}</option>
                </select>
            </div>

            <!--计划执行时间(始)-->
            <div class="col s2 input-field">
                <input id="planTimeStart" type="text" ng-model="planTimeStart"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="planTimeStart">计划执行时间（始）</label>
            </div>

            <!--计划执行时间(终)-->
            <div class="col s2 input-field">
                <input id="planTimeEnd" type="text" ng-model="planTimeEnd"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                <label for="planTimeEnd">计划执行时间（终）</label>
            </div>




            <!--委托方-->
            <div class="input-field col s2">
                <select material-select watch id="client" name="client"  ng-model="client"  ng-change="changeCarMake(client)"  required>
                    <option value="" disabled selected>请选择</option>
                    <option ng-repeat="el in get_entrust" ng-value="el.id" >{{el.short_name}}</option>
                </select>
                <label for="client">委托方</label>
            </div>

            <!--品牌-->
            <div class="input-field col s2">
                <select  id="car_brand" name="car_brand" material-select watch ng-model="car_brand">
                    <option value="">请选择</option>
                    <option ng-repeat="el in entrustMakeRelList" ng-value="el.make_id">{{el.make_name}}</option>
                </select>
                <label for="car_brand">品牌</label>
            </div>


            <!--起始城市-->
            <div class="input-field col s2">
                <select id="startCity" name="startCity" style="width:100%" ng-change="getAddrData()" ng-model="startCity">
                    <option value="">请选择</option>
                    <option ng-repeat="startCity in get_city" value={{startCity.id}}>{{startCity.city_name}}</option>
                </select>
            </div>


            <div class="col s2 input-field">
                <select id="chooseLocate" name="chooseLocate" ng-model="locateId" watch material-select>
                    <option value="" selected>装车地点</option>
                    <option ng-repeat="locateCity in locateList" ng-value="locateCity.id">{{locateCity.addr_name}}</option>
                </select>
            </div>




            <!--目的地城市-->
            <div class="input-field col s2">
                <select id="chooseEndCity" name="state" style="width:100%" ng-change="get_received(arrive_city)" ng-model="arrive_city">
                    <option value=""></option>
                    <option ng-repeat="city in get_city" ng-value="city.id" >{{city.city_name}}</option>
                </select>
            </div>

            <!--经销商-->
            <div class="input-field col s2">
                <select material-select watch id="dealer" name="dealer" ng-model="receiveId">
                    <option value="" disabled selected>请选择</option>
                    <option ng-repeat="el in get_receive" ng-value="el.id" >{{el.short_name}}</option>
                </select>
                <label for="dealer">经销商</label>
            </div>

        </div>


        <!--按钮-->
        <div class="col s2" style="margin-top: 40px">
            <div class="col s6" >
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" ng-click="getNotHandoverInfo()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <div class="col s6 center-align">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="background-color: #fea353;" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="row col s12 bold">
        <div class="col s12">
            <div class="col s1">
                未返还车辆:{{getNum}}
            </div>
            <div class="col s11">
                <div class="col s11">
                    <div class="chip" ng-repeat="el in ArrayList">
                        {{el.vin}}
                        <i class="close  mdi mdi-window-close look_icon grey-text lighten-1" style="cursor: pointer"  ng-click="deleteSingle(el,ArrayList)"></i>
                    </div>
                </div>
                <div class="col s1 right-align" ng-show="ArrayList.length!==0">
                    <a class="btn-floating btn-small waves-light waves-effect cyan lighten-2  btn vc-center" ng-click="addArr()">
                        <i class="mdi mdi-check"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <!-- 下部分：检索结果显示区域 -->
    <div class="row col s12" >
        <div class="divider cyan" style="height: 2px;"></div>
        <table class=" bordered striped centered">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">VIN</th>
                <th data-field="">品牌</th>
                <th data-field="">委托方</th>
                <th data-field="">调度编号</th>
                <th data-field="">路线</th>
                <th data-field="">发运地</th>
                <th data-field="">经销商</th>
                <th data-field="">司机</th>
                <th data-field="">货车牌号</th>
                <th data-field="">计划执行时间</th>
                <th data-field="">送达时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in notHandoverArray" class="grey-text text-darken-1">
                <td ng-bind="el.vin"></td>
                <td>{{el.make_name}}</td>
                <td ng-bind="el.e_short_name"></td>
                <td ng-bind="el.dp_route_task_id"></td>
                <td>{{el.route_start}}--{{el.route_end}}</td>
                <td>{{el.addr_name}}</td>
                <td ng-bind="el.r_short_name"></td>
                <td ng-bind="el.drive_name"></td>
                <td>{{el.truck_num }}</td>
                <td ng-bind="el.task_plan_date |date:'yyyy-MM-dd'"></td>
                <td ng-bind="el.arrive_date |date:'yyyy-MM-dd hh:mm'"></td>
                <!-- 显示画面按钮 -->
                <td class="operation">
                    <a  ng-click="notHandOverDetail(el.id)" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                    <a  ng-click="getArr(el)" style="font-size: 1.5rem;cursor: pointer">
                        <i class="mdi mdi-plus look_icon cyan-text lighten-1"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="notHandoverArray.length==0&&planTimeStart!==undefined&&planTimeEnd!==undefined">
                <td colspan="12">暂无数据</td>
            </tr>
            <tr ng-if="planTimeStart==undefined||planTimeEnd==undefined&&notHandoverArray.length==0">
                <td colspan="12"><i class="mdi  mdi-alert-circle-outline red-text fz30"></i>&nbsp;&nbsp;&nbsp;计划执行时间为必填项</td>
            </tr>



            </tbody>
        </table>
    </div>


    <!-- 上下页按钮 -->
    <div class="paging_box col s12">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="preBtn()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="nextBtn()">
                下一页
            </a>
        </div>
    </div>

</div>


<!--添加模态框-->
<div id="settlementItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >车辆详情</div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 430px;">
        <div  class="handleInfoInput" style="width:100%;">
            <div class="row col s12" style="margin-right: 20px;">
                <div class="col s6 valign-wrapper">
                    <div class="fz20 col s12 input-field left-align cyan-text">VIN:{{notHandOverDetailArray.vin}}</div>
                </div>
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field right-align cyan-text">{{notHandOverDetailArray.make_name}}</div>
                </div>
            </div>
            <!--实分割线-->
            <div  class="row col s12" style="height:2px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>

            <div class="row col s12">
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align" style="padding-left: 10%">
                        调度编号:{{notHandOverDetailArray.dp_route_task_id}}
                    </div>
                </div>
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align">
                        路线:{{notHandOverDetailArray.route_start}}--{{notHandOverDetailArray.route_end}}
                    </div>
                </div>
            </div>
            <!--虚分割线-->
            <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>

            <div class="row col s12">
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align" style="padding-left: 10%">
                        委托方:{{notHandOverDetailArray.e_short_name}}
                    </div>
                </div>
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align">
                        经销商:{{notHandOverDetailArray.r_short_name}}
                    </div>
                </div>
            </div>
            <!--虚分割线-->
            <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>

            <div class="row col s12">
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align" style="padding-left: 10%">
                        司机:{{notHandOverDetailArray.drive_name}}
                    </div>
                </div>
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align">
                        货车牌号:{{notHandOverDetailArray.truck_num}}
                    </div>
                </div>
            </div>
            <!--虚分割线-->
            <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>
            <!--入库时间 计划出库时间  出库时间-->
            <div class="row col s12">
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align" style="padding-left: 10%">
                        计划执行时间:{{notHandOverDetailArray.task_plan_date|date:'yyyy-MM-dd'}}
                    </div>
                </div>
                <div class="col s6 valign-wrapper">
                    <div class="col s12 input-field left-align">
                        送达日期:{{notHandOverDetailArray.arrive_date|date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </div>
            </div>
            <div  class="row col s12" style="height:2px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>
        </div>
    </div>

    <div class="modal-footer right-align">
        <button class="btn waves-light waves-effect cyan lighten-2 modal-close" style="margin-right: 20px;margin-bottom: 20px">确定</button>
    </div>
</div>






<div id="addSettlementItem" class="modal">
    <div class="cyan lighten-1 white-text center-align modal_title" >显示交接单</div>
    <div class="modal-content">
        <div class="row col" style="width: 80%;">
            <div class="col s12" style="height: 55px">
                <div class="col s6 input-field">
                    <input type="number" ng-model="addNumberId" id="addNumberId" name="addNumberId"  required>
                    <label for="addNumberId" class="active">序号</label>
                </div>
                <div class="col s6 input-field">
                    <input type="text" ng-model="addHandoverReceiveStartTime" id="addHandoverReceiveStartTime" name="addHandoverReceiveStartTime"  class="datepicker" autocomplete="off" date>
                    <i class="mdi dataIcon mdi-table-large"></i>
                    <label for="addHandoverReceiveStartTime">交接单收到日期</label>
                </div>
            </div>
            <div class="col s12 cyan-text"  style="height: 180px;margin-top: 10px">
                <div class="col s6 input-field">
                 <!--   委托方:{{ArrayList[0].e_short_name}}-->

                    <input type="text" ng-model="ArrayList[0].e_short_name" id="addEntrustId" name="addEntrustId"  required disabled >
                    <label for="addEntrustId" class="active">委托方</label>
                </div>
                <div class="col s6 input-field">
                  <!--  品牌:{{ArrayList[0].make_name}}-->
                    <input type="text" id="make_name" ng-model="ArrayList[0].make_name" name="make_name"  disabled>
                    <label for="make_name">品牌</label>
                </div>
                <div class="col s6 input-field">
                  <!--  起始城市:{{ArrayList[0].route_start}}-->
                    <input type="text" id="route_start" ng-model="ArrayList[0].route_start" name="route_start"  disabled>
                    <label for="route_start">起始城市</label>
                </div>

                <div class="col s6 input-field">
                <!--    发运地:{{ArrayList[0].addr_name}}-->
                    <input type="text" id="addr_name" ng-model="ArrayList[0].addr_name" name="addr_name"  disabled>
                    <label for="addr_name">发运地</label>
                </div>
                <div class="col s6 input-field">
                  <!--  目的城市:{{ArrayList[0].route_end}}-->
                    <input type="text" id="route_end" ng-model="ArrayList[0].route_end" name="route_end"  disabled>
                    <label for="route_end">目的城市</label>
                </div>
                <div class="col s6 input-field">
                   <!-- 经销商:{{ArrayList[0].r_short_name}}-->
                    <input type="text" id="r_short_name" ng-model="ArrayList[0].r_short_name" name="r_short_name"  disabled>
                    <label for="r_short_name">经销商</label>
                </div>
            </div>
            <div class="col s12"  style="height: 55px;margin-top: 10px">
                <div class="col s12 input-field">
                    <input id="addRemark" name="remark"  ng-model="newRemark" type="text">
                    <label for="addRemark">备注:</label>
                </div>
            </div>


            <div class="col s6 center-align" ng-repeat="list in  ArrayList" style="margin-top: 20px">
                车辆VIN:{{list.vin}}
                <!--<input type="text" id="r_short_name" ng-model="ArrayList[0].r_short_name" name="r_short_name"  disabled>
                <label for="r_short_name">经销商</label>-->
            </div>

        </div>
    </div>

    <div class="divider" style="background: #ccc;height: 1px;"></div>
    <div class="modal-footer vc-center">
        <a class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn"  >取消 </a>
        <button class="btn waves-light waves-effect cyan lighten-2"  ng-click="addSettlementItem()" name="action" style="margin-left: 10px">确定</button>
    </div>
</div>