<div class="PublicTabs row  grey lighten-4">
    <div class="col s3 vc-center center-align active basic1" truck-nav  data-url="/view/car/new_truck/basic.html" ><b>基本信息</b></div>
    <div class="col s3 vc-center center-align basic2"   data-url="/view/car/new_truck/truck_inspection.html" ><b>车检</b></div>
    <div class="col s3 vc-center center-align basic3" data-url="/view/car/new_truck/truck_insurance.html" ><b>车保</b></div>
    <div class="col s3 vc-center center-align basic4" data-url="/view/car/new_truck/remark.html"><b>备注</b></div>
</div>