<div class="car_demand"  >
    <div class="row main_storage_car">
        <div class="row  grey-text text-darken-1">
            <div class="col s12">
                <div class="input-field col s3">
                    <select material-select watch ng-model="search_relStatus">
                        <option value=""  >车辆状态</option>
                        <option ng-repeat="el in rel_status" ng-value="el.s_num">{{el.status_text}}</option>
                    </select>
                    <!--<label ></label>-->
                </div>

                <div class="input-field col s3">
                    <select material-select watch ng-model="search_storage" ng-change="changeStorageId(search_storage)">
                        <option value=""  selected>所在仓库</option>
                        <option ng-if="el.storage_status==1" ng-repeat="el in storageName" ng-value="el.id">{{el.storage_name}}</option>
                    </select>
                    <!--<label ></label>-->
                </div>
                <div class="input-field col s3">
                    <select material-select watch ng-model="search_makeId" ng-change="changeMakeId(search_makeId)">
                        <option value=""  selected>车辆品牌</option>
                        <option ng-repeat="el in makecarName" ng-value="el.id">{{el.make_name}}</option>
                    </select>
                    <!--<label ></label>-->
                </div>
                <div class="input-field col s3">
                    <select material-select watch ng-model="search_modelId" >
                        <option ng-value=""  selected>车辆型号</option>
                        <option ng-repeat="el in carModelName" ng-value="el.id">{{el.model_name}}</option>
                    </select>
                    <!--<label ></label>-->
                </div>
            </div>
            <div class="col s12 vc-center">
                <div class="col s10">
                    <div class="col s12 valign-wrapper p0" style="margin-top: 1rem">
                        <div class=" col s6 vc-center p0">
                            <div class="col s2 p0 cyan-text text-lighten-1 bold" style="min-width: 100px;font-size: 13px"  >车辆VIN码:</div>
                            <div class="input-field col s10 no-mp">
                                <input type="text" ng-model="search_vin" >
                            </div>
                        </div>
                        <div class=" col s6 vc-center">
                            <div class="col s1 p0 cyan-text text-lighten-1 bold" style="min-width: 100px;font-size: 13px"  >入库时间:</div>
                            <div class="col input-field s5 no-mp">
                                <input type="text" ng-model="search_enterTime_start"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>

                            </div>
                            <div class="col s1 center-align">——</div>
                            <div class="col input-field s5 no-mp">
                                <input type="text" ng-model="search_enterTime_end"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 p0" style="margin-top: 1rem">
                        <div class=" col s6  p0 valign-wrapper">
                            <div class="col s2 p0 cyan-text text-lighten-1 bold" style="min-width: 100px;font-size: 13px"  >计划出库时间:</div>
                            <div class="col s10 vc-center">
                                <div class="col input-field s5 no-mp p0">
                                    <input type="text" ng-model="search_planTime_start" class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>

                                </div>
                                <div class="col s1 center-align">——</div>
                                <div class="col input-field s6 no-mp">
                                    <input type="text" ng-model="search_planTime_end"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                                </div>
                            </div>
                            <!--<label >车辆状态</label>-->
                        </div>
                        <div class=" col s6 vc-center">
                            <div class="col s1 p0 cyan-text text-lighten-1 bold " style="min-width:100px;font-size: 13px">实际出库时间:</div>
                            <div class="col input-field s5 no-mp">
                                <input type="text" ng-model="search_outTime_start"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                            </div>
                            <div class="col s1 center-align ">——</div>
                            <div class="col input-field s5 no-mp">
                                <input type="text" ng-model="search_outTime_end" class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                            </div>
                            <!--<label >车辆状态</label>-->
                        </div>
                    </div>
                    <div class="col s12"></div>
                </div>
                <div class="col s2  flex flex-round">
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="searchStorage_car()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12" >
            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
            <table class=" bordered striped">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">VIN码</th>
                    <th data-field="">品牌</th>
                    <th data-field="">型号</th>
                    <th data-field="">入库时间</th>
                    <th  data-field="">存放车库</th>
                    <th data-field="">存放位置</th>
                    <th data-field="">计划出库时间</th>
                    <th data-field="">实际出库时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in storage_car" class="grey-text text-darken-1">
                    <td  ng-bind="el.vin"></td>
                    <td ng-bind="el.make_name"></td>
                    <td ng-bind="el.model_name"></td>
                    <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td ng-if="el.storage_id!=null" ng-bind="el.storage_name"></td>
                    <td ng-if="el.storage_id==null" >无</td>
                    <td ng-if="el.col!=null">{{el.row}}排{{el.col}}列</td>
                    <td ng-if="el.col==null">无</td>
                    <td ng-bind="el.plan_out_time|date:'yyyy-MM-dd '"></td>
                    <td ng-bind="el.real_out_time|date:'yyyy-MM-dd '"></td>
                    <td class="operation">
                        <a href="#" ui-sref="demand_Car_details({id:el.id,vin:el.vin,from:'car_demand'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="pre_btn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="next_btn()">
                    下一页
                </a>
            </div>

        </div>
    </div>

</div>